<%= form_tag(admin_csv_import_import_path, multipart: true, remote: false) do %>
    <fieldset>
      <legend align="center">商品インポート</legend>
      <div class="field">
        <%= file_field_tag 'file', accept: 'text/csv' %>
      </div>
      <%= submit_tag "インポート実行" %>
    </fieldset>
<% end %>
