$("#new_product_wrapper").html('<%= escape_javascript(render :template => "spree/admin/csv_imports/index", :formats => [:html], :handlers => [:erb]) %>');
<% unless Rails.env.test? %>
$('.select2').select2();
<% end %>
$("#table-filter").hide();
$("#admin_new_product").parent().hide();
