<% content_for :title, head_title("パスワード変更 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("パスワード変更,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "パスワード変更です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
<div id="change-password">
  <h6><%= Spree.t(:change_my_password) %></h6>
  
  <%= form_for @spree_user, :as => :spree_user, :url => spree.update_password_path, :method => :put do |f| %>
    <p>
      <%= f.label :password, Spree.t(:password) %><br />
      <%= f.password_field :password %><br />
    </p>
    <p>
      <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br />
      <%= f.password_field :password_confirmation %><br />
    </p>
    <%= f.hidden_field :reset_password_token %>
    <%= f.submit Spree.t(:update), :class => 'button primary' %>
  <% end %>
</div>
