<% content_for :title, head_title("パスワードを忘れた方 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("パスワードを忘れた方,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "パスワードを忘れた方です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>

<div id="forgot-password" class="user_sessions">
  <div class="container">
    <div class="pre_title">
      <h1 class="f_fm"><%= Spree.t(:forgot_password) %></h1>
    </div>
    <p class="form_notice">
      <%= Spree.t(:instructions_to_reset_password) %>
    </p>
    <div class="devise">
      <div class="container-form">
        <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
        <div class="input-set">
          <%= f.label :email, Spree.t(:email) %><br />
          <%= f.email_field :email %>
        </div>
        <div class="form-submit">
          <%= f.submit Spree.t(:reset_password), :class => 'button primary' %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
