<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_recurring) %> <i class="icon-arrow-right"></i> <%= @recurring.name %> <i class="icon-arrow-right"></i> <%= Spree.t(:plans) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_plan), new_admin_recurring_plan_path(@recurring), :icon => 'icon-plus', :id => 'admin_new_recurring_plans_link' %>
  </li>
<% end %>

<% if @plans.present? %>
  <table class="index" id='listing_recurring_plans'>
    <colgroup>
      <col style="width: 15%">
      <col style="width: 10%">
      <col style="width: 10%">
      <col style="width: 10%">
      <col style="width: 10%">
      <col style="width: 10%">
      <col style="width: 5%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_recurring_plans_index_headers">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:amount) %></th>
        <th><%= Spree.t(:interval) %></th>
        <th><%= Spree.t(:interval_count) %></th>
        <th><%= Spree.t(:currency) %></th>
        <th><%= Spree.t(:active) %></th>
        <th><%= Spree.t(:default) %></th>
        <th data-hook="admin_recurring_plans_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan|%>
        <tr id="<%= spree_dom_id plan %>" data-hook="admin_recurring_plans_index_rows" class="<%= cycle('odd', 'even')%>">
          <td class="align-center"><%= plan.name %></td>
          <td class="align-center"><%= plan.amount %></td>
          <td class="align-center"><%= @recurring.class::INTERVAL[plan.interval.to_sym] %></td>
          <td class="align-center"><%= plan.interval_count %></td>
          <td class="align-center"><%= @recurring.class::CURRENCY[plan.currency.to_sym] %></td>
          <td class="align-center"><%= plan.active ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td class="align-center"><%= plan.default ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td data-hook="admin_recurring_plans_index_row_actions" class="actions">
            <%= link_to_edit_url edit_admin_recurring_plan_url(@recurring, plan), :no_text => true %>
            <%= link_to_delete plan, url: admin_recurring_plan_url(@recurring, plan), :no_text => true  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/plan')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_recurring_plan_path(@recurring) %>!
  </div>
<% end %>

<div data-hook="buttons" class="filter-actions actions">
  <%= button_link_to Spree.t(:back), edit_admin_recurring_url(@recurring) %>
</div>