<% content_for :page_title do %>
<%= Spree.t(:rental_item) %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="track">
  <div class="edit-rental-tracking hidden total">

    <label>トラッキングナンバー:</label>
    <%= text_field_tag :tracking, @rental_item.tracking %>

    <% if can? :update, @rental_item %>
    <%= link_to '', '#', :class => 'save-rental-tracking fa fa-ok no-text with-tip', :data => {'rental_id' => @rental_item.id, :action => 'save'}, :title => Spree.t('actions.save') %>
    <%= link_to '', '#', :class => 'cancel-rental-tracking fa fa-cancel no-text with-tip', :data => {:action => 'cancel'}, :title => Spree.t('actions.cancel') %>
    <% end %>

</div>

<div class="show-rental-tracking">
    <div class="tracking-value">
        <% if @rental_item.tracking.present? %>
        <strong>トラッキングナンバー:</strong><%= @rental_item.tracking %>
        <% else %>
        トラッキングナンバーが未入力です
        <% end %>
    </div>

    <% if can? :update, @rental_item %>
    <%= link_to '', '#', :class => 'edit-rental-tracking fa fa-edit no-text with-tip', :data => {:action => 'edit'}, :title => Spree.t('edit') %>
    <% end %>

</div>

</div>
<% if @rental_item.state != 'cancel' %>

<% if can?(:fire, @rental_item) %>
<li><%= rental_event_links %></li>
<% end %>
<% end %>

<p>ID : <%= @rental_item.id %></p>
<p>USER : <%= @rental_item.user.email %></p>
<p>ITEM : <%= @rental_item.variant.sku %></p>
<p>STATE : <%= @rental_item.state %></p>
<p>DELIVERED AT : <%= @rental_item.delivered_at %></p>
<p>RETURNED AT : <%= @rental_item.returned_at %></p>

<%= link_to 'Back', admin_rental_items_path %>
