<% content_for :page_title do %>
    <%= Spree.t(:rental_items) %>
<% end %>

<div id="new_rental_items"></div>

<li id="import_products_link"><%#= button_link_to "CSV出力", export_admin_rental_item_path(@search) %></li>


<% content_for :table_filter_title do %>
    <%= Spree.t(:renta_item_date_search) %>
<% end %>

<% content_for :table_filter do %>
    <%= search_form_for @search, :url => spree.admin_rental_items_url  do |s| %>

        <li id="import_products_link"><%= button_link_to "CSV出力", admin_rental_items_url(params.merge(format: 'csv')) %></li>

        <div class="date-range-filter field align-center">
          レンタル受注日
          <%= label_tag nil, "始め", :class => 'inline' %>
          <%= s.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => datepicker_field_value(params[:q][:created_at_gt]) %>

          <span class="range-divider">
        <i class="icon-arrow-right"></i>
        </span>

          <%= s.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => datepicker_field_value(params[:q][:created_at_lt]) %>
          <%= label_tag nil, "終わり", :class => 'inline' %>
        </div>

        <div class="date-range-filter field align-center">
          <%= label_tag :q_state_eq, "配送ステータス" %>
          <%= s.select :state_eq, Spree::RentalItem.state_machines[:state].states.collect {|s| [Spree.t("rental_state.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2' %>
        </div>

        <div class="align-center">
          <%= label_tag :q_user_id_eq, "ユーザID" %>
          <%= s.text_field :user_id_eq %>

          <%= label_tag :q_user_lastname_eq, "姓" %>
          <%= s.text_field :user_ship_address_lastname_eq %>

          <%= label_tag :q_user_firstname_eq, "名" %>
          <%= s.text_field :user_ship_address_firstname_eq %>
        </div>

        <div class="actions filter-actions">
          <%= button Spree.t(:search), 'icon-search'  %>
        </div>
    <% end %>
<% end %>

<% if @rental_items.any? %>

<table>
  <thead>
    <tr>
      <th><%= Spree.t(:id) %></th>
      <th><%= Spree.t(:user_id) %></th>
      <th><%= Spree.t(:user) %></th>
      <th>姓</th>
      <th>名</th>
      <th>電話番号</th>
      <th><%= Spree.t(:sku) %></th>
      <th><%= Spree.t(:status) %></th>
      <th><%= Spree.t(:delivered_at) %></th>
      <th><%= Spree.t(:returned_at) %></th>
      <th><%= Spree.t(:created_at) %></th>
      <th><%= Spree.t(:updated_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_items.each do |rental_item| %>
      <tr>
        <td><%= rental_item.id %></td>
        <td><%= rental_item.user.id %></td>
        <td><%= rental_item.user.email %></td>
        <td><%= rental_item.user.ship_address.last_name %></td>
        <td><%= rental_item.user.ship_address.first_name %></td>
        <td><%= rental_item.user.ship_address.phone %></td>
        <td><%= rental_item.variant.sku if rental_item.variant.present? %></td>
        <td><%= rental_item.state %></td>
        <td><%= rental_item.delivered_at %></td>
        <td><%= rental_item.returned_at %></td>
        <td><%= rental_item.created_at %></td>
        <td><%= rental_item.updated_at %></td>
        <td><%= link_to 'Edit', edit_admin_rental_item_path(rental_item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rental_items %>

<% else %>
<div class="alpha sixteen columns no-objects-found">
  <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/subscription')) %>
</div>

<% end %>
