<% content_for :page_title do %>
    <%= Spree.t(:brands) %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render 'form' %>

<%= link_to 'Back', admin_brands_path %>
