<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <title><%= content_for?(:title) ? yield(:title) : Kashikari::Application.config.default_title %></title>
  <link href="//yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--<link href="/stylesheets/spree/frontend/all.css" rel="stylesheet">-->
  <%= stylesheet_link_tag "spree/frontend/all" %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag "spree/frontend/all" %>
  <%= favicon_link_tag 'favicon.gif' %>
  <%= csrf_meta_tags %>
  <%= content_for?(:meta) ? yield(:meta) : meta_tags %>
  <%= content_for?(:ogp) ? yield(:ogp) : ogp_tags %>
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63535178-1', 'auto');
      ga('send', 'pageview');

  </script>

  <% if current_page?(thankyou_path) || current_page?(thanks_silver_path) || current_page?(thanks_gold_path) || current_page?(thanks_black_path) %>
      <!-- Facebook Conversion Code for カシカリ登録 -->
      <script>(function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
              var fbds = document.createElement('script');
              fbds.async = true;
              fbds.src = '//connect.facebook.net/en_US/fbds.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(fbds, s);
              _fbq.loaded = true;
          }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6028632507938', {'value':'0.00','currency':'JPY'}]);
      </script>
      <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028632507938&amp;cd[value]=0.00&amp;cd[currency]=JPY&amp;noscript=1" /></noscript>
  <% end %>

</head>
<body class="<% if request.smart_phone? %>sp<% else %>pc<% end %>">
<% if request.smart_phone? %>
  <%= render :partial => 'spree/shared/pushmenu' %>
  <div id="wrapper">
<% end %>
  <%= render :partial => 'spree/shared/header' %>
  <% if flash[:error] %>
    <section id="flash" class="flash flash--error">
      <div class="container">
        <span class="error"><%=h flash[:error] %></span>
      </div>
    </section>
  <% elsif flash[:caution] %>
    <section id="flash" class="flash flash--caution">
      <div class="container">
        <span class="caution"><%=h flash[:caution] %></span>
      </div>
    </section>
  <% elsif flash[:notice] %>
    <section id="flash" class="flash flash--notice">
      <div class="container">
        <span class="notice"><%=h flash[:notice] %></span>
      </div>
    </section>
  <% end %>
  <%= yield %>
  <%= render :partial => 'spree/shared/footer' %>
<% if request.smart_phone? %>
  </div>
<% end %>

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1004906011;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1004906011/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

<script type="text/javascript" language="javascript">
    /* <![CDATA[ */
    var yahoo_retargeting_id = 'FI8BH1R9E2';
    var yahoo_retargeting_label = '';
    /* ]]> */
</script>
<script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
        (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
        f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
        0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
        a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
        hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
        return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
        b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
        b.contentWindow[g].open()}catch(w){
        c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
        var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('2276-547-10-3383');/*]]>*/</script><noscript><a href="https://www.olark.com/site/2276-547-10-3383/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->

</body>
</html>
