いつもKASHI KARIをご利用頂きまして誠にありがとうございます。
KASHI KARIカスタマーサポートの本田さやか（ほんださやか）でございます。

<%= @order.bill_address.lastname %> <%= @order.bill_address.firstname %>様の商品購入手続きが完了いたしました。
下記内容の通り、商品をお届け致します。

************************************************
　購入明細
************************************************

<% @order.line_items.each do |item| %>
商品コード: <%= item.variant.sku %>
数量: <%=item.quantity%>
<% end %>

************************************************
　ご注文者様 情報
************************************************

　お名前　：<%= @order.bill_address.lastname %> <%= @order.bill_address.firstname %>
　郵便番号：〒<%= @order.bill_address.zipcode %>
　住所　　：<%= @order.bill_address.city %> <%= @order.bill_address.address1 %> <%= @order.bill_address.address2 %>
　電話番号：<%= @order.bill_address.phone %>

************************************************
　配送情報
************************************************

◎お届け先
　お名前　：<%= @order.ship_address.lastname %> <%= @order.ship_address.firstname %>
　郵便番号：〒<%= @order.ship_address.zipcode %>
　住所　　：<%= @order.ship_address.city %> <%= @order.ship_address.address1 %> <%= @order.ship_address.address2 %>
　電話番号：<%= @order.ship_address.phone %>

============================================

■　マイページ
https://kashi-kari.jp/account

■　購入／レンタルをお申し込み頂いた商品の配送方法に関するお問い合わせはこちら…
KASHi KARI運営事務局：info@kashi-kari.jp

■　サービスに関するQ&Aページ
https://kashi-kari.jp/pages/qa/


━━━━━━━━━━━━━━━━
■ ご注意(ご確認ください)
━━━━━━━━━━━━━━━━

※商品の配送はゆうメールを使用しておりますのでお時間をいただく場合がございます。
「サービスに関するQ&Aページ」にも記載しております通り、ご注文が集中している場合など、
商品のお届けにお時間がかかる場合がございます。
サービスに関するQ&Aページ：http~

【KASHI KARIでは買取も行っております】
KASHI KARIでは現在お客様よりアイテムの買取も積極的に行っております。
不要になったブランド品のお洋服など送料手数料無料で査定させて頂きます。

是非この機会にクローゼットの整理としてお試しください。
買取申込URL：

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
◆問い合わせ窓口
KASHI KARI 運営事務局（運営会社：株式会社タナクロ）
所有から、シェア文化へ。メンズファッションレンタルサービス「KASHI KARI」

ServiceSite：https://kashi-kari.jp/
Email：info@kashi-kari.jp
サービスに関するQ&Aページ：https://kashi-kari.jp/pages/qa/

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
