<section class="error 404">
  <div class="container">
    <h1>ご指定のページが見つかりません</h1>
    <p>
      ご指定のページは削除されたか、移動した可能性があります。
    </p>
    <div class="portal">
      <%= link_to 'トップページへ戻る', spree.root_path %>
      <span>|</span>
      <%= link_to '一つ前のページに戻る', :back %>
    </div>
  </div>
</section>
