<% content_for :title, head_title("ブランド一覧 | ブランドネクタイ通販・レンタル KASHI KARI") %>
<% content_for :meta, meta_tags("ブランド一覧, レンタル,メンズファッション,ブランド,通販,コーディネート,着こなし,KASHI KARI",
                                "ブランド一覧です。| ブランドネクタイを通販やレンタル出来るKASHI KARI。タイピンやカフス、ジレなどが月額3600円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<div id="brand_list">
  <div id="ini">
    <h1>ブランド一覧</h1>
    <ul class="clearfix">
      <% @ini_ary.each_with_index do |x,i| %>
          <li><span><%= link_to x, :anchor => i %></span></li>
          <% if i == 37 %>
              <li></li>
              <li></li>
          <% end %>
      <% end %>
    </ul>
  </div>

  <div id="listItemWrapper">
    <div id="listItem">
      <% @ini_ary.each_with_index do |kana, i| %>
          <dl class="textListBlock">
            <dt id="<%= i %>" class="gray_belt"><%= kana %></dt>
            <% @brands.first.root.children.map.each do |brand| %>
                <% brand_ini = brand.name[0].to_nfd.split('') %>
                <% if brand_ini[0] == kana %>
                    <dd>
                      <%= link_to brand.name, brand_path(params.merge({:id => brand.permalink})), :class => 'sp_brand_link' %>
                      <span>(<%= get_product_count(brand.id) %>)</span>
                    </dd>
                <% end %>
            <% end %>
          </dl>
      <% end %>

      <% @brands.first.root.children.map.each do |brand| %>
          <dl class="textListBlock">
            <% if brand.name[0] !~ /\p{katakana}/ %>
                <dd>
                  <%= link_to brand.name, brand_path(params.merge({:id => brand.permalink})) %>
                  <span>(<%= get_product_count(brand.id) %>)</span>
                </dd>
            <% end %>
          </dl>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        $('a[href^="/brands#"]').click(function(){
            var speed = 500;
            var href= $(this).attr("href");
            href = href.replace('/brands','');
            var target = $(href == "#" || href == "" ? 'html' : href);
            var position = target.offset().top;
            $("html, body").animate({scrollTop:position}, speed, "swing");
            return false;
        });
    });
</script>