<% content_for :title, head_title("#{@taxon.name} | ブランドネクタイ通販・レンタル KASHI KARI").html_safe %>
<% content_for :meta, meta_tags("#{@taxon.name},レンタル,メンズファッション,ブランド,通販,コーディネート,着こなし,KASHI KARI".html_safe,
                                "#{@taxon.name}の商品一覧です。| KASHI KARIは#{@taxon.name}などのブランドネクタイを通販やレンタル出来るKASHI KARI。タイピンやカフス、ジレなどが月額3600円から借り放題になるレンタルサービスです。。通販よりお得に#{@taxon.name}を楽しめます。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。".html_safe) %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "メンズファッション一覧", products_path %></li>
      <li><%= @taxon.name %></li>
    </ul>
  </div>
</nav>

<div class="products">
  <div class="container">
    <div class="wrap_index">
      <section class="index_filter">
        <%= render :partial => 'p_filter' %>
      </section>
      <section class="index_products">
        <section class="products_result">
          <span><%= page_entries_info(@products) %></span>
        </section>
        <section class="products_pager">
          <%= paginate @products %>
        </section>
        <section class="products_cont">
          <ul class="ul">
            <% @products.each do |product| %>
                <% if product.plans.present? %>
                    <% if product.plans.pluck(:name).include?("BRONZE") %>
                        <% plan = "bronze" %>
                    <% elsif product.plans.pluck(:name).include?("SILVER") %>
                        <% plan = "silver" %>
                    <% elsif product.plans.pluck(:name).include?("GOLD") %>
                        <% plan = "gold" %>
                    <% elsif product.plans.pluck(:name).include?("BLACK") %>
                        <% plan = "black" %>
                    <% end %>
                <% end %>
                <li class="<%= plan if plan.present? %>
              <% if product.total_on_hand < 1 %> outOfStock
              <% elsif product.total_on_hand <= product.master.rental_qty %> duringTheRental
              <% end %>">
                  <%= link_to product_path(product) do %>
                      <%= original_image(product) %>
                      <%= image_tag "sp/common/fan/dot_#{plan}.gif", :class => 'plan_dot' %>
                      <% if product.total_on_hand < 1 %>
                          <div class="">
                            <span>販売済み</span>
                          </div>
                      <% elsif product.total_on_hand <= product.master.rental_qty %>
                          <div class="">
                            <span>レンタル中</span>
                          </div>
                      <% end %>
                  <% end  %>
                  <h3 class="f_fm">
                    <% if product.brands.present? %>
                        <%= product.brands.first.name %>
                    <% end %>
                  </h3>
                  <% if spree_current_user %>
                      <% if spree_current_user.liked?(product.master) %>
                          <%= link_to "追加しました!", add_to_favorite_user_path(product.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: 'お気に入りに追加', toggle_href: add_to_favorite_user_path(product.master), id: product.master.id} %>
                      <% else %>
                          <%= link_to "お気に入りに追加", add_to_favorite_user_path(product.master), class: 'vote', method: :put, remote: true, data: {toggle_text: '追加しました!', toggle_href: add_to_favorite_user_path(product.master), id: product.master.id} %>
                      <% end %>
                  <% else %>
                      <%= link_to "お気に入りに追加", signup_path, :class => "signinToLike", :id => product.master.id %>
                  <% end %>
                </li>

            <% end %>
          </ul>
        </section>
        <section class="products_pager">
          <%= paginate @products %>
        </section>
      </section>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".signinToLike").click(function(){
    sessionStorage.setItem('product_id', $(this).attr('id'));
    //localStorage.setItem('product_id', $(this).attr('id'));
  });

</script>