<% content_for :title, head_title("#{@brand.name} #{@category.name} | ブランドネクタイ通販・レンタル KASHI KARI").html_safe %>
<% content_for :meta, meta_tags("#{@brand.name},#{@category.name},レンタル,メンズファッション,ブランド,通販,コーディネート,着こなし,KASHI KARI".html_safe,
                                "#{@brand.name} #{@category.name} の商品一覧です。| KASHI KARIは#{@brand.name}を通販やレンタル出来るKASHI KARI。タイピンやカフス、ジレなどが月額3600円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。".html_safe) %>

<% content_for :brand_filter do %>
    <% @brands.first.root.children.map.each do |taxon| %>
        <li <%= "class=selected" if params[:id] == taxon.permalink %>>
          <%= link_to taxon.name, brand_path(params.merge({:id => taxon.permalink})) %>
        </li>
    <% end %>
<% end %>
<% content_for :category_filter do %>
    <% @categories.first.root.children.map.each do |taxon| %>
        <li <%= "class=selected" if params[:sub_id] == taxon.permalink %>>
          <%= link_to taxon.name, brand_with_category_path(params.merge({:id => params[:id], :sub_id => taxon.permalink})) %>
        </li>
    <% end %>
<% end %>

<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "メンズファッション一覧", products_path %></li>
      <li><%= link_to @brand.name, brand_path(@brand) %></li>
      <li><%= @category.name %></li>
    </ul>
  </div>
</nav>

<div class="products">
  <div class="container">
    <section class="products_head">
      <h1><%= @brand.name %>/<%= @category.name %>　<span><%= page_entries_info(@products) %></span></h1>
    </section>
    <section class="sort">
      <form>
        <select onChange="location.href=this.options[this.selectedIndex].value" >
          <option>選択してください</option>
          <option value="<%= url_for(params.merge({:order => "desc_by_created_at"})) %>" <%= "selected" if params[:order] == "desc_by_created_at" %>>新着順</option>
          <option value="<%= url_for(params.merge({:order => "desc_by_favorite"})) %>" <%= "selected" if params[:order] == "desc_by_favorite" %>>お気に入りが多い順</option>
        </select>
      </form>
    </section>
    <section class="products_pager">
      <%= paginate @products %>
    </section>
    <section class="products_cont">
      <ul class="ul">
        <% @products.each do |product| %>
            <% if product.plans.present? %>
                <% if product.plans.pluck(:name).include?("BRONZE") %>
                    <% plan = "bronze" %>
                <% elsif product.plans.pluck(:name).include?("SILVER") %>
                    <% plan = "silver" %>
                <% elsif product.plans.pluck(:name).include?("GOLD") %>
                    <% plan = "gold" %>
                <% elsif product.plans.pluck(:name).include?("BLACK") %>
                    <% plan = "black" %>
                <% end %>
            <% end %>

            <li class="<%= plan if plan.present? %> <% if product.total_on_hand < 1 %>outOfStock<% elsif product.total_on_hand <= product.master.stock_items.first.rental_qty %>duringTheRental<% end %>">
              <div class="li_inner">
                <h3 class="f_fm">
                  <% if product.brands.present? %>
                      <%= product.brands.first.name %>
                  <% end %>
                </h3>
                <div class="image_wrap">
                  <%= link_to original_image(product), product_path(product) %>
                  <% if product.total_on_hand < 1 %>
                      <div class="">
                        <span>販売済み</span>
                      </div>
                  <% elsif product.total_on_hand <= product.master.rental_qty %>
                      <div class="">
                        <span>レンタル中</span>
                      </div>
                  <% end %>
                </div>
                <div class="fab_btn">
                  <div class="fabbutton">
                    <% if spree_current_user %>
                        <% if spree_current_user.liked?(product.master) %>
                            <%= link_to product.total_favorite, add_to_favorite_user_path(product.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: product.total_favorite, toggle_href: add_to_favorite_user_path(product.master), id: product.master.id} %>
                        <% else %>
                            <%= link_to product.total_favorite, add_to_favorite_user_path(product.master), class: 'vote', method: :put, remote: true, data: {toggle_text: product.total_favorite, toggle_href: add_to_favorite_user_path(product.master), id: product.master.id} %>
                        <% end %>
                    <% else %>
                        <%= link_to product.total_favorite, signup_path, :class => "signin_mobile", :id => product.master.id %>
                    <% end %>
                    </div>
                </div>
              </div>
            </li>

        <% end %>
      </ul>
    </section>
    <section class="products_pager pager_bottom">
      <%= paginate @products %>
    </section>
    <% if !@products.empty? && !@descriptions.empty? %>
        <section class="products_pager">
          <div class="scrollme" style="position: relative;">
            <div class="scoll-container">
              <% @descriptions.each { |d| %>
              <h2><%= d.taxon_1st.name %>, <%= d.taxon_2nd.name %></h2>
              <p>- <%= d.description %></p>
              <% } %>
            </div>
          </div>
        </section>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(".signin_mobile").click(function(){
    sessionStorage.setItem('product_id', $(this).attr('id'));
  });
</script>
