<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<div data-hook="cart-detail">
  <div id="line_items" data-hook>
    <ul class="ul">
      <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
    </ul>
  </div>
  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <div class="cart-subtotal">
      <%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %>
      <%= order_form.object.display_item_total %>
    </div>
    <div class="">
      <% # 送料を記載 %>
      <span></span>
    </div>
    <%= render "spree/orders/adjustments" %>
  <% end %>
</div>
