<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <li class="<%= cycle('', 'alt') %> line-item">

    <div class="image_col">
      <div class="cart-item-image" data-hook="cart_item_image">
        <% if variant.images.length == 0 %>
          <%= link_to original_image(variant.product), variant.product %>
        <% else %>
          <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
        <% end %>
      </div>
    </div>

    <div class="info_col">
      <div class="cart-item-description" data-hook="cart_item_description">
        <%= link_to line_item.name, product_path(variant.product) %>
        <%= variant.options_text %>
        <% if line_item.insufficient_stock? %>
          <span class="out-of-stock">
            <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
          </span>
        <% end %>
        <span class="line-item-description" data-hook="line_item_description">
          <%= line_item_description_text(line_item.description) %>
        </span>
      </div>
      <div class="cart-item-price" data-hook="cart_item_price">
        <%= line_item.single_money.to_html %>
      </div>
    </div>

    <div class="count_col">
      <div class="cart-item-quantity" data-hook="cart_item_quantity">
        <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
      </div>
    </div>

    <div class="ctrl_col">
      <div class="cart-item-delete" data-hook="cart_item_delete">
        <%= link_to image_tag('sp/orders/btn_delete.gif'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
      </div>
    </div>
  </li>
<% end -%>
