<% content_for :title, head_title("ご注文完了 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("ご注文完了,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "ご注文完了です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<section id="order_summary" data-hook>
  <div class="container">
    <div class="order_summary order_complete layout">
      <div class="pre_title">
        <h1 class="f_fm">ご注文完了<%#= accurate_title %></h1>
      </div>
      <div class="thankyou_box">
        <h1>ご注文の受付が完了しました</h1>
        <div class="order_num">
          ご注文番号<%= @order.number %>
        </div>
        <p>
          この度は<span>KASHI KARI</span>でのお買い物ありがとうございます。
          <br>ご注文情報をお送りしますので、ご確認ください。
          <br>発送手続き完了後、お知らせメールを再度配信いたしますので、
          <br>発送完了までもうしばらくお待ちください。
        </p>
      </div>
      <div class="toTop">
        <%= link_to 'サイトトップ', root_path %>
      </div>
    </div>
  </div>
</section>

<!-- コンバージョンタグ -->
