<% content_for :title, head_title("ご注文完了 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("ご注文完了,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "ご注文完了です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li>完了</li>
    </ul>
  </div>
</nav>
<section id="order_summary" data-hook>
  <div class="container">
    <div class="order_summary">
      <div class="pre_title">
        <h1 class="f_fm">ご注文完了<%#= accurate_title %></h1>
      </div>
      <div class="thankyou_box">
        <h1 class="f_fm">THANK YOU !</h1>
        <legend>ご注文の受付が完了しました</legend>
        <div class="order_num">
          ご注文番号&nbsp;&nbsp;<%= @order.number %>
        </div>
        <p>
          この度は<span>KASHI KARI</span>での<br>お買い物ありがとうございます。
          <br>ご注文情報をお送りしますので、ご確認ください。
          <br>発送手続き完了後、<br>お知らせメールを再度配信いたしますので、
          <br>発送完了までもうしばらくお待ちください。
        </p>
      </div>
      <div class="toTop">
        <%= link_to 'サイトトップ', root_path, :class => 'button-block' %>
      </div>
    </div>
  </div>
</section>

<!-- コンバージョンタグ -->
