<% content_for :title, head_title("ショッピングカート | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("ショッピングカート,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "ショッピングカートです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<% @body_id = 'cart' %>
<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li>ショッピングカート</li>
    </ul>
  </div>
</nav>
<div class="cart_container" data-hook="cart_container">
  <div class="container">
    <div class="pre_title pre_hero">
      <h1 class="f_fm"><%= Spree.t(:shopping_cart) %></h1>
    </div>

    <% if @order.line_items.empty? %>

      <div data-hook="empty_cart">
        <p><%= Spree.t(:your_cart_is_empty) %></p>
        <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'button continue' %></p>
      </div>

    <% else %>

        <div class="outside_cart_form" data-hook="outside_cart_form">
          <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
          <div data-hook="inside_cart_form" class="inside_cart_form">

            <div data-hook="cart_items" class="cart_items">
              <%= render :partial => 'form', :locals => { :order_form => order_form } %>
            </div>

              <div class="cart_buttons" data-hook="cart_buttons">
                <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>
                <%= button_tag :class => 'primary', :id => 'update-button' do %>
                    <%= Spree.t(:update) %>
                <% end %>
              </div>
              <div class="cart-total">
                <span><%= Spree.t(:total) %></span>
                <span class="total-value"><%= order_form.object.display_total %></span>
              </div>
            </div>
            <div class="checkout">
              <%= button_tag :class => 'button checkout primary', :id => 'checkout-link', :name => 'checkout' do %>
                  <%= Spree.t(:checkout) %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div id="empty-cart" data-hook>
          <%= form_tag empty_cart_path, :method => :put do %>
            <div id="clear_cart_link" data-hook>
              <%= submit_tag Spree.t(:empty_cart) %>
              <%= link_to Spree.t(:continue_shopping), products_path %>
            </div>
          <% end %>
        </div>

    <% end %>
  </div>
</div>
