<% content_for :title, head_title("注文 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("注文,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "注文です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<div id="order_summary" data-hook>
  <div class="cart_container">
    <%= Spree.t(:order_number, :number => @order.number) %>
    <div class="pre_title">
      <h1 class="f_fm"><%= accurate_title %></h1>
    </div>
    <% if order_just_completed?(@order) %>
      <strong><%= Spree.t(:thank_you_for_your_order) %></strong>
    <% end %>

    <div id="order" data-hook>
      <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>

      <br class="clear" />

      <p data-hook="links">
        <%= link_to Spree.t(:back_to_store), spree.root_path, :class => "button" %>
        <% unless order_just_completed?(@order) %>
          <% if try_spree_current_user && respond_to?(:spree_account_path) %>
            <%= link_to Spree.t(:my_account), spree_account_path, :class => "button" %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
