<% content_for :title, head_title("住所 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("住所,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "住所です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<div class="cart_form" data-hook="billing_fieldset_wrapper">
  <fieldset id="billing" data-hook>
    <%= form.fields_for :bill_address do |bill_form| %>
      <div class="label_title">
        <%= Spree.t(:billing_address) %>
      </div>
      <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
    <% end %>
    <% if try_spree_current_user %>
      <div class="save_user_address" data-hook="save_user_address">
        <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
        <%= label_tag :save_user_address, "住所を保存する" %>
      </div>
    <% end %>
  </fieldset>
</div>

<div class="cart_form" data-hook="shipping_fieldset_wrapper">
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
      <div class="label_title">
        <%= Spree.t(:shipping_address) %>
      </div>
      <div class="use_billing" data-hook="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
        <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
      </div>
      <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
    <% end %>
  </fieldset>
</div>

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue) %>
</div>
