<% content_for :title, head_title("住所 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("住所,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "住所です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<div class="container-inner">
  <div class="checkout_row">

    <div class="billing_fieldset_wrapper" data-hook="billing_fieldset_wrapper">
      <%= form.fields_for :bill_address do |bill_form| %>
        <div class="field_title title-noradio">
          <h3 class="f_fm"><%= Spree.t(:billing_address) %></h3>
        </div>
        <div class="billing_form">
          <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
        </div>
      <% end %>
      <% if try_spree_current_user %>
        <p data-hook="save_user_address">
          &nbsp; &nbsp;
          <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
          <%= label_tag :save_user_address, "住所を保存する" %>
        </p>
      <% end %>
    </div>

    <div class="shipping_fieldset_wrapper" data-hook="shipping_fieldset_wrapper">
      <%= form.fields_for :ship_address do |ship_form| %>
        <div class="field_title">
          <h3 class=""><%= Spree.t(:shipping_address) %></h3>
        </div>
        <div class="field_checkbox" data-hook="use_billing">
          <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, :class => 'use_billing' %>
          <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
        </div>
        <div class="shipping_form">
          <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue' %>
</div>
