<% content_for :title, head_title("確認 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("確認,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "確認です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<section id="order_details" data-hook>
  <div class="clear"></div>
  <div class="field_title title-noradio">
    <h3 class="f_fm">注文の確認</h3>
  </div>
  <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
</section>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:place_order), :class => 'continue button primary' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
