<% content_for :title, head_title("配送方法 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("配送方法,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "配送方法です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<section id='shipping_method' data-hook>
  <div class="label_title">
    <%= Spree.t(:delivery) %>
  </div>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <%= form.fields_for :shipments do |ship_form| %>
      <div class="shipment">

        <% if false %>
        <h3 class="stock-location" data-hook="stock-location">
          <%= Spree.t(:package_from) %>
          <strong class="stock-location-name" data-hook="stock-location-name"><%= ship_form.object.stock_location.name %></strong>
        </h3>
        <% end %>

        <div class="stock-contents" data-hook="stock-contents">
          <ul class="ul">
            <% ship_form.object.manifest.each do |item| %>
              <li class="stock-item">
                <div class="item-image">
                  <%= mini_image(item.variant) %>
                </div>
                <div class="item-info">
                  <span><%= item.variant.name %></span>
                  <span><%= display_price(item.variant) %></span>
                </div>
                <div class="item-qty">
                  <span>
                    <%= item.quantity %>
                  </span>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="shipping-methods">
          <div class="label_title stock-shipping-method-title">
            <%= Spree.t(:shipping_method) %>
          </div>
          <ul class="ul">
            <% ship_form.object.shipping_rates.each do |rate| %>
              <li class="shipping-method">
                <label>
                  <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                  <span class="rate-name"><%= rate.name %></span>
                  <span class="rate-cost"><%= rate.display_cost %></span>
                </label>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <% end %>

      <% if @differentiator.try(:missing?) %>
        <div class="shipment unshippable">
          <h3 class="stock-location" data-hook="stock-location">
            <%= Spree.t(:unshippable_items) %>
          </h3>
          <div class="stock-contents" data-hook="stock-missing">
            <ul class="ul">
              <% @differentiator.missing.each do |variant, quantity| %>
                <li class="stock-item">
                  <div class="item-image">
                    <%= mini_image(variant) %>
                  </div>
                  <div class="item-info">
                    <span><%= variant.name %></span>
                    <span><%= quantity %></span>
                  </div>
                  <div class="item-price">
                    <span><%= display_price(variant) %></span>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

    </div>
    <% if Spree::Config[:shipping_instructions] %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, Spree.t(:shipping_instructions) %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</section>

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
</div>
