<% content_for :title, head_title("お支払い方法 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("お支払い方法,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "お支払い方法です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<section id="payment" data-hook>
  <div class="label_title">
    <%= Spree.t(:payment_information) %>
  </div>
  <div data-hook="checkout_payment_step">

    <% if @payment_sources.present? %>
      <div class="card_options">
        <div class="option_radiobox">
          <%= radio_button_tag 'use_existing_card', 'yes', true %>
          <label for="use_existing_card_yes">
            登録済みのクレジットカードを利用して支払う
          </label>
        </div>
        <div class="option_radiobox">
          <%= radio_button_tag 'use_existing_card', 'no' %>
          <label for="use_existing_card_no">
            新しく支払い方法を選択する
          </label>
        </div>
      </div>

      <div id="existing_cards" data-hook="existing_cards">
        <table class="existing-credit-card-list">
          <tbody>
            <% @payment_sources.each do |card| %>
              <tr id="<%= dom_id(card,'spree')%>" class="<%= cycle('even', 'odd') %>">
                <td>
                  <div><%= card.name %></div>
                  <div><%= card.display_number %></div>
                  <div><%= card.month %> / <%= card.year %></div>
                </td>
                <td>
                  <%= radio_button_tag "order[existing_card]", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" }  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <div id="payment-method-fields" data-hook>
      <% @order.available_payment_methods.each do |method| %>
      <div class="option_radiobox">
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
        <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
      </div>
      <% end %>
    </div>

    <div id="payment-methods" data-hook>
      <ul class="ul">
        <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <section>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </section>
        </li>
        <% end %>
      </ul>
    </div>
    <br style="clear:both;" />
    <% # 非表示 %>
    <% if false %>
    <div class='field' data-hook='coupon_code'>
      <%= form.label :coupon_code %><br />
      <%= form.text_field :coupon_code %>
    </div>
    <% end %>
  </div>
</section>

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
