
<div class="order_summary" data-hook="order_summary">
  <div class="summary_title"><%= Spree.t(:order_summary) %></div>
  <div class="summary_price" data-hook="item_total">
    <div class="price-label"><%= Spree.t(:item_total) %>:</div>
    <div class="price"><%= order.display_item_total.to_html %></div>
  </div>

  <% if order.line_item_adjustments.nonzero.exists? %>
    <div class="summary_box" data-hook="order_details_promotion_adjustments">
      <% order.line_item_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
        <div class="summary_title"><%= label %></div>
        <div class="summary_price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></div>
      <% end %>
    </div>
  <% end %>

    <div data-hook="order_details_tax_adjustments">
      <% order.all_adjustments.nonzero.tax.eligible.group_by(&:label).each do |label, adjustments| %>
        <div class="summary_price">
          <div class="price-label"><%= label %></div>
          <div class="price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></div>
        </div>
      <% end %>
    </div>

    <% if order.passed_checkout_step?("delivery") && order.shipments.any? %>
      <div class="summary_price" data-hook="shipping_total">
        <div class="price-label"><%= Spree.t(:shipping_total) %>:</div>
        <div class="price"><%= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html %></div>
      </div>

      <% if order.shipment_adjustments.nonzero.exists? %>
        <div data-hook="order_details_shipment_promotion_adjustments">
          <% order.shipment_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
            <div class="summary_price">
              <div class="price-label"><%= label %>:</div>
              <div class="price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if order.adjustments.nonzero.eligible.exists? %>
      <tbody id="summary-order-charges" data-hook>
        <% order.adjustments.nonzero.eligible.each do |adjustment| %>
        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
        <div class="summary_price">
            <div class="price-label"><%= adjustment.label %>:</div>
            <div class="price"><%= adjustment.display_amount.to_html %></div>
          </div>
        <% end %>
      </tbody>
    <% end %>
    
    <div class="summary_sum" data-hook="order_total">
      <span><%= Spree.t(:order_total) %>:</span>&nbsp;&nbsp;<%= order.display_total.to_html %>
    </div>
    <div class="caution">※すべて税込み価格です</div>
  </tbody>
</div>
