<div class="label_title">
  <%= Spree.t(:order_summary) %>
</div>

<div class="order_summary" data-hook="order_summary">
  <div class="sum_row" data-hook="item_total">
    <div class="row-label"><%= Spree.t(:item_total) %>:</div>
    <div class="row-price"><%= order.display_item_total.to_html %></div>
  </div>

  <% if order.line_item_adjustments.nonzero.exists? %>
    <div data-hook="order_details_promotion_adjustments">
      <% order.line_item_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
        <div class="sum_row total">
          <div class="row-label"><%= label %></div>
          <div class="row-price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div data-hook="order_details_tax_adjustments">
    <% order.all_adjustments.nonzero.tax.eligible.group_by(&:label).each do |label, adjustments| %>
      <div class="sum_row total">
        <div class="row-label"><%= label %></div>
        <div class="row-price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></div>
      </div>
    <% end %>
  </div>

  <% if order.passed_checkout_step?("delivery") && order.shipments.any? %>
    <div class="sum_row" data-hook="shipping_total">
      <div class="row-label"><%= Spree.t(:shipping_total) %>:</div>
      <div class="row-price"><%= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html %></div>
    </div>

    <% if order.shipment_adjustments.nonzero.exists? %>
      <div data-hook="order_details_shipment_promotion_adjustments">
        <% order.shipment_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
          <div class="sum_row total">
            <div class="row-label"><%= label %>:</div>
            <div class="row-price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if order.adjustments.nonzero.eligible.exists? %>
    <div id="summary-order-charges" data-hook>
      <% order.adjustments.nonzero.eligible.each do |adjustment| %>
      <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
        <div class="sum_row total">
          <div class="row-label"><%= adjustment.label %>:</div>
          <div class="row-price"><%= adjustment.display_amount.to_html %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="summary_row" data-hook="order_total">
    <div class="row-label"><%= Spree.t(:order_total) %>:</div>
    <div class="row-price"><span id='summary-order-total'><%= order.display_total.to_html %></span></div>
  </div>
  <p class="caution">
    ※全て税込み価格です
  </p>
</div>
