<div id="checkout" data-hook>
  <div class="checkout_edit">
    <div class="container">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

      <div class="pre_title" data-hook="checkout_header">
        <h1 class="f_fm" data-hook="checkout_title"><%= @order.state %></h1>
      </div>
      <div class="checkout_progress" data-hook="checkout_progress"><%= checkout_progress %></div>

      <div class="checkout_content" data-hook="checkout_content">
        <div data-hook="checkout_form_wrapper">
          <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
            <%= form.hidden_field :state_lock_version %>
            <%= render @order.state, :form => form %>
          <% end %>
        </div>
        <% if @order.state != 'confirm' %>
          <div id="checkout-summary" data-hook="checkout_summary_box" class="">
            <%= render :partial => 'summary', :locals => { :order => @order } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    Spree.current_order_id = "<%= @order.number %>"
    Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
    <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>
