#brand_list {
  background-color: white;
}

li {
  list-style: none;
}
.sp {
  #ini {
    overflow: hidden;
    h1 {
      padding: 15px;
    }

    font-size: 16px;

    ul {
      margin: auto;
      padding: 0 0.5%;
    }
    li {
      display: block;
      text-align: center;
      border: 1px solid #CCCCCC;
      width: 19%;
      height: 30px;
      line-height:30px;
      padding: 0;
      margin: 0 0.5% 6px;
      box-sizing: border-box;
      float: left;
      &:nth-of-type(39),&:nth-of-type(40),&:nth-of-type(50){
        border:none;
      }
    }
  }

  #listItemWrapper {
    clear: both;
  }

  .gray_belt {
    padding: 4px 16px 3px 16px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background: #E6E6E6;
    color: #5A5A5A;
    font-size: 14px;
  }

  dd {
    color: #007ebe;
    margin: 0 0 0 16px;
    padding: 5px 0 5px 0 ;
    font-size: 15px;
    line-height: 1.5;
    span {
      font-size: 13px !important;
      color: #8c8c8c;
    }
  }

  .view_more {
    a {
      display: block;
      width: 120px;
      border: 1px solid;
      margin: 10px auto 0;
      padding: 4px;
      text-align: center;
    }
  }
}

.pc {
  li {
    list-style: none;
  }
  #ini {
    h1 {
      text-align: center;
      font-weight: normal;
    }
    width: 1200px;
    margin: 5px auto 33px;
    overflow: hidden;
    line-height: 1.8;
    li {
      float: left;
      font-size: 13px;
      span {
        border-right: 1px solid #dcdcdc;
        padding: 0 10px 0 0;
        margin: 0 10px 0 0;
        height: 10px;
        color: #007ebe;
      }
    }
  }
  #listItemWrapper {
    width: 980px;
    margin: auto;
    clear: both;

    .textListBlock {
      dt {
        font-size: 18px;
        margin: 1px 0 0 32px;
        padding-bottom: 22px;
        clear: both;
      }
      dd {
        float: left;
        margin: -6px 0 0 32px;
        height: 44px;
        width: 293px;
        line-height: 16px;
        color: #007ebe;
        span {
          color: #8c8c8c;
        }
      }
    }
  }

  .view_more {
    a {
      display: block;
      width: 120px;
      border: 1px solid;
      margin: 10px auto 0;
      padding: 4px;
      text-align: center;
      &:hover {
        border-color: #59b1eb;
        color: #59b1eb;
      }
    }
  }
}