// SP
.sp {
  .checkout_edit {
    position: relative;
    padding: 40px 0 100px;
    background-color: white;

    fieldset {
      margin: 0;
      padding: 0;
    }
    .checkout_progress {
      margin: 20px 0 10px;
      ol {
        text-align: center;
        padding-left: 0;
        li {
          display: inline-block;
          vertical-align: top;
          list-style-type: none;
          margin-bottom: 10px;

          &+li:before {
            display: inline-block;
            content: '';
            width: 13px;
            height: 27px;
            margin: -2px 5px 0;
            background-image: image-url('pc/checkout/progress_arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 13px 24px;
          }
          span {
            display: inline-block;
            width: 56px;
            height: 24px;
            background-color: #f8f8f8;
            font-size: 10px;
            line-height: 24px;
            vertical-align: top;
          }
          &.current-first span,
          &.current span {
            background-color: #000;
            color: white;
          }
        }
      }
    }

    // 共通部品
    .label_title {
      background-color: #000;
      padding: 1px 0;
      font-size: 12px;
      color: white;
      text-align: center;
    }
    // submit button
    .form-buttons {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px 10px 40px;
      input[type="submit"] {
        width: 100%;
        height: 38px;
        padding: 10px 0;
        background-color: #000;
        font-size: 13px;
        color: white;
      }
    }

    // Order Summary
    .order_summary {
      position: relative;
      .sum_row, .summary_row {
        display: table;
        width: 100%;
        margin-bottom: 4px;
        padding: 0 15px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #cccccc;
        .row-label,
        .row-price {
          display: table-cell;
          vertical-align: top;
          padding: 13px 0;
          font-size: 13px;
        }
        .row-label {
          text-align: left;
        }
        .row-price {
          text-align: right;
        }
      }
      .summary_row {
        background-color: #c7c7c7;
        border: none;
      }
      .caution {
        margin: 5px 10px;
        text-align: right;
      }
    }

    // checkout address
    .cart_form {
      .save_user_address,
      .use_billing {
        padding: 5px 10px;
      }

      .deli_info {
        padding: 5px;
        background-color: #f8f8f8;
        label {
          font-size: 11px;
        }
      }
      .checkout-summary {
        .summary_title {
          margin: 0;
          height: 23px;
          background-color: #000;
          font-size: 13px;
          color: white;
          line-height: 23px;
          text-align: center;
        }
        .summary_price {
          display: table;
          width: 100%;
          margin-bottom: 3px;
          background-color: #f7f7f7;
          border-bottom: 1px solid #CCC;
          div {
            display: table-cell;
            padding: 12px 15px;
            font-size: 13px;
            vertical-align: top;
            &.price {
              text-align: right;
            }
          }
          &.sum {
            background-color: #c7c7c7;
          }
        }
      }
    }

    // checkout deliver only
    .stock-contents {
      ul {
        li {
          display: table;
          width: 100%;
          .item-image,
          .item-info,
          .item-qty {
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
          }
          .item-image {
            width: 95px;
            height: 95px;
          }
          .item-info {
            span {
              display: block;
              font-size: 9px;
              line-height: 14px;
            }
          }
          .item-qty {
            width: 40px;
            span {
              display: inline-block;
              padding: 6px 8px;
              background-color: #f8f8f8;
            }
          }
        }
      }
    }

    // Checkout Payment
    .card_options {
      padding: 0;
      .option_radiobox {
        padding: 5px 10px;
      }
    }
    #existing_cards {
      padding: 0;
      table {
        width: 100%;
        tbody {
          tr {

            td {
              padding: 5px 10px;
              div {
                font-size: 10px;
                line-height: 14px;
              }
            }
          }
        }
      }
    }

    #payment-method-fields {
      padding: 5px 10px;
      .option_radiobox {
        padding: 5px 0;
      }
    }

    #payment-methods {
      ul {
        li {
          section {
            .payment_check {
              padding: 10px;
              hr.double {
                border-style: double;
                border-width: 4px 0 0;
              }
            }
          }
        }
      }
      .cvv_link {
        text-align: right;
      }
      .cart_brands {
        padding: 5px 20px;
        text-align: center;
      }
    }

    .shipping-methods {
      ul {
        li {
          padding: 5px 10px;
        }
      }
    }

    // 確認画面
    // Checkout Confirm
    .steps-data {
      padding: 0 15px;
      overflow: hidden;
      .col_billing_address,
      .col_shipping_address,
      .col_order_shipments,
      .col_payment_info {
        display: block;
        float: left;
        width: 50%;
        margin-bottom: 15px;
        vertical-align: top;
        h6 {
          margin: 15px 0 10px;
          font-size: 12px;
          a:hover  {
            text-decoration: underline;
          }
        }
      }
    }
    .index_order_details {
      padding: 0 15px;
      [data-hook="order_item_description"] {
        font-weight: normal;
      }
      [data-hook="order_item_qty"] {
        text-align: center;
      }
      [data-hook="order_item_total"] {
        text-align: right;
      }

      #subtotal,
      #tax-adjustments,
      #order-charges,
      #shipment-total,
      #order-total {
        tr {
          td {
            padding: 2px 0;
            &.total {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

// PC
// Checkout Address

.pc {
	// Checkout Address
	.checkout_edit {
    padding: 100px 0 250px;
	  fieldset {
	    margin: 0;
	    padding: 0;
	  }

	  .checkout_progress {
	    margin: 40px 0;
	    ol {
	      text-align: center;
        padding-left: 0;
	      li {
	        display: inline-block;
	        vertical-align: top;
          list-style-type: none;

	        &+li:before {
	          display: inline-block;
	          margin: 0 10px;
	          content: '';
	          width: 13px;
	          height: 27px;
	          margin: 0 10px;
	          background-image: image-url('pc/checkout/progress_arrow.png');
	          background-repeat: no-repeat;
	          background-position: center;
	          background-size: 13px 24px;
	        }
	        span {
	          display: inline-block;
	          vertical-align: top;
            display: inline-block;
            padding: 6px 12px;
            background-color: #e8e8e8;
            font-size: 14px;
            vertical-align: top;

	        }
          &.current-first span,
          &.current span {
            background-color: #000;
            color: white;
          }
	      }
	    }
    }

    .checkout_content {
	    // common
	    .container-inner {
	      // split
	      .checkout_row {
	        margin: 0 -30px;
          padding: 20px 0;

	        // now for checkout address only
	        .billing_fieldset_wrapper, .shipping_fieldset_wrapper {
	          float: left;
	          width: 50%;
	          padding: 0 30px;

            .field_title {
              h3 {
                margin: 0;
                background-color: #000;
                font-size: 15px;
                font-weight: normal;
                color: white;
                line-height: 25px;
                text-align: center;
              }
              &.title-noradio {
                margin-bottom: 45px;
              }
            }
            .field_checkbox {
              padding: 7px 0;
              background-color: #f7f7f7;
              text-align: center;
              height: 30px;
              label {
                margin: 0;
                font-weight: normal;
              }
            }
	        }

          .shipping_fieldset_wrapper {
            .shipping_form {
              display: none;
            }
          }
	      }
	    }

      .form-buttons {
        text-align: center;
        .continue {
          width: 255px;
          height: 68px;
          margin: 40px auto;
          padding: 0;
          background-color: #000;
          font-size: 18px;
          color: white;
          line-height: 68px;
          text-align: center;
        }
      }

      // common checkout summary
      #checkout-summary {
        margin-top: -150px;

        .order_summary {
          float: right;
          width: 255px;
          .summary_title {
            margin: 0;
            height: 23px;
            background-color: #000;
            font-size: 15px;
            color: white;
            line-height: 23px;
            text-align: center;
          }
          .summary_price {
            display: table;
            width: 100%;
            margin-bottom: 3px;
            background-color: #f7f7f7;
            border-bottom: 1px solid #CCC;
            div {
              display: table-cell;
              padding: 20px;
              font-size: 16px;
              vertical-align: top;

              &.price {
                font-size: 14px;
                text-align: right;
              }
            }
          }
          .summary_sum {
            padding: 15px;
            background-color: #c7c7c7;
            font-size: 14px;
            text-align: center;
          }
          .caution {
            margin: 5px 0;
            text-align: center;
          }
        }
      }

	    // Checkout Deliver
	    .shipping_method {
	      // checkout deliver only
	      .shipment {
	        padding: 0 30px;
	        .stock-contents { // table
	          width: 100%;
	          border-collapse: collapse;
	          thead {
	            background-color: #000;
	            th {
                padding: 5px 0;
	              font-weight: normal;
	              color: white;
	              border: none;
	            }
	          }
	          tbody {
	            border-bottom: 1px solid #d7d7d7;
	            td {
	              padding: 30px 0;
	              &.item-image {
	                img {
	                  width: 150px;
	                  height: 150px;
	                }
	              }
	              &.item-qty {
	                text-align: center;
	              }
	              &.item-price {
	                text-align: center;
	              }
	            }
	          }
	        }
	      }
	      .checkout_deliver_way {
	        width: 50%;
	        margin: 30px;
	      }
	    }

      // Checkout Payment
      .card_options {
        label {
          font-weight: normal;
        }
      }
      #existing_cards {

      }
      #payment-methods {
        width: 50%;
        padding: 20px 0;

        // カード入力
        .input_box {
          margin-bottom: 10px;
        }
        .cvv_link {
          width: 100%;
          margin-top: -10px;
          padding: 4px 0;
          text-align: right;
          a {
            text-decoration: underline;
            color: #999;
          }
        }
        .cart_brands {
        }

        // 銀行振り込み
        .payment_check {
          hr.double {
            border-style: double;
            border-width: 4px 0 0;
          }
        }
      }

      // 確認画面
      // Checkout Confirm
      .col_billing_address,
      .col_shipping_address,
      .col_order_shipments,
      .col_payment_info {
        display: inline-block;
        width: 40%;
        margin-bottom: 15px;
        vertical-align: top;
        h6 {
          margin: 15px 0 10px;
          font-size: 12px;
          a:hover  {
            text-decoration: underline;
          }
        }
      }

      .index_order_details {
        .order_item_description {
          font-weight: normal;
        }
        #subtotal,
        #tax-adjustments,
        #order-charges,
        #shipment-total,
        #order-total {
          tr {
            td {
              padding: 5px 0;
            }
          }
        }
      }
	  }
	}
// end of pc
}
