::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.scrollme {
    overflow: auto;
    border: 1px solid #F0F0F0;
    height: 100px;
    box-shadow: 0 0 1px #999999;
}
.scoll-container{
    padding: 5px;
    top: 0;
}
.scoll-container h2 {
    border-left: 5px solid #666666;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 3px;
    padding: 0 0 0 10px;
    color: #666666;
}
.scoll-container p {
    font-size: 13px;
    color: #666666;
}

.index_filter {
  input[type="checkbox"] {
    display:none;
  }
  input[type="checkbox"] + label span.check{
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 10px 2px 0;
    vertical-align:middle;
    background-image: image-url('pc/checkbox/check-before.png');
    background-repeat: no-repeat;
    background-position: left top;
    cursor:pointer;
  }
  input[type="checkbox"]:checked + label span.check {
    background-image: image-url('pc/checkbox/check-after.png');
    background-repeat: no-repeat;
    background-position: left top;
  }
}

input[type="checkbox"].check_sp {
  display:none;
}
input[type="checkbox"].check_sp + label.list_filter_sp span.check_sp {
  display:inline-block;
  width:18px;
  height:18px;
  margin:-1px 10px 2px 0;
  vertical-align:middle;
  background-image: image-url('sp/checkbox/check_before.gif');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left top;
  cursor:pointer;
}
input[type="checkbox"].check_sp:checked + label.list_filter_sp span.check_sp {
  background-image: image-url('sp/checkbox/check_after.gif');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left top;
}

.list_filter{
   cursor:pointer;
   color: #646464;  
   line-height: 30px;
   margin: 0px 0px 0px 0px;
}
/**/
.pc .index_filter nav ul li.list{
    padding: 0px 0px 0px 25px
}

.pc .index_filter nav ul li.list:hover{
    background-color: #fff;
}

.brand_li{
    padding: 0px 0px 0px 25px;
    margin: 8px;
}

.clicked-item{
  cursor: pointer;
}
.panel-item{
  display: block;
}
.clicked-item h3 span.right {
    height: 10px;
    width: 9px;
    margin: 10px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_r.png');
}

.clicked-item h3 span.down {
    height: 9px;
    width: 10px;
    margin: 11px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_b.png');
       background-size: 10px 9px;
}
.clicked-color{
  cursor: pointer;
}
.panel-color{
  display: block;
}
.clicked-color h3 span.right {
    height: 10px;
    width: 9px;
    margin: 10px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_r.png');
}

.clicked-color h3 span.down {
    height: 9px;
    width: 10px;
    margin: 11px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_b.png');
       background-size: 10px 9px;
}

.clicked-design{
  cursor: pointer;
}
.panel-design{
  display: block;
}
.clicked-design h3 span.right {
    height: 10px;
    width: 9px;
    margin: 10px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_r.png');
}

.clicked-design h3 span.down {
    height: 9px;
    width: 10px;
    margin: 11px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_b.png');
       background-size: 10px 9px;
}

.clicked-size{
  cursor: pointer;
}
.panel-size{
  display: block;
}
.clicked-size h3 span.right {
    height: 10px;
    width: 9px;
    margin: 10px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_r.png');
}

.clicked-size h3 span.down {
    height: 9px;
    width: 10px;
    margin: 11px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_b.png');
       background-size: 10px 9px;
}

.clicked-material{
  cursor: pointer;
}
.panel-material{
  display: block;
}
.clicked-material h3 span.right {
    height: 10px;
    width: 9px;
    margin: 10px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_r.png');
}

.clicked-material h3 span.down {
    height: 9px;
    width: 10px;
    margin: 11px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_b.png');
    background-size: 10px 9px;
}

/*.clicked-plan{
  cursor: pointer;
}
.panel-plan{
  display: none;
}
.clicked-plan h3 span.right {
    height: 10px;
    width: 9px;
    margin: 5px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_r.png');
}

.clicked-plan h3 span.down {
    height: 9px;
    width: 10px;
    margin: 5px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_b.png');
}*/

 li:last-child {
  border-bottom: none;
}

span.down{
    height: 20px;
    width: 20px;
    background-image: image-url('sp/checkbox/arrow_down.gif');
    background-repeat: no-repeat;
          background-position: center;
          background-size: 19px 10.5px;
          margin: 10px 0px 0px 0px;
    float: right;
}

span.sub-down{
    height: 20px;
    width: 20px;
    background-image: image-url('sp/checkbox/arrow_down.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 10.5px;
    margin-top: -2px;
    float: right;
}

span.up{
    height: 20px;
    width: 20px;
    background-image: image-url('sp/checkbox/arrow_up.gif');
    background-repeat: no-repeat;
          background-position: center;
          background-size: 19px 10.5px;
          margin: 10px 0px 0px 0px;
    float: right;
}

span.sub-up{
    height: 20px;
    width: 20px;
    background-image: image-url('sp/checkbox/arrow_up.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 10.5px;
    margin-top: -2px;
    float: right;
}

div.toggle_accordion span.plus{
    height: 14px;
    width: 14px;
    margin: 1px 5px 0px 0px;
    background-image: image-url('sp/checkbox/arrow_down.gif');
    background-repeat: no-repeat;
          background-position: center;
          background-size: 14px 14px;
    float: right;
}

div.toggle_accordion span.minus{
    height: 14px;
    width: 14px;
    margin: 1px 5px 0px 0px;
    background-image: image-url('sp/checkbox/arrow_up.gif');
    background-repeat: no-repeat;
          background-position: center;
          background-size: 14px 2px;
    float: right;
}
span1.sp-sub-label span.sp-plus{
    height: 12px;
    width: 12px;
    margin: 0px 5px 0px 0px;
    background-image: image-url('sp/checkbox/plus.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    float: right;
}

span1.sp-sub-label span.sp-minus{
    height: 12px;
    width: 12px;
    margin: 0px 5px 0px 0px;
    background-image: image-url('sp/checkbox/minus.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 2px;
    float: right;
}
.link_menu{
    padding: 9px 0px 9px 0px;
    float: right;
    width: 180px;
    overflow: auto;
    border-top: 1px solid;
}
.sp_brand_link_menu{
    padding: 9px 0px 9px 0px;
    width: 180px;
    overflow: auto;
    border-top: 1px solid;
}
.itemlist{
    clear: right;
}

.sub-menus{
    padding: 13px 0px 13px 20px;
    font-size: 12px;
}

.master_ul li.hl_menu{
    border-bottom: 1px solid;
}

.list_filter_sp{
    font-size: 12px;
}

.menu-title{
    padding: 0px 0px 0px 10px;
}

.sub-menus label{
    color: #ababab;
}

.select_sort {
    padding-left: 10px;
    border-radius: 3px;
    width: 130px;
    height: 25px;
    overflow: hidden;
    background: #fff no-repeat 95% 50%;
    background-image: image-url('pc/checkbox/aroow_b.png');
}

.select_sort select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select_sort select:focus {
    outline: none;
}

.products_sort{
    float: right;
    margin: 5px 10px 0px 0px;
}

.number_filter{
    margin-right: 10px;
}
.pc .user_summary .fab_item_list ul li .fab_head .head-remove {
  float: left;
  padding: 0 2px;
  text-align: center;
}

.pc-favorite-remove{
    float: right;
    margin-top: -10px;
    font-size: 19px;
}
.favorite-remove{
    float: right;
    margin-top: -10px;
    font-size: 19px;
    position: absolute;
    top: 8px;
    right: 5px;
}
.plus-b{
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 0px;
    background-image: image-url('pc/checkbox/plus_b.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    float: left;
}
.minus-b{
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 0px;
    background-image: image-url('pc/checkbox/minus_b.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    float: left;
}
.aroow-r{
    height: 10px;
    width: 9px;
    margin: 9px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_r.png');
}
.aroow-b{
    height: 9px;
    width: 10px;
    margin: 11px -5px 0px 0px;
    float: right;
    background-image: image-url('pc/checkbox/aroow_b.png');
    background-size: 10px 9px;
}
.pc .user_summary .rentaled_item_list ul li .button_col button.rental-cancel {
    display: block;
    width: 240px;
    height: auto;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid #000;
    line-height: 25px;
    background-color: transparent;
}

.rental-form-cancel{
    display: none;
}
.pc_brand_list_link{
    border-bottom: 1px dotted #007ebe;
    color: #007ebe;
    position: relative;
    left: 110px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.pc .index_filter nav h3 {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #DFDFDF;
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  background-color: #F0F0F0;
}

.filter-row{
    border-bottom: 1px solid #DFDFDF;
}
.pc-h3{
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #F0F0F0;
    padding: 1px 15px;
    font-size: 18px;
    line-height: 29px;
    font-weight: normal;
}
.sp-sub-label{
    display: block;
    color: #000;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #A3A3A3;
    padding: 7px 0px 0px 10px;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
}
.sp-sub-menu{
    border-top: 1px solid;
}
.sp-brand-prefix{
    border-bottom: 1px solid #000;
}