.sp {

  input, textarea {
    border: 1px solid #aeaeae;
    border-width: 1px 0;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    height: 56px;
    padding: 18px 10px;
    font-size: 14px;
  }
  input[type="submit"] {
    padding: 8px 0;
    background-color: #212121;
    font-size: 13px;
    color: white;
  }
  .input-set {
    input {
      -webkit-appearance: none;
      border-radius: 0;
      &:-webkit-input-placeholder,
      &:-moz-placeholder {
        color: #999;
      }
    }
  }
  .input-set+.input-set {
    input {
      border-width: 0 0 1px;
    }
  }

  .input-rowset {
    overflow: hidden;

    .input-set {
      input {
        border: none;
        float: left;
        width: calc(50% - 1px);
      }
      &+.input-set input {
        border-left: 1px solid #aeaeae;
      }
    }
  }
  .label-set {
    padding: 4px 10px;
    background-color: #e9e9e9;
    color: #848484;
  }

  .user_option {
    padding: 15px 0;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #848484;
  }
  .form-submit {
    padding: 10px;
    font-size: 13px;
    line-height: 14px;
  }

  .user_sessions {

    .button-block {
      width: 100%;
      -webkit-appearance: none;
      border-radius: 0;
    }

    .devise_container {
      background-color: #fff;


      .form-caption {
        padding: 10px 35px;
        font-size: 11px;
        line-height: 17px;
      }

      .form-facebook {
        padding: 0 10px;
      }

      .facebook_login {
        display: block;
        width: 100%;
        padding: 8px 0;
        font-size: 13px;
        line-height: 20px;
        background-color: $fb;
        font-size: 13px;
        color: white;
        text-align: center;
      }
      .or {
        margin: 10px 0;
        font-size: 10px;
        text-align: center;
      }
    }
  }
}

// Desktop
.pc {
  .user_sessions {
    padding: 50px 50px 100px;
  }

  .form_notice {
    text-align: center;
  }

  .form-caption {
    margin-bottom: 80px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
  }

  .input-set {
    margin: 15px 0;
  }
  label {
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
   /* margin: 0 8px 5px; */
  }
  input:not([type="radio"]):not([type="checkbox"]) {
    width: 100%;
    height: 48px;
    padding: 15px 10px;
    font-size: 13px;
  }
  input[type="submit"] {
    padding: 15px 0;
    background-color: #212121;
    color: white;
  }
  .form-submit {
    margin: 28px 0 10px;
  }
  .user_option {
    text-align: right;
    font-size: 13px;
    color: #848484;
  }

  // Login
  .devise {
    padding: 20px;
    .facebook_login {
      display: block;
      width: 100%;
      height: 48px;
      padding: 15px 10px;
      background-color: $fb;
      font-size: 13px;
      color: white;
      text-align: center;
    }
    .or {
      padding: 10px 0 0;
      text-align: center;
    }
  }
}
