.error {
  padding: 50px 0;
  text-align: center;
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    @media all and (max-width: 768px) {
      font-size: 18px;
    }
  }
  .portal {
    a {
      color: #4169e1;
      text-decoration: underline;
    }
  }
}
