
#footer {
	clear: both;
	position: relative;
	background-color: $gray;

	.our_medias {

		h3 {
			text-transform: uppercase;
			font-size: 15px;
			line-height: 1.6;
			text-align: center;
		}
		ul {
			text-align: center;
		}
	}
	.footer_links {
		text-align: center;

		ul {
			li {
				display: inline-block;
			}
		}
		p {
			font-size: 9px;
		}
	}
}


// ・BackToTopボタン
.sp {
	#footer {
		padding: 0;
	}
	.btt_cont {
		padding: 10px 0;
		text-align: center;
		.btt {
			position: relative;
			display: inline-block;
			width: 95px;
			height: 20px;
			overflow: hidden;
			font-size: 1px;
			text-indent: -9999;
			background-image: image-url("common/btn_pagetop.gif");
			background-repeat: no-repeat;
			background-size: 95px 20px;
			background-position: center;
		}
	}
	.our_medias {
		margin-bottom: 10px;
		padding: 10px 0;
		border-color: #c7c7c7;
		border-style: solid;
		border-width: 1px 0;

		h3 {
			margin-bottom: 10px;
		}
		ul {
			.om-icon {
				display: inline-block;
				width: 25px;
				height: 25px;
				margin: 0 12px;
				overflow: hidden;
				font-size: 1px;
				text-indent: -9999;
				background-image: image-url("common/sui.png");
				background-repeat: no-repeat;
				background-size: 125px 25px;

				&.icon-b {
					background-position: 0 0;
				}
				&.icon-f {
					background-position: -25px 0;
				}
				&.icon-t {
					background-position: -50px 0;
				}
				&.icon-i {
					background-position: -75px 0;
				}
				&.icon-g {
					background-position: -100px 0;
				}
				a {
					display: block;
					width: 25px;
					height: 25px;
				}
			}
		}
	}
	.footer_links {
		ul {
			margin: 10px 0 20px;
			li {
				margin: 0 8px;
				font-size: 7px;
			}
		}
	}
}

.pc {
	#footer {
		padding: 30px 0;
	}
	.btt {
		position: absolute;
		display: inline-block;
		width: 155px;
		height: 33px;
		top: 66px;
		right: 52px;
		overflow: hidden;
		font-size: 1px;
		text-indent: -9999;
		background-image: image-url("common/ui.png");
		background-repeat: no-repeat;
		background-size: 155px 125px;
		background-position: center -22px;
	}
	.our_medias {
		margin-bottom: 40px;
		ul {
			.om-icon {
				display: inline-block;
				width: 33px;
				height: 33px;
				margin: 0 24px;
				overflow: hidden;
				font-size: 1px;
				text-indent: -9999;
				background-image: image-url("common/icons.png");
				background-repeat: no-repeat;
				background-size: 232px 127px;

				&.icon-b {
					background-position: 0 0;
				}
				&.icon-f {
					background-position: -33px 0;
				}
				&.icon-t {
					background-position: -66px 0;
				}
				&.icon-i {
					background-position: -99px 0;
				}
				&.icon-g {
					background-position: -132px 0;
				}
				a {
					display: block;
					width: 33px;
					height: 33px;
				}
			}
		}
	}
	.footer_links {
		ul {
			margin-top: 40px;
			margin-bottom: 20px;
			li {
				margin: 0 10px;
				font-size: 10px;
			}
		}
	}
}
