// Body Setting
// Flash Style
// SP Header Style
// SP Pushmenu Style
// PC Header Style

// Flash
// - - - -
#flash {
  background-color: #fff;
  .container  {
    padding: 5px;
    span {
      display: block;
      min-height: 20px;
      padding: 9px;
      background-color: #f7f7f7;
      border: 1px solid #e3e3e3;
      border-radius: 3px;
      text-align: left;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      padding: 9px;
    }
  }
}
#error_explanation {
  margin-bottom: 15px;
  h2 {
    margin-top: 5px;
  }
}

// SP
// - -
body.sp {
  position: relative;
  overflow-x: hidden;
  #header {

    .condition {
      height: 40px;
      background-color: #fff;
      border-bottom: 1px solid #c2c2c2;

      .container-inner {
        padding: 0 10px;
      }

      .left {
        float: left;
        overflow: hidden;
        .open_pushmenu {
          display: inline-block;
          width: 53px;
          height: 40px;
          padding: 9px 0;
          vertical-align: top;
        }
        .logo {
          display: inline-block;
          width: 80px;
          height: 40px;
          padding: 10px 8px;
          vertical-align: top;
          a {
            display: block;
            vertical-align: top;
          }
        }
      }
      .right {
        float: right;
        .li {
          display: inline-block;
          margin: 0 4px;
          padding: 11px 0;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }

  // SP Breadcrumbs
  .breadcrumbs {
    background-color: white;
    padding: 8px 10px;

    ul {
      li {
        display: inline-block;
        padding: 0;
        font-size: 10px;
        line-height: 16px;
        &+li:before {
          content: '>';
          margin: 0 8px;
        }
        a {
          color: #1c8cc5;
        }
      }
    }
  }

  // Push Menu
  nav.push-menu { // need rename
    position: fixed;
    left: -222px;
    width: 222px;
    height: 100%;
    z-index: 30;
    background-color: black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: scroll;

    ul {
      li {
        position: relative;
        /*padding: 10px 10px;*/
        //border-bottom: 1px solid #5a5a5a;
        color: #ababab;
        a, span {
          display: block;
          position: relative;
          font-size: 12px;
          line-height: 40px;
          vertical-align: top;
        }

        &.login a:before {
          display: inline-block;
          content: '';
          width: 17px;
          height: 25px;
          margin: 8px 8px -9px 0;
          background-image: image-url('sp/common/push-account.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 17px 25px;
        }
        &.login:after {
          position: absolute;
          top: 10px;
          right: 10px;
          display: inline-block;
          width: 10.5px;
          height: 19px;
          content: '';
        /*  background-image: image-url('sp/common/push-left.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 10.5px 19px; */
          z-index: 31;
        }
        &.itemlist:after {
          position: absolute;
          top: 15px;
          right: 10px;
          display: inline-block;
          content: '';
          width: 19px;
          height: 10.5px;
         /* background-image: image-url('sp/common/push-down.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 19px 10.5px;*/
          z-index: 31;
        }

        &.itemlist {
         /* padding: 0 0 0 10px; */
          ul {
            display: none;
            li:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }

    .ul_color {
      padding: 0;
      li {
        position: relative;
        padding: 0 10px;
        @include color_parts('sp')
      }
    }
    &:after {
      position: relative;
    }
  }
  &.pm-open {
    overflow: hidden;
    height: 100%
  }
  &.pm-open nav.push-menu {
    left: 0;
    .reverse {
      display: block;
    }
  }
  &.pm-open #wrapper {
    left: 222px
  }

  #wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

// PC Header
// - - - - -
.pc {
  #header {

    .condition {
      height: 28px;
      background-color: #000;
      color: $header-txt;

      .left {
        float: left;
        a {
          display: block;
          padding: 5px 10px;
        }
      }
      .right {
        float: right;
        .li {
          display: inline-block;
          padding: 6px 10px;
        }
      }
    }

    .breadcrumbs {
      background-color: white;
      padding: 8px 10px;

      ul {
        li {
          display: inline-block;
          padding: 0;
          &+li:before {
            content: '>';
            margin: 0 8px;
            a {
              color: #1c8cc5;
            }
          }
        }
      }
    }
  }

  #header {
    .condition {
      height: 28px;
      background-color: #000;
      color: $header-txt;

      .left {
        float: left;
        a {
          display: block;
          padding: 5px 10px;
        }
      }
      .right {
        float: right;
        .li {
          display: inline-block;
          padding: 6px 10px;
        }
      }
    }
    .curtain {
      height: 140px;
      padding: 45px 0 39px;
      text-align: center;
    }
    .gnav {
      background-color: $gray2;
      text-align: center;
      ul {
        li {
          display: inline-block;
          margin: 0 36px;
          font-size: 17px;
          line-height: 27px;
          a {
            display: inline-block;
            padding: 13px 0 12px;
          }
        }
      }
    }
    .breadcrumbs {
      ul {
        li {
          display: inline-block;
          padding: 22px 0 56px;
          &+li:before {
            content: '>';
            margin: 0 8px;
            a {
              color: #0d8bc7;
            }
          }
        }
      }
    }
  }

  #header {
    .condition {
      height: 28px;
      background-color: #000;
      color: $header-txt;

      .left {
        float: left;
        a {
          display: block;
          padding: 5px 10px;
        }
      }
      .right {
        float: right;
        .li {
          display: inline-block;
          padding: 6px 10px;
        }
      }
    }
    .curtain {
      height: 140px;
      padding: 45px 0 39px;
      text-align: center;
    }
    .gnav {
      background-color: $gray2;
      text-align: center;
      ul {
        li {
          display: inline-block;
          margin: 0 36px;
          font-size: 17px;
          line-height: 27px;
          a {
            display: inline-block;
            padding: 13px 0 12px;
          }
        }
      }
    }
  }
  .breadcrumbs {
    ul {
      li {
        display: inline-block;
        padding: 22px 0 56px;
        &+li:before {
          content: '>';
          margin: 0 8px;
          a {
            color: #0d8bc7;
          }
        }
      }
    }
  }
}
