.sp {
	.sp_title {
		background-color: #000;
		padding: 6px 0;
		text-align: center;

		h1, h2, h3 {
			font-size: 12px;
			font-weight: normal;
			line-height: 24px;
			color: white;

			span {
				display: block;
			}
		}
		h2 {
			font-size: 15px;
			text-transform: uppercase;
		}
	}

	.pr-overview {
	  padding: 10px 0;

		.buttons {
			a, span {
				display: block;
			}
			.register, .with_fb {
				margin: 20px 0;
				text-align: center;
			}

			.register {
				img {
					width: 275px;
					height: auto;
				}
			}

			.with_fb {
				margin: 20px 0;
				text-align: center;

				a {
					display: inline-block;
					width: 275px;
					height: 46px;
					background-color: #3b5998;
					border-radius: 4px;
				  font-size: 18px;
					color: white;

					&:before {
						display: inline-block;
						content: '';
						width: 17px;
						height: 33px;
						margin: 6px 20px -10px 0;
						background-image: image-url("common/icons.png");
						background-repeat: no-repeat;
						background-size: 232px 127px;
						background-position: -165px 0;
					}
					&:hover, &:active, &:focus {
						opacity: 0.8;
					}
				}
			}
		}

      .YoutubeWrapper{
        position: relative;
        margin: 5px 5px 5px 0;
        padding-top: 100px;
        padding-bottom: 50%;
        overflow: hidden;

        iframe {
          position: absolute;
          top: 0;
          left: 1%;
          height: 100% ;
          width: 99% ;
        }
      }
	}

	.pr-flow {
	  margin-bottom: 15px;
		background-color: #F8F8F8;

		.cont-block {
			position: relative;
			padding: 4px;

			.num_tag {
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 40px;
				padding: 5px 0 0 10px;
				background-image: image-url('sp/home/fan.png');
				background-size: 40px;
				background-position: 0 0;
				background-repeat: no-repeat;
				font-size: 18px;
				color: white;
			}

			.block_inner {
				width: 100%;
				padding: 8px;
				background-color: #fff;

				h3 {
					margin: 5px 0;
					font-size: 12px;
					text-decoration: underline;
				}
				p {
					margin: 0;
					font-size: 11px;
					line-height: 18px;
				}
			}
		}
      .new_item_link {
        font-size: 15px;
        color: #E67850;
        width: 200px;
        text-align: center;
        display: block;
        border: 1px solid;
        padding: 8px;
        margin: 15px auto 0;
      }
	}

	.pr-images {
		padding-bottom: 30px;
		background-color: #fff;

		h2 {
			margin: 15px 0;
			font-size: 11px;
			line-height: 18px;
			text-align: center;
		}

		.sp_title {
			img {
				height: 24px;
			}
		}
		.image_sec {
			margin-bottom: 15px;

			h3 {
				margin: 8px;
				padding: 4px 0 4px 10px;
				border-left: 10px solid black;
				font-size: 12px;
				line-height: 18px;
				span {
					display: block;
				}
			}
		}
	}

	.pr-freeshipping {
		margin-bottom: 15px;
		background-color: #F8F8F8;

		.pr_panel {
			padding: 8px;

			.panel_inner {
				padding: 20px;
				background-color: #fff;

				h3 {
					font-size: 12px;
					line-height: 18px;
					text-align: center;
				}
				.merit_panel {
					margin: 15px 0;
					padding: 15px;
					border: 1px solid black;
					font-size: 11px;
					line-height: 18px;
					text-align: center;
					span {
						font-weight: bold;
						color: #E67850;
					}
				}
			}
		}
	}
	.pr-plans {
		background-color: #F8F8F8;

		.pr_panel {
			padding: 8px;
			.panel_inner {
				padding: 20px;
				background-color: #fff;

				h3 {
					margin: 10px 0 25px;
					font-size: 12px;
					line-height: 18px;
					text-align: center;
				}

				.plan_container {
					margin-bottom: 20px;
					text-align: center;
				}
				.plan_notification {
					.merit_panel {
						margin: 15px 0;
						padding: 15px;
						border: 1px solid black;
						font-size: 11px;
						line-height: 18px;
						text-align: center;
					}
					p {
						font-size: 9px;
						line-height: 18px;
					}
				}
			}
		}
	}
	.pr-brandlist {
		background-color: #F8F8F8;

		h2 {
		  margin: 5px 0 15px;
			font-size: 12px;
			text-align: center;
			text-transform: uppercase;
		}
		.pr_panel {
			padding: 8px;
			.panel_inner {
				padding: 10px;
				background-color: #fff;
			}
		}
		.list_cont {
			font-family: helvetica;
			font-weight: light;
			overflow: hidden;

			.kkr-1-2 {
				float: left;
				width: 50%;
				padding: 5px;
				font-size: 10px;
				line-height: 17px;
				ul {
					li {
						padding: 2px 0;
						letter-spacing: 2px;
					}
				}
			}
		}
	}

	.pr-media {
		background-color: #F8F8F8;

		.pr_panel {
			padding: 8px;
			.panel_inner {
				background-color: #fff;
			}
		}
		h2 {
			padding: 10px 0 0;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
		}
		.image_sec {
			padding: 20px;
		}
	}
}

.pc {

	.hero {
		min-width: $pc_container;

		img {
			display: block;
			width: 100%;
		}
	}

	.pr {
		margin: 100px 0;
	}

	.pr_panel {
		position: relative;
		background-color: $gray2;
		h3 {
			font-size: 21px;
			text-align: center;
		}
	}

	// sections berow

	.pr-overview {

		h1 {
			margin: 76px 0;
			font-size: 26px;
			line-height: 36px;
			text-align: center;
		}
		.panel {
			background-color: $gray;
			padding: 40px 60px;

			.buttons {
				margin-bottom: 40px;
				overflow: hidden;
				text-align: center;

				span {
					display: inline-block;
					font-size: 20px;
					line-height: 64px;
				}
				a {
					display: block;
					width: 340px;
					padding: 20px 0;
					text-align: center;
					font-size: 20px;
					color: white;
					cursor: pointer;
					-webkit-transition: opacity 0.3 ease;
					transition: opacity 0.3 ease;

					&.register {
						float: left;
						background-color: #e2191c;

						&:after {
							display: inline-block;
							content: '';
							width: 13px;
							height: 22px;
							margin-left: 4px;
							margin-bottom: -4px;
							overflow: hidden;
							background-image: image-url("common/ui.png");
							background-repeat: no-repeat;
							background-size: 155px 125px;
							background-position: -13px 0;
						}
					}
					&.facebook_login {
						float: right;
						background-color: #3b5998;

						&:before {
							display: inline-block;
							content: '';
							width: 17px;
							height: 33px;
							margin: -6px 20px -8px 0;
							background-image: image-url("common/icons.png");
							background-repeat: no-repeat;
							background-size: 232px 127px;
							background-position: -165px 0;
						}
					}
					&:hover, &:active, &:focus {
						opacity: 0.8;
					}
				}
			}
			p {
				margin: 5px 0;
				text-align: center;
				font-size: 14px;
				a {
					color: #0036d3;

					&:hover, &:active, &:focus {
						text-decoration: underline;
					}
				}
			}
		}

      .YoutubeWrapper{
        position: relative ;
        margin: 40px 0 0 0;
        padding-top: 100px ;
        padding-bottom: 50% ;
        overflow: hidden ;

        iframe {
          position: absolute ;
          top: 0 ;
          left: 0 ;
          height: 100% ;
          width: 100% ;
        }
      }
	}

	.pr-flow {
		margin-bottom: 50px;
		text-align: center;
		.container {
			padding-bottom: 30px;
			border-bottom: 1px solid #d7d7d7;
		}
		ul {
			li {
				h3 {
					font-size: 18px;
				}
				p {
					padding: 0 16px;
					font-size: 16px;
					line-height: 24px;
					text-align: left;
				}
			}
		}
      .new_item_link {
        color: #E67850;
        width: 300px;
        display: block;
        border: 1px solid;
        padding: 8px;
        margin: 15px auto 0;

        &:hover {
          border-color: #59b1eb;
          color: #59b1eb;
        }
      }
	}

	.pr-images {
		margin-top: 50px;
		.image_sec {
			margin-bottom: 100px;
			img {
				border: 1px solid #8e8e8e;
			}
		}
		h2 {
			margin: 0 0 50px;
			font-size: 30px;
			line-height: 46px;
			text-align: center;
		}
	}

	.pr-freeshipping {
		.pr_panel {
			padding: 24px 0 40px;
			h3 {
				margin: 0 0 40px;
			}

			.merit_container {
				width: 864px;
				margin: 0 auto;
				font-size: 14px;
				line-height: 27px;
				.row {
					margin: 0 -26px;
					.kkr-1-3 {
						padding: 0 26px;
						&:first-child {
							padding: 0 40px;
						}
						span {
							font-weight: bold;
							color: #E67850;
						}
					}
				}
			}
		}
	}
	.pr-plans {
		.pr_panel {
			padding: 24px 0 54px;
			h3 {
				margin: 0;
			}
			.plan_container {
				width: 920px;
				margin: 34px auto;
				.row {
					padding: 20px 0;
					.plan {
						&.plan-gold {
							margin-top: -20px;
						}
					}
				}
			}
			.plan_notification {
				width: 840px;
				margin: 0 auto;
				font-size: 14px;
				line-height: 27px;
			}
			.morePlan {
				position: absolute;
				right: 24px;
				bottom: 24px;
				a {
					img {

					}
				}
			}
		}
	}

	.pr-brandlist {
		.brandlist_cont {
			background-color: #F8F8F8;
			padding: 40px 60px;
			table {
				width: 100%;
				tr {
					td {
						width: 20%;
						padding: 20px 0;
						letter-spacing: 2px;
						text-align: center;
						a:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.pr-voice {
		.pr_panel {
			padding: 24px 0 30px;
			h3 {
				margin-bottom: 30px;
			}
			.voice_container {
				width: 902px;
				margin: 0 auto;
				.row {
					margin: -14px;
					display: table;
					border-collapse: collapse;
					.kkr-1-3 {
						float: none;
						display: table-cell;
						background-color: #fff;
						border: 14px solid #f8f8f8;
						div {
							height: 100%;
							padding: 32px 20px;
							text-align: center;
							img {
								width: 135px;
								height: auto;
							}
							p {
								font-size: 14px;
								line-height: 24px;
								text-align: left;
								&.penname {
									text-align: right;
								}
							}
						}
					}
				}
			}
		}
	}
}
