// Cart & Orders

.sp {

  // cart and checkout_dliver
  .cart_container, .checkout_edit {
    #line_items {
      ul {
        li {
          position: relative;
          display: table;
          width: 100%;
          border: 1px solid #d7d7d7;
          border-width: 1px 0;
          &+li {
            border-top-width: 0;
          }
          .cart-item-image,
          .info_col,
          .count_col,
          .ctrl_col {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
          }
          .image_col {
            width: 95px;
            max-width: 95px;
            height: 95px;
            vertical-align: top;
          }
          .info_col {
            min-width: 120px;
            padding: 10px;
            line-height: 14px;
          }
          .count_col {
            padding: 10px 5px;
            input {
              display: inline-block;
              width: 32px;
              height: 24px;
              border: none;
              padding: 2px 4px;
              background-color: #f8f8f8;
            }
          }
          .ctrl_col {
            .cart-item-delete {
              width: 44px;
            }
          }
        }
      }
    }
  }

  // Order Edit
  .cart_container {
    background-color: #fff;

    .pre_title {
      padding: 20px 0;
    }
    .empty_cart {
      padding: 10px;
      h2 {
        font-size: 13px;
        text-align: center;
      }
      .continue_shopping {
        padding: 20px 0;
        background-color: #fff;
        text-align: center;

        .button {
          display: block;
          padding: 0 10px;
          background-color: #212121;
          font-size: 13px;
          line-height: 40px;
          color: white;
        }
      }
    }
    .outside_cart_form {

      .inside_cart_form {
        .cart_items {
        }
        .cart-total {
          display: table;
          width: 100%;
          border-bottom: 1px solid #d7d7d7;

          span {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
            font-size: 13px;
            line-height: 1.2;

            &.total-value {
              text-align: right;
            }
          }
        }
        .cart_buttons {
          padding: 10px;
          border-bottom: 1px solid #d7d7d7;
          text-align: right;

          input[type="text"] {
            display: inline-block;
            width: 40%;
            height: 32px;
            margin-right: 4px;
            padding: 16px 10px;
            font-size: 13px;
            line-height: 32px;
            border: none;
            background-color: #f7f7f7;
            color: #bfbfbf;
          }
          button {
            display: inline-block;
            -webkit-appearance: none;
            appearance: none;
            padding: 5px 8px;
            border: none;
            font-size: 13px;
            background-color: #bfbfbf;
          }
        }
      }
      .checkout {
        position: relative;
        top: 40px;
        padding: 0 20px 50px;
        button {
          display: inline-block;
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          padding: 0;
          background-color: #000;
          border: none;
          color: white;
          font-size: 14px;
          line-height: 38px;
        }
      }
    }
    #empty-cart {
      position: relative;
      top: -70px;
      padding: 20px;
      text-align: center;
      input, a {
        display: inline-block;
        overflow: hidden;
        text-indent: -9999px;
        width: 110px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: 110px 21px;
        background-position: center;
        vertical-align: top;
      }
      input {
        padding: 0;
        font-size: 13px;
        border: none;
        background-color: transparent;
        background-image: image-url('sp/orders/btn_empty.gif');
        color: black;
      }
      a {
        width: 110px;
        margin-left: 10px;
        background-image: image-url('sp/orders/btn_shopping.gif');
      }
    }
  }

  // order complete
  .order_summary {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 17px;
    .thankyou_box {
      text-align: center;
      h1 {
        margin: 10px 0 20px;
        font-size: 26px;
      }
      legend {
        display: block;
        width: 100%;
        text-align: center;
      }
      .order_num {
        display: inline-block;
        margin: 15px;
        padding: 4px 8px;
        background-color: #f8f8f8;
        font-size: 11px;
        font-weight: bold;
        line-height: 18px;
      }
      p {
        margin: 0 0 20px;
        font-size: 11px;
        line-height: 17px;
      }
    }
    .toTop {
      padding: 10px;
      a {
        display: block;
        background-color: #000;
        color: white;
        width: 100%;
        line-height: 42px;
      }
    }
  }
}

//
.pc {

  // Order Edit
  $image_col_w: 150px;
  $info_col_w: 395px;
  $price_col_w: 104px;
  $count_col_w: 104px;
  $sum_col_w: 104px;
  $item_col_w: $image_col_w + $info_col_w;
  $ctrl_col_w: 98px;

  .cart_container {
    background-color: #fff;

    .pre_title {
      padding: 20px 0;
    }

    .cart_head {
      position: relative;
      display: table;
      width: 100%;
      background-color: #000;
      color: white;
      margin-bottom: 48px;
      background-color: black;
      height: 24px;
      span {
        display: inline-block;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        line-height: 24px;
        color: white;
        &.item {
          width: $item_col_w;
          max-width: $item_col_w;
        }
        &.price {
          width: $price_col_w;
          max-width: $price_col_w;
        }
        &.count {
          width: $count_col_w;
          max-width: $count_col_w;
        }
        &.sum {
          width: $sum_col_w;
          max-width: $sum_col_w;
        }
        &.ctrl {
          width: $ctrl_col_w;
          max-width: $ctrl_col_w;
        }
      }
    }
    .empty_cart {
      padding: 10px;
      h2 {
        font-size: 13px;
        text-align: center;
      }
      .continue_shopping {
        padding: 20px 0;
        background-color: #fff;
        text-align: center;

        .button {
          display: block;
          padding: 0 10px;
          background-color: #212121;
          font-size: 13px;
          line-height: 40px;
          color: white;
        }
      }
    }

    .outside_cart_form {

      .inside_cart_form {
        position: relative;
        .cart_items {
          #line_items {
            ul {
              li {
                position: relative;
                display: table;
                width: 100%;
                border: 1px solid #d7d7d7;
                border-width: 0 0 1px;

                .cart-item-image,
                .cart-item-description,
                .cart-item-price,
                .cart-item-quantity,
                .cart-item-total,
                .cart-item-delete {
                  position: relative;
                  display: table-cell;
                  vertical-align: middle;
                  padding: 40px 10px;
                }
                .cart-item-image {
                  width: $image_col_w;
                  height: $image_col_w;
                  vertical-align: top;
                  padding: 30px 10px 30px 0;
                }
                .cart-item-description {
                  width: $info_col_w;
                  padding: 10px;
                  line-height: 14px;
                  span {
                    display: block;
                  }
                }
                .cart-item-price {
                  width: $price_col_w;
                  text-align: center;
                }
                .cart-item-quantity {
                  width: $count_col_w;
                  text-align: center;
                  input {
                    display: inline-block;
                    width: 48px;
                    height: 40px;
                    padding: 6px 10px;
                    border: none;
                    background-color: #f8f8f8;
                    text-align: right;
                  }
                }
                .cart-item-total {
                  width: $sum_col_w;
                  text-align: center;
                }
                .cart-item-delete {
                  width: $ctrl_col_w;
                }
              }
            }
          }
        }
        .cart_buttons {
          padding: 20px 0;
          text-align: right;

          input[type="text"] {
            display: inline-block;
            width: 190px;
            height: 48px;
            margin-right: 4px;
            padding: 16px 10px;
            font-size: 13px;
            border: none;
            background-color: #f7f7f7;
            color: #bfbfbf;
          }
          button {
            display: inline-block;
            -webkit-appearance: none;
            appearance: none;
            padding: 16px 20px;
            border: none;
            font-size: 13px;
            background-color: #bfbfbf;
            cursor: pointer;
          }
        }
        .cart-total {
          width: 100%;
          text-align: right;
          span {
            padding: 10px 0 0;
            font-size: 24px;
            line-height: 1.2;
          }
          p {
            margin: 0;
          }
        }
      }
    }

    #empty-cart {
      position: relative;
      padding: 20px;
      text-align: center;
      top: -175px;

      input, a {
        display: inline-block;
        overflow: hidden;
        text-indent: -9999px;
        width: 178px;
        height: 36px;
        background-repeat: no-repeat;
        background-size: 176px 34px;
        background-position: center;
        border: none;
        vertical-align: top;
        cursor: pointer;
      }
      a {
        margin-left: 20px;
        background-image: image-url('sp/orders/btn_shopping.gif');
      }
      input {
        padding: 0;
        font-size: 13px;
        background-color: transparent;
        background-image: image-url('sp/orders/btn_empty.gif');
        color: black;
      }
    }
    .checkout {
      position: relative;
      top: 50px;
      padding: 20px 20px 100px;
      text-align: center;
      button {
        display: inline-block;
        -webkit-appearance: none;
        appearance: none;
        width: 250px;
        height: 68px;
        padding: 0;
        background-color: #000;
        border: none;
        color: white;
        font-size: 24px;
        font-weight: normal;
        cursor: pointer;
      }
    }
  }

  // 注文完了
  .order_summary.order_complete {
    .pre_title {
      margin-bottom: 60px;
    }
    .thankyou_box {
      width: 960px;
      height: 472px;
      background-image: image-url('pc/orders/thank_you.gif');
      background-repeat: no-repeat;
      background-size: 960px 472px;
      background-position: 0 0;
      text-align: center;
      padding-top: 54px;
      h1 {
        font-size: 21px;
        line-height: 28px;
      }
      .order_num {
        display: inline-block;
        margin: 20px;
        padding: 10px;
        background-color: #f8f8f8;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
      }
      p {
        font-size: 21px;
        line-height: 48px;
        span {
          font-weight: bold;
        }
      }
    }
    .toTop {
      margin: 40px 0;
      text-align: center;
      a {
        display: inline-block;
        padding: 20px 110px;
        background-color: #000;
        font-size: 17px;
        text-align: center;
        color: white;
      }
    }
  }
}
