
body {
  color: #555555;
}

.breadcrumb {
  display: table;
  padding: 10px;
  margin-left: 40px;

  .breadcrumb-top {
    display: table-cell;

    a {
      color: #ad8a56;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    &:after {
      content: ">";
      margin: 0 7px;
    }
  }

  .breadcrumb-cont {
    display: table-cell;
  }
}


/*--------------------------------------------
　　　Q&A 
---------------------------------------------*/
.faq-wrapper {

  .ac-faq-title {
    font-size: 30px;
  }

  width: 1280px;
  margin: 50px auto;
  padding: 0 30px;

  .faq-header {
    font-size: 24px;
    margin-bottom: 60px;
  }

  .faq-links {
    margin-bottom: 50px;

    .faq-link-category {
      overflow: hidden;
      padding: 0 10px;
      margin-bottom: 20px;

      .faq-link-category-title {
        overflow: hidden;
        margin-bottom: 10px;
        border-bottom: 1px solid #efefef;
        font-size: 21px;
        clear: both;
      }

      .faq-link-list {
        &:before {
          content: "";
          display: table;
        }

        .faq-link-item {
          float: left;
          width: 50%;
          margin-bottom: 20px;
          padding-right: 20px;
          box-sizing: border-box;

          .faq-link {
            &:before {
              content: '・';
              margin-left: -1em;
              text-indent: 1em;
            }
            color: #ff0925;
            text-decoration: none;
          }
        }
      }

    }
  }

  .faq-category {
    .faq-category-title {
      margin-bottom: 20px;
      border-bottom: 2px solid #ccc;
      font-size: 21px;
    }

    .faq-section {
      margin: 0 10px 40px;

      .faq-question {
        display: block;
        &:before {
          content: 'Q';
          display: inline-block;
          vertical-ailgn: middle;
          margin-right: 9px;
          color: #EE6059;
          font-size: 32px;
        }
        margin-bottom: 17px;
        border-bottom: 1px solid #efefef;
        font-size: 19px;
      }

      .faq-answer {
        &:before {
          content: 'A';
          vertical-align: top;
          margin-top: -10px;
          margin-right: 20px;
          margin-left: 3px;
          color: #009DDC;
          font-size: 32px;
        }

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 16px;

        .faq-answer-text {
          line-height: 1.4;
        }
      }
    }
  }

  .faq-inquiry-title {
    margin-top: 100px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    font-size: 26px;
  }

  .faq-inquiry-text {
    line-height: 1.5;
  }
}

/*--------------------------------------------
　　　プライバシーポリシー 
---------------------------------------------*/
.privacy-wrapper {
  background-color: #efefef;
  display: block;
  padding: 30px 50px;
  ont-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Arial", "Verdana", "sans-serif";

  h2 {
    font-size: 20px;
    margin: 30px auto;
    font-weight: bold;
  }

  h3 {
    font-size: 17px;
    margin: 30px auto 10px auto;
    font-weight: bold;
  }

  #privacy-slogan {
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .privacy-text {
    line-height: 1.3;

    li {
      margin-bottom: 15px;
    }

    ul {
      li {
        margin: 7px 0 7px 30px;
      }
    }

    .privacy-contact {
      padding: 20px;
      line-height: 1.5;
      background-color: white;
    }
  }
  .text-right {
    margin-top: 20px;
    line-height: 1.8;
    text-align: right;
  }
}

/*--------------------------------------------
　　　利用規約 
---------------------------------------------*/
.termofuse-wrapper {
  background-color: #efefef;
  display: block;
  padding: 30px 50px;
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";

  .termofuse-title {
    font-size: 20px;
    margin: 30px auto;
    font-weight: bold;
  }

  h3 {
    font-size: 17px;
    margin: 30px auto 10px auto;
    font-weight: bold;
  }

  #termofuse {
    ul {
      padding: 0;
      li {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 10px;
      }
      ul {
        padding: 0;
        margin-left: 25px;
      }
    }
  }
}

/*--------------------------------------------
　　　会社概要
---------------------------------------------*/
.about-wrapper {
  display: block;
  padding: 30px 50px;

  h2 {
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
    font-weight: bold;
  }

  table {
    margin: auto;
  }

  th {
    background-color: #efefef;;
    width: 250px;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    font-weight: 400;
  }

  td {
    padding: 10px;
    vertical-align: top;
  }
}

/*--------------------------------------------
　　　特定法商取引に関する表示
---------------------------------------------*/
.asct-wrapper {
  display: block;
  padding: 30px 50px;

  h2 {
    font-size: 20px;
    margin: 30px auto;
    font-weight: bold;
    text-align: center;
  }

  table {
    width: 60%;
    margin: 0 auto;
  }

  th {
    background-color: #efefef;;
    width: 250px;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    font-weight: 400;
  }

  td {
    padding: 6px;
    vertical-align: top;
    line-height: 1.5;
  }
}


/*--------------------------------------------

　　　     SP用

---------------------------------------------*/
@media screen and (max-width: 640px) {

  /*--------------------------------------------
　　　Q&A 
  ---------------------------------------------*/
  .faq-wrapper {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 20px 0 !important;
    padding: 0 20px;
    overflow: hidden;
    .faq-header {
      margin: 25px 0 30px 0;
    }
    .ac-faq-title {
      font-size: 26px;
    }

    .faq-link-item {
      width: 100% !important;
    }

    .faq-link-category-title {
      font-size: 18px !important;
    }

    .faq-link-item {
      font-size: 14px;
      margin-bottom: 13px !important;
    }

    .faq-link-list {
      overflow: hidden;
      padding-left: 20px;
    }

    .faq-category-title {
      font-size: 20px !important;
    }

    .faq-question {
      &:before {
        font-size: 24px !important;
        margin-right: 8px !important;
      }
      font-size: 16px !important;
    }

    .faq-answer {
      &:before {
        font-size: 24px !important;
      }
      font-size: 15px !important;
    }

    .faq-inquiry-title {
      font-size: 24px !important;
    }

    .faq-inquiry-text {
      font-size: 15px !important;
    }
  }

  /*--------------------------------------------
　　　プライバシーポリシー 
  ---------------------------------------------*/
  .privacy-wrapper {
    padding: 20px 30px;
  }

  .privacy-text {
    padding: 0 !important;

    ul {
      padding: 0 !important;
    }
  }

  /*--------------------------------------------
　　　利用規約 
  ---------------------------------------------*/
  .termofuse-wrapper {
    padding: 20px 15px;
  }

  #termofuse {

    ul {
      li {
        margin-left: 5px !important;
      }
      ul {
        margin-left: 10px !important;
      }
    }
  }

  /*--------------------------------------------
　　　会社概要
  ---------------------------------------------*/
  .about-wrapper {
    padding: 0 3px;
  }

  table {
    font-size: 14px !important;
  }

  th {
    background-color: #efefef;;
    width: 120px !important;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    font-weight: 400;
  }

  /*--------------------------------------------
　　　特定法商取引に関する表示
  ---------------------------------------------*/
  .asct-wrapper {
    padding: 0 3px;
  }

  table {
    width: 100% !important;
    font-size: 14px !important;
  }

  th {
    background-color: #efefef;;
    width: 120px !important;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    font-weight: 400;
  }
}
