// product_show
// - - - - - -

.sp {

  .sp_block_title {
    padding: 0 10px;
    font-size: 11px;
    line-height: 25px;
  }

  .product {

    .product_head {
      padding: 10px;
      background-color: #fff;

      h1 {
        margin-bottom: 10px;
        font-size: 13px;

        &::before {
          display: inline-block;
          content: '';
          width: 12px;
          height: 12px;
          margin: 1px 0 -1px 0;
          background-repeat: no-repeat;
          background-size: 12px 12px;
          background-position: 0 0;
        }
      }
      &.black h1::before {
        background-image: image-url('sp/common/fan/dot_black.gif');
      }
      &.gold h1::before {
        background-image: image-url('sp/common/fan/dot_gold.gif');
      }
      &.silver h1::before {
        background-image: image-url('sp/common/fan/dot_silver.gif');
      }
      &.bronze h1::before {
        background-image: image-url('sp/common/fan/dot_bronze.gif');
      }

      .head_status {
        font-size: 14px;
        text-align: right;

        .fab:after {
          display: inline-block;
          content: '';
          width: 13px;
          height: 12px;
          margin: 2px 0 -2px 4px;
          background-image: image-url("common/fav_black.png");
          background-size: 13px 12px;
          background-repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }
    .detail_images {
      padding: 10px;
      background-color: #fff;

      .detail_thumb {

        .bx-wrapper {
          position: relative;
        }

        z-index: 1;
        .bx-controls {
          .bx-controls-direction {
            a {
              position: absolute;
              display: inline-block;
              content: '';
              width: 30px;
              height: 30px;
              background-size: 30px 30px;
              top: 50%;
              z-index: 1000;
              &.bx-prev {
                left: 5px;
                background-image: image_url('sp/account/arrow_b_l.png');
              }
              &.bx-next {
                right: 5px;
                background-image: image_url('sp/account/arrow_b_r.png');
              }
            }
          }
        }

        margin-bottom: 10px;
        ul {
          li {
            position: relative;
            display: block;
            width: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
            }
            // middle -> 襟レイヤー
            // base -> シャツレイヤー
            .front,
            .middle,
            .base {
              position: relative;
              left: 0;
            }
            .front {
              top: 0;
              z-index: 65;
            }
            .middle {
              top: 0;
              z-index: 60;
            }
            .base {
              top: 0;
              z-index: 55;
            }
          }
        }
      }
    }
    .thumb_bxpager {
      padding: 5px;
      background-color: #fff;
      a {
        display: inline-block;
        width: 70px;
        height: 70px;
        padding: 5px;
      }
    }
    .add_fab {
      padding: 10px 10px 30px;
      background-color: #fff;

      a.vote,
      .signinToLike {
        display: block;
        width: 100%;
        margin: 10px 0;
        border: 1px solid #000;
        font-size: 10px;
        text-align: center;
        line-height: 40px;

        &::before {
          display: inline-block;
          content: '';
          width: 17px;
          height: 15px;
          margin: 8px 6px -4px 0;
          background-image: image-url("common/fav_white.png");
          background-size: 17px 15px;
          background-repeat: no-repeat;
          background-position: center;
        }
        &.liked::before {
          background-image: image-url("common/fav_red.png");
        }
      }
      p {
        line-height: 14px;
      }
      .info_mypage_link {
        float: right;
        color: #007ebe;
        margin-right: 10px;
        p {
          font-size: 12px;
        }
      }
    }
    .viewOtherCordinate {
      background-color: #fff;
      h3 {
        margin: 0;
        padding: 0 10px;
        font-size: 11px;
        line-height: 25px;
        background-color: #F8F8F8;
      }
      .pager_container {
        .pager_bxslider {
          .thumb_bxpager {
            width: 300px;
            margin: 0 auto;
            padding: 20px 5px 10px;
            a {
              position: relative;
              margin: 0 5px 15px;
              width: 60px;
              height: 60px;

              .front,
              .middle,
              .base {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
              }
              .front {
                z-index: 65;
              }
              .middle {
                z-index: 60;
              }
              .base {
                z-index: 55;
              }
            }
          }
        }
        .bx-wrapper {
          position: relative;
          .bx-controls {
            .bx-controls-direction {
              a {
                position: absolute;
                display: inline-block;
                content: '';
                width: 30px;
                height: 30px;
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-position: 0 0;
                top: 74px;

                &.bx-prev {
                  left: 5px;
                  background-image: image-url('sp/account/arrow_b_l.png');
                }
                &.bx-next {
                  right: 5px;
                  background-image: image-url('sp/account/arrow_b_r.png');
                }
              }
            }
          }
        }
      }
    }
    .cordinate_list {
      padding: 10px;
      background-color: white;
      ul {
        overflow: hidden;
        li {
          float: left;
          width: 17.5%;
          padding: 2.5px;

          div {

          }
        }
      }
      .more_info {
        text-align: right;
        a {
          font-size: 12px;
        }
      }
    }
    .product_detail {
      .detail_panel {
        padding: 30px 10px 10px;
        background-color: #fff;

        .panel_head {
          position: relative;
          margin-bottom: 10px;
          h4 {
            margin-bottom: 5px;
            font-size: 12px;
          }
          .brand_info {

            a {
              display: inline-block;
              padding: 2px 3px;
              border: 1px solid #000;

              &:before {
                display: inline-block;
                content: '>';
                margin: 2px;
              }
            }
          }
          .head_price {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 11px;
            text-align: right;

            span {
              display: block;
            }
          }
        }
        p {
          font-size: 11px;
          line-height: 18px;
        }
      }
    }
    .product_panel {
      padding: 20px 10px;
      background-color: #fff;
      font-size: 11px;
      line-height: 18px;
    }
    .product_size {

    }
  }
  .past_rentals,
  .referal_items {

    h4 {
      height: 30px;
    }

    a {
      text-align: center;
      display: block;
      width: 100%;
      line-height: 1.5;
      &.vote,
      &.signinToLike {
        border: 1px solid #DFDFDF;
        background-color: #f8f8f8;
        border-radius: 4px;
        font-size: 10px;
        padding: 2px;
        &:before {
          display: inline-block;
          content:'';
          width: 15px;
          height: 13px;
          margin-right: 4px;
          vertical-align: middle;
          background-image: image-url("common/fav_white.png");
          background-repeat: no-repeat;
          background-size: 15px 13px;
          background-position: 0 0;
        }
        &.liked::before {
          background-image: image-url("common/fav_red.png");
        }
      }
    }

    .items_box {
      background-color: #fff;
      width: 100%;
      padding: 10px;
      ul {
        width: 100%;
        li {
          a {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .bx-wrapper {
        .bx-pager {
          text-align: center;
          font-size: .85em;
          color: #666;
          padding-top: 20px;
          .bx-pager-item {
            display: inline-block;
          }
          a {
            background: #f8f8f8;
            text-indent: -9999px;
            display: block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            outline: 0;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            box-shadow: rgba(204, 204, 204, 0.658824) 1px 1px 1px 1px inset;
            &.active {
              background-color: #d6d6d6;
            }
          }
        }
        /* .bx-controls {
          .bx-controls-direction {
            a {
              position: absolute;
              display: inline-block;
              content: '';
              width: 30px;
              height: 30px;
              background-size: 30px 30px;
              background-repeat: no-repeat;
              background-position: 0 0;
              top: 74px;

              &.bx-prev {
                left: 5px;
                background-image: image-url('sp/account/arrow_b_l.png');
              }
              &.bx-next {
                right: 5px;
                background-image: image-url('sp/account/arrow_b_r.png');
              }
            }
          }
        } */
      }
      .more {
        padding: 10px;
        text-align: right;
        font-size: 12px;
        a:after {
          display: inline-block;
          content: '';
          width: 16px;
          height: 9px;
          margin-left: 6px;
          background-image: image-url('sp/products/arrow-down-2.png');
          background-size: 16px 9px;
          background-repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }
  }
}


// product_show
.pc {
  .product {
    .product_detail {
      padding: 0 12px;

      .detail_images {
        float: left;
        width: 500px;

        h3 {
          margin: 0 0 20px;
          font-size: 18px;
          font-weight: normal;
        }

        .bx-wrapper {
          position: relative;
        }

        .detail_thumb {
          margin-bottom: 20px;

          .thumb_bxpager {
            margin: 20px 0 0px -10px;
            overflow: hidden;
            a {
              float: left;
              display: block;
              width: 75px;
              height: 75px;
              margin-left: 10px;
              margin-bottom: 10px;
              img {
                width: 100%;
              }
            }
          }
          ul {
            li {
              position: relative;
              width: 500px;
              height: 500px;
              overflow: hidden;
              img {
                width: 100%;
                z-index: 30;
              }
              // middle -> 襟レイヤー
              // base -> シャツレイヤー
              .front,
              .middle,
              .base {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 500px;
                height: 500px;
              }
              .front {
                z-index: 65;
              }
              .middle {
                z-index: 60;
              }
              .base {
                z-index: 55;
              }
            }
          }

          .bx-controls {
            .bx-controls-direction {
              a {
                position: absolute;
                display: inline-block;
                content: '';
                width: 38px;
                height: 70px;
                background-image: image-url('common/ui.png');
                background-size: 155px 125px;
                background-repeat: no-repeat;
                top: 40%;
                z-index: 1000;
                &.bx-prev {
                  left: -50px;
                  background-position: 0 -56px;
                }
                &.bx-next {
                  text-align: right;
                  right: -50px;
                  background-position: -38px -56px;
                }
              }
            }
          }
        }
        .viewOtherCordinate {
          .pager_container {
            margin: 20px 0 0px -10px;
            padding: 40px 0;
            border-bottom: 1px solid #c7c7c7;

            .thumb_bxpager {
              overflow: hidden;
              a {
                float: left;
                position: relative;
                display: block;
                width: 117px;
                height: 117px;
                margin: 0 0 10px 10px;

                img {
                  width: 100%;
                }

                .front,
                .middle,
                .base {
                  display: inline-block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 117px;
                  height: 117px;
                  background-size: cover;
                }
                .front {
                  z-index: 65;
                }
                .middle {
                  z-index: 60;
                }
                .base {
                  z-index: 55;
                }
              }
            }
            .bx-wrapper {
              position: relative;
              .bx-controls {
                color: red;
                .bx-controls-direction {
                  a {
                    position: absolute;
                    display: inline-block;
                    content: '';
                    width: 38px;
                    height: 70px;
                    background-image: image-url('common/ui.png');
                    background-size: 155px 125px;
                    background-repeat: no-repeat;
                    top: 80px;

                    &.bx-prev {
                      left: -50px;
                      background-position: 0 -56px;
                    }
                    &.bx-next {
                      text-align: right;
                      right: -50px;
                      background-position: -38px -56px;
                    }
                  }
                }
              }
            }
          }
        }

        // bxControls
        .fav_cordinate,
        .past_rentals {
          .bx-wrapper {
            position: relative;
            .bx-controls {
              .bx-controls-direction {
                a {
                  position: absolute;
                  display: inline-block;
                  content: '';
                  width: 38px;
                  height: 70px;
                  background-image: image-url('common/ui.png');
                  background-size: 155px 125px;
                  background-repeat: no-repeat;

                  &.bx-prev {
                    left: -50px;
                    background-position: 0 -56px;
                  }
                  &.bx-next {
                    text-align: right;
                    right: -50px;
                    background-position: -38px -56px;
                  }
                }
              }
            }
          }
        }
        .fav_cordinate {
          margin: 20px 0 40px;
          padding: 0 0 40px;
          border-bottom: 1px solid #c7c7c7;
          .bx-controls-direction {
            a {
              top: 44px;
            }
          }
        }
        .past_rentals {
          margin: 20px 0 40px;
          padding: 0 0 40px;
          border-bottom: 1px solid #c7c7c7;
          .bx-controls-direction {
            a {
              top: 22px;
            }
          }
        }
        .referal_items {
          margin: 20px 0 40px;
          padding: 0 0 40px;
          border-bottom: 1px solid #c7c7c7;
          ul {
            margin-left: -10px;
            overflow: hidden;
            li {
              float: left;
              display: block;
              width: 115px;
              margin-bottom: 10px;
              margin-left: 10px;

              img {
                width: 115px;
                height: 115px;
              }
              h4 {
                margin: 4px 0;
                height: 30px;
                max-height: 30px;
                overflow: hidden;
              }
              div {
                display: block;
                width: 100%;
                line-height: 20px;
                text-align: center;
                border: 1px solid #000;

                &.not_available {
                  background-color: #c60021;
                  border-color: #c60021;
                  color: white;
                }
              }
            }
          }
          a {
            display: block;
            width: 100%;
            text-align: center;
            &.vote,
            &.signinToLike {
              border: 1px solid #DFDFDF;
              background-color: #f8f8f8;
              border-radius: 6px;
              font-size: 10px;
              line-height: 22px;
              cursor: pointer;
              &:before {
                display: inline-block;
                content: '';
                width: 15px;
                height: 13px;
                margin-right: 4px;
                vertical-align: middle;
                background-image: image-url("common/fav_white.png");
                background-repeat: no-repeat;
                background-size: 15px 13px;
                background-position: 0 0;
              }
              &.liked::before {
                background-image: image-url("common/fav_red.png");
              }
            }
          }
        }
      }
      .detail_info {
        float: right;
        width: 360px;
        .info_meta {
          margin-bottom: 20px;
          ul {
            display: table;
            li {
              display: table-row;
              label, span {
                display: table-cell;
                font-size: 13px;
                line-height: 25px;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .info_buttons {
          padding: 0 0 40px;
          margin-bottom: 40px;
          border-bottom: 1px solid #c7c7c7;
          .outOfStock {
            margin-bottom: 10px;
            background-color: #e8e8e8;
            font-size: 10px;
            line-height: 26px;
            color: #666;
            text-align: center;
          }
          .rentaled {
            margin: 10px 0;
          }
          a.vote,
          .signinToLike {
            display: block;
            width: 100%;
            height: 54px;
            background-color: #F8F8F8;
            border: 1px solid #CCC;
            border-radius: 8px;
            font-size: 16px;
            color: #999;
            text-align: center;

            &::before {
              display: inline-block;
              content: '';
              width: 30px;
              height: 28px;
              margin: 13px 10px -8px 0;
              background-image: image-url("common/fav_white.png");
              background-size: 30px 28px;
              background-repeat: no-repeat;
              background-position: 0 0;
            }
            &.liked::before {
              background-image: image-url("common/fav_red.png");
            }
          }
          p {
            line-height: 18px;
            margin: 10px 0 0 0;
          }
        }
        .info_brands {
          padding: 0 0 40px;
          margin-bottom: 40px;
          border-bottom: 1px solid #c7c7c7;
        }
        .info_itemDetail {
          padding: 0 0 40px;
          margin-bottom: 40px;
          border-bottom: 1px solid #c7c7c7;
          h3 {
            font-size: 18px;
            font-weight: normal;
          }
          h4 {
            font-weight: bold;
          }
          p {
            font-size: 14px;
          }
        }
        .info_mypage_link {
          float: right;
          color: #007ebe;
          margin-right: 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
