// Mobile Style
.sp {
  .products {
    position: relative;

    .products_head {
      padding: 0 10px 4px;
      background-color: #fff;

      h1 {
        padding: 5px 0;
      }
      span {
        font-size: 10px;
      }
    }

    .sort {
      overflow: hidden;
      padding: 0 10px;
      background-color: #fff;
      form {
        float: right;
        select {
          display: inline-block;
          -webkit-appearance: none;
          appearance: none;
          padding: 4px 18px 4px 8px;
          background-color: #fff;
          border: 1px solid #000;
          border-radius: 0;
          overflow: hidden;
          background-image: image-url('sp/products/arrow-down.png');
          background-repeat: no-repeat;
          background-position: right 8px top 10px;
          background-size: 8px 5px;
        }
      }
    }

    .products_pager {
      padding: 15px 6px 4px;
      background-color: #fff;
      &.pager_bottom {
        padding-bottom: 50px;
      }

      nav.pagination {
        text-align: center;
        font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
        font-weight: normal;

        .page {
          display: inline-block;
          margin: 5px 3px;
          font-size: 12px;
          a,
          &.current {
            position: relative;
            width: 22px;
            height: 22px;
            line-height: 20px;
            border: 1px solid #ccc;
            border-radius: 50%;
            text-align: center;
          }
          a {
            display: block;
          }
          &.current {
            color: #999;
          }
        }
        .first a,
        .prev a,
        .next a,
        .last a {
          display: inline-block;
          width: auto;
          margin: 4px;
          border: none;
          font-size: 12px;
          line-height: 18px;
          white-space: nowrap;
          text-transform: uppercase;
        }
      }
    }

    .products_cont {
      padding: 5px;

      ul {
        overflow: hidden;

        li {
          float: left;
          width: 50%;
          padding: 5px;
          text-align: center;

          .li_inner {
            position: relative;
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: 0 0;

            .image_wrap {
              a {
                img {
                  width: 100%;
                }
              }
            }
          }

          &.bronze .li_inner {
            background-image: image-url('sp/common/fan/dot_bronze.gif');
          }
          &.silver .li_inner {
            background-image: image-url('sp/common/fan/dot_silver.gif');
          }
          &.gold .li_inner {
            background-image: image-url('sp/common/fan/dot_gold.gif');
          }
          &.black .li_inner {
            background-image: image-url('sp/common/fan/dot_black.gif');
          }
          h3 {
            margin-bottom: 5px;
            padding: 10px 10px 0;
            font-size: 10px;
            font-weight: normal;
            line-height: 12px;
            height: 34px;
            overflow: hidden;
          }

          &>a {
            display: block;
            width: 100%;
          }

          // アイテムステータス
          &.outOfStock,
          &.duringTheRental {
            .image_wrap {
              position: relative;
              div {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 50;
                background-color: rgba(0, 0, 0, 0.2);

                &:before, &:after {
                  position: relative;
                }

                span {
                  position: absolute;
                  display: block;
                  top: 50%;
                  left: 50%;
                  padding: 5px 10px;
                  font-size: 13px;
                  border: 1px solid white;
                  color: white;
                }
              }
            }
          }
          &.outOfStock .image_wrap div span {
            // Fixed Position
            margin: -13px 0 0 -37px;
          }
          &.duringTheRental .image_wrap div span {
            // Fixed Position
            margin: -13px 0 0 -43.5px;
          }

          .fab_btn {
            padding: 6px;
            text-align: right;

            .item_status {
              display: inline-block;
            }

            .fabbutton {
              display: inline-block;
              padding: 2px 6px 2px 8px;
              border: 1px solid #000;
              font-size: 12px;

              a {
                &:after {
                  display: inline-block;
                  content:'';
                  width: 13px;
                  height: 12px;
                  margin: -1px 0 1px 6px;
                  vertical-align: middle;
                  background-image: image-url("common/sfab_buttom.png");
                  background-repeat: no-repeat;
                  background-size: 26px 12px;
                  background-position: 0 0;
                }
                &.liked:after {
                  background-position: -13px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Desktop Style
.pc {
  .wrap_index {
    margin-bottom: 150px;
    overflow: hidden;
    &.second {
      margin-bottom: 80px;
    }

    .index_filter, .index_products {
      float: left;
      position: relative;
    }
    .index_filter {
      width: 200px;
    }
    .index_products {
      width: 720px;
      margin-left: 30px;
    }
  }
  .index_filter {
    nav {
      background-color: #F0F0F0;
      h3 {
        margin-bottom: 0;
        padding: 5px 15px;
       /* border-bottom: 1px solid #e6e6e6;*/
        font-size: 18px;
        /* line-height: 29px;*/
        font-weight: normal;
        color: #2d2d2d;
        background-color: #f8f8f8;
      }
      div:last-child {
        /* padding-bottom: 50px;*/
      }
      ul {
        li {
          background-color: transparent;
          a {
            display: block;
            padding: 6px 15px;
            font-size: 13px;
            line-height: 20px;
            color: #646464;
            &:before {
              content: '・ ';
            }
          }
          &:hover {
            /*background-color: #fff;*/
          }
          &.selected {
            background-color: #E4E4E4;
          }
        }
      }
      .filter_brand {
        ul {
          /*display: none;*/

          .brand_list_link {
            color: #007ebe;
            display: block;
            position: relative;
            left: 109px;
            padding: 5px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .acrd_box {
          padding: 10px 15px;
          text-align: right;
          span {
            border-bottom: 1px dotted #333;
            color: #666;
            cursor: pointer;
          }
        }
      }

      .brand-list {
        .brand-prefix {
          .list {
            label {
              font-size: 11px;
            }
            .list_filter {
              display: inline !important;
            }
          }
        }
      }

      .filter_sort {
        h3 {
        }
        ul {
          li {
            padding: 10px 15px;
            input {
              cursor: pointer;
            }
            label {
              font-weight: normal;
              color: #646464;
              cursor: pointer;
            }
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
      .panel-color {
        @include color_parts('pc')
      }
    }
  }
  .products_pager {
    margin: 40px 0;

    nav.pagination {
      text-align: center;
      font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;

      .page {
        display: inline-block;
        margin: 0 4px;
        a,
        &.current {
          position: relative;
        }
        a {
          display: block;
        }
        &.current {
          color: #666;
        }
      }
      .first a,
      .prev a,
      .next a,
      .last a {
        display: inline-block;
        width: auto;
        margin: 4px;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }
  .products {

    .index_products {
      width: 720px;
      margin-left: 30px;
      .products_result {
        padding-bottom: 4px;
        text-align: right;
        border-bottom: 1px solid #999;
        span {
          font-weight: bold;
        }
      }
      .products_cont {
        padding: 0 10px;
        ul {
          margin-left: -24px;
          overflow: hidden;
          li {
            float: left;
            width: 157px;
            margin: 0 0 24px 24px;
            text-align: center;
            color: #848484;
            a {
              position: relative;
              display: block;
              width: 100%;
              &.vote,
              &.signinToLike {
                width: calc(100% - 20px);
                margin: 0 10px;
                border: 1px solid #DFDFDF;
                background-color: #f8f8f8;
                border-radius: 6px;
                font-size: 12px;
                line-height: 22px;
                cursor: pointer;
                &:before {
                  display: inline-block;
                  content:'';
                  width: 15px;
                  height: 13px;
                  margin-right: 4px;
                  vertical-align: middle;
                  background-image: image-url("common/fav_white.png");
                  background-repeat: no-repeat;
                  background-size: 15px 13px;
                  background-position: 0 0;
                }
                &.liked::before {
                  background-image: image-url("common/fav_red.png");
                }
              }

              div {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 50;
                background-color: rgba(0,0,0,0.2);

                span {
                  margin: -13px 0 0 -37px;
                  position: absolute;
                  display: block;
                  top: 50%;
                  left: 50%;
                  padding: 5px 10px;
                  font-size: 13px;
                  border: 1px solid white;
                  color: white;
                }
              }

              .plan_dot {
                width: 20px;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
            h3 {
              height: 38px;
              margin: 10px 0 8px;
              font-size: 14px;
              line-height: 18px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
