// プラン後ごとのsubmitボタン
@mixin plans_submit_button {
  &.bronze {
    background-image: image-url('sp/account/btn_bronze.gif');
  }
  &.silver {
    background-image: image-url('sp/account/btn_silver.gif');
  }
  &.gold {
    background-image: image-url('sp/account/btn_gold.gif');
  }
  &.black {
    background-image: image-url('sp/account/btn_black.gif');
  }
}

// Subscriptions
.sp {
  // Step1
  .type_container {
    background-color: #fff;
    h2, h3, p {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }

  // Step1 for account page
  .type_container.account {
    padding: 20px 0;
    .type_catch {
      padding: 20px 0;
      margin-bottom: 20px;
      background-color: #f8f8f8;
      font-size: 24px;
    }
  }

  // トップページでも利用
  .type_list {
    padding: 20px 10px;
    text-align: center;
    .typelist_box {
      position: relative;
      width: 240px;
      margin: 0 auto;
      ul {
        li {
          box-sizing: border-box;
          div {
            padding: 0 20px;
          }
          .next {
            width: 196px;
            height: 52px;
            border: none;
            background-color: transparent;
            background-size: 196px 52px;
            background-position: 0 0;
            background-repeat: no-repeat;
            @include plans_submit_button();
          }
        }
      }
      img {
        &.plan {
          width: 184px;
          margin-bottom: 15px;
        }
        &.button {
          width: 196px;
        }
      }

      .bx-wrapper {
        .bx-viewport {
          overflow: visible !important;
        }
      }
      .bx-controls {
        .bx-controls-direction {
          a {
            display: inline-block;
            position: absolute;
            top: 196px;
            width: 56px;
            height: 56px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 56px 56px;

            &.bx-prev {
              background-image: image-url('sp/account/arrow_b_l.png');
              left: -15px;
            }
            &.bx-next {
              background-image: image-url('sp/account/arrow_b_r.png');
              right: -15px;
            }
          }
        }
      }
    }
  }

  #plan_desc {
    .plan_desc_box {
      .plan_name {
        display: table;
        width: 90%;
        text-align: center;
        margin: 0 auto 20px;
        font-size: 18px;
        font-weight: bold;
        &:before, &:after {
          content: '';
          display: block;
          position: relative;
          top: -6px;
          border-top: 1px solid #d7d7d7;
        }
        h3 {
          text-align: center;
          padding: 0 20px;
          display: table-cell;
          width: 1px;
          font-weight: bold;
        }
        &.bronze {
          color: $bronze;
        }
        &.silver {
          color: $silver;
        }
        &.gold {
          color: $gold;
        }
      }
      .stock_total {
        font-weight: bold;
        p {
          margin: 8px 0;
          font-size: 16px;
        }
      }
      .desc_text {
        p {
          font-size: 14px;
          padding: 0 5px;
          text-align: justify;
        }
      }
      .desc_plan_brands {
        margin: 10px 0 0 0;
        p {
          width: 140px;
          font-size: 11px;
          padding: 0;
          margin: 0 auto 15px;
          text-decoration: underline;
        }

        ul {
          padding: 0;
          text-align: center;
          display: table;
          width: 100%;
          li {
            width: 50%;
            display: table-cell;
            margin: 5px 0;
            font-size: 14px;
          }
        }
        .plan_product_link {
          border: 1px solid #007ebe;
          margin: 15px auto;
          padding: 10px;
          color: #007ebe;
          display: block;
          width: 200px;
          text-align: center;
        }
      }
    }
  }

  .type_alert {
    margin: 20px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    clear: both;
  }
  .type_notice {
    padding: 20px 30px 40px;

    div {
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #000;
      font-size: 11px;
      line-height: 18px;
      text-align: center;
      span {
        text-decoration: underline;
      }
    }
    p {
      font-size: 9px;
      line-height: 18px;
      text-align: left;
    }
  }

  // Step2
  .card_options {
    padding: 5px 10px;
  }
  #existing_cards {
    padding: 5px 10px;
  }
  .submit_area {
    .button-block.sbscConfirmBtn {
      width: 100%;
    }
  }
}


// PC
// - - -
.pc {

  // Step 1
  .select_plan {
    .type_title {
      margin-bottom: 20px;
      div {
        overflow: hidden;
        img {
          float: left;
        }
      }
    }
    .type_list {
      width: 80%;
      padding: 20px 0;
      margin: 0 auto;
      ul {
        overflow: hidden;
        li {
          float: left;
          width: 33%;
          padding: 20px 10px;
          text-align: center;

          // プランごとの色の設定
          @mixin sbsc_color($type) {
            $color: '';
            @if $type == 'sbsc1' {
              $color: $bronze;
            } @else if($type == 'sbsc2') {
              $color: $silver;
            } @else if($type == 'sbsc3') {
              $color: $gold;
            } @else if($type == 'sbsc4') {
              $color: $black;
            }
            &.#{$type} {
              border: 1px solid $color;
              .plan_title {
                background-color: $color;
                @if $type == 'sbsc4' {
                  color: white;
                }
              }
              .plan_price {
                p {
                  background-color: $color;
                }
              }
            }
          }

          &.selected {
            .sbsc {
              height: 560px;
              margin-top: -18px;
              .plan_title {
                line-height: 65px;
                height: 65px;
              }
            }
          }

          .sbsc {
            @include sbsc_color('sbsc1');
            @include sbsc_color('sbsc2');
            @include sbsc_color('sbsc3');
            @include sbsc_color('sbsc4');
            height: 542px;

            div:not(.plan_title) {
              width: 86%;
              margin: 0 auto;
            }
            .plan_title {
              height: 47px;
              line-height: 47px;
              font-size: 19px;
              padding: 0;
            }
            .plan_price {
              font-family: verdana, arial, helvetica, sans-serif;
              padding: 30px 0 0px 0;
              border-bottom: 1px solid #BBBBBB;
              font-size: 47px;
              span {
                font-size: 27px;
              }
              p {
                color: white;
                display: block;
                margin: 15px auto;
                font-size: 15px;
                width: 140px;
                padding: 5px 9px;
                border-radius: 8px;
              }
            }

            .max_rental {
              border-bottom: 1px solid #BBBBBB;
              padding-bottom: 24px;
              width: 86%;
              margin: 0 auto;
              p {
                font-family: 'Estrangelo Edessa';
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                span {
                  font-size: 64px;
                }
              }
            }

            .plan_brands {
              border-bottom: 1px solid #BBBBBB;
              height: 114px;
              p {
                margin-bottom: 5px !important;
              }
              ul {
                position: relative;
                z-index: 9999;
                padding: 0;
                li {
                  clear: both;
                  width: 100%;
                  padding: 3px 0;
                  a {
                    font-weight: bold;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }

            .type {
              p {font-weight: bold}
            }

            .gray_title {
              color: #929292;
              margin: 11px 0 !important;
              font-size: 14px !important;
              font-weight: normal !important;
            }
          }

          &.recommended {
            //margin-top: -20px;
          }
          div {
            position: relative;
            cursor: pointer;
            img {
              width: 100%;
            }
            span.select_border {
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-style: solid;
              border-color: #E67850;
              border-width: 0;
              background-color: transparent;
              z-index: 10;
              -webkit-transition: border-width 0.3s ease;
              -moz-transition: border-width 0.3s ease;
              -o-transition: border-width 0.3s ease;
              transition: border-width 0.3s ease;
            }
          }
          &:hover div span {
            border-width: 8px;
          }
          &.selected div span {
            border-width: 8px;
          }

          form {
            display: none;
          }

          .sbsc3 {
            & + form {
              display: block;
            }
          }
          .next {
            width: 220px;
            height: 55px;
            border: none;
            background-color: transparent;
            background-size: 220px 55px;
            background-position: 0 0;
            background-repeat: no-repeat;
            margin: 10px 0;
            @include plans_submit_button();
          }
        }

        li.selected {

        }
      }
    }
    .type_alert {
      padding: 20px 0;
      border-bottom: 1px solid #000;
      font-size: 16px;
      text-align: center;
      clear: both;
    }
    .type_ctrl {
      margin: 20px 0;
      padding: 20px 10px;
      text-align: right;
      .next {
        content: '';
        cursor: pointer;
        width: 120px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-image: image-url('pc/subscriptions/next.png');
        background-repeat: no-repeat;
        background-size: 120px 24px;
      }
    }

    // プランの説明
    #plan_desc {
      .plan_desc_box {
        width: 85%;
        margin: 15px auto;
        overflow: hidden;
      }
      .plan_name {
        display: table;
        width: 90%;
        text-align: center;
        margin: 0 auto 20px;
        &:before, &:after {
          content: '';
          display: block;
          position: relative;
          top: -6px;
          border-top: 1px solid #d7d7d7;
        }
        font-size: 18px;
        font-weight: bold;
        h3 {
          text-align: center;
          padding: 0 20px;
          display: table-cell;
          width: 1px;
          text-transform: uppercase;
          white-space: nowrap;
        }
        &.bronze {
          color: #C89A68;
        }
        &.silver {
          color: #C2BEBD;
        }
        &.gold {
          color: #C49801;
        }
      }
      .stock_total {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
      }
      // 説明文
      .desc_text {
        height: 50px;
        width: 80%;
        margin: 0 auto;
        line-height: 1.5;
      }
      .desc_plan_brands {
        p {
          text-align: center;
          font-weight: bold;
        }
        ul {
          width: 100%;
          margin: 15px auto;
          padding: 0;
          display: table;
          li {
            display: table-cell;
            width: 33%;
            text-align: center;
            margin: 3px 0;

            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .plan_product_link {
          display: block;
          text-align: center;
          border: solid 1px #ccc;
          width: 226px;
          padding: 7px;
          margin: 0 auto;
          @include css3(transition, 0.3s ease all);
          &.bronze {
            color: $bronze;
          }

          &.silver {
            color: $silver;
          }

          &.gold {
            color: $gold;
          }

          &:hover {
            border-color: #59b1eb;
            color: #59b1eb;
            box-shadow: 3px 3px 0 #59b1eb;
          }
        }
      }
      form {
        width: 150px;
        float: right;
        margin-right: 40px;
        input.next {
          width: 150px;
          height: 40px;
          border: none;
          background-color: transparent;
          background-size: 150px 40px;
          background-position: 0 0;
          background-repeat: no-repeat;
          margin: 10px auto;
          @include plans_submit_button();
          display: block;
          @include css3(transition, 0.3s ease all);
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  // Step 2
  // Payment Address
  .payment_address {
    .address_title {
      margin-bottom: 20px;
      div {
        overflow: hidden;
        img {
          float: left;
        }
      }
    }
    .min-conteiner {
      width: 450px;
      margin: 40px auto;
      .input_row {
        .split_2 {
          margin-bottom: 1px;
        }
      }
    }
    .pay_label {
      background-color: #e9e9e9;
      text-align: center;
      line-height: 30px;
    }
    #cvv_link {
      position: relative;
      top: 20px;
      border-bottom: 1px dotted #848484;
      color: #848484;
    }
    .submit {
      border-top: 1px solid #999999;
      .confirm {
        margin: 20px 0;
        text-align: center;
        a {
          color: #0036d3;
        }
      }
      .submit_buttom {
        input {
          padding: 12px 10px;
          border: none;
          background-color: #000;
          font-size: 16px;
          color: white;
        }
      }
    }
  }
}
