// common
// sp
// pc

// Common
// - - - - - - -
// Thanks
.rgstThanks {
  padding: 100px 0 0;
  @media all and (max-width: 768px) {
    padding: 40px 0 80px;
  }
  h1 {
    font-weight: normal;
    text-align: center;
  }
  .homeLink {
    margin: 50px 0;
    padding: 0 15px;
    text-align: center;
    a {
      display: inline-block;
      width: 260px;
      background-color: #000;
      line-height: 48px;
      color: white;
    }

    @media all and (max-width: 768px) {
      margin: 20px 0;
      a {
        width: 100%;
      }
    }
  }
  .pr-plans {
    margin: 50px 0 100px;
  }
}

// account_summary

.sp {

  // pay-plan-thanks
  .rgstThanks {
    &.pay-plan {
      h1 {
        font-size: 21px;
      }
      h3 {
        margin: 25px 0;
        font-size: 13px;
      }
      .homeLink {
        a {
          background-color: #E15B5F;
          font-size: 21px;
        }
      }
    }
  }

  .payment_address {
    background-color: #fff;

    h2 {
      width: 100%;
      height: 50px;
      padding: 16px 10px;
      font-size: 14px;
      font-weight: bold;
      border: 1px solid #aeaeae;
      border-width: 1px 0 2px;

      &:first-child {
        border-width: 2px 0 1px;
      }
    }
    input::-webkit-input-placeholder,
    input:-moz-placeholder {
      color: #999;
    }
    .submit_area {
      .confirm {
        text-align: center;
      }
      .submit_button {
        padding: 10px;
      }
    }
  }

  // Payment Address and Checkout Payment
  .cvv_link {
    padding: 5px 10px;
    a {
      color: #999;
      text-decoration: underline;
    }
  }

  .user_summary {
    background-color: #fff;

    .pre_title{
      padding-top: 20px;
    }

    .label_set {
      background-color: #f8f8f8;
    }
    // for premium account
    .rentaled_item_list {
      ul {
        li {
          position: relative;
          border-style: solid;
          border-width: 2px 0;
          border-color: #c2c2c2;
          &+li {
            border-top-width: 0;
          }
          .product_info {
            display: table;
            width: 100%;
            .image_col,
            .info_col {
              position: relative;
              display: table-cell;
              vertical-align: top;
            }

            .image_col {
              position: relative;
              width: 100px;
              height: 100px;

              img {
                width: 100px;
                height: 100px;
              }

              .fan {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 14px;
                height: 14px;
                background-position: 0 0;
                background-size: 14px;
                background-repeat: no-repeat;
                z-index: 20;

                &.gold {
                  background-image: image-url('sp/account/fan/gold-fan.png');
                }
                &.silver {
                  background-image: image-url('sp/account/fan/silver-fan.png');
                }
                &.bronze {
                  background-image: image-url('sp/account/fan/bronze-fan.png');
                }
                &.black {
                  background-image: image-url('sp/account/fan/black-fan.png');
                }
              }
            }
            .info_col {
              text-align: right;
              .count {
                padding: 20px 10px;
                font-size: 12px;
                line-height: 14px;
                img {
                  height: 14px;
                }
              }
              .tags {
                padding: 0 10px;
                font-size: 10px;
                line-height: 18px;
                text-align: right;
              }
            }
          }
          .buy_product {
            padding: 10px 15px;
            background-color: #f8f8f8;
            .buy_buttom {
              border: 1px solid #000;
              font-size: 10px;
              line-height: 20px;
              text-align: center;
              .add-to-cart-button {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                padding: 0;
                border: none;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
    .summary_item_list {
      ul {
        li {
          position: relative;
          display: table;
          width: 100%;
          border: 1px solid #aeaeae;
          border-width: 1px 0;

          &+li {
            border-top-width: 0;
          }
          .image_col,
          .info_col {
            position: relative;
            display: table-cell;
            vertical-align: top;
          }

          .image_col {
            width: 88px;
            height: 88px;
            img {
              width: 88px;
              height: 88px;
            }

            .fan {
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              width: 12px;
              height: 12px;
              background-repeat: no-repeat;
              background-position: 0 0;
              background-size: 12px;

              &.gold {
                background-image: image-url('sp/account/fan/gold-fan.png');
              }
              &.silver {
                background-image: image-url('sp/account/fan/silver-fan.png');
              }
              &.bronze {
                background-image: image-url('sp/account/fan/bronze-fan.png');
              }
              &.black {
                background-image: image-url('sp/account/fan/black-fan.png');
              }
            }
          }

          // アイテムステータス
          &.outOfStock,
          &.duringTheRental {
            .image_col {
              position: relative;
              div {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 50;
                background-color: rgba(0, 0, 0, 0.2);

                &:before, &:after {
                  position: relative;
                }

                span {
                  position: absolute;
                  display: block;
                  top: 50%;
                  left: 50%;
                  padding: 3px 6px;
                  font-size: 8px;
                  border: 1px solid white;
                  color: white;
                }
              }
            }
          }
          &.outOfStock .image_col div span {
            // Fixed Position
            margin: -8px 0 0 -23px;
          }
          &.duringTheRental .image_wrap div span {
            // Fixed Position
            margin: -8px 0 0 -27px;
          }

          .info_col {
            position: relative;
            padding: 10px 10px 4px;

            .count {
              font-size: 11px;
              line-height: 12px;
              img {
                height: 12px;
              }
            }

            .tags {
              /*position: absolute;*/
              /*bottom: 8px;*/
              font-size: 10px;
              font-weight: bold;
              line-height: 12px;
              padding-top: 5px;
              padding-bottom: 5px;
              div {
                max-width: 100%;
                max-height: 12px;
                overflow: hidden;
              }
              .outOfStock,
              .duringTheRental {
              }
            }

            .buttons {
              /*position: absolute;*/
              /*top: 4px;*/
              /*right: 10px;*/

              .item-category,
              .rental-form {
                display: none;
              }

              form {
                display: inline-block;

                #inside-product-cart-form {
                  display: inline-block;
                  /*margin-left: 7px;*/
                }
              }
              button, .button {
                -webkit-appearance: none;
                appearance: none;
                padding: 0;
                border: none;
                background-color: transparent;
                img {
                  width: 100px;
                  height: 28px;
                }
              }
            }
          }
        }
      }
      .viewMore {
        padding: 5px 15px;
        a {
          display: block;
          padding: 10px;
          border: 1px solid #000;
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }

  // 取引履歴
  .trading_container {
    background-color: #fff;

    .next_payment {
      padding: 30px 0;
      .payment_wrap {
        width: 260px;
        margin: 0 auto;
        padding: 0 8px;
        border: 1px solid #000;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
      }
    }
    .archive_payment {
      li {
        padding: 15px;
        border-width: 2px 0;
        border-style: solid;
        border-color: #e5e5e5;

        &:nth-child(odd) {
          background-color: #f8f8f8;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
        &+li {
          border-width: 0 0 2px;
        }
        .payment_head,
        .payment_foot {
          overflow: hidden;
        }
        .payment_head {
          margin-bottom: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid #e5e5e5;

          .payment-day {
            float: left;
            font-size: 12px;
            line-height: 14px;
          }
          .payment-plan {
            float: right;
            width: 72px;
            height: 14px;
            background-size: 72px 14px;
            background-repeat: no-repeat;
            background-position: 0 0;

            &.gold {
              background-image: image-url('sp/account/record/gold.png');
            }
            &.silver {
              background-image: image-url('sp/account/record/gold.png');
            }
            &.bronze {
              background-image: image-url('sp/account/record/gold.png');
            }
            &.black {
              background-image: image-url('sp/account/record/black.png');
            }
          }
        }
        .payment_body {
          padding: 10px 0;
          font-size: 14px;
          line-height: 18px;
          .payment-description {
            height: 54px;
            overflow: hidden;
          }
        }
        .payment_foot {
          .payment-condition {
            float: left;
            width: 141px;
            height: 18px;
            background-size: 141px 16px;
            background-repeat: no-repeat;
            background-position: 0 0;

            &.approved {
              background-image: image-url('sp/account/record/approved.png');
            }
            &.error {
              background-image: image-url('sp/account/record/error.png');
            }
          }
          .payment-price {
            float: right;
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
    }
    .payment_pager {
      padding: 30px;
      background-color: #fff;
      ul {
        text-align: center;
        li {
          display: inline-block;
          margin: 0 10px;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
  .account_summary {
    background-color: #fff;
    .summary_head {
      padding: 20px 0 10px;
      background-color: white;
      border-bottom: 0.5px solid #c2c2c2;
      text-align: center;

      h2 {
        font-size: 15px;
        line-height: 24px;
      }
      .account_status {
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        color: black;

        &.gold {
          color: $gold;
        }
        &.silver {
          color: $silver;
        }
        &.bronze {
          color: $bronze;
        }
      }
    }

    .summary_table {

      .label {
        display: block;
        width: 100%;
        padding: 8px 10px;
        background-color: #f7f7f7;
        border-top: 1px solid #d7d7d7;
        font-size: 13px;
      }
      .summary_row {
        display: table;
        border-collapse: collapse;
        width: 100%;

        &:last-child {
          border-bottom: 1px solid #d7d7d7;
        }

        div {
          display: table-cell;
          width: auto;
          padding: 10px;
          font-size: 15px;
          line-height: 17px;
          vertical-align: middle;

          &.naiyou {
            font-size: 11px;
            width: 75%;
            &.plan {
              text-transform: uppercase;
            }
          }
          &.button_right {
            text-align: center;
            a {
              display: inline-block;
              font-size: 10px;
              border: 1px solid #000;
              padding: 4px 8px;
            }
          }
        }
      }
    }
    .backToMypage {
      padding: 30px 0;
      background-color: #fff;
      text-align: center;

      .button {
        display: inline-block;
        padding: 10px 90px;
        background-color: #212121;
        font-size: 13px;
        color: white;
      }
    }
  }

  .editAddress_container {
    background-color: #fff;
    .label-set:first-child {
      border-top: 1px solid #aeaeae;
    }
    .submit_button {
      padding: 10px;
      .button-block {
        width: 100%;
      }
    }
  }

  .deactivate_container {
    padding: 20px 0;
    background-color: #fff;
    font-size: 10px;
    line-height: 14px;

    .notice_wrap {
      padding: 0 10px;
      h2 {
        padding: 10px 0;
        span {
          display: block;
        }
      }
      .notice_list {
        padding: 5px 10px;
        background-color: #f7f7f7;
        ul {
          padding-left: 20px;
          li {
            padding: 5px 10px 5px 0;
          }
        }
      }
    }
    .confirm {
      padding: 10px;
      text-align: center;
    }
    .submit {
      padding: 18px;
      a {
        display: block;
        background-color: #000;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        color: white;
      }
    }
  }
  .leave_complete {
    .pre_title {
      margin: 0;
      padding: 20px 0;
      background-color: #fff;
    }
    .thanks_message {
      padding: 20px 0;
      text-align: center;
      font-size: 11px;
      line-height: 14px;
      h1 {
        padding: 5px 0;
      }
      span {
        display: block;
      }
    }
    .backHome {
      padding: 30px 0;
      background-color: #fff;
      text-align: center;

      .button {
        display: inline-block;
        padding: 10px 90px;
        background-color: #212121;
        font-size: 13px;
        color: white;
      }
    }
  }
}


.pc {
  // 会員情報（無料）
  // ユーザー登録情報
  // 取引履歴
  // プラン選択

  // account summary
  .users-show,
  .users-edit {
    position: relative;
    .accout_status {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 170px;
      padding: 25px;
      background-color: #f8f8f8;
      @media all and (max-width: 1359px) {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
      }

      div {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
      }
      .label, .thestatus {
        font-size: 12px;
      }
      &.gold {
        .label, .thestatus {
          color: $gold;
        }
        .status_icon span {
          background-position: -64px 0;
        }
      }
      &.silver {
        .label, .thestatus {
          color: $silver;
        }
        .status_icon span {
          background-position: -32px 0;
        }
      }
      &.bronze {
        .label, .thestatus {
          color: $bronze;
        }
        .status_icon span {
          background-position: 0 0;
        }
      }
      &.black {
        .label, .thestatus {
          color: $black;
        }
        .status_icon span {
          background-position: -96px 0;
        }
      }
      .status_icon {
        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-image: image-url('pc/users/plan_icons.png');
          background-repeat: no-repeat;
          background-size: 128px 32px;
        }
      }
    }
  }

  // ユーザー登録情報
  .account_summary {
    .summary_head {
      margin-bottom: 48px;
      background-color: black;
      height: 24px;

      h2 {
        margin-left: 24px;
        font-size: 15px;
        font-weight: normal;
        line-height: 24px;
        color: white;
      }
    }
    .summary_table {
      display: table;
      width: 100%;
      margin-bottom: 60px;
      border-collapse: collapse;

      .summary_row {
        display: table-row;
        height: 150px;
        border-bottom: 1px solid #d7d7d7;

        div {
          display: table-cell;
          vertical-align: middle;
          font-size: 15px;

          &.label {
            padding: 0 20px;
          }

          &.row-title {
            width: 300px;
            padding-left: 30px;
          }
          &.naiyou {
            width: 550px;
          }
          &.button_right {
            padding: 0 40px 0 0;
            text-align: right;
            a {
              display: inline-block;
              vertical-align: middle;
              font-size: 15px;
              border: 1px solid #000;
              padding: 6px 14px;
            }
          }
        }
      }
    }
    .backToMypage {
      margin-bottom: 150px;
      text-align: center;

      .button {
        display: inline-block;
        padding: 18px 60px;
        background-color: #212121;
        font-size: 17px;
        color: white;
      }
    }
  }
  // 退会
  .deactivate_account {
    .deactive_notice {
      h2 {
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;
      }
      .panel {
        padding: 40px;
        background-color: #f7f7f7;
        ul {
          margin: 0;
          li {
            font-size: 14px;
            &+li {
              margin-top: 15px;
            }
          }
        }
      }
    }
    .confirm {
      margin: 20px;
      text-align: center;
    }
    .submit {
      margin: 20px 0 100px;
      text-align: center;
      .button {
        width: 160px;
      }
      .button+.button {
        margin-left: 20px;
      }
    }
  }
  .leave_complete {
    .panel {
      padding: 40px;
      background-color: #f7f7f7;
    }
    .thanks_message {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      h1 {
        font-size: 14px;
      }
    }
    .backHome {
      margin: 100px 0;
      text-align: center;
      a {
        width: 340px;
      }
    }
  }
  .button {
    display: inline-block;
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: center;
  }
  .button-lg {
    padding: 16px 40px;
  }
  .button-black {
    background: #000;
    color: white;
  }

  .user_summary {
    padding: 50px 0;
    .index_filter {
      margin-top: 7px;
    }
    .pre_caption {
      margin-bottom: 80px;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
    }
    h3.pre_main_col {
      margin: 0 20px 5px;
    }
    .panel {
      margin-bottom: 50px;
      padding: 10px;
      background-color: #f8f8f8;
      border-radius: 10px;
    }
    .rentaled_item_list {
      ul {
        li {
          padding: 15px;
          background-image: image-url('pc/users/bg_slash.png');
          background-repeat: no-repeat;
          background-size: 710px 165px;
          overflow: hidden;

          .image_col,
          .info_col {
            float: left;
          }
          .button_col {
            float: right;
          }
          .image_col {
            width: 150px;
            height: 136px;
            position: relative;
            overflow: hidden;
            img {
              position: relative;
              top: -8px;
            }
          }
          .info_col {
            width: 280px;
            padding: 10px 10px 10px 28px;
            font-size: 14px;
            line-height: 24px;
            .info-brand {
              max-width: 240px;
              overflow: hidden;
              span {
                white-space: pre-wrap;
              }
            }
          }
          .button_col {
            padding: 15px 0;
            overflow: hidden;
            input {
              display: block;
              width: 240px;
              height: auto;
              margin: 10px 0;
              padding: 0 10px;
              border: none;
              line-height: 25px;
              &:first-child {
                margin-top: 0;
              }

              &.ready {
                background-color: #b9b9b9;
                color: white;
              }
              &.returned {
                background-color: #000;
                color: white;
              }
              &.shipped {
                background-color: #b9b9b9;
                color: white;
              }
              &.returned {
                background-color: white;
              }
            }
            button.addToCart {
              display: block;
              width: 240px;
              height: auto;
              margin: 5px 0;
              padding: 0 10px;
              border: 1px solid #000;
              line-height: 25px;
              background-color: transparent;
            }
          }
        }
      }
    }
    .fab_item_list {
      margin: 0 10px;
      ul {
        overflow: hidden;
        li {
          float: left;
          width: 33%;
          padding: 10px;
          .inner {
            position: relative;
            background-color: #fff;
            .outOfStock,.nowRentaled {
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: 50;
              background-color: rgba(0, 0, 0, 0.2);
              span {
                margin: -13px 0 0 -42px;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                padding: 5px 10px;
                font-size: 13px;
                border: 1px solid white;
                color: white;
              }
            }
          }
          .fab_head {
            height: 70px;
            padding: 10px;
            .head-tag {
              float: right;
              width: 44px;
              padding: 0 2px;
              text-align: center;
              span {
                display: block;
                margin-bottom: 2px;
                font-size: 10px;

                &.tag-image {
                  width: 17px;
                  height: 17px;
                  margin: 0 auto 2px;
                  padding-left: 1px;
                }
                &.count {
                  font-size: 12px;
                  font-weight: bold;
                }
              }
            }
          }
          .fab_body {
            position: relative;
            img {
              width: 100%;
              &.plan_dot {
                width: 20px;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
          .fab_bottom {
            height: 70px;
            padding: 10px 10px 0;
            font-size: 10px;
            line-height: 20px;
          }
          .fav_buttons {
            padding: 10px 10px 15px;
            text-align: center;

            button {
              -webkit-appearance: none;
              appearance: none;
              width: 100%;
              padding: 0;
              background-color: transparent;
              border: none;
              cursor: pointer;
            }
          }
          .item-category{
            display: none;
          }
          .rental-form{
            display: none;
          }
          #inside-product-cart-form {
            margin-bottom: 10px;
          }
        }
      }
    }
    .view_more_products {
      padding: 20px 30px;
      text-align: right;
    }
  }

  // 無料会員プランRecommend
  .reccomend_plan {
    padding-bottom: 100px;
    .banner {
      height: 100px;
      margin-bottom: 40px;
      font-size: 30px;
      background-color: #f8f8f8;
      line-height: 100px;
      text-align: center;
    }
    .recommend {
      margin-top: -20px;
    }
    .plan_title {
      margin-top: 20px;
      padding: 20px 0;
      border-bottom: #d7d7d7;
      text-align: center;
    }
    .ctrl {
      padding: 10px;
      text-align: right;
    }
  }

  // 取引履歴
  .trading_record {
    margin-bottom: 150px;
    .next_payment {
      margin: 40px 0;
      text-align: center;
      span {
        font-size: 15px;
        font-weight: bold;
      }
    }
    .record_table {
      table {
        width: 100%;
        margin: 40px 0;
        border-collapse: collapse;
        text-align: center;
        tr {
          &:nth-child(odd) {
            background-color: #fff;
          }
          &:nth-child(even) {
            background-color: #f8f8f8;
          }
          &:last-child {
            border-bottom: 1px solid #e5e5e5;
          }

          th, td {
            height: 50px;
            padding: 0 10px;
          }
          th {
            background-color: #ccc;
            font-size: 15px;
            &+th {
              border-left: 2px solid #e5e5e5;
            }
          }
          td {

            &+td {
              border-left: 2px solid #e5e5e5;
            }

            &.datetime {
              span {
                display: block;
              }
            }
            &.plan {
              span {
                display: inline-block;
                width: 62px;
                height: 33px;
                background-repeat: no-repeat;
                background-size: 62px 33px;
                background-position: 0 0;
              }
              &.gold span {
                background-image: image-url('pc/user_traiding_record/gold.png');
                color: $gold;
              }
              &.silver span {
                background-image: image-url('pc/user_traiding_record/silver.png');
                color: $silver;
              }
              &.bronze span {
                background-image: image-url('pc/user_traiding_record/bronze.png');
                color: $bronze;
              }
              &.black span {
                background-image: image-url('pc/user_traiding_record/black.png');
                color: $black;
              }
            }
            &.payment {
              text-align: right;
              span {
                padding-right: 4px;
                font-size: 20px;
              }
            }
            &.detail {

            }
            &.status {

            }
          }
        }
      }
    }
  }
}
