<% param_prefix = "payment_source[#{payment_method.id}]" %>

<div class="input-set">
  <%= text_field_tag "#{param_prefix}[name]", '', { id: "name_on_card_#{payment_method.id}", placeholder: "カード名義人 (半角ローマ字)"} %>
</div>
<div class="input-set" data-hook="card_number">
  <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
  <%= text_field_tag "#{param_prefix}[number]", '', options_hash.merge(:id => 'card_number', :class => 'required cardNumber', :size => 19, :maxlength => 19, :autocomplete => "off", :placeholder => 'カード番号') %>
  <span id="card_type" style="display:none;">
    ( <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
      <span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
    )
  </span>
</div>
<div class="input-set" data-hook="card_expiration">
  <%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "required cardExpiry", :placeholder => "月(2桁) / 年(2桁)" %>
</div>
<div class="input-set" data-hook="card_code">
  <%= text_field_tag "#{param_prefix}[verification_value]", '', options_hash.merge(:id => 'card_code', :class => 'required cardCode', :size => 5, :placeholder => 'セキュリティーコード') %>
</div>
<div class="cvv_link">
  <%= link_to "(#{Spree.t(:what_is_this)})", spree.content_path('cvv'), :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %>
</div>
<div class="cart_brands">
  <%= image_tag 'common/creditcard.png', :id => 'credit-card-image' %>
  <p>
    現在お使い頂けるカードは VISA マスターのみとなっています。他ブランドに関しましては準備中ですのでお待ちください。
  </p>
</div>
<%= hidden_field_tag "#{param_prefix}[cc_type]", '', :id => "cc_type", :class => 'ccType' %>
