
<nav>
  <div class="">
    <h3 style="margin-top: 18px;"><%= link_to "全ての商品", products_path %></h3>
  </div>
  <div class="filter-row">
    <h3>プラン</h3>
    <ul class="ul">
      <% if !@plans.empty?
           if !params['plan_id'].nil?
             arr_ids = params['plan_id'].split(',')
             @plans.each { |i| %>
                  <li class="list">
                    <% if arr_ids.include?("#{i.id}") %>
                        <%= check_box_tag 'plan', i.id, true, class: 'check', id: 'plan_' +"#{i.id}" %>
                    <% else %>
                        <%= check_box_tag 'plan', i.id, false, class: 'check', id: 'plan_' +"#{i.id}" %>
                    <% end %>
                    <label for="plan_<%= i.id %>" class="list_filter "><span class="check"></span><%= i.name %></label>
                    <label for="plan_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_plans[i.name] %>)</label>
                  </li>
              <% } %>
              <%= hidden_field_tag 'plan', params['plan_id'], class: 'plan_hiden' %>
          <% else %>
              <% @plans.each { |i| %>
                  <li class="list">
                    <%= check_box_tag 'plan', i.id, false, class: 'check', id: 'plan_' +"#{i.id}" %>
                    <label for="plan_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name %></label>
                    <label for="plan_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_plans[i.name] %>)</label>
                  </li>

              <% } %>
              <%= hidden_field_tag 'plan', nil, class: 'plan_hiden' %>
          <%
             end
             else %>
          <%= hidden_field_tag 'plan', nil, class: 'plan_hiden' %>
      <%
         end %>
    </ul>
  </div>

  <div class="filter_brand">
    <h3>ブランド</h3>
  </div>
  <div class="brand-list" style="<% if !params[:brand_name].nil? %><%= 'display:block'%><% else %><%= 'display:none' %><% end %>">
      <span>
          <%= link_to 'ブランド一覧', brands_path, :class => 'pc_brand_list_link' %>
      </span>
    <% if !@a_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ア', brands: @a_brands, name: 'a', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@i_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'イ', brands: @i_brands, name: 'i', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@u_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ウ', brands: @u_brands, name: 'u', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@e_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'エ', brands: @e_brands, name: 'e', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@o_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'オ', brands: @o_brands, name: 'o', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@ka_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'カ', brands: @ka_brands, name: 'ka', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ki_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'キ', brands: @ki_brands, name: 'ki', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ku_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ク', brands: @ku_brands, name: 'ku', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ke_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ケ', brands: @ke_brands, name: 'ke', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ko_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'コ', brands: @ko_brands, name: 'ko', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@sha_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'サ', brands: @sha_brands, name: 'sha', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@shi_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'シ', brands: @shi_brands, name: 'shi', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@shu_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ス', brands: @shu_brands, name: 'shu', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@she_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'セ', brands: @she_brands, name: 'she', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@sho_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ソ', brands: @sho_brands, name: 'sho', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@ta_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'タ', brands: @ta_brands, name: 'ta', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@tsi_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'チ', brands: @tsi_brands, name: 'tsi', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@tsu_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ツ', brands: @tsu_brands, name: 'tsu', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@te_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'テ', brands: @te_brands, name: 'te', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@to_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ト', brands: @to_brands, name: 'to', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@na_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ナ', brands: @na_brands, name: 'na', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ni_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ニ', brands: @ni_brands, name: 'ni', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@nu_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ヌ', brands: @nu_brands, name: 'nu', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ne_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ネ', brands: @ne_brands, name: 'ne', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@no_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ノ', brands: @no_brands, name: 'no', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@ha_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ハ', brands: @ha_brands, name: 'ha', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@hi_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ヒ', brands: @hi_brands, name: 'hi', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@fu_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'フ', brands: @fu_brands, name: 'fu', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@he_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ヘ', brands: @he_brands, name: 'he', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ho_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ホ', brands: @ho_brands, name: 'ho', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@ma_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'マ', brands: @ma_brands, name: 'ma', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@mi_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ミ', brands: @mi_brands, name: 'mi', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@mu_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ム', brands: @mu_brands, name: 'mu', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@me_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'メ', brands: @me_brands, name: 'me', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@mo_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'モ', brands: @mo_brands, name: 'mo', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>


    <% if !@ya_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ヤ', brands: @ya_brands, name: 'ya', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@yu_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ユ', brands: @yu_brands, name: 'yu', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@yo_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ヨ', brands: @yo_brands, name: 'yo', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@ra_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ラ', brands: @ra_brands, name: 'ra', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ri_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'リ', brands: @ri_brands, name: 'ri', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ru_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ル', brands: @ru_brands, name: 'ru', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@re_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'レ', brands: @re_brands, name: 're', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@ro_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ロ', brands: @ro_brands, name: 'ro', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>


    <% if !@wa_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ワ', brands: @wa_brands, name: 'wa', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@tso_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ヲ', brands: @tso_brands, name: 'tso', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
    <% if !@um_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'ン', brands: @um_brands, name: 'um', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>

    <% if !@other_brands.empty? %>
        <%= render partial: "sub_menu", locals: {label: 'その他', brands: @other_brands, name: 'orther', params_brand: params['brand_name'], h: @h_brands} %>
    <% end %>
  </div>

  <div class="filter_brand filter-row">
    <% if !params[:brand_name].nil? %>
        <div class="acrd_box">
          <span class="brand_accordion">リストを閉じる</span>
        </div>
    <% else %>
        <div class="acrd_box">
          <span class="brand_accordion">ブランドを選択する</span>
        </div>
    <% end %>
  </div>

  <div class="">
    <div class="clicked-item">
      <h3>アイテム <span id="item-arrow" class="down"></span></h3>
    </div>
    <div class="panel-item filter-row">
      <ul class="ul">
        <% if !@item_taxons.empty?
             if !params['item_name'].nil?
               arr_names = params['item_name'].split(',')
               @item_taxons.each { |i| %>
                    <li class="list">
                      <% if arr_names.include?("#{i.permalink}") %>
                          <%= check_box_tag 'item', i.permalink, true, class: 'check', id: 'item_' +"#{i.id}" %>
                      <% else %>
                          <%= check_box_tag 'item', i.permalink, false, class: 'check', id: 'item_' +"#{i.id}" %>
                      <% end %>
                      <label for="item_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name %></label>
                      <% if @h_items[i.name] != 0 %>
                          <label for="item_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_items[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'item', params['item_name'], class: 'item_hiden' %>
            <% else %>
                <% @item_taxons.each { |i| %>
                    <li class="list">
                      <%= check_box_tag 'item', i.permalink, false, class: 'check', id: 'item_' +"#{i.id}" %>
                      <label for="item_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name %></label>
                      <% if @h_items[i.name] != 0 %>
                          <label for="item_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_items[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'item', nil, class: 'item_hiden' %>
            <%
               end
               else
            %>
            <%= hidden_field_tag 'item', nil, class: 'item_hiden' %>
        <%
           end %>
      </ul>
    </div>
  </div>

  <div>
    <div class="clicked-color">
      <h3>色 <span id="color-arrow" class="down"></span></h3>
    </div>
    <div class="panel-color filter-row">
      <ul class="ul">
        <% if !@color_taxons.empty?
             if !params['color_id'].nil?
               arr_ids = params['color_id'].split(',')
               @color_taxons.each { |i| %>
                    <li class="list">
                      <% if arr_ids.include?("#{i.id}") %>
                          <%= check_box_tag 'color', i.id, true, class: 'check', id: 'color_' +"#{i.id}" %>
                      <% else %>
                          <%= check_box_tag 'color', i.id, false, class: 'check', id: 'color_' +"#{i.id}" %>
                      <% end %>
                      <label for="color_<%= i.id %>" class="list_filter"><span class="check"></span><span class="color-icon color_<%= i.id %>"></span><%= i.name %></label>
                      <% if @h_colors[i.name] != 0 %>
                          <label for="color_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_colors[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'color', params['color_id'], class: 'color_hiden' %>
            <% else %>
                <% @color_taxons.each { |i| %>
                    <li class="list">
                      <%= check_box_tag 'color', i.id, false, class: 'check', id: 'color_' +"#{i.id}" %>
                      <label for="color_<%= i.id %>" class="list_filter"><span class="check"></span><span class="color-icon color_<%= i.id %>"></span><%= i.name %></label>
                      <% if @h_colors[i.name] != 0 %>
                          <label for="color_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_colors[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'color', nil, class: 'color_hiden' %>
            <%
               end
               else %>
            <%= hidden_field_tag 'color', nil, class: 'color_hiden' %>
        <%
           end %>
      </ul>
    </div>
  </div>

  <div>
    <div class="clicked-design">
      <h3>柄 <span id="design-arrow" class="down"></span></h3>
    </div>
    <div class="panel-design filter-row">
      <ul class="ul">
        <% if !@design_taxons.empty?
             if !params['design_id'].nil?
               arr_ids = params['design_id'].split(',')
               @design_taxons.each { |i| %>
                    <li class="list">
                      <% if arr_ids.include?("#{i.id}") %>
                          <%= check_box_tag 'design', i.id, true, class: 'check', id: 'design_' +"#{i.id}" %>
                      <% else %>
                          <%= check_box_tag 'design', i.id, false, class: 'check', id: 'design_' +"#{i.id}" %>
                      <% end %>
                      <label for="design_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name.truncate(9) %></label>
                      <% if @h_designs[i.name] != 0 %>
                          <label for="design_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_designs[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'design', params['design_id'], class: 'design_hiden' %>
            <% else %>
                <% @design_taxons.each { |i| %>
                    <li class="list">
                      <%= check_box_tag 'design', i.id, false, class: 'check', id: 'design_' +"#{i.id}" %>
                      <label for="design_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name.truncate(9) %></label>
                      <% if @h_designs[i.name] != 0 %>
                          <label for="design_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_designs[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'design', nil, class: 'design_hiden' %>
            <%
               end
               else %>
            <%= hidden_field_tag 'design', nil, class: 'design_hiden' %>
        <%
           end %>
      </ul>
    </div>
  </div>

  <div>
    <div class="clicked-material">
      <h3>素材 <span id="material-arrow" class="down"></span></h3>
    </div>
    <div class="panel-material filter-row">
      <ul class="ul">
        <% if !@material_taxons.empty?
             if !params['material_id'].nil?
               arr_ids = params['material_id'].split(',')
               @material_taxons.each { |i| %>
                    <li class="list">
                      <% if arr_ids.include?("#{i.id}") %>
                          <%= check_box_tag 'material', i.id, true, class: 'check', id: 'material_' +"#{i.id}" %>
                      <% else %>
                          <%= check_box_tag 'material', i.id, false, class: 'check', id: 'material_' +"#{i.id}" %>
                      <% end %>
                      <label for="material_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name.truncate(9) %></label>
                      <% if @h_materials[i.name] != 0 %>
                          <label for="material_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_materials[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'material', params['material_id'], class: 'material_hiden' %>
            <% else %>
                <% @material_taxons.each { |i| %>
                    <li class="list">
                      <%= check_box_tag 'material', i.id, false, class: 'check', id: 'material_' +"#{i.id}" %>
                      <label for="material_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name.truncate(9) %></label>
                      <% if @h_materials[i.name] != 0 %>
                          <label for="material_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_materials[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'material', nil, class: 'material_hiden' %>
            <%
               end
               else %>
            <%= hidden_field_tag 'material', nil, class: 'material_hiden' %>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <div class="clicked-size">
      <h3>サイズ <span id="size-arrow" class="down"></span></h3>
    </div>
    <div class="panel-size filter-row">
      <ul class="ul">
        <% if !@size_taxons.empty?
             if !params['size_id'].nil?
               arr_ids = params['size_id'].split(',')
               @size_taxons.each { |i| %>
                    <li class="list">
                      <% if arr_ids.include?("#{i.id}") %>
                          <%= check_box_tag 'size', i.id, true, class: 'check', id: 'size_' +"#{i.id}" %>
                      <% else %>
                          <%= check_box_tag 'size', i.id, false, class: 'check', id: 'size_' +"#{i.id}" %>
                      <% end %>
                      <label for="size_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name.truncate(9) %></label>
                      <% if @h_sizes[i.name] != 0 %>
                          <label for="size_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_sizes[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'size', params['size_id'], class: 'size_hiden' %>
            <% else %>
                <% @size_taxons.each { |i| %>
                    <li class="list">
                      <%= check_box_tag 'size', i.id, false, class: 'check', id: 'size_' +"#{i.id}" %>
                      <label for="size_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name.truncate(9) %></label>
                      <% if @h_sizes[i.name] != 0 %>
                          <label for="size_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= @h_sizes[i.name] %>)</label>
                      <% end %>
                    </li>
                <% } %>
                <%= hidden_field_tag 'size', nil, class: 'size_hiden' %>
            <%
               end
               else %>
            <%= hidden_field_tag 'size', nil, class: 'size_hiden' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<script>
    var one_item = '';
    var one_brand = '';
    $('.check').change(function(){
        var val = $(this).val();
        var name = $(this).attr('name');
        if($(this).is(":checked")){
            if(name == 'brand'){
                update_checked_name(val,true, "brand_hiden");
            }else if( name == 'item' ){
                update_checked_name(val,true, "item_hiden");
            }else if( name == 'color' ){
                update_checked(val,true, "color_hiden");
            }else if( name == 'design' ){
                update_checked(val,true, "design_hiden");
            }else if( name == 'size' ){
                update_checked(val,true, "size_hiden");
            }else if( name == 'material'){
                update_checked(val, true, "material_hiden");
            }else if( name == 'plan'){
                update_checked(val, true, 'plan_hiden');
            }
            var params = update_params();
            params = params.replace('=,', '=');
            
        }else{
            if(name == 'brand'){
                update_checked_name(val,false, "brand_hiden");
            }else if( name == 'item' ){
                update_checked_name(val,false, "item_hiden");
            }else if( name == 'color' ){
                update_checked(val,false, "color_hiden");
            }else if( name == 'design' ){
                update_checked(val,false, "design_hiden");
            }else if( name == 'size' ){
                update_checked(val,false, "size_hiden");
            }else if( name == 'material'){
                update_checked(val,false, "material_hiden");
            }else if( name == 'plan'){
                update_checked(val, false, 'plan_hiden');
            }
            var params = update_params();
            params = params.replace('=,', '=');
            
        }
        if(one_item != '' && one_brand == ''){
            if(params != ''){
                window.location.replace(window.location.origin + "/category/" + one_item + "?" + params);
            }else{
                window.location.replace(window.location.origin + "/category/" + one_item);
            }
        }
        else if(one_brand != '' && one_item == ''){
            if(params != ''){
                window.location.replace(window.location.origin + "/brands/" + one_brand + "?" + params);
            }else{
                window.location.replace(window.location.origin + "/brands/" + one_brand);
            }
        }
        else if(one_brand != '' && one_item != ''){
            if(params != ''){
                window.location.replace(window.location.origin + "/brands/" + one_brand + "/" + one_item + "?" + params);
            }else{
                window.location.replace(window.location.origin + "/brands/" + one_brand + "/" + one_item);
            }
        }
        else{
            if(params != ''){
                window.location.replace(window.location.origin + "/products?" + params);
            }else{
                window.location.replace(window.location.origin + "/products");
            }
        }

    });

    function update_checked_name(name, status, class_name) {
        var cid_hidden = $("." + class_name).val();
        var arr = cid_hidden.split(',');
        if (status) {
            if (arr.indexOf(name) == -1) {
                arr.push(name);
            }
        } else {
            var index = arr.indexOf(name);
            if (index > -1) {
                arr.splice(index, 1);
            }
        }
        var str_hiden = arr.join();
        $("." + class_name).val(str_hiden);
        
    }
    function update_checked(id, status, class_name) {
        var cid_hidden = $("." + class_name).val();
        var arr = cid_hidden.split(',');
        if (status) {
            if (arr.indexOf(id) == -1) {
                arr.push(id);
            }
        } else {
            var index = arr.indexOf(id);
            if (index > -1) {
                arr.splice(index, 1);
            }
        }
        var str_hiden = arr.join();
        $("." + class_name).val(str_hiden);
    }

    function update_params(){
        var brand_name = $(".brand_hiden").val();
        var item_name = $(".item_hiden").val();
        var color_id = $(".color_hiden").val();
        var design_id = $(".design_hiden").val();
        var size_id = $(".size_hiden").val();
        var material_id = $(".material_hiden").val();
        var plan_id = $(".plan_hiden").val();
        var sort = $(".sort_hiden").val();
        var params = '';
        if(plan_id != ''){
            params += 'plan_id=' + plan_id;
        }
        if(brand_name != ''){
            var arr_brand = brand_name.split(',');
            if( arr_brand.length == 1 || (arr_brand.length == 2 && arr_brand[0] == '') ){
                one_brand = arr_brand.join().replace(',', '');
            }else{
                one_brand = '';
                if(params == ''){
                    params += 'brand_name=' + brand_name;
                }else{
                    params += '&brand_name=' + brand_name;
                }
            }

        }
        if(item_name != '' && one_item == ''){
            var arr_item = item_name.split(',');
            if( arr_item.length == 1 || (arr_item.length == 2 && arr_item[0] == '') ){
                one_item = arr_item.join().replace(',', '');
            }
            else{
              one_item = '';
              if(params == ''){
                params += 'item_name=' + item_name;
              }else{
                  params += '&item_name=' + item_name;
              }
            }
        }
        if(color_id != ''){
            if(params == ''){
                params += 'color_id=' + color_id;
            }else{
                params += '&color_id=' + color_id;
            }
        }
        if(design_id != ''){
            if(params == ''){
                params += 'design_id=' + design_id;
            }else{
                params += '&design_id=' + design_id;
            }
        }
        if(size_id != ''){
            if(params == ''){
                params += 'size_id=' + size_id;
            }else{
                params += '&size_id=' + size_id;
            }
        }
        if(material_id != ''){
            if(params == ''){
                params += 'material_id=' + material_id;
            }else{
                params += '&material_id=' + material_id;
            }
        }

        if (sort != '' && sort != 'desc_by_created_at'){
            if (params == ''){
                params += 'order=' + sort;
            }else{
                params += '&order=' + sort;
            }
            params = params.replace("&order=desc_by_created_at",'');
        }
        return params;
    }

    $(document).ready(function(){
        $(".clicked-item").click(function(){
            if($(".panel-item").css('display') == 'none'){
                $("#item-arrow").removeClass("right");
                $("#item-arrow").addClass("down");
            }else{
                $("#item-arrow").removeClass("down");
                $("#item-arrow").addClass("right");
            }
            $(".panel-item").slideToggle("slow");
        });
    });

    $(document).ready(function(){
        $(".clicked-color").click(function(){
            if($(".panel-color").css('display') == 'none'){
                $("#color-arrow").removeClass("right");
                $("#color-arrow").addClass("down");
            }else{
                $("#color-arrow").removeClass("down");
                $("#color-arrow").addClass("right");
            }
            $(".panel-color").slideToggle("slow");
        });
    });

    $(document).ready(function(){
        $(".clicked-size").click(function(){
            if($(".panel-size").css('display') == 'none'){
                $("#size-arrow").removeClass("right");
                $("#size-arrow").addClass("down");
            }else{
                $("#size-arrow").removeClass("down");
                $("#size-arrow").addClass("right");
            }
            $(".panel-size").slideToggle("slow");
        });
    });

    $(document).ready(function(){
        $(".clicked-design").click(function(){
            if($(".panel-design").css('display') == 'none'){
                $("#design-arrow").removeClass("right");
                $("#design-arrow").addClass("down");
            }else{
                $("#design-arrow").removeClass("down");
                $("#design-arrow").addClass("right");
            }
            $(".panel-design").slideToggle("slow");
        });
    });

    $(document).ready(function(){
        $(".clicked-material").click(function(){
            if($(".panel-material").css('display') == 'none'){
                $("#material-arrow").removeClass("right");
                $("#material-arrow").addClass("down");
            }else{
                $("#material-arrow").removeClass("down");
                $("#material-arrow").addClass("right");
            }
            $(".panel-material").slideToggle("slow");
        });
    });
</script>
