<style>
  .brand_ul{padding: 0px;}
  .click_<%= name %>{cursor:pointer;}
  .panel-<%= name %>{display: none;}
</style>
<script type="text/javascript">
  $(document).ready(function(){

    if($(".panel-<%= name %>").css('display') == 'block'){
      $("#plus-arrow-<%= name %>").removeClass("aroow-r");
      $("#plus-arrow-<%= name %>").addClass("aroow-b");
    }else{
      $("#plus-arrow-<%= name %>").removeClass("aroow-b");
      $("#plus-arrow-<%= name %>").addClass("aroow-r");
    }

    $(".click_<%= name %>").click(function(){
    if($(".panel-<%= name %>").css('display') == 'none'){
      $("#plus-arrow-<%= name %>").removeClass("aroow-r");
      $("#plus-arrow-<%= name %>").addClass("aroow-b");
    }else{
      $("#plus-arrow-<%= name %>").removeClass("aroow-b");
      $("#plus-arrow-<%= name %>").addClass("aroow-r");
    }
    $(".panel-<%= name %>").slideToggle("slow");
  });
  });
</script>
<%
flag = true
if !brands.empty?
  if !params_brand.nil?
    arr_names = params_brand.split(',')
     brands.each { |i|
     if arr_names.include?("#{i.permalink}")
        flag = false
     end
    }
  end
end
 %>
 <div class="brand-prefix">
  <div class="click_<%= name %>">
    <span class="pc-h3"><%= label %> <span  id="plus-arrow-<%= name %>"></span>
  </div>
  <div class="panel-<%= name %>" style="<% if !flag %><%= 'display: block;' %><% else %> <%= 'display: none;' %> <% end %>">
    <ul class="ul">
      <% if !brands.empty?
        if !params_brand.nil?
          arr_names = params_brand.split(',')
          brands.each { |i| %>
          <li class="list">
            <% if arr_names.include?("#{i.permalink}") %>
            <%= check_box_tag 'brand', i.permalink, true, class: 'check', id: 'brand_' +"#{i.id}" %>
            <% else %>
            <%= check_box_tag 'brand', i.permalink, false, class: 'check', id: 'brand_' +"#{i.id}" %>
            <% end %>
            <label for="brand_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name %></label>
            <% if h[i.name] != 0 %>
            <label for="brand_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= h[i.name] %>)</label>
            <% end %>
          </li>
          <% } %>
          <%= hidden_field_tag 'brand', params_brand, class: 'brand_hiden' %>
          <% else %>
          <% brands.each { |i| %>
          <li class="list">
            <%= check_box_tag 'brand', i.permalink, false, class: 'check', id: 'brand_' +"#{i.id}" %>
            <label for="brand_<%= i.id %>" class="list_filter"><span class="check"></span><%= i.name %></label>
            <% if h[i.name] != 0 %>
            <label for="brand_<%= i.id %>" class="number_filter list_filter"><span class="check"></span> (<%= h[i.name] %>)</label>
            <% end %>
          </li>
          <% } %>
          <%= hidden_field_tag 'brand', nil, class: 'brand_hiden' %>
          <%
        end
        else %>
        <%= hidden_field_tag 'brand', nil, class: 'brand_hiden' %>
        <%
        end %>
      </ul>
    </div>
  </div>

