<% content_for :title, head_title("レンタルアイテム一覧 | ブランドネクタイ通販・レンタル KASHI KARI") %>
<% content_for :meta, meta_tags("レンタルアイテム一覧, レンタル,メンズファッション,ブランド,通販,コーディネート,着こなし,KASHI KARI",
                                "レンタルアイテム一覧。| ブランドネクタイを通販やレンタル出来るKASHI KARI。タイピンやカフス、ジレなどが月額3600円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li>メンズファッション一覧</li>
    </ul>
  </div>
</nav>

<div class="products">
  <div class="container">
    <div class="wrap_index">
      <section class="index_filter">
        <%= render :partial => 'p_filter' %>
      </section>
      <section class="index_products">

        <section class="products_result">
          <span><%= page_entries_info(@products) %></span>
        </section>
        <section class="products_sort">
          <% 
          order_param = 'desc_by_created_at'
          if params[:order] == 'desc_by_favorite'
            order_param = 'desc_by_favorite'
          elsif params[:order] == 'desc_by_rental'
            order_param = 'desc_by_rental'
          elsif params[:order] == 'asc_by_rental'
            order_param = 'asc_by_rental'
          elsif params[:order] == 'desc_by_price'
            order_param = 'desc_by_price'
          elsif params[:order] == 'asc_by_price'
            order_param = 'asc_by_price'
          end
          %>
          <%= hidden_field_tag 'sort', order_param, class: 'sort_hiden' %>
          <%= select_tag :sort_pro, options_for_select([['新着順','desc_by_created_at'], ['お気に入り順', 'desc_by_favorite'], ['レンタル可', 'desc_by_rental'],['レンタル不可', 'asc_by_rental'],['価格安い', 'asc_by_price'],['価格高い', 'desc_by_price']],order_param),{autofocus: 'true', class: 'select_sort'}%>
        </section>
        <section class="products_pager">
          <%= paginate @products %>
        </section>

        <section class="products_cont">
          <ul class="ul">
            <% @products.each do |product| %>
            <li>
              <%= link_to original_image(product), product_path(product) %>
              <h3 class="f_fm">
                <% if product.brands.present? %>
                <%= product.brands.first.name.truncate(22) %>
                <% end %>
              </h3>
              <% if spree_current_user %>
              <% if spree_current_user.liked?(product.master) %>
              <%= link_to "追加しました!", add_to_favorite_user_path(product.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: 'お気に入りに追加', toggle_href: add_to_favorite_user_path(product.master), id: product.master.id} %>
              <% else %>
              <%= link_to "お気に入りに追加", add_to_favorite_user_path(product.master), class: 'vote', method: :put, remote: true, data: {toggle_text: '追加しました!', toggle_href: add_to_favorite_user_path(product.master), id: product.master.id} %>
              <% end %>
              <% else %>
              <%= link_to "お気に入りに追加", signup_path, :class => "signinToLike", :id => product.master.id %>
              <% end %>
            </li>

            <% end %>
          </ul>
        </section>

        <section class="products_pager">
          <%= paginate @products %>
        </section>
        <% if !@products.empty? && !@descriptions.nil? %>
        <% if !@descriptions.empty? %>
        <section class="products_pager">
          <div class="scrollme" style="position: relative;">
            <div class="scoll-container">
              <% @descriptions.each { |d| %>
              <h2><%= d.taxon_1st.name %>の<%= d.taxon_2nd.name %></h2>
              <p><%= d.description %></p>
              <% } %>
            </div>
          </div>
        </section>
        <% end %>
        <% end %>
      </section>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".signinToLike").click(function(){
    sessionStorage.setItem('product_id', $(this).attr('id'));
    //localStorage.setItem('product_id', $(this).attr('id'));
  });
  $(".select_sort").change(function(){
    var de = $(".sort_hiden").val();
    var val = $(this).val();
    var params = update_params();
    if(params != ''){

      if( de == 'desc_by_created_at' || de == '' ){
          params += '&order=' + val;
      } else{
          params = params.replace(de,val);
      }
      params_r = params.replace("&order=desc_by_created_at",'');
      params_r = params_r.replace("order=desc_by_created_at",'');

      if(one_item != '' && one_brand == ''){
        window.location.replace(window.location.origin + "/category/" + one_item + "?" + params_r);
      }
      else if(one_brand != '' && one_item == ''){
        window.location.replace(window.location.origin + "/brands/" + one_brand + "?" + params_r);
      }
      else if(one_brand != '' && one_item != ''){
        window.location.replace(window.location.origin + "/brands/" + one_brand + "/" + one_item + "?" + params_r);
      }
      else{
        window.location.replace(window.location.origin + "/products?" + params_r);
      }
    }else{
      if(one_item != '' && one_brand == ''){
        if(val != 'desc_by_created_at'){
          window.location.replace(window.location.origin + "/category/" + one_item + "?" + 'order='+val);
        }
        else{
          window.location.replace(window.location.origin + "/category/" + one_item);
        }
      }
      else if(one_brand != '' && one_item == ''){
        if(val != 'desc_by_created_at'){
          window.location.replace(window.location.origin + "/brands/" + one_brand + "?" + 'order='+val);
        }else{
          window.location.replace(window.location.origin + "/brands/" + one_brand);
        }
      }
      else if(one_brand != '' && one_item != ''){
        if(val != 'desc_by_created_at'){
          window.location.replace(window.location.origin + "/brands/" + one_brand + "/" + one_item + "?" + 'order='+val);
        }else{
          window.location.replace(window.location.origin + "/brands/" + one_brand + "/" + one_item);
        }
      }
      else{
        if(val != 'desc_by_created_at'){
          window.location.replace(window.location.origin + "/products?" + 'order='+val);
        }else{
          window.location.replace(window.location.origin + "/products");
        }
      }
    }
  })

</script>
