<% brand_name = @product.brands.first.name if @product.brands.present? %>
<% item_name = @product.items.first.name if @product.items.present? %>
<% color_names = @product.colors.map { |t| t.name }.join(",").to_s.concat(",") if @product.colors.present? %>
<% design_names = @product.designs.map { |t| t.name }.join(",").to_s.concat(",") if @product.designs.present? %>
<% size_names = @product.sizes.map { |t| t.name }.join(",").to_s.concat(",") if @product.sizes.present? %>
<% material_names = @product.materials.map { |t| t.name }.join(",").to_s if @product.materials.present? %>

<% content_for :title, head_title("#{brand_name}の#{item_name}(#{color_names}#{design_names}#{size_names}#{material_names})| ブランドネクタイ通販・レンタル KASHI KARI") %>
<% content_for :meta, meta_tags("#{brand_name},#{item_name},#{color_names}#{design_names}#{size_names}#{material_names},レンタル,メンズファッション,ブランド,通販,コーディネート,着こなし,KASHI KARI",
                                "#{brand_name}の#{item_name}(#{color_names}#{design_names}#{size_names}#{material_names})です| ブランドネクタイを通販やレンタル出来るKASHI KARI。タイピンやカフス、ジレなどが月額3600円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>
<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "アイテム一覧", products_path %></li>
      <li>アイテム詳細</li>
    </ul>
  </div>
</nav>

<% if @product.plans.present? %>
    <% if @product.plans.pluck(:name).include?("BLACK") %>
        <% plan = "black" %>
    <% elsif @product.plans.pluck(:name).include?("GOLD") %>
        <% plan = "gold" %>
    <% elsif @product.plans.pluck(:name).include?("SILVER") %>
        <% plan = "silver" %>
    <% else %>
        <% plan = "bronze" %>
    <% end %>
<% end %>

<div class="product">
<div class="container">
<div class="product_head <%= plan %>">
  <h1 class='f_fm'>
    <% if @product.brands.present? %>
        <% brand = @product.brands.first %>
        <%= link_to brand.name, brand_path(brand) %>
    <% end %>
  </h1>
  
  <div class="head_status f_fm">
    <span class="fab"><%= @product.total_favorite %></span>
  </div>
</div>
<div class="detail_images">
  <div class="detail_thumb">
    <ul class="ul thumb_bxslider">
      <% if (@product.images + @product.variant_images).uniq.size > 0 %>
          <% @product.images.each do |image| %>
              <% if image.attachment_file_name.include?("-code") %>
                  <% @code_image = image %>
              <% else %>
                  <li>
                    <%= image_tag(image.attachment.url(:original)) %>
                  </li>
              <% end %>
          <% end %>

          <% if @product.taxons.pluck(:parent_id).include?(1) && @code_image.present? %>
              <% for i in 1..32 %>
                  <li>
                    <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/2.png", :class => 'front' %>
                    <%= image_tag @code_image.attachment.url(:original), :class => 'middle' %>
                    <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/1.jpg", :class => 'base' %>
                  </li>
              <% end %>
          <% end %>

      <% end %>

    </ul>
  </div>
</div>
<div class="thumb_bxpager">
  <% counter = -1 %>
  <% if (@product.images + @product.variant_images).uniq.size > 0 %>
      <% @product.images.each_with_index do |image, i| %>
          <% if !image.attachment_file_name.include?("-code") %>
              <a data-slide-index="<%= counter + 1 %>" href="">
                <%= image_tag(image.attachment.url(:original)) %>
              </a>
              <% counter = counter + 1 %>
          <% end %>
      <% end %>
  <% end %>
</div>
<div class="add_fab">
  <% if @product.total_on_hand < 1 %>
      <div class="outOfStock">
        販売済み
      </div>
  <% elsif @product.total_on_hand <= @product.master.rental_qty %>
      <div class="rentaled">
        <%= image_tag 'products/not_available.png', :alt => 'Not Available' %>
      </div>
  <% end %>

  <% if spree_current_user %>
      <% if spree_current_user.liked?(@product.master) %>
          <%= link_to "追加しました！", add_to_favorite_user_path(@product.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: 'お気に入りに追加', toggle_href: add_to_favorite_user_path(@product.master), id: @product.master.id} %>
      <% else %>
          <%= link_to "お気に入りに追加する", add_to_favorite_user_path(@product.master), class: 'vote', method: :put, remote: true, data: {toggle_text: '追加しました！', toggle_href: add_to_favorite_user_path(@product.master), id: @product.master.id} %>
      <% end %>
  <% else %>
      <%= link_to "お気に入りに追加", signup_path, :class => 'signinToLike', :id => @product.master.id %>
  <% end %>
  <p>
    お気に入りに追加したアイテムはマイページよりレンタル手続きが行えます。
  </p>
  <% if spree_current_user %>
      <%= link_to account_path, :class => 'info_mypage_link' do %>
          <p>マイページへ <i class="fa fa-angle-double-right"></i></p>
      <% end %>
  <% end %>
</div>
<% if (@product.images + @product.variant_images).uniq.size > 0 %>
    <% if @product.taxons.pluck(:parent_id).include?(1) && @code_image.present? %>
        <div class="viewOtherCordinate">
          <h3 class="sp_block_title">他のコーディネートを見る</h3>

          <div class="pager_container">
            <div class="pager_bxslider">

              <div>
                <div class="thumb_bxpager">
                  <% for i in 1..32 %>
                      <a data-slide-index="<%= counter + i %>" href="">
                        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/2.png", :class => 'front' %>
                        <%= image_tag @code_image.attachment.url(:original), :class => 'middle' %>
                        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/1.jpg", :class => 'base' %>
                      </a>
                      <% if i%8 == 0 && i != 32 %>
                          </div></div>
                          <div>
                            <div class="thumb_bxpager">
                      <% end %>
                  <% end %>
                  </div>
                  </div>

                  </div>
          </div>
        </div>
    <% end %>
<% end %>

<div class="product_detail">
  <h3 class="sp_block_title">アイテム詳細</h3>

  <div class="detail_panel">
    <div class="panel_head">
      <h4>
        <% if @product.brands.present? %>
            <% brand = @product.brands.first %>
            <%= brand.name %>
        <% end %>
      </h4>

      <div class="brand_info">

        <% if @product.brands.present? %>
            <% brand = @product.brands.first %>
            <%= link_to "ブランド詳細", brand_path(brand) %>
        <% end %>

      </div>
      <div class="head_price">
        <span>価格</span>
        <span><%= display_price(@product) %>（税込み）</span>
      </div>
    </div>
    <% if @product.description.present? %>
        <p>
          <%= simple_format @product.description %>
        </p>

    <% end %>
  </div>
</div>
<div class="product_design">
  <h3 class="sp_block_title">アイテム</h3>

  <div class="product_panel">
    <% if @product.items.present? %>
        <% item = @product.items.first %>
        <%= link_to item.name, category_path(item) %>
    <% end %>
  </div>
</div>

<div class="product_design">
  <h3 class="sp_block_title">色</h3>

  <div class="product_panel">
    <% if @product.colors.present? %>
        <% @product.colors.each do |color| %>
            <%= link_to color.name, products_path(:color_id => color.id) %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="product_design">
  <h3 class="sp_block_title">柄</h3>

  <div class="product_panel">
    <% if @product.designs.present? %>
        <% @product.designs.each do |design| %>
            <%= link_to design.name, products_path(:design_id => design.id) %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="product_material">
  <h3 class="sp_block_title">素材</h3>

  <div class="product_panel">
    <% if @product.materials.present? %>
        <% @product.materials.each do |material| %>
            <%= link_to material.name, products_path(:material_id => material.id) %>
        <% end %>
    <% end %>
  </div>
</div>

<% if @product.sizes.present? %>
    <div class="product_size">
      <h3 class="sp_block_title">剣先サイズ</h3>

      <div class="product_panel">
        <% @product.sizes.each do |size| %>
            <%= link_to size.name, products_path(:size_id => size.id) %>
        <% end %>
      </div>
    </div>
<% end %>

<div class="product_size">
  <h3 class="sp_block_title">サイズ</h3>

  <div class="product_panel">
    <% if @product.size.present? %>
        <%= simple_format @product.size %>
    <% end %>
  </div>
</div>

<div class="add_fab">
  <% if @product.total_on_hand < 1 %>
      <div class="outOfStock">
        販売済み
      </div>
  <% elsif @product.total_on_hand <= @product.master.rental_qty %>
      <div class="rentaled">
        <%= image_tag 'products/not_available.png', :alt => 'Not Available' %>
      </div>

  <% end %>

  <% if spree_current_user %>
      <% if spree_current_user.liked?(@product.master) %>
          <%= link_to "追加しました！", add_to_favorite_user_path(@product.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: 'お気に入りに追加', toggle_href: add_to_favorite_user_path(@product.master), id: @product.master.id} %>
      <% else %>
          <%= link_to "お気に入りに追加する", add_to_favorite_user_path(@product.master), class: 'vote', method: :put, remote: true, data: {toggle_text: '追加しました！', toggle_href: add_to_favorite_user_path(@product.master), id: @product.master.id} %>
      <% end %>
  <% else %>
      <%= link_to "お気に入りに追加", signup_path, :class => 'signinToLike', :id => @product.master.id %>
  <% end %>

</div>

<% if @rent_items.present? %>
    <div class="past_rentals">
      <h3 class="sp_block_title">過去に借りたアイテム</h3>

      <div class="items_box">
        <ul class="referal_bxslider ul">
          <% @rent_items.each do |rent_items| %>
              <li>
                <%= link_to original_image(rent_items), product_path(rent_items) %>
              </li>
          <% end %>
        </ul>
        <div class="more">
          <%= link_to 'もっと見る', products_path %>
        </div>
      </div>
    </div>
<% end %>

<div class="referal_items">
  <h3 class="sp_block_title">関連アイテム</h3>

  <div class="items_box">
    <ul class="referal_bxslider ul">
      <% @related_items.each do |related_item| %>
          <% if related_item != @product %>
              <li>
                <%= link_to original_image(related_item), product_path(related_item) %>
                <h4>
                  <% if related_item.brands.present? %>
                      <%= related_item.brands.first.name %>
                  <% end %>
                </h4>
                <% if spree_current_user %>
                    <% if spree_current_user.liked?(related_item.master) %>
                        <%= link_to "", add_to_favorite_user_path(related_item.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: '', toggle_href: add_to_favorite_user_path(related_item.master), id: related_item.master.id} %>
                    <% else %>
                        <%= link_to "", add_to_favorite_user_path(related_item.master), class: 'vote', method: :put, remote: true, data: {toggle_text: '', toggle_href: add_to_favorite_user_path(related_item.master), id: related_item.master.id} %>
                    <% end %>
                <% else %>
                    <%= link_to "", signup_path, :class => 'signinToLike', :id => related_item.master.id %>
                <% end %>
              </li>
          <% end  %>
      <% end %>
    </ul>
    <div class="more">
      <%= link_to 'もっと見る', products_path %>
    </div>
  </div>
</div>

</div>
</div>
<script type="text/javascript">
  $(".signinToLike").click(function(){
    sessionStorage.setItem('product_id', $(this).attr('id'));
  });
</script>
