<% brand_name = @product.brands.first.name if @product.brands.present? %>
<% item_name = @product.items.first.name if @product.items.present? %>
<% color_names = @product.colors.map { |t| t.name }.join(",").to_s.concat(",") if @product.colors.present? %>
<% design_names = @product.designs.map { |t| t.name }.join(",").to_s.concat(",") if @product.designs.present? %>
<% size_names = @product.sizes.map { |t| t.name }.join(",").to_s.concat(",") if @product.sizes.present? %>
<% material_names = @product.materials.map { |t| t.name }.join(",").to_s if @product.materials.present? %>

<% content_for :title, head_title("#{brand_name}の#{item_name}(#{color_names}#{design_names}#{size_names}#{material_names})| ブランドネクタイ通販・レンタル KASHI KARI") %>
<% content_for :meta, meta_tags("#{brand_name},#{item_name},#{color_names}#{design_names}#{size_names}#{material_names},レンタル,メンズファッション,ブランド,通販,コーディネート,着こなし,KASHI KARI",
                                "#{brand_name}の#{item_name}(#{color_names}#{design_names}#{size_names}#{material_names})です| ブランドネクタイを通販やレンタル出来るKASHI KARI。タイピンやカフス、ジレなどが月額3600円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "メンズファッション一覧", products_path %></li>
      <li>アイテム詳細</li>
    </ul>
  </div>
</nav>

<div class="product">
<div class="container">
<div class="product_detail">
<div class="detail_images">
  <div class="detail_thumb">
    <ul class="thumb_bxslider ul">

      <% if (@product.images + @product.variant_images).uniq.size > 0 %>

          <% @product.images.each do |image| %>
              <% if image.attachment_file_name.include?("-code") %>
                  <% @code_image = image %>
              <% else %>
                  <li>
                    <%= image_tag(image.attachment.url(:original)) %>
                  </li>
              <% end %>
          <% end %>

          <% if @product.taxons.pluck(:parent_id).include?(1) && @code_image.present? %>
              <% for i in 1..32 %>
                  <li>
                    <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/2.png", :class => 'front' %>
                    <%= image_tag @code_image.attachment.url(:original), :class => 'middle' %>
                    <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/1.jpg", :class => 'base' %>
                  </li>
              <% end %>
          <% end %>

      <% end %>

    </ul>
    <div class="thumb_bxpager">

      <% counter = -1 %>
      <% if (@product.images + @product.variant_images).uniq.size > 0 %>
          <% @product.images.each_with_index do |image, i| %>
              <% if !image.attachment_file_name.include?("-code") %>
                  <a data-slide-index="<%= counter + 1 %>" href="">
                    <%= image_tag(image.attachment.url(:original)) %>
                  </a>
                  <% counter = counter + 1 %>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
  <% if (@product.images + @product.variant_images).uniq.size > 0 %>
      <% if @product.taxons.pluck(:parent_id).include?(1) && @code_image.present? %>
          <div class="viewOtherCordinate">
            <h3>コーディネートを見る</h3>

            <div class="pager_container">
              <div class="pager_bxslider">

                <div class="">
                  <div class="thumb_bxpager">
                    <% for i in 1..32 %>
                        <a data-slide-index="<%= counter + i %>" href="">
                          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/2.png", :class => 'front' %>
                          <%= image_tag @code_image.attachment.url(:original), :class => 'middle' %>
                          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/item.kashi-kari.jp/coordinate/#{sprintf("%02d", i)}/1.jpg", :class => 'base' %>
                        </a>
                        <% if i%8 == 0 && i != 32 %>
                            </div></div>
                            <div>
                              <div class="thumb_bxpager">
                        <% end %>
                    <% end %>
                    </div>
                   </div>
                </div>
            </div>
          </div>
      <% end %>
  <% end %>


  <% if @rent_items.present? %>
      <div class="past_rentals">
        <h3>過去に借りたアイテム</h3>
        <ul class="past_bxslider ul">

          <% @rent_items.each do |rent_items| %>
              <li>
                <%= link_to original_image(rent_items), product_path(rent_items) %>
              </li>
          <% end %>

        </ul>
      </div>
  <% end %>

  <div class="referal_items">

    <h3>関連アイテム</h3>
    <ul class="ul">
      <% @related_items.each do |related_item| %>
          <% if related_item != @product %>
              <li>
              <%= link_to original_image(related_item), product_path(related_item) %>
              <h4>
                <% if related_item.brands.present? %>
                    <%= related_item.brands.first.name %>
                <% end %>
              </h4>
              <% if spree_current_user %>
                  <% if spree_current_user.liked?(related_item.master) %>
                      <%= link_to "追加しました！", add_to_favorite_user_path(related_item.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: 'お気に入りに追加', toggle_href: add_to_favorite_user_path(related_item.master), id: related_item.master.id} %>
                  <% else %>
                      <%= link_to "お気に入りに追加", add_to_favorite_user_path(related_item.master), class: 'vote', method: :put, remote: true, data: {toggle_text: '追加しました！', toggle_href: add_to_favorite_user_path(related_item.master), id: related_item.master.id} %>
                  <% end %>
              <% else %>
                  <%= link_to "お気に入りに追加", signup_path, :class => 'signinToLike', :id => related_item.master.id
                    %>
              <% end %>
              </li>
          <% end  %>
      <% end %>
    </ul>
    <div class="cord_controll">
      <span class="left"></span>
      <span class="right"></span>
    </div>
  </div>
</div>
<div class="detail_info">
  <div class="info_meta">
    <ul class="ul">
      <li>
        <label>ブランド名：</label>
          <span>
            <% if @product.brands.present? %>
            <% brand = @product.brands.first %>
                <%= link_to brand.name, brand_path(brand) %>
            <% else %>
            -
            <% end %>
          </span>
      </li>
      <li>
        <label>アイテム：</label>
              <span>
                <% if @product.items.present? %>
                <% item = @product.items.first %>
                    <%= link_to item.name, category_path(item) %>
                <% else %>
                -
                <% end %>
              </span>
      </li>
      <li>
        <label>色：</label>
              <span>
                <% if @product.colors.present? %>
                <% @product.colors.each do |color| %>
                    <%= link_to color.name, products_path(:color_id => color.id) %>
                <% end %>
                <% else %>
                -
                <% end %>
              </span>
      </li>
      <li>
        <label>柄：</label>
              <span>
                <% if @product.designs.present? %>
                <% @product.designs.each do |design| %>
                    <%= link_to design.name, products_path(:design_id => design.id) %>
                <% end %>
                <% else %>
                -
                <% end %>
              </span>
      </li>
      <li>
        <label>素材：</label>
              <span>
                <% if @product.materials.present? %>
                <% @product.materials.each do |material| %>
                    <%= link_to material.name, products_path(:material_id => material.id) %>
                <% end %>
                <% else %>
                -
                <% end %>
              </span>
      </li>
      <% if @product.sizes.present? %>
          <li>
            <label>剣先サイズ：</label>
              <span>
                <% @product.sizes.each do |size| %>
                    <%= link_to size.name, products_path(:size_id => size.id) %>
                <% end %>
              </span>
          </li>
      <% end %>
      <li>
        <label>サイズ：</label>
              <span>
                <% if @product.size.present? %>
                <%= simple_format @product.size %>
                <% else %>
                -
                <% end %>
              </span>
      </li>

      <li>
        <label>お気に入り登録数：</label>
        <span><%= @product.total_favorite %></span>
      </li>
      <li>
        <label>価格：</label>
        <span><%= display_price(@product) %>(税込)</span>
      </li>
      <li>
        <label>累計ビュー：</label>
        <span><%= @product.impressions_count %>pv</span>
      </li>
    </ul>
  </div>

  <div class="info_buttons">
    <% if @product.total_on_hand < 1 %>
        <div class="outOfStock">
          販売済み
        </div>
    <% elsif @product.total_on_hand <= @product.master.rental_qty %>
        <div class="rentaled">
          <%= image_tag 'products/not_available.png', :alt => 'Not Available' %>
        </div>
    <% end %>

    <% if spree_current_user %>
        <% if spree_current_user.liked?(@product.master) %>
            <%= link_to "追加しました！", add_to_favorite_user_path(@product.master), class: 'vote liked', method: :put, remote: true, data: {toggle_text: 'お気に入りに追加', toggle_href: add_to_favorite_user_path(@product.master), id: @product.master.id} %>
        <% else %>
            <%= link_to "お気に入りに追加", add_to_favorite_user_path(@product.master), class: 'vote', method: :put, remote: true, data: {toggle_text: '追加しました！', toggle_href: add_to_favorite_user_path(@product.master), id: @product.master.id} %>
        <% end %>
    <% else %>
        <%= link_to "お気に入りに追加", signup_path, :class => 'signinToLike', :id => @product.master.id %>
    <% end %>
    <p>
      お気に入りに追加したアイテムはマイページよりレンタル手続きが行えます。
    </p>
    <% if spree_current_user %>
        <%= link_to account_path, :class => 'info_mypage_link' do %>
            <p>マイページへ <i class="fa fa-angle-double-right"></i></p>
        <% end %>
    <% end %>

  </div>
  <% if @product.description.present? %>
      <div class="info_itemDetail">
        <h3>アイテム詳細</h3>
        <%= simple_format @product.description %>
      </div>
  <% end %>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  $(".signinToLike").click(function(){
    sessionStorage.setItem('product_id', $(this).attr('id'));
  });
</script>
