いつもKASHI KARIをご利用頂きまして誠にありがとうございます。
KASHI KARIカスタマーサポートの本田さやか（ほんださやか）でございます。

<%= @shipment.address.lastname %> <%= @shipment.address.firstname %>様の商品の発送が完了いたしました。
下記内容の通り、商品をお届け致します。

お問い合わせ番号: <%= @shipment.tracking %>

************************************************
　配送情報
************************************************

◎お届け先
　お名前　：<%= @shipment.address.lastname %> <%= @shipment.address.firstname %>
　郵便番号：〒<%= @shipment.address.zipcode %>
　住所　　：<%= @shipment.address.city %> <%= @shipment.address.address1 %> <%= @shipment.address.address2 %>
　電話番号：<%= @shipment.address.phone %>

<% @shipment.order.line_items.each do |item| %>
    商品コード: <%= item.variant.sku %>
    数量: <%=item.quantity%>
<% end %>

============================================

■　<%= @shipment.address.lastname %> <%= @shipment.address.firstname %>様のマイページ
https://kashi-kari.jp/account

■　レンタル履歴
https://kashi-kari.jp/history

■　レンタル商品の返送について
レンタル頂きましたアイテムは「返却期限なし」にてご利用頂けます。
また、気にいったアイテムは「購入」することも可能でございます。
存分にアイテムを楽しんで頂けましたら、商品お届け時に同封してあります
「弊社のご用意した返送用の封筒」に入れてアイテムを送り返してください。
※返送用封筒をご利用頂けなかった場合は別途送料を頂戴する事がございます。
※返送用封筒以外で返送したい場合は、かならず「氏名」をお書きして返送してください。

■　レンタルをお申し込み頂いた商品の配送方法に関するお問い合わせはこちら…
KASHi KARI運営事務局：info@kashi-kari.jp

■　サービスに関するQ&Aページ
https://kashi-kari.jp/pages/qa/


━━━━━━━━━━━━━━━━
■ ご注意(ご確認ください)
━━━━━━━━━━━━━━━━

※商品の配送はゆうメールを使用しておりますのでお時間をいただく場合がございます。
「サービスに関するQ&Aページ」にも記載しております通り、ご注文が集中している場合など、
商品のお届けにお時間がかかる場合がございます。


【KASHI KARIでは買取も行っております】
KASHI KARIでは現在お客様よりアイテムの買取も積極的に行っております。
不要になったブランド品のお洋服など送料手数料無料で査定させて頂きます。

是非この機会にクローゼットの整理としてお試しください。
買取申込URL：

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
◆問い合わせ窓口
KASHI KARI 運営事務局（運営会社：株式会社タナクロ）
所有から、シェア文化へ。メンズファッションレンタルサービス「KASHI KARI」

ServiceSite：http://kashi-kari.jp/
Email：info@kashi-kari.jp
サービスに関するQ&Aページ：https://kashi-kari.jp/pages/qa/

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━