<%= @subscription.user.bill_address.lastname %> <%= @subscription.user.bill_address.firstname %>様


この度はKASHI KARIの<%= @subscription.plan.name %>プランにお申し込み頂き誠にありがとうございます。

メンズファッションレンタルKASHI KARIの、
カスタマーサポートの本田さやか（ほんださやか）でございます。
お客様係としてサポートをさせて頂きますのでよろしくお願い致します。

お申し込みは下記の通り承りました。
内容のご確認をよろしくお願い致します。


ーーーーーーーーーーーーーーーーーーーーーー
プラン名: <%= @subscription.plan.name %>
ーーーーーーーーーーーーーーーーーーーーーー

こちらが、<%= @subscription.user.bill_address.lastname %> <%= @subscription.user.bill_address.firstname %>様のマイページになります。
お気に入り機能などで楽しんでいただければと思います。
https://kashi-kari.jp/account

マイページにお気に入りのアイテムを入れて、
実際にレンタルをお楽しみいただければと思います。


【私たちが、KASHI KARI（カシカリ）に込めた想い】
メンズファッションレンタルサービスを運営する上で、
私たちが大切にしたいと考えている価値観は以下の通りです。

・自然を大切にするということ。
・お金が一番ではないということ。
・人は個人だけで成り立っているのではないということ。

これらの価値観をKASHI KARI（カシカリ）を通して、
改めて、この価値観を深めていきたいと考えています。


【KASHI KARIの楽しみ方】
お気に入り機能を使い、マイページにお気に入りのビジネスアイテムを集めてください。
使い方は簡単で、商品ページの「♡」をクリックするだけです。
また、ネクタイやカフスなど一部のアイテムは様々なコーディネートをページ上で楽しんで頂けます。

お持ちのアイテムに合わせやすい様に多数のコーディネートを用意しております。


━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
◆問い合わせ窓口
KASHI KARI 運営事務局（運営会社：株式会社タナクロ）
所有から、シェア文化へ。メンズファッションレンタルサービス「KASHI KARI」

ServiceSite：https://kashi-kari.jp/
Email：info@kashi-kari.jp
サービスに関するQ&Aページ：https://kashi-kari.jp/pages/qa/

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━