KASHI KARIの無料会員登録が完了しました。
誠にありがとうございます。

メンズファッションレンタルKASHI KARIの、
カスタマーサポートチームの本田さやか（ほんださやか）でございます。

お申し込みは下記の通り承りました。
内容のご確認をよろしくお願い致します。

--------------------------------------------------------------
メールアドレス: <%= @user.email %>
--------------------------------------------------------------


こちらが、<%= @user.email %>様のマイページになります。
お気に入り機能などで楽しんでいただければと思います。
https://kashi-kari.jp/account


  【KASHI KARIのサービス内容】
  本サービスは月額費用をお支払い頂き、ネクタイやカフス、小物など、
  ビジネスファッションアイテムをレンタルできるサービスです。

  気に入ったアイテムを購入することも出来ます。
  ので買って失敗したということもございません。

  月額プランは４種類ご用意しております。お客様に合ったプランでお楽しみ頂けます。
  もちろん送料・返送料・クリーニング代はKASHI KARIが負担させていただきます。

  月額プランで決まった個数であれば、いくつでもアイテムをレンタルしていただけます。

  詳しくは、KASHI KARIのプラン案内ページをご覧ください。

  https://kashi-kari.jp/subscriptions/step1

  KASHI KARIをご利用いただくことによって、
  普段チャレンジできないコーディネートやアイテムにチャレンジしていただければ幸いです。



  【私たちが、KASHI KARI（カシカリ）に込めた想い】
  メンズファッションレンタルサービスを運営する上で、
  私たちが大切にしたいと考えている価値観は以下の通りです。

  ・自然を大切にするということ。
  ・お金が一番ではないということ。
  ・人は個人だけで成り立っているのではないということ。

  これらの価値観をKASHI KARI（カシカリ）を通して、
  改めて、この価値観を深めていきたいと考えています。

  【KASHI KARIの楽しみ方】
  無料会員登録の方でもお気に入り機能をフルに活用頂く事が出来ます。
  商品ページの「♡」をクリックして、マイページにどんどんお気に入りを追加してください。
  またネクタイやカフスなど一部のアイテムは様々なコーディネートをページ上で楽しんで頂けます。

  お持ちのアイテムに合わせやすい様に多数のコーディネートを用意しております。

  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  ◆問い合わせ窓口
  KASHI KARI 運営事務局（運営会社：株式会社タナクロ）
  所有から、シェア文化へ。メンズファッションレンタルサービス「KASHI KARI」

  ServiceSite：https://kashi-kari.jp/
  Email：info@kashi-kari.jp
  サービスに関するQ&Aページ：https://kashi-kari.jp/pages/qa/

  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━