.pc {
  .input_row {
    margin: 15px -10px;
    position: relative;
    overflow: hidden;
    div {
      padding: 0 10px;
      &.split_2 {
        float: left;
        width: 50%;
      }
      label {
        font-size: 13px;
      }
    }
  }
}
