*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Typo
body {
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.2;

  &.sp {
    font-size: 9px;
  }
  &.pc {
    font-size: 13px;
  }
}
img {
	max-width: 100%;
	height: auto;
  vertical-align: top;
}
a {
	color: inherit;
  text-decoration: none;
}
button, input[type="submit"] {
  cursor: pointer;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
  -webkit-appearance: none;
  appearance: none;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    /* background-color: rgb(250, 255, 189); */
    /* background-image: none; */
    /* color: rgb(0, 0, 0); */
  }
}
input[type="button"] {
  cursor: pointer;
}


input, textarea {
  border: 1px solid #848484;

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: rgba(0,0,0,0.3)
  }

  &:focus {
    outline: none;
  }
}

fieldset {
  border: none;
}

// Opt Out
.ol, .ul {
  margin: 0;
  padding-left: 0;

  li {
    list-style-type: none;
  }

  &.alink {
    li {
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.alink {
  color: inherit;
  text-decoration: none;
}

//
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.button, .input, .optgroup, .select, .textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.input {
  line-height: normal;
}
.button, .input, .textarea, .select {
  border: 0;
}

// Customize
.sp {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
  }
}

// compornents
// - - - - - -
.clearfix {
  clear: both;
}

.sp {
  .sp_hero {
    padding: 10px 0 40px;
    background-color: #fff;
    text-align: center;

    img {
      width: 104px;
      height: auto;
    }
  }

  .sp_panel {
    background-color: #fff;
    border-bottom: 0.5px solid #c2c2c2;
  }
}

.pre_title {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  &:before, &:after {
    content: "";
    display: block;
    position: relative;
    top: -6px;
    border-top: 1px solid #d7d7d7;
  }

  h1, h2, h3 {
    font-size: 16px;
    color: #1e1e1e;
    padding: 0 20px;
    display: table-cell;
    width: 1px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
.pc {
  .pre_title.pre_hero {
      margin-bottom: 100px;
  }
}

.input-block {
  width: 100%;
  height: 48px;
}
