$pc_container: 960px;
$sp_container: 600px;

html, body {
	margin: 0;
	position: relative;
}

.sp {
	background-color: #F8F8F8;

	.container {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		overflow-x: hidden;
	}
	.layout {
		padding: 40px 0;
	}
}

.pc {
	.container {
		min-width: $pc_container;
		width: $pc_container;
	  margin: 0 auto;
	}
	.layout {
		padding: 50px 0 150px;
	}
}

.container {

  .container-inner {
  	overflow: hidden;
  }
  .container-form {
  	max-width: 100%;
  	width: 450px;
  	margin: 0 auto;
  }

	.row {
		// basic style
		margin: 0 -10px;
		overflow: hidden;

		.kkr-1-3 {
			float: left;
			width: 33%;
			padding: 0 10px;
		}
		.kkr-1-4 {
			float: left;
			width: 25%;
			padding: 0 10px;
		}
	}
}
