.sp {
  .modal-content {
    position: fixed;
    display: none;
    z-index: 1000;
    width: 320px;
    height: 160px;
    margin: 0;
    padding: 0;
    background-color: white;

    .modal_container {
      overflow: hidden;
      .left_image {
        float: left;
        width: 160px;
        height: 160px;
        img {
          width: 160px;
          height: 160px;
        }
      }
      .right_info {
        float: left;
        width: 160px;
        height: 160px;
        padding: 20px;
        h1 {
          margin: 20px 0 0;
          padding: 12px 0;
          border: 1px solid #000;
          border-width: 2px 0;
          text-align: center;
          font-weight: normal;
        }
        p {
          margin-bottom: 0;
          text-align: center;
          font-size: 8px;
          font-weight: bold;
        }
        .buttons {
          padding: 10px 0;
          text-align: center;
          .btn, .modal-close {
            width: 54px;
            height: 22px;
            padding: 4px;
            border-radius: 8px;
            font-size: 8px;
          }
          form, .modal-close, .btn {
            display: inline-block;
            vertical-align: top;
            text-align: center;
          }
          button.modal-close {
            margin-right: 4px;
            border: 1px solid #000;
            background-color: #fff;
            &:hover {
              color: inherit;
            }
          }
          input.btn {
            height: 24px;
            background-color: #000;
            color: white;
          }
        }
      }
    }
  }

  .modal-overlay {
    z-index: 900;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, .3);
  }

  .modal-open, .modal-close {
    color: #000;
    &:hover {
      cursor: pointer;
      color: #f00;
    }
  }

  .modal-submit {
    display: inline-block;
    input {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      cursor: pointer;
      &:hover, &:focus {
        background-color: rgba(255,255,255,0.15);
      }
      &:active {
        background-color: #fff;
        color: black;
      }
    }
  }
}

.pc {
  .modal-content {
    position: fixed;
    display: none;
    z-index: 1000;
    width: 738px;
    height: 365px;
    margin: 0;
    padding: 0;
    background: white;

    .modal_container {
      overflow: hidden;
      .left_image {
        float: left;
        width: 365px;
        height: 365px;
      }
      .right_info {
        float: left;
        width: 373px;
        height: 365px;
        padding: 40px;
        h1 {
          margin: 40px 0 0;
          padding: 18px 0;
          border: 2px solid #000;
          border-width: 2px 0;
          text-align: center;
          font-weight: normal;
        }
        p {
          margin-bottom: 0;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
        }
        .buttons {
          padding: 30px 0;
          text-align: center;
          .btn, .modal-close {
            width: 124px;
            height: 47px;
            padding: 12px;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
          }
          form, .modal-close, .btn {
            display: inline-block;
            vertical-align: top;
            text-align: center;
          }
          button.modal-close {
            margin-right: 4px;
            border: 1px solid #000;
            background-color: #fff;
            &:hover {
              color: inherit;
            }
          }
          input.btn {
            background-color: #000;
            color: white;
          }
        }
      }
    }
  }

  .modal-overlay {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, .3)
  }

  .modal-open, .modal-close {
    color: #000;
    &:hover {
      cursor: pointer;
      color: #f00;
    }
  }

  .modal-submit {
    display: inline-block;
    input {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      cursor: pointer;
      &:hover, &:focus {
        background-color: rgba(255,255,255,0.15);
      }
      &:active {
        background-color: #fff;
        color: black;
      }
    }
  }
  .modal-submit-cancel {
    display: inline-block;
    input {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      cursor: pointer;
      &:hover, &:focus {
        background-color: rgba(255,255,255,0.15);
      }
      &:active {
        background-color: #fff;
        color: black;
      }
    }
  }
}
