$header-bg: #000;
$header-txt: #fff;

$gray: #f7f7f7;
$gray2: #f8f8f8;

$gold: #c29720;
$silver: #969696;
$bronze: #c69a6b;
$black: black;

// Social
$fb: #3b5998;


.f_fm {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-weight: normal;
}


$ui_png: 155px 125px;

// ベンダープレフィックス
@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}


// カラーフィルターのパーツ
@mixin color_parts($device) {
  span.color-icon {
    vertical-align: middle;
    line-height: 20px;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    &.color_224 {
      background-color: blue;
    }
    &.color_225 {
      background-color: navy;
    }
    &.color_226 {
      background-color: red;
    }
    &.color_227 {
      background-color: black;
      @if $device == 'sp' {
        border: 1px solid #696969;
      }
    }
    &.color_228 {
      background-color: brown;
    }
    &.color_229 {
      background-color: white;
    }
    &.color_230 {
      background-color: purple;
    }
    &.color_231 {
      background-color: gray;
    }
    &.color_232 {
      background-color: #F4E5DC;
    }
    &.color_233 {
      background-color: pink;
    }
    &.color_234 {
      background-color: green;
    }
    &.color_235 {
      background-color: khaki;
    }
    &.color_236 {
      background-color: silver;
    }
    &.color_237 {
      background-color: yellow;
    }
    &.color_238 {
      background-color: #6c272d;
    }
    &.color_239 {
      background-color: #58535E;
    }
    &.color_240 {
      background-color: gold;
    }
    &.color_286 {
      background-color: orange;
    }
  }
}