<div id="container">
  <div class="about-wrapper">

    <header class="about-header">
      <h2 >会社概要</h2>
    </header>

    <table>
      <tbody>
      <tr>
        <th>販売業者名</th>
        <td>株式会社タナクロ</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>田中淳也</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>1,000,000円</td>
      </tr>
      <tr>
        <th>資格・免許</th>
        <td>埼玉県公安委員会 古物商許可証：第431030027630号</td>
      </tr>
      <tr>
        <th>屋号・またはサービス名</th>
        <td>KASHI KARI</td>
      </tr>
      <tr>
        <th>コーポレートサイト</th>
        <td><a target="_blank" href="http://www.tanaqro.com/">http://www.tanaqro.com/</a></td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>埼玉県さいたま市南区根岸3-5-2 2F</td>
      </tr>
      <tr>
        <th>連絡先</th>
        <td>048-711-7600</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><a href="mailto:info@kashi-kari.jp">info@kashi-kari.jp</a></td>
      </tr>
      <tr>
        <th>取引銀行</th>
        <td>・三井住友銀行（川口支店）<br>・ゆうちょ銀行</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>