<div id="container">
  <div class="asct-wrapper">
    <h2>特定法商取引に関する表示</h2>
    <table>
      <tbody>
      <tr>
        <th>販売業者名</th>
        <td>株式会社タナクロ</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>田中淳也</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>埼玉県さいたま市南区根岸3-5-2 2F</td>
      </tr>
      <tr>
        <th>連絡先</th>
        <td>048-762-7710</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>info@kashi-kari.jp</td>
      </tr>
      <tr>
        <th>許認可</th>
        <td>埼玉県公安委員会 古物商許可証：第431030027630号</td>
      </tr>
      <tr>
        <th>商品の販売価格・サービスの対価</th>
        <td>各商品・サービスに関するページにて表示する価格</td>
      </tr>
      <tr>
        <th>販売数量</th>
        <td>在庫切れの場合は、随時メール・電話にてご連絡させていただきます。</td>
      </tr>
      <tr>
        <th>対価以外に必要となる費用</th>
        <td>利用規約に定めます</td>
      </tr>
      <tr>
        <th>代金の支払時期</th>
        <td>利用規約に定めます</td>
      </tr>
      <tr>
        <th>商品以外の必要代金</th>
        <td>購入済み商品の配送料（レンタル商品の送料・返送料は無料。）<br>
          弊社指定の返送用伝票以外を用いて返送する場合の送料,商品紛失等の際の違約金
        </td>
      </tr>
      <tr>
        <th>お支払方法</th>
        <td>クレジットカード決済（前払い）</td>
      </tr>
      <tr>
        <th>商品引渡し又はサービス提供の時期</th>
        <td>代金決済手続及びレンタル等の申込手続の完了後速やかに発送します</td>
      </tr>
      <tr>
        <th>返品・キャンセルに関する特約</th>
        <td>おお届けした商品については、お客様都合の返品をお受けいたしません。なお、商品に瑕疵がある場合は、利用規約の定めに従って対応します。</td>
      </tr>
      <tr>
        <th>不良品の取り扱い条件</th>
        <td>当店で取り扱う商品はほとんどが中古品となりますので、原則、返品は承っておりません。

          弊社に不備がある場合や、偽造品、 不正規品であった場合、商品到着3日以内にメールで連絡いただいたもののみお受けいたします。
          その場合の返品の送料・手数料については、当社が負担いたします。※商品間違いに関しましてはご注文アイテムと同商品がございましたらそちらとの交換になります。

          ※商品到着後3日を超えた場合は、不具合による修理・返品も応じかねます。予めご了承ください。</td>
      </tr>
      <tr>
        <th>解約条件</th>
        <td>契約期間内であれば、いつでも解約することができます。
          解約いただくと翌月のサービス提供並びに請求は行いません。
          解約はマイページより行うことが可能です。
          途中解約による返金は承っておりません。</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>