<div id="container">
  <div class="privacy-wrapper">
    <h2 class="ac-faq-title">プライバシーポリシー</h2>
    <p id="privacy-slogan">
      当社は、当社の提供するサービスにおける、お客様の個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定め、これを公表するとともに遵守することを宣言します。
    </p>

    <ul class="privacy-text">
      <h3>第１条（総則）</h3>
      <li>当社は、お客様の個人情報の取得、利用その他一切の個人情報の取扱いについて、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の関連法令及び本ポリシーを遵守します。</li>
    </ul>
    <ul class="privacy-text">
      <h3>第２条（取得する情報）</h3>
      <li>１．当社は、お客様から以下に掲げる情報を取得します。</li>
      <ul>
        <li>(1) 氏名</li>
        <li>(2) 住所</li>
        <li>(3) 電話番号</li>
        <li>(4) 電子メールアドレス</li>
        <li>(5) クレジットカード情報</li>
        <li>(6) 当社に対する各種お問い合わせに関する情報</li>
        <li>(7) 会員登録に関する情報</li>
        <li>(8) その他お客様から当社に提供される一切の情報</li>
      </ul>
      <li>２．当社は、個人情報の取得にあたっては、偽りその他不正の手段によらず、適正な方法により取得します。</li>
    </ul>
    <ul class="privacy-text">
      <h3>第３条（利用目的）</h3>
      <li>1. 当社は、当社が取得したお客様の個人情報を、以下に掲げる目的の範囲内で適正に取り扱います。</li>
      <ul>
        <li>(1) 当社が企画・実施する懸賞に係る結果の通知及び提供並びにその後の対応</li>
        <li>(2) ファッションアパレルアイテムのレンタル及び販売に係るサービス（以下「本サービス」と総称します。）の開始、更新及び終了に係る告知</li>
        <li>(3) 本サービスに関するアンケート等の実施</li>
        <li>(4) 本サービス及びこれらに付随するサービスの提供</li>
        <li>(5) 当社及び他社の提供するその他のサービスに係る電子メールその他の方法による告知、営業活動及びマーケティング活動</li>
        <li>(6) 当社に対するお問い合わせ等への対応</li>
        <li>(7) 本ポリシーの変更その他重要なお知らせ等の通知</li>
        <li>(8) その他当社の提供するサービスを遂行するうえで合理的に必要となる取扱い</li>
      </ul>
      <li>２．当社は、前項に掲げる利用目的を、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には、当社が別途定める方法により、お客様に通知又は公表します。</li>
    </ul>

    <ul class="privacy-text">
      <h3>第４条（第三者提供）</h3>
      <li>当社は、お客様の個人情報については、以下に掲げる場合を除き、第三者に提供することはありません。</li>
      <ul>
        <li>(1) お客様の同意を得た場合</li>
        <li>(2) 法令に基づく場合</li>
        <li>(3) 人の生命、身体又は財産の保護のために必要がある場合であって、お客様本人の同意を得ることが困難であるとき</li>
        <li>(4) 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、お客様本人の同意を得ることが困難であるとき</li>
        <li>(5) 国の機関若しくは地方公共団体又はその委託を受けた者が法令に定める事務を遂行することに対して協力する必要がある場合であって、お客様本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
        <li>(6) 当社が第３条に定める利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合</li>
        <li>(7) 合併、会社分割、事業譲渡その他の事由によりお客様の個人情報を含む事業の承継がなされる場合</li>
      </ul>
    </ul>

    <ul class="privacy-text">
      <h3>第５条（共同利用）</h3>
      <li>当社は、本サービスをお客様に対して提供するために、第３条に定める利用目的の達成に必要な範囲において、当該サービスに係る提携パートナーとの間で、お客様の個人情報を共同利用することがあります。この場合、当社は、あらかじめ、提携パートナーの名称、共同利用目的、共同利用する情報の種類を公表するものとします。</li>
    </ul>

    <ul class="privacy-text">
      <h3>第６条（安全管理措置）</h3>
      <li>当社は、お客様の個人情報を正確かつ最新の内容に保つよう努めるとともに、不正なアクセス、改ざん、漏えい、滅失及び毀損から保護するため、必要かつ適切な安全管理措置を講じます。</li>
    </ul>

    <ul class="privacy-text">
      <h3>第７条（個人情報の取扱いの委託）</h3>
      <li>当社は、お客様から取得した個人情報の取扱いの全部又は一部を第三者に委託することがあります。この場合において、当社は、個人情報を適正に取り扱うと認められる委託先を選定し、当該委託先との間で本ポリシーに準じる内容の秘密保持契約等を予め締結するとともに、当該委託先において個人情報の適切な管理が図られるよう、必要かつ適切な監督を行います。</li>
    </ul>

    <ul class="privacy-text">
      <h3>第８条（個人情報の開示）</h3>
      <li>当社は、お客様から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、お客様本人からの請求であることを確認のうえで（代理人による申請の場合は、適正な代理人であることの確認を含みます。）、お客様に対し、遅滞なく合理的な範囲で開示を行います（当該個人情報が存在しないときにはその旨を通知致します。）。但し、個人情報保護法その他の法令により当社が開示義務を負わない場合又は正当な理由なく同内容の請求が繰り返される場合はこの限りではありません。なお、個人情報の開示につきましては、手数料（１件あたり1,000円）を頂戴しておりますので、予めご了承下さい。</li>
    </ul>

    <ul class="privacy-text">
      <h3>第９条（個人情報の訂正及び利用停止等）</h3>
      <li>１．当社は、お客様から、(1)個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場合、及び(2)予め公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により収集されたものであるという理由により、個人情報保護法の定めに基づきその訂正又は利用の停止を求められた場合には、お客様本人からの請求であることを確認のうえで（代理人による申請の場合は、適正な代理人であることの確認を含みます。）、遅滞なく合理的な範囲で必要な調査を行い、その結果に基づき、個人情報の内容の訂正又は利用停止を行い、その旨をお客様に通知します。なお、合理的な理由に基づいて訂正又は利用停止を行わない旨の決定をしたときは、お客様に対しその旨を通知いたします。</li>
      <li>２．当社は、お客様から、お客様の個人情報について消去を求められた場合、当社が当該請求に応じる必要があると判断した場合は、お客様ご本人からのご請求であることを確認のうえで（代理人による申請の場合は、適正な代理人であることの確認を含みます。）、個人情報の消去を行い、その旨をお客様に通知します。</li>
      <li>３．個人情報保護法その他の法令により、当社が訂正等又は利用停止等の義務を負わない場合、正当な理由なく同内容の請求が繰り返される場合又は過度な技術的作業を要する場合は、前二項の規定は適用されません。</li>
    </ul>

    <ul class="privacy-text">
      <h3>第10条（本ポリシーの変更）</h3>
      <li>１．当社は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、随時本ポリシーを変更することがあります。</li>
      <li>２．変更後の本ポリシーについては、当社の運営するウェブサイトでの掲示その他分かりやすい方法により告知します。ただし、法令上お客様の同意が必要となるような内容の変更を行うときは、別途当社が定める方法により、お客様の同意を取得します。</li>
    </ul>

    <ul class="privacy-text">
      <h3>第11条（お問い合わせ）</h3>
      <li>当社の個人情報の取扱いに関するご意見、ご質問、苦情のお申出その他個人情報の取扱いに関するお問い合わせは、以下の窓口までご連絡ください。</li>
      <div class="privacy-contact">
        <p>〒336-0024　さいたま市南区根岸3-5-2　2F</p>
        <p>株式会社タナクロ（担当部署：ファッションレンタル事業部）</p>
        <p>電話：048-711-7600</p>
        <p>E-mail：<a href="mailto:info@kashi-kari.jp">info@kashi-kari.jp</a></p>
        <p>（なお、受付時間は、平日10時から17時までとさせて頂きます。）</p>
      </div>
    </ul>

    <div class="text-right">
      <p>制定：平成27年6月1日</p>
      <p>改正：平成27年7月7日</p>
      <p>株式会社タナクロ 代表取締役　田中淳也</p>
    </div>

  </div>
</div>