<script type="text/javascript">
    $(function(){
        $('a[href^=#]').click(function(){
            var speed = 500;
            var href= $(this).attr("href");
            var target = $(href == "#" || href == "" ? 'html' : href);
            var position = target.offset().top;
            $("html, body").animate({scrollTop:position}, speed, "swing");
            return false;
        });
    });
</script>

<div id="container">
  <div class="faq-wrapper">
    <header class="faq-header">
      <h2 class="ac-faq-title">よくあるご質問</h2>
    </header>

    <nav class="faq-links">
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">KASHI KARIサービスに関して</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-1" class="faq-link ac-js-page-nav">KASHI KARIって何ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-2" class="faq-link ac-js-page-nav">月額プランの内容は？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-3" class="faq-link ac-js-page-nav">KASHI KARIの利用するにはどうしたらいいですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-4" class="faq-link ac-js-page-nav">定休日はありますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-5" class="faq-link ac-js-page-nav">KASHI KARIの最新情報を知る方法はありますか？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">KASHI KARIの会員登録に関して</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-6" class="faq-link ac-js-page-nav">無料会員と月額会員の違いは何ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-7" class="faq-link ac-js-page-nav">お気に入り機能で追加した商品は、数日後に消えてしまいますか？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">月額会費のお支払いに関して</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-8" class="faq-link ac-js-page-nav">支払い方法は？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-9" class="faq-link ac-js-page-nav">月額会員の支払いのタイミングは？1ヶ月の期間とは？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-10" class="faq-link ac-js-page-nav">次回の支払日はいつになりますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-11" class="faq-link ac-js-page-nav">クレジットカードを変更したいのですがどうしたらいいですか？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">登録情報に関して</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-12" class="faq-link ac-js-page-nav">住所や電話番号の変更方法は？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-13" class="faq-link ac-js-page-nav">メールアドレスの変更方法は？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">KASHI KARIの利用に関して</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-14" class="faq-link ac-js-page-nav">最初のアイテムはいつ届きますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-15" class="faq-link ac-js-page-nav">何点からレンタル可能ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-16" class="faq-link ac-js-page-nav">どのように次のアイテムと交換するのですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-17" class="faq-link ac-js-page-nav">アイテムの交換は何回までできますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-18" class="faq-link ac-js-page-nav">気に入ったアイテム以外のものだけを交換したいのですが、可能ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-19" class="faq-link ac-js-page-nav">気に入ったアイテムを購入したいのですが、できますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-20" class="faq-link ac-js-page-nav">レンタルアイテムを自分でメンテナンスしてもいいですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-21" class="faq-link ac-js-page-nav">お気に入り登録って何ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-22" class="faq-link ac-js-page-nav">レンタル中のアイテムの詳細を見たいのですが？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">発送について</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-23" class="faq-link ac-js-page-nav">自宅以外の場所に発送してほしいのですが可能ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-24" class="faq-link ac-js-page-nav">日時指定はできますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-25" class="faq-link ac-js-page-nav">どのアイテムが発送されるか確認はできますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-26" class="faq-link ac-js-page-nav">配送はどの配送会社ですか？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">返却について</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-27" class="faq-link ac-js-page-nav">返却はどの配送会社ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-28" class="faq-link ac-js-page-nav">どうやって返却するのですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-29" class="faq-link ac-js-page-nav">交換の時に送料はかかりますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-30" class="faq-link ac-js-page-nav">返却後は次のアイテムはいつ頃届きますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-31" class="faq-link ac-js-page-nav">返却はどうすればいいですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-32" class="faq-link ac-js-page-nav">返却するときにクリーニングした方がいいですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-33" class="faq-link ac-js-page-nav">返送用袋、返送用伝票をなくしてしまったのですがどうしたらいいですか？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">サービスの一時休止・会員退会に関して</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-35" class="faq-link ac-js-page-nav">月額会員に入っていますが、サービスを一時休止することは可能ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-36" class="faq-link ac-js-page-nav">月額会員を退会するには？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-37" class="faq-link ac-js-page-nav">無料会員を退会するには？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">商品について</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-38" class="faq-link ac-js-page-nav">商品を予約したいのですができますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-39" class="faq-link ac-js-page-nav">レンタル商品は正規品ですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-40" class="faq-link ac-js-page-nav">商品はどうやって手入れしていますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-41" class="faq-link ac-js-page-nav">商品写真と実物は同じものですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-42" class="faq-link ac-js-page-nav">レンタル商品はどうやって仕入れていますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-43" class="faq-link ac-js-page-nav">レンタル商品に不具合があった場合はどうしたらいいですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-44" class="faq-link ac-js-page-nav">新商品の入荷はいつですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-45" class="faq-link ac-js-page-nav">現在KASHI KARIで取り扱いがないアイテムのリクエストはできますか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-46" class="faq-link ac-js-page-nav">商品のサイズを知りたいのですが？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">汚損・破損・紛失について</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-47" class="faq-link ac-js-page-nav">レンタル商品・付属品を紛失した、盗難されたのですが、どうしたらいいですか？</a>
          </li>
          <li class="faq-link-item">
            <a href="#faq-48" class="faq-link ac-js-page-nav">レンタル商品を汚したりダメージが生じてしまった場合はどうなりますか？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">コーディネート</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-49" class="faq-link ac-js-page-nav">実際コーディネートしている画像をメールで送ってもらえませんか？</a>
          </li>
        </ul>
      </div>
      <div class="faq-link-category">
        <h3 class="faq-link-category-title">その他</h3>
        <ul class="faq-link-list">
          <li class="faq-link-item">
            <a href="#faq-50" class="faq-link ac-js-page-nav">スーツは取り扱っていますか？</a>
          </li>
        </ul>
      </div>
    </nav>

    <article class="faq-main">
      <div class="faq-category">
        <h3 class="faq-category-title">KASHI KARIサービスに関して</h3>
        <section id="faq-1" class="faq-section">
          <h4 class="faq-question">
            KASHI KARIって何ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              KASHI KARIは、ネクタイを中心としたメンズビジネスアイテムのレンタルサービスです。<br>
              月額定額制で、1980円からご利用いただけます。4つの月額プランをご用意しております。
            </div>
          </div>
        </section>
        <section id="faq-2" class="faq-section">
          <h4 class="faq-question">
            月額プランの内容は？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              シルバープランが3600円、ゴールドプランが5800円、ブラックプランが12600円です。<br>
              入会しているプランよりも下位のプランのアイテムもレンタルできます。例えば、ゴールドプランであれば、シルバープランのアイテムもレンタルが可能です。
            </div>
          </div>
        </section>
        <section id="faq-3" class="faq-section">
          <h4 class="faq-question">
            KASHI KARIの利用するにはどうしたらいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              初めてのご利用の場合は、KASHI KARIの無料会員のご登録が必要です。その後、月額会員にご登録いただき、レンタルサービスをご利用いただけます。
            </div>
          </div>
        </section>
        <section id="faq-4" class="faq-section">
          <h4 class="faq-question">
            定休日はありますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              定休日はありません。臨時休業の場合には、事前にサイトのトップページに記載いたします。
            </div>
          </div>
        </section>
        <section id="faq-5" class="faq-section">
          <h4 class="faq-question">
            KASHI KARIの最新情報を知る方法はありますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              ご登録いただいたメールアドレスにメールマガジンの配信をさせていただくサービスがございます。もしくは、Facebook、Twitter、Instagramの公式アカウントでも最新情報を発信しております。
              <a href="https://www.facebook.com/kashikari.jp" target="_blank">・Facebookページ</a><br>
              <a href="https://twitter.com/kashi_kari?lang=ja" target="_blank">・Twitterアカウント</a><br>
              <a href="https://instagram.com/kashi.kari" target="_blank">・Instagramアカウント</a>
            </div>
          </div>
        </section>
      </div>
      <div class="faq-category">
        <h3 class="faq-category-title">KASHI KARIの会員登録に関して</h3>
        <section id="faq-6" class="faq-section">
          <h4 class="faq-question">
            無料会員と月額会員の違いは何ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              無料会員にご登録いただくと、サイトにアクセスしてからお気に入り機能をご利用いただくことができます。<br>
              さらに月額会員にご登録いただくことで、アイテムを実際にレンタルしたり購入したりできるKASHI KARIのサービスをご利用いただけます。
            </div>
          </div>
        </section>
        <section id="faq-7" class="faq-section">
          <h4 class="faq-question">
            お気に入り機能で追加した商品は、数日後に消えてしまいますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              消えてしまうことはございません。
            </div>
          </div>
        </section>
      </div>
      <div class="faq-category">
        <h3 class="faq-category-title">月額会費のお支払いに関して</h3>
        <section id="faq-8" class="faq-section">
          <h4 class="faq-question">
            支払い方法は？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              月額会員のお支払い方法は、クレジットカード払いのみとなります。<br>
              ご本人様の確認を目的として、クレジットカードでのお支払いをお願いしております。<br>
              アイテムの購入の場合は、銀行振り込みと代金引換決済もご用意しております。
            </div>
          </div>
        </section>
        <section id="faq-9" class="faq-section">
          <h4 class="faq-question">
            月額会員の支払いのタイミングは？1ヶ月の期間とは？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              月額会員にご登録いただいた日がご利用開始日のスタートとなり、諸月分のご利用料金の請求が確定となります。次月以降は、1ヵ月ごとの課金となります。<br>
              次月以降は、ご利用開始日から１ヶ月ごとの課金となります。<br>
              1ヶ月とは、例えば8月20日に月額会員登録をしたのであれば、9月19日までが1ヶ月となり、毎月20日が月額の支払日となります。
            </div>
          </div>
        </section>
        <section id="faq-10" class="faq-section">
          <h4 class="faq-question">
            次回の支払日はいつになりますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              支払日は、ログイン後の会員サイトに表示される「マイページ」の「ユーザー情報」にてご確認いただけます。<br>
              取引履歴URL：<a href="http://kashi-kari.jp/mypage/subscriptions">kashi-kari.jp/mypage/subscriptions</a>
            </div>
          </div>
        </section>
        <section id="faq-11" class="faq-section">
          <h4 class="faq-question">
            クレジットカードを変更したいのですがどうしたらいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              申し訳ございませんが、現在クレジットカードを変更する機能がございません。一度退会していただいて再度入会していただくか、入会プラン変更時に変更することができます。<br>
              クレジットカードのみの変更機能は、今後実装していく予定です。恐れ入りますが少々お待ちくださいませ。
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">登録情報に関して</h3>
        <section id="faq-12" class="faq-section">
          <h4 class="faq-question">
            住所や電話番号の変更方法は？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              ログイン後の会員サイトに表示される「マイページ」の「ユーザー情報」で登録情報を変更することができます。
            </div>
          </div>
        </section>
        <section id="faq-13" class="faq-section">
          <h4 class="faq-question">
            メールアドレスの変更方法は？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              ログイン後の会員サイトに表示される「マイページ」の「ユーザー情報」で登録情報を変更することができます。
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">KASHI KARIの利用に関して</h3>
        <section id="faq-14" class="faq-section">
          <h4 class="faq-question">
            最初のアイテムはいつ届きますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              月額会員にご登録いただき、「マーページ」でレンタル希望アイテムの「レンタルする」を押していただいてから、数日後にアイテムをお届けします。<br>
              ※発送した際にメールにて発送通知をお出しいたします。
            </div>
          </div>
        </section>
        <section id="faq-15" class="faq-section">
          <h4 class="faq-question">
            何点からレンタル可能ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              1点からレンタルができます。<br>
              ※1点の場合でも月額料金は変わりませんので、あらかじめご了承くださいませ。
            </div>
          </div>
        </section>
        <section id="faq-16" class="faq-section">
          <h4 class="faq-question">
            どのように次のアイテムと交換するのですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              商品が弊社に返却商品が届きましたら、その旨をメールにてご連絡いたします。<br>「マイページ」のステータスに空きができているのをご確認いただき、新しい商品をご注文くださいませ。確認次第、発送いたします。
            </div>
          </div>
        </section>
        <section id="faq-17" class="faq-section">
          <h4 class="faq-question">
            アイテムの交換は何回までできますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              ご交換は１点からでも可能です。
            </div>
          </div>
        </section>
        <section id="faq-18" class="faq-section">
          <h4 class="faq-question">
            気に入ったアイテム以外のものだけを交換したいのですが、可能ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              もちろん可能です。ご交換は1点からでもお受けしております。
            </div>
          </div>
        </section>
        <section id="faq-19" class="faq-section">
          <h4 class="faq-question">
            気に入ったアイテムを購入したいのですが、できますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              はい、ご購入いただけます。「マイページ」のレンタル中アイテムの購入希望アイテムにチェックをしていただき、購入ボタンを押していただくことでご購入いただけます。<br>
              お支払い方法は、クレジットカード決済、銀行振り込み、代金引換からご選択できます。
            </div>
          </div>
        </section>
        <section id="faq-20" class="faq-section">
          <h4 class="faq-question">
            レンタルアイテムを自分でメンテナンスしてもいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              申し訳ございませんが、アイテムの状態が変わってしまう恐れがあるため、セルフメンテナンスはお断りしております。<br>
              ※返却時に商品状態が変わっている場合は、弁償していただくこともございます。
            </div>
          </div>
        </section>
        <section id="faq-21" class="faq-section">
          <h4 class="faq-question">
            お気に入り登録って何ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              「アイテムリスト」のページにあるアイテムを「マイページ」に登録できる機能です。<br>
              お気に入り登録をすることで、「マイページ」から観覧することができます。
            </div>
          </div>
        </section>
        <section id="faq-22" class="faq-section">
          <h4 class="faq-question">
            レンタル中のアイテムの詳細を見たいのですが？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              「マイページ」から確認することができます。<br>
              マイページ：URL <a href="http://kashi-kari.jp/mypage">http://kashi-kari.jp/mypage</a>
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">発送について</h3>
        <section id="faq-23" class="faq-section">
          <h4 class="faq-question">
            自宅以外の場所に発送してほしいのですが可能ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              レンタルする前に、「マイページ」から配送情報を変更していただくことで、自宅以外の場所（ホテルなどにも）対応させていただきます。<br>
              変更した場合は、配送情報を戻すことをお忘れにならないようにくれぐれもお気をつけください。<br>
              今後は、配送情報を複数設定できるようにする予定です。恐れ入りますがしばらくお待ちくださいませ。<br>
              発送した際には、メールにて発送通知をお送りいたします。
            </div>
          </div>
        </section>
        <section id="faq-24" class="faq-section">
          <h4 class="faq-question">
            日時指定はできますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              ゆうメールを使用しておりますので、日時指定はできません。お日にちの余裕を持ってレンタルしていただくことをおすすめいたします。
            </div>
          </div>
        </section>
        <section id="faq-25" class="faq-section">
          <h4 class="faq-question">
            どのアイテムが発送されるか確認はできますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              「マイページ」からご確認いただけます。
              レンタル履歴：<a href="http://kashi-kari.jp/mypage/rentals">http://kashi-kari.jp/mypage/rentals</a>
            </div>
          </div>
        </section>
        <section id="faq-26" class="faq-section">
          <h4 class="faq-question">
            配送はどの配送会社ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              郵便局の「ゆうメール」で発送させていただきます。
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">返却について</h3>
        <section id="faq-27" class="faq-section">
          <h4 class="faq-question">
            返却はどの配送会社ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              郵便局の「ゆうメール」です。アイテムに同梱されている返送用封筒をご利用くださいませ。
            </div>
          </div>
        </section>
        <section id="faq-28" class="faq-section">
          <h4 class="faq-question">
            どうやって返却するのですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              アイテムをお届けした際に、返送用袋と伝票を同梱しております。<br>
              返却時には、返送用袋に交換したいアイテムを入れていただき、ポストに投函していただくか、郵便局の窓口にてご返却くださいませ。
            </div>
          </div>
        </section>
        <section id="faq-29" class="faq-section">
          <h4 class="faq-question">
            交換の時に送料はかかりますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              送料は、配送料、返送料と、どちらも無料です。往復送料は月額料金に含まれております。<br>
              ただし例外として、返送用の袋をご利用いただけない場合には、別途料金を徴収させていただくことがあります。
            </div>
          </div>
        </section>
        <section id="faq-30" class="faq-section">
          <h4 class="faq-question">
            返却後は次のアイテムはいつ頃届きますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              弊社で返却商品を確認させていただいてから、通常3〜5日ほどで次のアイテムをお届けいたします。
            </div>
          </div>
        </section>
        <section id="faq-31" class="faq-section">
          <h4 class="faq-question">
            返却はどうすればいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              お届けした商品と一緒に返却用の袋を同梱しております。 そちらに返却したい商品を入れ、弊社までご返却ください。
            </div>
          </div>
        </section>
        <section id="faq-32" class="faq-section">
          <h4 class="faq-question">
            返却するときにクリーニングした方がいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              クリーニングやお洗濯は一切不要です。ご返却いただいたアイテムは、KASHI KARIが責任を持ってクリーニングしてから、次のお客様のもとへお渡ししております。
            </div>
          </div>
        </section>
        <section id="faq-33" class="faq-section">
          <h4 class="faq-question">
            返送用袋、返送用伝票をなくしてしまったのですがどうしたらいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              どちらかをなくした場合でも、お問い合わせからその旨をメールにてご連絡ください。<br>
              返送先住所をお伝えいたしますので、任意の運送会社様をご利用いただき、ご返送ください。なお、その場合は返送料のご負担をお客様にお願いしておりますので、ご了承くださいませ。
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">サービスの一時休止・会員退会に関して</h3>
        <section id="faq-35" class="faq-section">
          <h4 class="faq-question">
            月額会員に入っていますが、サービスを一時休止することは可能ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              一定期間のみのサービス停止はすることができません。<br>
              一時休止したい場合には、月額会員登録をキャンセルしていただくことになります。<br>
              今後、出張や旅行などで長期不在の場合に対応できるよう、サービスの一時休止システムを検討中です。
            </div>
          </div>
        </section>
        <section id="faq-36" class="faq-section">
          <h4 class="faq-question">
            月額会員を退会するには？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              「マイページ」からプラン変更をしていただき、退会できます。
            </div>
          </div>
        </section>
        <section id="faq-37" class="faq-section">
          <h4 class="faq-question">
            無料会員を退会するには？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              お問い合わせにより、退会希望のご連絡をください。
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">商品について</h3>
        <section id="faq-38" class="faq-section">
          <h4 class="faq-question">
            商品を予約したいのですができますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              お客様の返却期間に個人差があり、予約をお受けすることができません。
            </div>
          </div>
        </section>
        <section id="faq-39" class="faq-section">
          <h4 class="faq-question">
            レンタル商品は正規品ですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              専門バイヤーが1点ずつ丁寧に鑑定しておりますので、ご安心ください。
            </div>
          </div>
        </section>
        <section id="faq-40" class="faq-section">
          <h4 class="faq-question">
            商品はどうやって手入れしていますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              返却商品は、傷や汚れなどを確認して、適切なメンテナンスを行っております。
            </div>
          </div>
        </section>
        <section id="faq-41" class="faq-section">
          <h4 class="faq-question">
            商品写真と実物は同じものですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              はい、同じです。掲載商品は、弊社で1点ずつ撮影しております。<br>
              ※写真と実物との見え方に差がある場合はございます。
            </div>
          </div>
        </section>
        <section id="faq-42" class="faq-section">
          <h4 class="faq-question">
            レンタル商品はどうやって仕入れていますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              国内正規代理店や海外からの並行輸入、あるいはお客様からのお買取りにて、仕入れております。
            </div>
          </div>
        </section>
        <section id="faq-43" class="faq-section">
          <h4 class="faq-question">
            レンタル商品に不具合があった場合はどうしたらいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              届いた商品に破損、ダメージなどの不具合があった場合は、商品をご使用にならずに、サポートセンターにご連絡ください。<br>
              ※ご使用になってからご連絡いただいた場合は、対応をお断りさせていただく場合もございます。
            </div>
          </div>
        </section>
        <section id="faq-44" class="faq-section">
          <h4 class="faq-question">
            新商品の入荷はいつですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              KASHI KARIのFacebookなどSNSへご登録いただけますと、新商品の入荷情報をいち早くチェックできます。
            </div>
          </div>
        </section>
        <section id="faq-45" class="faq-section">
          <h4 class="faq-question">
            現在KASHI KARIで取り扱いがないアイテムのリクエストはできますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              随時新商品を入荷しております。<br>
              はい可能です。ブランドとアイテム名を明記していだだき、「<a href="mailto:info@kashi-kari.jp">info@kashi-kari.jp</a>」までご連絡ください。
            </div>
          </div>
        </section>
        <section id="faq-46" class="faq-section">
          <h4 class="faq-question">
            商品のサイズを知りたいのですが？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              各商品のサイズは、商品ページに記載しております。
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">汚損・破損・紛失について</h3>
        <section id="faq-47" class="faq-section">
          <h4 class="faq-question">
            レンタル商品・付属品を紛失した、盗難されたのですが、どうしたらいいですか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              商品、付属品を紛失した、もしくは盗難された場合には、恐れ入りますがその商品の販売価格の一部、あるいは全額をご負担いただく場合がございます。<br>
              紛失、盗難の際には、お問い合わせフォームからその旨をお伝えいただくよう、ご連絡ください。
            </div>
          </div>
        </section>

        <section id="faq-48" class="faq-section">
          <h4 class="faq-question">
            レンタル商品を汚したりダメージが生じてしまった場合はどうなりますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              次のお客様のご利用に影響があるくらいの汚れや破損が確認された場合には、会員価格での買取をお願いしております。<br>
              特別な処理で修復可能な汚れや傷の場合には、500円〜3000円ほどのクリーニング代などをご負担いただいております。<br>
              ※KASHI KARI運営局の判断基準により、これらを決定いたしておりますので、あらかじめご了承くださいませ。
            </div>
          </div>
        </section>

      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">コーディネート</h3>
        <section id="faq-49" class="faq-section">
          <h4 class="faq-question">
            実際コーディネートしている画像をメールで送ってもらえませんか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              当店では写真画像をメールでお送りするサービスを行っておりません。<br>
              予めご了承ください。
            </div>
          </div>
        </section>
      </div>

      <div class="faq-category">
        <h3 class="faq-category-title">その他</h3>
        <section id="faq-50" class="faq-section">
          <h4 class="faq-question">
            スーツは取り扱っていますか？
          </h4>
          <div class="faq-answer">
            <div class="faq-answer-text">
              現在はスーツのお取り扱いがございませんが、今後、スーツのお取り扱いも検討しております。<br>
              スーツのレンタル開始日については未定です。<br>
              ※Facebook等に登録することで最新情報をいち早く手に入れれます。<br>
              <a href="https://www.facebook.com/kashikari.jp" target="_blank">Facebookアカウント</a>
            </div>
          </div>
        </section>
      </div>

    </article>

    <footer class="faq-footer">
      <h3 class="faq-inquiry-title">お問い合わせ</h3>
      <p class="faq-inquiry-text">
        その他不明な点がありましたら<a href="mailto:info@kashi-kari.jp">こちら</a>までお問い合わせください。<br>
        サポートセンター営業時間 10～18時（土日祝祭日を除く）<a href="tel:048-711-7600">048-711-7600</a>
      </p>
    </footer>
  </div>
</div>
