<div id="container">
  </div>
  <div class="termofuse-wrapper">
    <div id="termofuse">
      <h2 class="termofuse-title">利用規約(KASHI KARI)</h2>

      <h3>第1章 総則</h3>
      <ul>
        <li>第1条(本規約の適用)</li>
        <ul>
          <li>1 本規約は、株式会社タナクロ(以下「当 社 」といいます。)が提供するファッションアパレルのレンタル及び販売に係るサービス(以下「本 サ ー ビ ス 」といいます。) を利用するにあたり遵守いただく事項を定めたものであり、当社と会員(第4条第2号に 定義します。以下同じ。)との間の本サービスの利用に関わる全ての関係に適用されます。</li>
          <li>2 本規約以外のヘルプ、ガイドページ、FAQも本規約の一部を構成するものとし、会員 はこれを承諾し、本サービスを利用するものとします。</li>
          <li>3 本サービスを利用する利用者及び会員は、本規約に同意したものとみなします。</li>
        </ul>
        <li>第2条(本サービスの内容)</li>
        <ul>
          <li>1 本サービスは、当社が運営するインターネット上のウェブサイト(URL:https://http://kashi-kari.jp/)(以下「本 サ イ ト 」といいます。)を通じて、ファッションアパ レルアイテム(以下「本 ア イ テ ム 」と総称します。)のレンタルサービス、販売サービ ス及びこれらに付随するサービスを提供するものです。</li>
          <li>2 当社は、本規約の定めるところにより、本アイテムを会員に貸し渡し又は販売し、会 員はこれを借り受け又は購入するものとします。</li>
        </ul>
        <li>第3条(本サービス及び本規約の変更)</li>
        <ul>
          <li>1 当社は、必要に応じて本サービス及び本規約の内容を見直し、追加、変更又は削除(以下「変 更 等 」といいます。)を行うことがあり、本サイト上への掲示その他当社 が適当と判断する方法で、変更等後の本サービス及び本規約の内容について、会員に対 して通知を行います。本サービス及び本規約の変更等は、1日以上の予告期間をおいて 本項に定める通知が実施された場合、その予告期間の満了をもって効力を生じるものと します。</li>
          <li>2 会員が前項の方法による通知後に本サービスを利用した場合又は当社が定める期間内 に解約手続きを行わない場合は、会員は変更後の本サービス及び本規約の内容を承諾し たものとみなします。</li>
        </ul>
        <li>第4条(用語の定義)</li>
        <ul>
          <li>本規約においては、次の用語は、それぞれ次の意味で使用します。</li>
          <li>(1)本利用契約</li>
          <ul>
            <li>本規約に基づき当社と会員との間に締結される本サービスの提供に関する契約</li>
          </ul>
          <li>(2)会員</li>
          <ul>
            <li>第5条(本サービスの利用登録)に定める方法により本サービスに係る利用登録の申込みを行い、当社がこれを承諾することにより当社との間で本利用契約を締結 した方で、本規約に基づく会員資格を喪失していない方</li>
          </ul>
        </ul>
        <h3>第2章 利用契約</h3>
        <ul>
          <li>第5条(本サービスの利用登録)</li>
          <ul>
            <li>1 本サービスの利用を希望する方は、本規約の内容を承諾し、当社の指定する情報(氏名、住所、電話番号、電子メールアドレス、クレジットカード情報を含みますが、これらに限られません。)を申告のうえで、利用登録の申込みをするものとします。</li>
            <li>2 以下の各号のいずれかに該当する方は、本サービスの利用登録を申し込むことはできません。</li>
            <ul>
              <li>(1) 満18歳未満の方</li>
              <li>(2) 有効な電子メールアドレスを所有していない方</li>
              <li>(3) 申込時に有効かつ国内のクレジットカード発行会社が発行する申込者本人名義のクレジットカードを保有されない方</li>
              <li>(4) 既に利用登録を行い、会員資格を有する方</li>
              <li>(5) 本規約にご同意いただいていない方</li>
            </ul>
            <li>3 未成年者の会員が、法定代理人の同意がないにもかかわらず同意があると偽り又は年齢について成年と偽って利用登録を行い又は本サービスを利用した場合、その他行為能 力者であることを信じさせるために詐術を用いた場合、本規約及び本サービスに関する 一切の法律行為を取り消すことは出来ません。</li>
            <li>4 本規約の同意時に未成年であった会員が成年に達した後に本サービスを利用した場合、 当該利用者及び会員は本規約及び本サービスに関する一切の法律行為を追認したものと みなされます。</li>
          </ul>
          <li>第6条(申込みの承諾)</li>
          <ul>
            <li>1 当社が、第5条(本サービスの利用登録)の申込情報を確認した後、当社の定め る審査の上、当該申込者の申込みを承諾することにより、当社との間に、本利用契約が 成立します。これをもって当該申込者は、会員の地位を取得することになります。</li>
            <li>2 当社は、申込者が次のいずれかの場合に該当すると当社が判断したときは、その申込 みを承諾しないこと、又は承諾を取り消すことがあります。</li>
            <ul>
              <li>(1) 本サービスを提供することが技術上著しく困難なとき</li>
              <li>(2) 本規約に違反するおそれがあると当社が判断したとき</li>
              <li>(3) すでに会員の地位を取得された方が重複して申込みを行ったとき</li>
              <li>(4) 申込者が過去に本規約違反などにより強制的に会員としての地位を剥奪されたことがあるとき</li>
              <li>(5) 申込者が実在しないとき、又はご本人であることが確認できないとき</li>
              <li>(6) 第5条(本サービスの利用登録)に基づき申告された情報の全部又は一部に、虚偽、重大な誤記又は記載漏れがあったとき</li>
              <li>(7) 日本在住でない方又は希望する本アイテムのお届け先が日本国内でない方</li>
              <li>(8) 過去に本サービスの利用料金等の支払債務の履行を遅滞し又は支払を拒絶したことがあるとき</li>
              <li>(9) 申込者の指定したクレジットカードについて、クレジットカード会社、金融機関等により、利用停止処分等が行われているとき</li>
              <li>(10) その他当社が承諾できない事由があると判断したとき</li>
            </ul>
            <li>3 本条第2項に基づき承諾が取り消される場合は、第24条(規約違反等に対する措置)が適用されます。</li>
            <li>4 本条第2項に基づく承諾の取り消しまでに本サービスの利用により発生した利用料金等はすべて会員の負担とし、当該会員は本規約に従いこれを支払うものとします。</li>
          </ul>
          <li>第7条(氏名等の変更の届出)</li>
          <ul>
            <li>1 会員は、その氏名、住所、電話番号、電子メールアドレス、クレジットカード情報その他第5条(本サービスの利用登録)第1項に基づき当社に提供した情報に変更があったときは、その内容を速やかに当社に届け出るものとします。</li>
            <li>2 会員は、当社が求める場合には、前項に基づく届出の事実を証明する書類を提示するものとします。</li>
            <li>3 本条第1項に定める変更があったにもかかわらず当社に届出がないときは、当社は届出を受けている連絡先への通知を行います。それに伴い会員へ本サービスの連絡等が不達であった場合は、会員が連絡等の内容を了知したものとし、当社は連絡等の不達により会員が受けた損害につき一切の責任を負いません。</li>
          </ul>
          <li>第8条(会員への通知)</li>
          <ul>
            <li>1 本サービスに関する当社から会員への連絡及び通知(主として、本アイテムの発送、返却受付、会員の登録情報の変更、並びにパスワードの変更及び追加の処理を完了 した場合に行われますが、これらに限られません。)は、当社が運営するウェブサイト 内の適宜の場所への掲示、電子メールの送信、又はその他当社が適当と判断する方法によ り行うものとします。</li>
            <li>2 当社が電子メールの送信による通知を行った場合、当社からの通知は、会員が登録し たメールアドレス宛てに電子メールを送信することをもって、当該メールが通常到達す べきときに到達したものとみなします。会員都合による電子メール未受信、不受信、未 開封、自動削除等により会員に生じた不利益や各種利用料金等の支払等については、全 て会員の責任となり、当社は一切の責任は負いません。</li>
            <li>3 本サービスに関する問い合わせその他会員から当社に対する連絡又は通知は、当社が 運営するウェブサイト内の適宜の場所に設置するお問い合わせフォームへの送信、電話 その他当社が指定する方法により行うものとします。</li>
          </ul>
        </ul>
      </ul>

      <h3>第3章 会員の義務等</h3>
      <ul>
        <li>第9条(本規約及び本利用契約の遵守)</li>
        <ul>
          <li>1 会員は、本サービスの利用に関して、本規約及び本利用契約の全てを遵守しこれ らに従うものとします。</li>
        </ul>
        <li>第10(営業活動の禁止)</li>
        <ul>
          <li>1 会員は、有償又は無償を問わず、営業活動、営利を目的とした利用、第三者への如何なる商品若しくはサービスの提供又はその準備を目的として、本サービスを利用す ることはできません。</li>
        </ul>
        <li>第11条(利用に係る禁止行為)</li>
        <ul>
          <li>1 会員は、本サービスの利用にあたり、自ら又は第三者を介して、以下の各号のいずれかに該当する行為又は該当するおそれのある行為をしないものとします。</li>
          <ul>
            <li>(1)当社又は第三者の財産権(著作権その他の知的財産権を含みます。)、プライバ シー、名誉、その他の権利を侵害する行為又は侵害するおそれのある行為</li>
            <li>(2)当社又は第三者に不利益若しくは損害を与える行為又はそれらのおそれのある行為</li>
            <li>(3)犯罪的行為若しくは犯罪的行為に結びつく行為又はそのおそれのある行為</li>
            <li>(4)会員に付与された本サービス用IDやパスワード等を不正に使用する行為</li>
            <li>(5) サーバへの不正なアクセスや当社に対する過度な問合わせなど、本サービスの運営を妨げる又はそのおそれのある行為</li>
            <li>(6) コンピュータウイルス等の有害なプログラムを本サービスを通じて又は本サービスに関連して使用し若しくは提供する行為</li>
            <li>(7) 本規約及び本サービスの趣旨又は目的に反する行為</li>
            <li>(8) その他法令若しくは公序良俗に反する行為、そのおそれのある行為、又は当社が不適切と判断する行為</li>
          </ul>
        </ul>
        <li>第12条(本サービス用ID及びパスワードの管理)</li>
        <ul>
          <li>1 会員は、当社が提供する、本サービスで使用する本サービス用ID及びパスワード等の適正な管理に努めるものとします。</li>
          <li>2 本サービス用ID及びパスワードの管理とその使用は、全て会員ご本人がその責任において行うものとします。本サービス用ID又はパスワードの盗用、不正使用、その他の事 故があっても、そのために会員に生じたいかなる損害も、当社は一切の責任を負いませ ん。</li>
          <li>3 本サービス用ID及びパスワードの使用は、会員ご本人のみとし、第三者に貸与、譲渡、 売買等をしてはならないものとします。</li>
          <li>4 会員は本サービス用ID及びパスワードの不正使用を知りえた場合及びこれらを失念し た場合、ただちに当社にその旨を連絡し、当社の指示に従うものとします。</li>
          <li>5 当社は、入力されたID及びパスワードが登録されたものと一致することを所定の方法 により確認した場合、会員による利用があったものとみなし、それらが盗用、不正使用 その他の事情により会員以外の者が利用している場合であっても、それにより生じた損 害について当社は一切責任を負いません。 また、本サービスの利用に際して、会員自身 によって誤った情報が登録され、当該誤った情報に基づいて、会員が享受するサービス に不利益、損害等が生じても、当社は一切責任を負いません。</li>
        </ul>
        <li>第13条(利用の準備)</li>
        <ul>
          <li>1 会員は、自己の責任と費用負担とにおいて、本サービスを利用するために必要な ソフトウェア、通信機器、ハードウェア等の調達並びにインターネット接続に必要な契 約の締結等の準備を行うものとします。</li>
        </ul>
      </ul>
      <h3>第4章 本アイテムのレンタル等</h3>
      <ul>
        <li>第14条(本アイテムのレンタル)</li>
        <ul>
          <li>1 会員は、本サイト上でレンタルを希望する本アイテムのレンタルを申し込むものとし、当社がこれを承諾することで、当該本アイテムをレンタルすることが出来るもの とします。会員が同時に貸出を受けられる本アイテムの点数は、当社が本サイト上に別 途掲示する会員区分(以下「会員区分」といいます。) に定める内容に従います。</li>
          <li>2 当社は、本アイテムを、配送を行う第三者事業者への委託その他の当社が任意に定め る方法により、会員が予め指定した住所に宛てて発送します。</li>
          <li>3 会員は、到着した本アイテムに破損や相違がある場合、一切の利用を行わず速やかに 当社に通知するものとし、かかる通知を行わない場合は、当社は、当該本アイテムの交 換及び返金の義務を負わないものとします。</li>
          <li>4 会員は、レンタルした本アイテムを、善良なる管理者の注意をもって管理及び使用す るものとします。</li>
        </ul>
        <li>第15条(利用料金と支払方法)</li>
        <ul>
          <li>1 本サービスの利用料金とその算出方法は、会員区分の定めに従うものとし、会員は、当該利用料金を支払う義務を負うものとします。</li>
          <li>2 本サービスの利用料金は、無料会員を除き、会員区分別に月毎に発生します(月額料金は、会員が有料会員登録を完了した日を最初の起算日として、一か月毎に毎月課金されます。)。なお、登録日にかかわらず、月額料金の日割計算は行いません。</li>
          <li>3 本サービスの月額料金は、会員が月間に一度も本アイテムの貸出を受けなかった場合でも発生します。</li>
          <li>4 会員は、本規約に別途定める場合を除き、本サービスの利用料金を、登録クレジットカードにより支払うものとします。なお、一旦支払われた本サービスの利用料金は、退会その他の理由の如何を問わず返金いたしません。</li>
          <li>5 会員は、会員区分の変更又はオプションの追加若しくは変更を希望する場合、本サイト上での申告その他当社が別途定める方法で手続きを行うものとします。</li>
        </ul>
        <li>第16条(本アイテムの返却)</li>
        <ul>
          <li>1 会員は、本アイテムを当社に返送する場合、当社が別途定める方法で行うものとします。</li>
          <li>2 会員は、本アイテムの返却にあたり、本アイテム以外の物を同梱させないように十分注意するものとします。</li>
          <li>3 前項の定めにかかわらず、会員は、当社による買取りを希望する衣料品(以下「買取希望品 」といいます。)を、本アイテムと同梱させることができるものとします。この 場合、会員は、買取希望品を特定するに足りる情報(種類、数量及び色を含みますが、 これらに限られません。)を、当社が別途指定する買取申込みに係る書面に記載したう えで、当該書面を当社に提出するものとします。当社が当該買取希望品を査定し、その 査定価格について会員との間で合意が得られた場合、当該買取希望品に係る売買契約が 当社と会員との間で成立するものとします。</li>
          <li>4 当社は、買取希望品を除き、返却時に本アイテム以外の物が同梱されていた場合には、 [3か月間]保管し、この保管期限を過ぎた場合には、会員が当該同梱物に係る所有権 を放棄したものとみなし、理由を問わず破棄できるものとします。</li>
          <li>5 前項の同梱品が会員の私物か否かにかかわらず、当社はその補償等につき責任を負わ ないものとし、当該会員が一切の責任を負うものとします。</li>
        </ul>
        <li>第17条(本アイテムの紛失又は損傷等)</li>
        <ul>
          <li>1 会員は本アイテムが盗難に遭った場合、又は紛失、破損若しくは汚損(匂いの付着その他本来の商品価値を損なった状態を含みます。)した場合、直ちに当社に届け出るものとします。</li>
          <li>2 本アイテムにおける通常の使用による汚れ、微細な傷等は、当社の責任と費用負担とにおいて、これをクリーニング及び補修を行うものとし、会員は自ら洗濯・洗浄・漂白・ 修理等の処置、又はこれらの手配等を行わないものとする。但し、次の各号のいずれか に該当する場合及び本アイテムが盗難に遭い又は紛失した場合は、会員は、当社が本サ イト上で掲示する当該本アイテムに係る商品価格を当社に支払うものとします(当社が 別途会員宛て通知する日をもって、登録クレジットカードに請求させて頂きます。)。</li>
          <ul>
            <li>(1) 本アイテムの破損・汚損が、会員による故意又は重過失によるものであると当社 が認めた場合</li>
            <li>(2) 本アイテムの通常の利用目的の範囲からは明らかに想定できない理由による破 損・汚損と当社が認めた場合</li>
          </ul>
        </ul>
        <li>第18条(本アイテムの購入)</li>
        <ul>
          <li>1 会員は、レンタル中の本アイテム又は本サイト上に当該会員が購入可能な商品として表示される本アイテムを、本サイト上に本アイテム毎に記載された商品価格により購入することができるものとします。</li>
          <li>2 会員が本サイト上で購入の申込みを行い、当社がこれを承諾することで、前項に定める金額を売買金額とする購入契約が会員と当社との間で成立するものとします。</li>
          <li>3 会員は、本アイテムの購入代金を、登録クレジットカードにより支払うものとします。</li>
        </ul>
        <li>第19条(キャンペーン)</li>
        <ul>
          <li>1 当社では、会員に対し各種キャンペーンを行う場合があります。各種キャンペーンにより、一時的に送料・利用料金・利用期間等の諸条件が本規約等と異なる場合があります。</li>
          <li>2 各種キャンペーンとして当社が提供するサービスの内容については、本規約等の規定によらず、本サイト内で告知される当該キャンペーンの条件を優先適用するものとしま す。</li>
        </ul>
        <li>第20条(本端末の禁止行為)</li>
        <ul>
          <li>1 会員は、次の各号の行為を行ってはならないものとします。</li>
          <ul>
            <li>(1) 本サービスで使用する以外の目的で本アイテムを使用する行為</li>
            <li>(2) 本アイテムの譲渡、転貸、転売、担保に供する行為</li>
            <li>(3) 会員以外の者に本アイテムを利用、使用又は占有させる行為</li>
            <li>(4) 本アイテムの偽造品又は模造品を製作する行為</li>
            <li>(5) その他、当社が不適切と判断する行為</li>
          </ul>
        </ul>
      </ul>
      <h3>第5章 著作権等</h3>
      <ul>
        <li>第21条(著作権等)</li>
        <ul>
          <li>1 本サービスにおいて当社が会員に貸与又は提供する一切の物品及び情報等並びに本サイトに関する著作権、特許権、商標権、ノウハウその他一切の権利は、当社又はその事業パートナーの何れかに帰属するものとします。</li>
        </ul>
        <li>第22条(アイテム情報等の利用禁止)</li>
        <ul>
          <li>1 会員は、画像、テキストその他使用形態を問わす、本サービス内で使用されている本アイテム等に係る一切の情報及び当社が提供する情報(以下「データ等 」と総称します。)を、当社の許可なく利用することはできません。</li>
          <li>2 当社は、データ等の内容の正確性、有用性等に関して一切の責任を負うものではありません。</li>
        </ul>
      </ul>
      <h3>第6章 利用停止等</h3>
      <ul>
        <li>第23条(利用の中止・終了)</li>
        <ul>
          <li>1 当社は、以下の各号の事由が生じた場合には、本サービスの全部又は一部の提供を中止又は終了させることができるものとします。</li>
          <ul>
            <li>(1) 設備又はシステムの保守上又は工事上やむを得ないとき</li>
            <li>(2) 当社の責によらない事由により、本サービスを継続的に提供することが困難になったとき</li>
            <li>(3) アクセス過多、その他予期せぬ要因でシステムに負荷が集中した場合</li>
            <li>(4) 当社以外の事業者(インターネットサービスプロバイダ、回線事業者及び配送を行う第三者事業者を含みますが、これらに限られません。)の事由による場合</li>
            <li>(5) 会員のセキュリティを確保する必要が生じた場合</li>
            <li>(6) 地震、水害等の天災、火災、停電その他の不慮の事故又は戦争、紛争、動乱、暴動、労働争議等の不可抗力により本サービスの提供が困難な場合</li>
            <li>(7) 法令又はこれに基づく措置により本サービスの運営が不能となった場合</li>
            <li>(8) その他前各号に準じ当社が必要と判断した場合</li>
          </ul>
          <li>2 当社は、前項により、本サービスを中止又は終了させるときは、本サイト内の適宜の場所への掲示その他当社が適当と判断する方法により、あらかじめその旨を会員に通知するものとします。ただし、緊急やむを得ない場合は、この限りではありません。</li>
          <li>3 当社は、本条に基づき当社が行った措置により会員に生じた損害について一切の責任を負いません。</li>
        </ul>
        <li>第24条規約違反等に対する措置)</li>
        <ul>
          <li>1 社は、会員が以下の各号に該当し又は該当するおそれがあると当社が判断した場合には、当社の裁量により、何らの通知も行うことなく、当該会員に対し、本サービ スの利用の一時停止若しくは制限、本サービス用IDの削除を含む本利用契約の解除等の 措置(以下「利用停止等」と総称します。)を講じることができるものとします。</li>
          <ul>
            <li>(1) 本規約のいずれかの条項に違反した場合又は本規約を遵守しない旨を公言した場 合</li>
            <li>(2) 会員の返却した本アイテムが、相当期間が経過するもなお当社が指定する配送セ ンターその他の場所に到達せず、その返却の事実が当社において容易に確認でき ない場合</li>
            <li>(3) 会員から当社に提供された情報の全部又は一部につき虚偽の事実があることが判 明した場合</li>
            <li>(4) 会員が支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、 会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てが あった場合</li>
            <li>(5) クレジットカード会社、代金収納代行会社、金融機関などにより、登録クレジッ トカードや支払口座の利用が停止させられた場合、または理由の如何を問わず登 録クレジットカードや支払口座の利用が不能となった場合</li>
            <li>(6) 本アイテムの破損や紛失が度重なるなど、本サービスの利用に際して悪質と判断 される行為を行った場合</li>
            <li>(7) 長時間の架電、同様の問い合わせの繰り返しを過度に行い、又は義務や理由のな いことを強要し、当社の業務に著しく支障を来たした場合</li>
            <li>(8) 会員が死亡し又は後見開始、保佐開始若しくは補助開始の審判を受けた場合</li>
            <li>(9) 未成年者、成年被後見人、被保佐人又は被補助人のいずれかであって、法定代理 人、後見人、保佐人又は補助人の同意等を得ていなかった場合</li>
            <li>(10) 当社からの問い合わせその他の回答を求める連絡に対して30日間以上応答がない 場合</li>
            <li>(11) 反社会的勢力等(第28条に定義します。以下本号において同じ。)であるか、又 は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若し くは関与する等、反社会的勢力等との何らかの交流若しくは関与を行っていると 当社が判断した場合</li>
            <li>(12) 第6条（申し込みの承諾）第2項各号に基づき、承諾が取り消された場合</li>
            <li>(13) 理由を問わず、レンタル中の本アイテムが会員以外の占有下に置かれた場合</li>
            <li>(14) 本サービスの運営、保守管理上必要であると当社が判断した場合</li>
            <li>(15) その他前各号に類する事由があると当社が判断した場合</li>
          </ul>
          <li>2 会員は、利用停止等の後も、当社及び第三者に対する本利用契約上の一切の義務及び第6条(申込みの承諾)第2項各号に基づき、承諾が取り消された場合 理由を問わず、レンタル中の本アイテムが会員以外の占有下におかれた場合 本サービスの運営、保守管理上必要であると当社が判断した場合 その他前各号に類する事由があると当社が判断した場合債務(損害賠償債務を含みますが、これに限りません。)を免れるものではありません。</li>
          <li>3 当社は、本条に基づき当社が行った行為により会員に生じた損害について一切の責任 を負わないものとします。</li>
          <li>4 当社は、会員が第1項各号に該当し又は該当するおそれがあると当社が判断した場合そ の他当社が必要と認める場合には、会員に対し、違反行為の中止等を求めることがあり、 会員は、当社が定める期間内に当該求めに応じるものとします。</li>
          <li>5 当社は、本条に基づき当社が行った措置により会員に生じた不利益や損害について一 切の責任を負いません。</li>
          <li>6 会員は、本条に基づき利用停止等の処分を受けたときは、本利用契約に係る期限の利 益を喪失し、当該処分までに発生した本サービスの利用料金の支払債務を一括して、直 ちに支払うものとします。当社は、当該処分までに会員が支払った料金を一切払い戻し ません。</li>
        </ul>
      </ul>

      <h3>第7章 会員による解約</h3>
      <ul>
        <li>第25条(会員による解約)</li>
        <ul>
          <li>1 会員が本利用契約の解約を希望する場合には、本サイトにおける届出その他所定の手続きにより会員自ら解約の届出を当社に対して行うものとします。その際、会員は、 本利用契約に基づき当社に対して負担する債務の全額を、直ちに当社に支払うものとします。</li>
          <li>2 当社は、本条に定める本利用契約の解約については、当社が定める所定の手続きでの み受理するものとし、会員がそれ以外の手段によって解約を申し出た場合であっても、 当社は、これを本利用契約に係る解約の届出として取り扱わないことができるものとします。</li>
          <li>3 会員は、レンタル中の本アイテムがある場合及び本利用契約に基づく利用料金その他 の金銭債務の支払が完了していない場合は、本利用契約を解約できないものとします。</li>
          <li>4 会員は、本利用契約の解約手続完了日にかかわらず、当該解約手続完了日の属する月の当月分の利用料金を支払うものとします。</li>
          <li>5 当社は、理由のいかんを問わず、既に支払われた利用料金等の払い戻し義務を一切負わないものとします。</li>
        </ul>
      </ul>

      <h3>第8章 損害賠償等</h3>
      <ul>
        <li>第26条(損害賠償)</li>
        <ul>
          <li>1 会員による本規約違反行為その他本サービスの利用に起因して、当社に直接又は 間接の損害が生じた場合(当該行為が原因で、当社が第三者から損害賠償請求その他の 請求を受けた場合を含みます。)、会員は、当社に対し、その全ての損害(弁護士等専門 家費用及び当社において対応に要した人件費相当額を含みます。)を賠償しなければなりません。</li>
          <li>2 本サービスの利用に関連して会員が被った損害につき、当社が、軽度の過失による債 務不履行責任又は不法行為責任を負う場合には、当社は、会員に現実に発生した直接かつ 通常の損害に限り、これを賠償する責任を負うものとし、特別な事情から生じた損害(損 害の発生を予見し又は予見し得た場合を含みます。)については、責任を負わないものとします。</li>
        </ul>
        <li>第27条(本サービスに係る免責事項)</li>
        <ul>
          <li>1 当社は、以下の事由により会員が被ったいかなる損害に対しても、その理由を問わず一切の責任を負いません。また以下の事由により会員に発生した支払義務は免除されず、既に決済が行われた料金は返金しません。</li>
          <ul>
            <li>(1) 会員が、本アイテムの返却を、第16条(本アイテムの返却)に定める方法によらずに行った場合</li>
            <li>(2) 当社の故意又は重過失によらずに、本アイテムの配送に伴う遅配、誤配又は未着等の事故が発生した場合(配送を行う第三者事業者の責めに帰すべき事由による場合を含みますが、これに限られません。)</li>
            <li>(3) 会員が登録したお届け先住所、氏名、電話番号、電子メールアドレス等の登録情報の誤りがあった場合</li>
            <li>(4) 当社の故意又は過失によらずに、当社が会員宛て送付する電子メールが不着であった場合</li>
            <li>(5) 他の会員に貸出中であるために、会員が希望する本アイテムを貸し出すことができなかった場合、又は本アイテムの発送が遅れた場合</li>
            <li>(6) 本サービスを経由して他サイトを利用した場合</li>
          </ul>
          <li>2 当社は、本サービス及び関連するサービスについて、その全部又は一部が中断・中止しないことを保証するものではなく、当社側の事情によりその全部又は一部を中断・中 止することができるものとします。当該中断・中止等に起因して、会員又は第三者に損 害が発生した場合、それが当社の故意又は重過失による場合を除き、当社は一切の責任 を負わないものとします。</li>
          <li>3 当社は、当社の故意又は重過失による場合を除き、本サービスの利用により生じる結 果及び会員に発生する損害等については、一切責任を負わないものとします。</li>
          <li>4 当社は、本サイト上で不具合やエラー、障害が発生しないこと、及び会員が登録する 会員情報が消失しないことを保証しないものとします。</li>
        </ul>
        <li>第28条(反社会的勢力等の排除に係る免責事項)</li>
        <ul>
          <li>1 会員は、当社に対して、自己又はその関係者が、暴力団、暴力団構成員、暴力団関係者、暴力団関係企業・団体、総会屋その他の反社会的勢力(以下「反社会的勢力等」と総称します。)に該当しないことを表明し、かつ将来にわたっても該当しないことを確約するものとします。なお、会員が当該確約に違反した場合、当社は、事前に通知せずに、当該会員の本利用契約の解除及び本サービスの利用停止を行うことができるもの とします。この場合、当該会員に損害が生じた場合でも、当社は一切責任を負わないものとします。この場合、本アイテムの返却費用は、会員のご負担となります。</li>
        </ul>
      </ul>

      <h3>第9章 個人情報等の取扱い</h3>
      <ul>
        <li>第29条個人情報等の取扱い)</li>
        <ul>
          <li>1 当社は、本サービスの提供等に際し取り扱うこととなる利用者及び会員に係る情報を、当社が別途定めるプライバシーポリシーに従い、適切に取り扱います。</li>
        </ul>
      </ul>
      <h3>第10章 雑則</h3>
      <ul>
        <li>第30条</li>
        <ul>
          <li>会員は、本利用契約に基づいて生じる権利若しくは義務、又は本利用契約上の地位(本アイテムのレンタルに係る権利若しくは義務又は契約上の地位を含みます。)を 第三者に譲渡、承継、担保設定、その他一切の処分をすることはできません。</li>
        </ul>
        <li>第31条(守秘義務)</li>
        <ul>
          <li>1 会員は、本サービスの利用に際し知り得た当社に関する業務上、技術上、その他一切の情報を会員の責任による適切な管理の下、秘密として取扱い、第三者へ開示若しくは漏洩、又は本利用契約の目的以外に使用してはなりません。</li>
          <li>2 本条の規定は本利用契約が終了した後においても有効に存続するものとします。</li>
        </ul>
        <li>第32条(法令に規定する事項)</li>
        <ul>
          <li>本サービスの提供又は利用にあたり、法令に定めがある事項については、その定めるところによります。</li>
        </ul>
        <li>第33条(事業讓渡等の場合の取扱い)</li>
        <ul>
          <li>当社が、本サービスに係る事業を第三者に譲渡し、又は合併若しくは会社分割等により本サービスに係る事業を承継させたときは、当社は、当該譲渡等に伴い、本利用 契約上の地位、権利及び義務並びに登録情報その他の会員に係る情報を当該譲渡等の譲 受人等に承継させることができるものとします。会員は、かかる譲渡等につき本条にお いて予めこれに同意したものとみなします。</li>
        </ul>
        <li>第34条(分離可能性)</li>
        <ul>
          <li>1 本規約のいずれかの条項又はその一部が無効又は執行不能と判断とされた場合であっても、当該判断は他の部分に影響を及ぼさず、本規約の残りの部分は、引き続き有 効かつ執行力を有するものとします。当社及び会員は、当該無効若しくは執行不能とさ れた条項又は部分の趣旨に従い、これと同等の効果を確保できるように努めるとともに、 修正された本規約に拘束されることに同意するものとします。</li>
          <li>2 本規約のいずれかの条項又はその一部が、ある会員との関係で無効又は執行不能と判 断された場合であっても、他の会員との関係における有効性等には影響を及ぼさないも のとします。</li>
        </ul>
        <li>第35条</li>
        <ul>
          <li>本規約及び本利用契約に係る準拠法は日本法とします。</li>
        </ul>
        <li>第36条(紛争の解決)</li>
        <ul>
          <li>1 本規約の条項又は本規約に定めのない事項について紛議等が生じた場合、会員と当社の双方誠意をもって協議し、円満に解決するものとします。</li>
          <li>2 本サービス又は本規約に起因し又は関連する会員及び当社間での一切の紛争については、訴額に応じて、東京地方裁判所又は東京簡易裁判所を第一審に係る専属的管轄裁判 所とします。</li>
        </ul>
        <li>【附則】</li>
        <ul>
          <li>本規約は、平成 27 年7月7日より実施します。</li>
        </ul>

      </ul>
    </div>
  </div>
</div>