<div data-hook="admin_product_form_fields">

  <div class="left eight columns alpha" data-hook="admin_product_form_left">
    <div data-hook="admin_product_form_name">
      <%= f.field_container :name do %>
        <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
        <%= f.text_field :name, :class => 'fullwidth title', :required => true %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_slug">
      <%= f.field_container :slug do %>
        <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
        <%= f.text_field :slug, :class => 'fullwidth title', :required => true %>
        <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_description">
      <%= f.field_container :description do %>
        <%= f.label :description, Spree.t(:description) %>
        <%= f.text_area :description, {:rows => "#{unless @product.has_variants? then '22' else '15' end}", :class => 'fullwidth'} %>
        <%= f.error_message_on :description %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_description">
      <%= f.field_container :size do %>
          <%= f.label :size, "サイズ表記" %>
          <%= f.text_area :size, :value => @product.size, :class => 'fullwidth' %>
          <%= f.error_message_on :size %>
      <% end %>
    </div>
  </div>

  <div class="right four columns omega" data-hook="admin_product_form_right">
    <div data-hook="admin_product_form_price">
    <%= f.field_container :price do %>
      <%= f.label :price, raw(Spree.t(:master_price) + content_tag(:span, ' *', :class => "required")) %>
      <%= f.text_field :price, :value => number_to_currency(@product.price, :unit => ''), :required => true %>
      <%= f.error_message_on :price %>
    <% end %>
    </div>

    <div data-hook="admin_product_form_cost_price" class="alpha two columns">
      <%= f.field_container :cost_price do %>
        <%= f.label :cost_price, Spree.t(:cost_price) %>
        <%= f.text_field :cost_price, :value => number_to_currency(@product.cost_price, :unit => '') %>
        <%= f.error_message_on :cost_price %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_cost_currency" class="omega two columns">
      <%= f.field_container :cost_currency do %>
        <%= f.label :cost_currency, Spree.t(:cost_currency) %>
        <%= f.text_field :cost_currency %>
        <%= f.error_message_on :cost_currency %>
      <% end %>
    </div>

    <div class="clear"></div>

    <div data-hook="admin_product_form_available_on">
      <%= f.field_container :available_on do %>
        <%= f.label :available_on, Spree.t(:available_on) %>
        <%= f.error_message_on :available_on %>
        <%= f.text_field :available_on, :value => datepicker_field_value(@product.available_on), :class => 'datepicker' %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_promotionable">
      <%= f.field_container :promotionable do %>
        <%= f.label :promotionable do %>
          <%= f.check_box :promotionable %> <%= Spree.t(:promotionable) %>
        <% end %>
      <% end %>
    </div>

    <% if @product.has_variants? %>
      <div data-hook="admin_product_form_multiple_variants">
        <%= f.label :skus, Spree.t(:skus) %>
        <span class="info">
          <%= Spree.t(:info_product_has_multiple_skus, count: @product.variants.count) %>
          <ul class="text_list">
            <% @product.variants.first(5).each do |variant| %>
              <li><%= variant.sku %></li>
            <% end %>
          </ul>
          <% if @product.variants.count > 5 %>
            <%= Spree.t(:info_number_of_skus_not_shown, count: @product.variants.count - 5) %>
          <% end %>
        </span>
        <div class="info-actions">
          <% if can?(:admin, Spree::Variant) %>
            <%= link_to_with_icon 'th-large', Spree.t(:manage_variants), admin_product_variants_url(@product) %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div data-hook="admin_product_form_sku">
        <%= f.field_container :sku do %>
          <%= f.label :sku, Spree.t(:sku) %>
          <%= f.text_field :sku, :size => 16 %>
        <% end %>
      </div>

      <ul id="shipping_specs">
        <li id="shipping_specs_weight_field" data-hook="admin_product_form_weight" class="field alpha two columns">
          <%= f.label :weight, Spree.t(:weight) %>
          <%= f.text_field :weight, :size => 4 %>
        </li>
        <li id="shipping_specs_height_field" data-hook="admin_product_form_height" class="field omega two columns">
          <%= f.label :height, Spree.t(:height) %>
          <%= f.text_field :height, :size => 4 %>
        </li>
        <li id="shipping_specs_width_field" data-hook="admin_product_form_width" class="field alpha two columns">
          <%= f.label :width, Spree.t(:width) %>
          <%= f.text_field :width, :size => 4 %>
        </li>
        <li id="shipping_specs_depth_field" data-hook="admin_product_form_depth" class="field omega two columns">
          <%= f.label :depth, Spree.t(:depth) %>
          <%= f.text_field :depth, :size => 4 %>
        </li>
      </ul>
    <% end %>

    <div data-hook="admin_product_form_shipping_categories">
      <%= f.field_container :shipping_categories do %>
        <%= f.label :shipping_category_id, Spree.t(:shipping_categories) %>
        <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
        <%= f.error_message_on :shipping_category %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_tax_category">
      <%= f.field_container :tax_category do %>
        <%= f.label :tax_category_id, Spree.t(:tax_category) %>
        <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
        <%= f.error_message_on :tax_category %>
      <% end %>
    </div>
  </div>

  <div data-hook="admin_product_form_plans">
    <%= f.field_container :plans do %>
        <%= f.label :plan_ids do %>
            <%= f.collection_check_boxes :plan_ids, @plans, :id, :name %>
        <% end %>
    <% end %>
  </div>

  <div class="twelve columns">
    <div data-hook="admin_product_form_taxons">
      <%= f.field_container :taxons do %>
        <%= f.label :taxon_ids, Spree.t(:taxons) %><br />
        <%= f.hidden_field :taxon_ids, :value => @product.taxon_ids.join(',') %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_option_types">
      <%= f.field_container :option_types do %>
        <%= f.label :option_type_ids, Spree.t(:option_types) %>
        <%= f.hidden_field :option_type_ids, :value => @product.option_type_ids.join(',') %>
      <% end %>
    </div>
  </div>

  <div data-hook="admin_product_form_meta" class=" twelve columns">
    <div data-hook="admin_product_form_meta_title">
      <%= f.field_container :meta_title do %>
        <%= f.label :meta_title, Spree.t(:meta_title) %>
        <%= f.text_field :meta_title, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_meta_keywords">
      <%= f.field_container :meta_keywords do %>
        <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
        <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_meta_description">
      <%= f.field_container :meta_description do %>
        <%= f.label :meta_description, Spree.t(:meta_description) %>
        <%= f.text_field :meta_description, :class => 'fullwidth' %>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>
