<% content_for :title, head_title("取引履歴 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("取引履歴,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "取引履歴です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>取引履歴</li>
    </ul>
  </div>
</nav>
<section id="trading_record">
  <div class="trading_record">
    <div class="container">

      <div class="pre_title">
        <h1 class="f_fm">取引履歴</h1>
      </div>
      <% if @next_scheduled.present? %>
        <div class="next_payment">
          <span>次回請求日
              <%= @next_scheduled %>
          </span>
        </div>
      <% end %>
      <div class="record_table">
        <table>
          <tr>
            <th>日付</th>
            <th>プラン</th>
            <th>お支払い</th>
            <th>お取り引き内容</th>
            <th>状況</th>
          </tr>
          <% @billings.each do |billing| %>
              <% hash = JSON.parse(billing.response) %>
              <% if billing.request_type == "recursion.succeeded" %>
                  <tr>
                    <td class="datetime">
                      <span><%= l(billing.created_at, :format => '%Y年%m月%d日') %></span>
                    </td>


                    <td class="plan <%= hash['data']['object']['description'].downcase %>">
                      <span></span>
                    </td>


                    <td class="payment">
                      <span><%= hash['data']['object']['amount'] %></span>円
                    </td>
                    <td class="detail">
                      <span><%= Time.at(hash['data']['object']['last_executed']).strftime("%Y年%m月%d日") %>
                        から <%= Time.at(hash['data']['object']['next_scheduled']).strftime("%Y年%m月%d日") %> までの月額利用料</span>
                    </td>
                    <td class="status">
                      <span>Approved</span>
                    </td>
                  </tr>
              <% elsif billing.request_type == "charge.succeeded" %>

                  <tr>
                    <td class="datetime">
                      <span><%= l(billing.created_at, :format => '%Y年%m月%d日') %></span>
                    </td>


                    <td class="plan">
                      <span></span>
                    </td>


                    <td class="payment">
                      <span><%= hash['data']['object']['amount'] %></span>円
                    </td>
                    <td class="detail">
                      <% payment = Spree::Payment.find_by(response_code: hash['data']['object']['id']) %>
                      <% if payment.present? %>
                          <% payment.order.line_items.each do |line_item| %>
                              <span><%= line_item.variant.product.name %>の購入</span>
                          <% end %>
                      <% end %>

                      <% if hash['data']['object']['description'].present? %>
                          <span><%= hash['data']['object']['description'] %></span>
                      <% end %>

                    </td>
                    <td class="status">
                      <span>Approved</span>
                    </td>
                  </tr>

              <% end %>

          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
