<% content_for :title, head_title("取引履歴 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("取引履歴,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "取引履歴です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>取引履歴</li>
    </ul>
  </div>
</nav>
<div id="trading_record">
  <div class="trading_container layout">
    <div class="pre_title">
      <h1 class="f_fm">取引履歴</h1>
    </div>
    <div class="next_payment">
      <div class="payment_wrap">
        次回請求日　
        <% if @next_scheduled.present? %>
            <%= @next_scheduled %>
        <% end %>
      </div>
    </div>
    <div class="archive_payment">
      <ul class="ul">
        <% @billings.each do |billing| %>
            <% hash = JSON.parse(billing.response) %>
            <% if billing.request_type == "recursion.succeeded" %>
                <li>
                  <div class="payment_head">
                    <span class="payment-day"><%= l(billing.created_at, :format => '%Y年%m月%d日') %></span>
                    <span class="f_fm payment-plan <%= hash['data']['object']['description'].downcase %>"></span>
                  </div>
                  <div class="payment_body">
                    <div class="payment-description">
                      <%= Time.at(hash['data']['object']['last_executed']).strftime("%Y年%m月%d日") %>
                      から <%= Time.at(hash['data']['object']['next_scheduled']).strftime("%Y年%m月%d日") %> の月額利用料
                    </div>
                  </div>
                  <div class="payment_foot">
                    <span class="payment-condition approved"></span>
                    <span class="payment-price"><%= hash['data']['object']['amount'] %>円</span>
                  </div>
                </li>
            <% elsif billing.request_type == "charge.succeeded" %>
                <li>
                  <div class="payment_head">
                    <span class="payment-day"><%= l(billing.created_at, :format => '%Y年%m月%d日') %></span>
                    <span class="f_fm payment-plan"></span>
                  </div>
                  <div class="payment_body">
                    <% payment = Spree::Payment.find_by(response_code: hash['data']['object']['id']) %>
                    <% if payment.present? %>
                        <% payment.order.line_items.each do |line_item| %>
                            <span><%= line_item.variant.product.name %>の購入</span>
                        <% end %>
                    <% end %>

                    <% if hash['data']['object']['description'].present? %>
                        <span><%= hash['data']['object']['description'] %></span>
                    <% end %>
                  </div>
                  <div class="payment_foot">
                    <span class="payment-condition approved"></span>
                    <span class="payment-price"><%= hash['data']['object']['amount'] %>円</span>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <%#
    <div class="payment_pager f_fm">
      <ul class="ul">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">next ></a></li>
      </ul>
    </div>
    %>
  </div>
</div>
