<% content_for :title, head_title("配送情報 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("配送情報,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "配送情報です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>配送情報</li>
    </ul>
  </div>
</nav>
<div class="editAddress_container layout">


  <%= form_for @user, url: user_update_address_url do |f| %>

    <div class="pre_title">
      <h1 class="f_fm">配送情報</h1>
    </div>
    <div class="payment_address">
      <div class="label-set">
        氏名（姓）
      </div>
      <div class="input-set">
        <%= text_field_tag "user[address_attributes][last_name]",@user.ship_address.lastname %>
      </div>
      <div class="label-set">
        氏名（名）
      </div>
      <div class="input-set">
        <%= text_field_tag "user[address_attributes][first_name]",@user.ship_address.firstname %>
      </div>
      <div class="label-set">
        郵便番号
      </div>
      <div class="input-set">
        <label for=""></label>
        <%= text_field_tag "user[address_attributes][zipcode]",  @user.ship_address.zipcode, {placeholder: "例）1010001"} %>
      </div>
      <div class="label-set">
        都道府県
      </div>
      <div class="input-set">
        <%= text_field_tag "user[address_attributes][city]",  @user.ship_address.city %>
      </div>
      <div class="label-set">
        市町村
      </div>
      <div class="input-set">
        <%= text_field_tag "user[address_attributes][address1]",  @user.ship_address.address1 %>
      </div>
      <div class="label-set">
        以降の住所
      </div>
      <div class="input-set">
        <%= text_field_tag "user[address_attributes][address2]",  @user.ship_address.address2 %>
      </div>
      <div class="label-set">
        電話番号
      </div>
      <div class="input-set">
        <%= text_field_tag "user[address_attributes][phone]",  @user.ship_address.phone %>
      </div>
    </div>

    <div class="submit_button">
      <%= f.submit "編集", class: 'button-block continue' %>
      <script>Spree.disableSaveOnClick();</script>
    </div>

  <% end %>
</div>
