<% content_for :title, head_title("ユーザーの編集 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("ユーザーの編集,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "ユーザーの編集です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="edit-account" class="user_sessions">
  <div class="container">

    <div class="devise_container">
      <div class="pre_title">
        <h1 class="f_fm"><%= Spree.t(:editing_user) %></h1>
      </div>
      <div class="container-form">

        <div class="devise">
          <div data-hook="account_edit">
            <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
              <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
              <p>
                <%= f.submit Spree.t(:update), :class => 'button primary' %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
