<% content_for :title, head_title("配送情報 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("配送情報,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "配送情報です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>配送情報</li>
    </ul>
  </div>
</nav>
<div class="edit_adddress">
  <div class="container">

    <%= form_for @user, url: user_update_address_url do |f| %>
      <div class="pre_title">
        <h1 class="f_fm">配送情報</h1>
      </div>
      <div class="container-form layout">
        <div class="input_row">
          <div class="split_2">
            <label for="">氏名（姓）</label>
            <%= text_field_tag "user[address_attributes][last_name]",@user.ship_address.lastname %>

          </div>
          <div class="split_2">
            <label for="">氏名（名）</label>
            <%= text_field_tag "user[address_attributes][first_name]",@user.ship_address.firstname %>
          </div>
        </div>
        <div class="input_row">
          <div class="split_2">
            <label for="">郵便番号</label>
            <%= text_field_tag "user[address_attributes][zipcode]",  @user.ship_address.zipcode, {placeholder: "例）1010001"} %>
          </div>
        </div>
        <div class="input_row">
          <div class="split_2">
            <label for="">都道府県</label>
            <%= text_field_tag "user[address_attributes][city]",  @user.ship_address.city %>
          </div>
          <div class="split_2">
            <label for="">市町村</label>
            <%= text_field_tag "user[address_attributes][address1]",  @user.ship_address.address1 %>
          </div>
        </div>
        <div class="input_row">
          <div class="">
            <label for="">以降の住所</label>
            <%= text_field_tag "user[address_attributes][address2]",  @user.ship_address.address2 %>
          </div>
        </div>
        <div class="input_row tel">
          <div class="split_03">
            <label for="">電話番号</label>
            <%= text_field_tag "user[address_attributes][phone]",  @user.ship_address.phone %>
          </div>
        </div>

        <div class="submit_buttom">
          <%= f.submit "編集", class: 'continue' %>
          <script>Spree.disableSaveOnClick();</script>
        </div>
      </div>
    <% end %>
  </div>
</div>
