<% content_for :title, head_title("お気に入り一覧 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("お気に入り一覧,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "お気に入り一覧です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>お気に入り一覧</li>
    </ul>
  </div>
</nav>
<div id="user_summary">
  <div class="user_summary">

    <% if @subscription.present? %>

        <div class="pre_title">
          <h1 class="f_fm">
            <% if @user.bill_address.present? %>
                <%= @user.bill_address.lastname %> <%= @user.bill_address.firstname %>
            <% end %>
            様の<%= link_to "登録情報", user_setting_path %></h1>
        </div>
    <% else %>
        <div class="pre_title">
          <h1 class="f_fm">ゲスト 様の登録情報</h1>
        </div>
    <% end %>

    <div class="label-set">
      <span>お気に入りに追加したアイテム</span>
    </div>
    <div class="summary_item_list">
      <section class="products_pager">
        <%= paginate @favorites %>
      </section>

      <ul class="ul">
        <% @favorites.each do |favorite| %>
            <% if @unavailable_rental_items.blank? || !@unavailable_rental_items.pluck(:variant_id).include?(favorite.variant_id) %>
                <li>
                  <div class="image_col">
                    <% if favorite.variant.product.plans.present? %>
                        <% if favorite.variant.product.plans.pluck(:name).include?("BRONZE") %>
                            <% plan = "bronze" %>
                        <% elsif favorite.variant.product.plans.pluck(:name).include?("SILVER") %>
                            <% plan = "silver" %>
                        <% elsif favorite.variant.product.plans.pluck(:name).include?("GOLD") %>
                            <% plan = "gold" %>
                        <% elsif favorite.variant.product.plans.pluck(:name).include?("BLACK") %>
                            <% plan = "black" %>
                        <% end %>
                    <% end %>
                    <%= link_to product_image(favorite.variant.product, :class => 'item-image'), product_path(favorite.variant.product) %>
                    <span class="fan <%= plan if plan.present? %>"></span>
                  </div>
                  <div class="info_col">
                    <div class="count">
                      <%= favorite.variant.product.impressions_count %> <%= image_tag 'sp/account/icon_view_s.png' %>
                      <%= favorite.variant.product.total_favorite %> <%= image_tag 'sp/account/icon_like_s.gif' %>
                    </div>
                    <div class="tags">
                      <div class="">
                        <span>ブランド名：</span>
                        <% if favorite.variant.product.brands.present? %>
                          <span class="item-brand"><%= favorite.variant.product.brands.first.name %></span>
                        <% end %>
                      </div>
                      <div class="">
                        <span>価格：</span><%= display_price(favorite.variant.product) %>(税込)
                      </div>
                      <% if favorite.variant.product.total_on_hand < 1 %>
                        <div class="outOfStock">
                          販売済み
                        </div>
                      <% elsif favorite.variant.product.total_on_hand <= favorite.variant.rental_qty %>
                        <div class="duringTheRental">
                          レンタル中
                        </div>
                      <% end %>
                    </div>
                    <div class="buttons">

                      <% if @subscription.present? %>
                        <%= form_for :order, :url => populate_orders_path do |f| %>
                          <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <%= hidden_field_tag "variant_id", favorite.variant.id %>
                            <%= hidden_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                            <%= button_tag :class => '', :id => 'add-to-cart-button', :type => :submit do %>
                              <%= image_tag('pc/users/btn_buy.gif') %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>

                      <% if @subscription.present? %>
                          <% if favorite.variant.product.items.present? %>
                              <% item = favorite.variant.product.items.first %>
                              <span class="item-category">/<%= item.name %></span>
                          <% end %>

                          <div class="rental-form">
                          <%= form_for :rental_item, :url => rental_items_path do |f| %>
                            <%= hidden_field_tag "rental_item[variant_id]", favorite.variant.id %>
                            <%= submit_tag "OK", :class => "btn" %>
                          <% end %>
                          </div>
                          <%= button_tag :class => 'rental_item', :data => {:target => 'modal_rental'}, :id => 'add-to-cart-button', :type => :submit do %>
                            <%= image_tag 'pc/users/btn_rental.gif' %>
                          <% end %>

                      <% else %>
                          <%= link_to image_tag('pc/users/btn_rental.gif'), subscriptions_step1_path, :class => 'button' %>
                      <% end %>

                      <% if false %>
                      <%= form_for :rental_item, :url => rental_items_path do |f| %>
                        <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                          <%= hidden_field_tag "rental_item[variant_id]", favorite.variant.id %>
                          <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
                              <%= image_tag('pc/users/btn_rental.gif') %>
                              <%#= Spree.t(:rental) %>
                          <% end %>
                        </div>
                      <% end %>
                      <% end %>

                    </div>
                    <%= link_to "×", add_to_favorite_user_path(favorite.variant.id), class: 'favorite-remove', method: :put, remote: true, data: {toggle_text: '×', toggle_href: add_to_favorite_user_path(favorite.variant.id), id: favorite.variant.id} %>
                  </div>
                </li>

            <% end %>
        <% end %>
      </ul>

      <section class="products_pager">
        <%= paginate @favorites %>
      </section>

    </div>

    <% #モーダル  %>
    <div id="modal_rental" class="modal-content">
      <div class="modal_container">
        <div class="left_image">
          <%= image_tag '', :class => 'modal-image' %>
        </div>
        <div class="right_info">
          <h1><span class="modal-brand">burberry</span></h1>

          <p>この商品を発送致しますか？</p>

          <div class="buttons">
            <button type="button" name="button" class="modal-close">キャンセル</button>
            <div class="modal-submit"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !@subscription.present? %>
    <div class="type_container account">
      <h2 class="type_catch">あなたにあった会員はどれ</h2>
      <h3>利用料金</h3>
      <p>４つのプランからお選び下さい</p>
      <div class="type_list">
        <div class="typelist_box">
          <ul class='ul plan_selector'>
            <li class="bronze">
              <div class="">
                <%= link_to image_tag('sp/account/bronze.gif'), subscriptions_step1_path %>
              </div>
            </li>
            <li class="silver">
              <div class="">
                <%= link_to image_tag('sp/account/silver.gif'), subscriptions_step1_path %>
              </div>
            </li>
            <li class="gold">
              <div class="">
                <%= link_to image_tag('sp/account/gold.gif'), subscriptions_step1_path %>
              </div>
            </li>
            <li class="black">
              <div class="">
                <%= link_to image_tag('sp/account/black.gif'), subscriptions_step1_path %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="type_alert">
        会員プランの変更、退会はいつでも可能です。
      </div>
      <div class="type_notice">
        <div class="">
          <span>返却期限：なし</span> / <span>クリーニング費用：なし</span>
          <br>※全てのプランで気に入った
          <br>アイテムは買取可能！
          <br>マイページより買取の価格確認頂けます。
        </div>
        <p>
          ※お支払い方法は各種クレジットカードとなります。
          <br>会費は１ヶ月単位の自動継続でのお支払いとなります。
          <br>翌月のお支払い前でしたらいつでも解約可能です。
          <br>ご利用開始日から１ヶ月単位で課金となるので安心です。
          <br>（例 2015年7月15日に利用開始すると8月14日までが初回会費分です。）
        </p>
      </div>
    </div>
  <% end %>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".favorite-remove").click(function(){
      var $target = $(this).parent().parent();
      $target.hide('slow', function(){ $target.remove(); });
      //$(this).parent().parent().remove();
    });
  });
</script>
