<% content_for :title, head_title("過去に借りたアイテム | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("過去に借りたアイテム,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "過去に借りたアイテムです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>過去に借りたアイテム</li>
    </ul>
  </div>
</nav>
<section id="user_summary" class="users-show">
  <div class="user_summary">
    <div class="pre_title">
      <h1 class="f_fm">HISOTORY</h1>
    </div>
    <div class="label-set">
      <span>あなたが過去にレンタルしたアイテム</span>
    </div>
    <div class="rentaled_item_list">
      <ul class="ul">
        <% @rental_items.each do |rental_item| %>
        <li>
          <div class="product_info">
            <div class="image_col">
              <% if rental_item.variant.product.plans.present? %>
                  <% if rental_item.variant.product.plans.pluck(:name).include?("BLACK") %>
                      <% plan = "black" %>
                  <% elsif rental_item.variant.product.plans.pluck(:name).include?("GOLD") %>
                      <% plan = "gold" %>
                  <% elsif rental_item.variant.product.plans.pluck(:name).include?("SILVER") %>
                      <% plan = "silver" %>
                  <% else %>
                      <% plan = "bronze" %>
                  <% end %>
              <% end %>

              <span class="fan <%= plan if plan.present? %>"></span>

              <%= link_to product_image(rental_item.variant.product), product_path(rental_item.variant.product) %>
            </div>
            <div class="info_col">
              <div class="count">
                <%= rental_item.variant.product.impressions_count %> <%= image_tag 'sp/account/icon_view_s.png' %>
                <%= rental_item.variant.product.total_favorite %> <%= image_tag 'sp/account/icon_like_s.gif' %>
              </div>
              <div class="tags">
                <div class="">
                  <span>ブランド名：</span>
                  <% if rental_item.variant.product.brands.present? %>
                      <%= rental_item.variant.product.brands.first.name %>
                  <% end %>
                </div>
                <div class="">
                  <span>価格：</span><%= display_price(rental_item.variant.product) %>(税込)
                </div>
              </div>
            </div>
          </div>
          <div class="buy_product">
            <div class="buy_buttom">
              <%= form_for :order, :url => populate_orders_path do |f| %>
                  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <%= hidden_field_tag "variant_id", rental_item.variant.id %>
                    <%= hidden_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                    <%= button_tag :class => 'add-to-cart-button', :id => 'add-to-cart-button', :type => :submit do %>
                        このアイテムを買う
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
