<% content_for :title, head_title("過去に借りたアイテム | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("過去に借りたアイテム,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "過去に借りたアイテムです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>過去に借りたアイテム</li>
    </ul>
  </div>
</nav>
<section id="user_summary" class="users-show">
  <div class="user_summary">
    <div class="container">
      <div class="pre_title">
        <h1 class="f_fm">MY PAGE</h1>
      </div>
      <div class="pre_caption">
        <div>過去に借りたアイテム</div>
        <div>あなたが過去に借りたアイテムの確認ができます。</div>
      </div>


      <% if @subscription.present? %>
      <div class="accout_status <%= @subscription.plan.name.downcase %>">
        <div class="label">YOUR PLAN IS</div>
        <div class="thestatus f_fm"><%= @subscription.plan.name %></div>
        <div class="status_icon"><span></span></div>
        <div class="">
          <% if @user.bill_address.present? %>
          <%= @user.bill_address.lastname %> <%= @user.bill_address.firstname %>
          <% end %>
          様の</div>
        <div class=""><%= link_to "登録情報", user_setting_path %></div>
      </div>
      <% end %>

      <div class="wrap_index">
        <div class="index_filter">
          <div class="">
            <h3><%= link_to "あなたのお気に入りアイテム", account_path %></h3>
          </div>
          <% if @orders.present? %>
              <h3><%= link_to "購入したアイテム", user_orders_path %></h3>
          <% end %>
        </div>
        <div class="index_products">
          <h3 class="pre_main_col">あなたが過去にレンタルしたアイテム</h3>

          <div class="panel rentaled_item_list">
            <ul class="ul">
              <% @rental_items.each do |rental_item| %>
                <li>
                  <div class="image_col">
                    <%= link_to product_image(rental_item.variant.product), product_path(rental_item.variant.product) %>
                  </div>
                  <div class="info_col">
                    <div class="">ブランド名：
                      <% if rental_item.variant.product.brands.present? %>
                          <%= rental_item.variant.product.brands.first.name %>
                      <% end %>
                     </div>
                    <div class="">お気に入り登録数：<%= rental_item.variant.product.total_favorite %>人</div>
                    <div class="">価格：<%= display_price(rental_item.variant.product) %></div>
                    <div class="">累計ビュー：<%= rental_item.variant.product.impressions_count %>pv</div>
                  </div>
                  <div class="button_col">
                    <% if rental_item.state == "ready" %>
                        <input type="button" name="name" value="配送準備中" class="rent_now">
                    <% elsif rental_item.state == "shipped" %>
                        <input type="button" name="name" value="レンタル中" class="rent_now">
                    <% elsif rental_item.state == "returned" %>
                        <input type="button" name="name" value="返却済み" class="rent_now">
                    <% elsif rental_item.state == "purchased" %>
                        <input type="button" name="name" value="購入済み" class="rent_now">
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
