<% content_for :title, head_title("購入したアイテム | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("購入したアイテム,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "購入したアイテムです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>購入したアイテム</li>
    </ul>
  </div>
</nav>
<section id="user_summary" class="users-show">
  <div class="user_summary">
    <div class="pre_title">
      <h1 class="f_fm">HISOTORY</h1>
    </div>
    <div class="label-set">
      <span>あなたが購入したアイテムアイテム</span>
    </div>
    <div class="rentaled_item_list">
      <ul class="ul">
        <% @orders.each do |order| %>
            <% order.line_items.each do |line_item| %>
                <li>
                  <div class="product_info">
                    <div class="image_col">
                      <% if line_item.variant.product.plans.present? %>
                          <% if line_item.variant.product.plans.pluck(:name).include?("BLACK") %>
                              <% plan = "black" %>
                          <% elsif line_item.variant.product.plans.pluck(:name).include?("GOLD") %>
                              <% plan = "gold" %>
                          <% elsif line_item.variant.product.plans.pluck(:name).include?("SILVER") %>
                              <% plan = "silver" %>
                          <% else %>
                              <% plan = "bronze" %>
                          <% end %>
                      <% end %>

                      <span class="fan <%= plan if plan.present? %>"></span>

                      <%= link_to product_image(line_item.variant.product), product_path(line_item.variant.product) %>
                    </div>
                    <div class="info_col">
                      <div class="count">
                        <%= line_item.variant.product.impressions_count %> <%= image_tag 'sp/account/icon_view_s.png' %>
                        <%= line_item.variant.product.total_favorite %> <%= image_tag 'sp/account/icon_like_s.gif' %>
                      </div>
                      <div class="tags">
                        <div class="">
                          <span>ブランド名：</span>
                          <% if line_item.variant.product.brands.present? %>
                              <%= line_item.variant.product.brands.first.name %>
                          <% end %>
                        </div>
                        <div class="">
                          <span>価格：</span><%= display_price(line_item.variant.product) %>(税込)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="buy_product">
                    <div class="buy_buttom">
                      <%= link_to "注文を見る", order_path(order) %>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
