<% content_for :title, head_title("会員登録情報 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("会員登録情報,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "会員登録情報です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>会員登録情報</li>
    </ul>
  </div>
</nav>
<section id="users" class="users-edit">

  <div class="container">

    <div class="pre_title pre_hero">
      <h1 class="f_fm">EDITING USER<%#= accurate_title %></h1>
    </div>

    <section data-hook="account_summary" class="account_summary">

      <% if @subscription.present? %>
          <div class="accout_status <%= @subscription.plan.name.downcase %>">
            <div class="label">YOUR PLAN IS</div>
            <div class="thestatus f_fm"><%= @subscription.plan.name %></div>
            <div class="status_icon"><span></span></div>
            <div class="">
              <% if @user.bill_address.present? %>
                  <%= @user.bill_address.lastname %> <%= @user.bill_address.firstname %>
              <% end %>
              様の
            </div>
            <div class=""><%= link_to "登録情報", user_setting_path %></div>
          </div>
      <% end %>

      <div class="summary_head">
        <h2>会員登録情報</h2>
      </div>
      <div class="summary_table">
        <div class="summary_row">
          <div class="label">配送情報</div>
          <div class="naiyou">
            <% if @user.ship_address.present? %>
             <%= @user.ship_address.zipcode %><br>
             <%= @user.ship_address.city %><br>
             <%= @user.ship_address.address1 %><%= @user.ship_address.address2 %><br>
             <%= @user.ship_address.phone %><br>

            <% end %>
            </div>
          <div class="button_right">
            <%= link_to Spree.t(:edit), user_edit_address_path, :class => 'button edit' %>
          </div>
        </div>
        <div class="summary_row">
          <div class="label"><%= Spree.t(:email) %></div>
          <div class="naiyou"><%= @user.email %></div>
          <div class="button_right">
            <%= link_to Spree.t(:edit), spree.edit_account_path, :class => 'button' %>
          </div>
        </div>
        <div class="summary_row">
          <div class="label">取引履歴</div>
          <div class="naiyou"></div>
          <div class="button_right">
            <%= link_to "閲覧", user_billing_path, :class => 'button edit' %>
          </div>
        </div>
        <div class="summary_row">
          <div class="label">退会</div>
          <div class="naiyou"></div>
          <div class="button_right">
            <%= link_to "退会", user_unsubscribe_path, :class => 'button edit' %>
          </div>
        </div>
      </div>
      <div class="backToMypage">
        <%= link_to "マイページに戻る", account_path, :class => 'button' %>
      </div>
    </section>
  </div>
</section>
