<% content_for :title, head_title("マイページ | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("マイページ,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
"マイページです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>



<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li>マイページ</li>
    </ul>
  </div>
</nav>
<section id="user_pre_summary" class="users-show">
  <div class="user_summary">
    <div class="container">
      <div class="pre_title">
        <h1 class="f_fm">MY PAGE</h1>
      </div>
      <div class="pre_caption">
        <div>あなたのお気に入りアイテム</div>
        <div>あなたが選んだお気に入りのアイテムの確認ができます。</div>
      </div>

      <% if @subscription.present? %>
      <div class="accout_status <%= @subscription.plan.name.downcase %>">
        <div class="label">YOUR PLAN IS</div>
        <div class="thestatus f_fm"><%= @subscription.plan.name %></div>
        <div class="status_icon"><span></span></div>
        <div class="">
          <% if @user.bill_address.present? %>
          <%= @user.bill_address.lastname %> <%= @user.bill_address.firstname %>
          <% end %>
          様の
        </div>
        <div class=""><%= link_to "登録情報", user_setting_path %></div>
      </div>
      <% end %>

      <div class="wrap_index">
        <div class="index_filter">

          <div class="">
            <% if @subscription.present? %>
            <h3><%= link_to "過去に借りたアイテム", user_history_path %></h3>
            <% end %>
            <% if @orders.present? %>
            <h3><%= link_to "購入したアイテム", user_orders_path %></h3>
            <% end %>
          </div>
        </div>


        <div class="index_products">
          <% if @subscription.present? %>
          <h3 class="pre_main_col">あなたがレンタル中のアイテム</h3>

          <div class="panel rentaled_item_list">
            <ul class="ul">
              <% if @rental_items.present? %>
              <% @rental_items.each do |rental_item| %>
              <li>
                <div class="image_col">
                  <%= link_to product_image(rental_item.variant.product, :class => 'item-image'), product_path(rental_item.variant.product) %>
                </div>
                <div class="info_col">
                  <div>ブランド名：
                    <% if rental_item.variant.product.brands.present? %>
                    <span class="item-brand"><%= rental_item.variant.product.brands.first.name %></span>
                    <% end %>
                  </div>
                  <div class="">お気に入り登録数：<%= rental_item.variant.product.total_favorite %>人</div>
                  <div class="">価格：<%= display_price(rental_item.variant.product) %></div>
                  <div class="">累計ビュー：<%= rental_item.variant.product.impressions_count %>pv</div>
                </div>
                <div class="button_col">
                  <% if rental_item.state == "ready" %>
                  <input type="button" name="name" value="配送準備中" class="ready">
                  <% elsif rental_item.state == "shipped" %>
                  <input type="button" name="name" value="レンタル中" class="shipped">
                  <% elsif rental_item.state == "returned" %>
                  <input type="button" name="name" value="返却済み" class="returned">
                  <% elsif rental_item.state == "purchased" %>
                  <input type="button" name="name" value="購入済み" class="purchased">
                  <% end %>
                  <%= form_for :order, :url => populate_orders_path do |f| %>
                  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <%= hidden_field_tag "variant_id", rental_item.variant.id %>
                    <%= hidden_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                    <%= button_tag :class => 'addToCart', :id => 'add-to-cart-button', :type => :submit do %>
                    このアイテムを買う
                    <% end %>
                  </div>
                  <% end %>
                  <% if rental_item.state == "ready" %>

                  <div class="rental-form-cancel">
                    <%= form_for :rental_item, :url => rental_item_cancel_path do |f| %>
                    <%= hidden_field_tag "rental_item[id]", rental_item.id %>
                    <%= submit_tag "OK", :class => "btn" %>
                    <% end %>
                  </div>
                  <% item = rental_item.variant.product.items.first %>
                  <span class="item-category" style="display: none;">/<%= item.name %></span>
                  <%= button_tag :class => 'rental_item rental-cancel', :data => {:target => 'modal_rental_cancel'}, :id => rental_item.id, :type => :submit do %>
                  レンタルをキャンセル
                  <% end %>


                  <% end %>
                </div>
              </li>
              <% end %>
              <% else %>
              <p style="margin:5px 0;padding:0 10px;">
                レンタル中のアイテムはありません。
              </p>
              <% end %>
            </ul>
          </div>
          <% end %>
          <div id="modal_rental_cancel" class="modal-content">
            <div class="modal_container">
              <div class="left_image">
                <!-- <img src="" alt="" /> -->
                <%= image_tag 'dev/products/start_rental.png', :class => 'modal-image' %>
              </div>
              <div class="right_info">
                <h1><span class="modal-brand">burberry</span></h1>

                <p>本当にキャンセルしますか？</p>

                <div class="buttons">
                  <button type="button" name="button" class="modal-close">キャンセル</button>
                  <div class="modal-submit-cancel "></div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="pre_main_col">あなたがお気に入りに追加したアイテム</h3>

          <div class="panel">
            <div class="fab_item_list">
              <ul class="ul">
                <% @favorites.each do |favorite| %>
                <% if @unavailable_rental_items.blank? || !@unavailable_rental_items.pluck(:variant_id).include?(favorite.variant_id) %>
                <li>
                  <div class="inner">
                    <div class="fab_head">
                      <div class="head-remove tag-view">
                        <%= link_to "×", add_to_favorite_user_path(favorite.variant_id), class: 'pc-favorite-remove', method: :put, remote: true, data: {toggle_text: '×', toggle_href: add_to_favorite_user_path(favorite.variant_id), id: favorite.variant_id} %>
                      </div>
                      <div class="head-tag tag-view">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_view_p.png' %></span>
                        <span class="count"><%= favorite.variant.product.impressions_count %></span>
                        <span>PV</span>
                      </div>
                      <div class="head-tag tag-like">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_like_p.png' %></span>
                        <span class="count"><%= favorite.variant.product.total_favorite %></span>
                        <span>LIKE</span>
                      </div>
                    </div>
                    <div class="fab_body">
                      <%= link_to product_image(favorite.variant.product, :class => 'item-image'), product_path(favorite.variant.product) %>
                    </div>
                    <div class="fab_bottom">
                      <div class="tags">
                        <div class="">
                          <span>ブランド名：</span>
                          <% if favorite.variant.product.brands.present? %>
                          <span class="item-brand"><%= favorite.variant.product.brands.first.name %></span>
                          <% end %>
                        </div>
                        <div class="">
                          <span>価格：</span><%= display_price(favorite.variant.product) %>(税込)
                        </div>
                        <% if favorite.variant.product.total_on_hand < 1 %>
                        <div class="outOfStock">
                          販売済み
                        </div>
                        <% elsif favorite.variant.product.total_on_hand <= favorite.variant.rental_qty %>
                        <div class="nowRentaled">
                          レンタル中
                        </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="fav_buttons">

                      <% if @subscription.present? %>
                      <%= form_for :order, :url => populate_orders_path do |f| %>
                      <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <%= hidden_field_tag "variant_id", favorite.variant.id %>
                        <%= hidden_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                        <%= button_tag :id => 'add-to-cart-button', :type => :submit do %>
                        <%= image_tag 'pc/users/btn_buy.gif' %>
                        <% end %>
                      </div>
                      <% end %>
                      <% end %>

                      <% if @subscription.present? %>
                      <% if favorite.variant.product.items.present? %>
                      <% item = favorite.variant.product.items.first %>
                      <span class="item-category">/<%= item.name %></span>
                      <% end %>

                      <div class="rental-form">
                        <%= form_for :rental_item, :url => rental_items_path do |f| %>
                        <%= hidden_field_tag "rental_item[variant_id]", favorite.variant.id %>
                        <%= submit_tag "OK", :class => "btn" %>
                        <% end %>
                      </div>

                      <%= button_tag :class => 'rental_item', :data => {:target => 'modal_rental'}, :id => 'add-to-cart-button', :type => :submit do %>
                      <%= image_tag 'pc/users/btn_rental.gif' %>
                      <% end %>

                      <% else %>
                      <%= link_to image_tag('pc/users/btn_rental.gif'), subscriptions_step1_path %>
                      <% end %>

                    </div>
                  </div>
                </li>

                <% end %>
                <% end %>
              </ul>
            </div>

            <% if @favorites.size >= 12 %>
            <div class="view_more_products">
              <%= link_to image_tag('pc/users/btn_view_more.jpg'), user_favorites_path %>
            </div>
            <% end  %>
            <% #モーダル  %>
            <div id="modal_rental" class="modal-content">
              <div class="modal_container">
                <div class="left_image">
                  <!-- <img src="" alt="" /> -->
                  <%= image_tag 'dev/products/start_rental.png', :class => 'modal-image' %>
                </div>
                <div class="right_info">
                  <h1><span class="modal-brand">burberry</span></h1>

                  <p>この商品を発送致しますか？</p>

                  <div class="buttons">
                    <button type="button" name="button" class="modal-close">キャンセル</button>
                    <div class="modal-submit"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @subscription.blank? %>
  <div class="reccomend_plan">
    <div class="banner">
      あなたにあった会員はどれ？
    </div>
    <div class="container">
      <div class="select_plan">
        <div class="type_alert">
          利用料金
        </div>
        <div class="type_list">
          <ul class='ul'>
            <li>
              <%= link_to image_tag('home/plans/bronze.jpg'),subscriptions_step1_path, :class => 'plan' %>
            </li>
            <li>
              <%= link_to image_tag('home/plans/silver.jpg'),subscriptions_step1_path, :class => 'plan' %>
            </li>
            <li class="recommend">
              <%= link_to image_tag('home/plans/gold.jpg'),subscriptions_step1_path, :class => 'plan' %>
            </li>
            <li>
              <%= link_to image_tag('home/plans/black.jpg'),subscriptions_step1_path, :class => 'plan' %>
            </li>
          </ul>
        </div>
        <div class="type_alert">
          会員プランの変更、退会はいつでも可能です。
        </div>
        <div class="ctrl">
          <%= link_to image_tag('home/plans/next.gif'), subscriptions_step1_path %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $(".pc-favorite-remove").click(function(){
      var $target = $(this).parent().parent().parent().parent();
      $target.hide('slow', function(){ $target.remove(); });
    //$(this).parent().parent().parent().parent().remove();
  });
  });
</script>
