<% content_for :title, head_title("マイページ | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("マイページ,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
"マイページです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li>マイページ</li>
    </ul>
  </div>
</nav>
<div id="user_summary">
  <div class="user_summary">

    <% if @subscription.present? %>

    <div class="pre_title">
      <h1 class="f_fm">
        <% if @user.bill_address.present? %>
        <%= @user.bill_address.lastname %> <%= @user.bill_address.firstname %>様の
        <% end %>
        <%= link_to "登録情報", user_setting_path %></h1>
      </div>
      <% else %>
      <div class="pre_title">
        <h1 class="f_fm">ゲスト 様の登録情報</h1>
      </div>
      <% end %>


      <% if @subscription.present? %>
      <div class="label-set">
        <span>レンタル中のアイテム</span>
      </div>
      <div class="rentaled_item_list">
        <ul class="ul">
          <% if @rental_items.present? %>
          <% @rental_items.each do |rental_item| %>
          <li>
            <div class="product_info">
              <div class="image_col">
                <% if rental_item.variant.product.plans.present? %>
                <% if rental_item.variant.product.plans.pluck(:name).include?("BRONZE") %>
                <% plan = "bronze" %>
                <% elsif rental_item.variant.product.plans.pluck(:name).include?("SILVER") %>
                <% plan = "silver" %>
                <% elsif rental_item.variant.product.plans.pluck(:name).include?("GOLD") %>
                <% plan = "gold" %>
                <% elsif rental_item.variant.product.plans.pluck(:name).include?("BLACK") %>
                <% plan = "black" %>
                <% end %>
                <% end %>

                <%= link_to product_image(rental_item.variant.product, :class => 'item-image'), product_path(rental_item.variant.product) %>
                <span class="fan <%= plan if plan.present? %>"></span>

              </div>
              <div class="info_col">
                <div class="count">
                  <%= rental_item.variant.product.impressions_count %> <%= image_tag 'sp/account/icon_view_s.png' %>
                  <%= rental_item.variant.product.total_favorite %> <%= image_tag 'sp/account/icon_like_s.gif' %>
                </div>
                <div class="tags">
                  <div class="">
                    <span>ブランド名：</span>
                    <% if rental_item.variant.product.brands.present? %>
                    <span class="item-brand"><%= rental_item.variant.product.brands.first.name %></span>
                    <% end %>
                  </div>
                  <div class="">
                    <span>価格：</span><%= display_price(rental_item.variant.product) %>(税込)
                  </div>
                </div>
              </div>
            </div>
            <div class="buy_product">
              <div class="buy_buttom">
                <%= form_for :order, :url => populate_orders_path do |f| %>
                <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <%= hidden_field_tag "variant_id", rental_item.variant.id %>
                  <%= hidden_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                  <%= button_tag :class => 'add-to-cart-button', :id => 'add-to-cart-button', :type => :submit do %>
                  このアイテムを買う
                  <% end %>
                </div>
                <% end %>
              </div>
              <div class="buy_buttom" style="margin-top: 5px;">

                <div class="rental-form-cancel">
                  <%= form_for :rental_item, :url => rental_item_cancel_path do |f| %>
                  <%= hidden_field_tag "rental_item[id]", rental_item.id %>
                  <%= submit_tag "OK", :class => "btn" %>
                  <% end %>
                </div>
                <% item = rental_item.variant.product.items.first %>
                <span class="item-category" style="display: none;">/<%= item.name %></span>
                <%= button_tag :class => 'rental_item rental-cancel add-to-cart-button', :data => {:target => 'modal_rental_cancel'}, :id => rental_item.id, :type => :submit do %>
                レンタルをキャンセル
                <% end %>

              </div>
            </li>
            <% end %>

            <% else %>
            <p style="margin:5px 0;padding:0 10px;">
              レンタル中のアイテムはありません。
            </p>
            <% end %>
          </ul>
        </div>
        <% end %>

        <% if @favorites.present? %>
        <div class="label-set">
          <span>お気に入りに追加したアイテム</span>
        </div>
        <div class="summary_item_list">
          <ul class="ul">
            <% @favorites.each do |favorite| %>
            <% if @unavailable_rental_items.blank? || !@unavailable_rental_items.pluck(:variant_id).include?(favorite.variant_id) %>
            <li class="<% if favorite.variant.product.total_on_hand < 1 %>outOfStock
              <% elsif favorite.variant.product.total_on_hand <= favorite.variant.product.master.rental_qty %>duringTheRental<% end %>">
              <div class="image_col">
                <% if favorite.variant.product.plans.present? %>
                <% if favorite.variant.product.plans.pluck(:name).include?("BRONZE") %>
                <% plan = "bronze" %>
                <% elsif favorite.variant.product.plans.pluck(:name).include?("SILVER") %>
                <% plan = "silver" %>
                <% elsif favorite.variant.product.plans.pluck(:name).include?("GOLD") %>
                <% plan = "gold" %>
                <% elsif favorite.variant.product.plans.pluck(:name).include?("BLACK") %>
                <% plan = "black" %>
                <% end %>
                <% end %>
                <%= link_to product_image(favorite.variant.product, :class => 'item-image'), product_path(favorite.variant.product) %>
                <span class="fan <%= plan if plan.present? %>"></span>
                <% if favorite.variant.product.total_on_hand < 1 %>
                <div class="outOfStock">
                  <span>販売済み</span>
                </div>
                <% elsif favorite.variant.product.total_on_hand <= favorite.variant.rental_qty %>
                <div class="duringTheRental">
                  <span>レンタル中</span>
                </div>
                <% end %>
              </div>
              <div class="info_col">
                <div class="count">
                  <%= favorite.variant.product.impressions_count %> <%= image_tag 'sp/account/icon_view_s.png' %>
                  <%= favorite.variant.product.total_favorite %> <%= image_tag 'sp/account/icon_like_s.gif' %>
                </div>
                <div class="tags">
                  <div class="">
                    <span>ブランド名：</span>
                    <% if favorite.variant.product.brands.present? %>
                    <span class="item-brand"><%= favorite.variant.product.brands.first.name %></span>
                    <% end %>
                  </div>
                  <div class="">
                    <span>価格：</span><%= display_price(favorite.variant.product) %>(税込)
                  </div>
                </div>
                <div class="buttons">

                  <% if @subscription.present? %>
                  <%= form_for :order, :url => populate_orders_path do |f| %>
                  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <%= hidden_field_tag "variant_id", favorite.variant.id %>
                    <%= hidden_field_tag :quantity, 1, :class => 'title', :min => 1 %>
                    <%= button_tag :class => '', :id => 'add-to-cart-button', :type => :submit do %>
                    <%= image_tag('pc/users/btn_buy.gif') %>
                    <%#= image_tag('pc/users/btn_buy.gif') %>
                    <% end %>
                  </div>
                  <% end %>
                  <% end %>

                  <% if @subscription.present? %>
                  <% if favorite.variant.product.items.present? %>
                  <% item = favorite.variant.product.items.first %>
                  <span class="item-category">/<%= item.name %></span>
                  <% end %>

                  <div class="rental-form">
                    <%= form_for :rental_item, :url => rental_items_path do |f| %>
                    <%= hidden_field_tag "rental_item[variant_id]", favorite.variant.id %>
                    <%= submit_tag "OK", :class => "btn" %>
                    <% end %>
                  </div>
                  <%= button_tag :class => 'rental_item', :data => {:target => 'modal_rental'}, :id => 'add-to-cart-button', :type => :submit do %>
                  <%= image_tag 'pc/users/btn_rental.gif' %>
                  <% end %>

                  <% else %>
                  <%= link_to image_tag('pc/users/btn_rental.gif'), subscriptions_step1_path, :class => 'button' %>
                  <% end %>

                  <% if false %>
                  <%= form_for :rental_item, :url => rental_items_path do |f| %>
                  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <%= hidden_field_tag "rental_item[variant_id]", favorite.variant.id %>
                    <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
                    <%= image_tag('pc/users/btn_rental.gif') %>
                    <%#= Spree.t(:rental) %>
                    <% end %>
                  </div>
                  <% end %>
                  <% end %>

                </div>
                <%= link_to "×", add_to_favorite_user_path(favorite.variant.id), class: 'favorite-remove', method: :put, remote: true, data: {toggle_text: '×', toggle_href: add_to_favorite_user_path(favorite.variant.id), id: favorite.variant.id} %>
              </div>
            </li>

            <% end %>
            <% end %>
          </ul>
          <% if @favorites.size >= 12 %>
          <div class="viewMore">
            <%= link_to 'もっと見る', user_favorites_path %>
          </div>
          <% end %>
        </div>

        <% #モーダル  %>
        <div id="modal_rental" class="modal-content">
          <div class="modal_container">
            <div class="left_image">
              <%= image_tag '', :class => 'modal-image' %>
            </div>
            <div class="right_info">
              <h1><span class="modal-brand">burberry</span></h1>

              <p>この商品を発送致しますか？</p>

              <div class="buttons">
                <button type="button" name="button" class="modal-close">キャンセル</button>
                <div class="modal-submit"></div>
              </div>
            </div>
          </div>
        </div>

        <div id="modal_rental_cancel" class="modal-content">
          <div class="modal_container">
            <div class="left_image">
              <!-- <img src="" alt="" /> -->
              <%= image_tag 'dev/products/start_rental.png', :class => 'modal-image' %>
            </div>
            <div class="right_info">
              <h1><span class="modal-brand">burberry</span></h1>

              <p>本当にキャンセルしますか？</p>

              <div class="buttons">
                <button type="button" name="button" class="modal-close">キャンセル</button>
                <div class="modal-submit-cancel" style="display:inline-block;"></div>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      </div>
      <% if !@subscription.present? %>
      <div class="type_container account">
        <div class="container">
          <h2 class="type_catch">あなたにあった会員はどれ</h2>
          <h3>利用料金</h3>
          <p>４つのプランからお選び下さい</p>
          <div class="type_list">
            <div class="typelist_box">
              <ul class='ul plan_selector'>
                <li class="bronze">
                  <div class="">
                    <%= link_to image_tag('sp/account/bronze.gif'), subscriptions_step1_path %>
                  </div>
                </li>
                <li class="silver">
                  <div class="">
                    <%= link_to image_tag('sp/account/silver.gif'), subscriptions_step1_path %>
                  </div>
                </li>
                <li class="gold">
                  <div class="">
                    <%= link_to image_tag('sp/account/gold.gif'), subscriptions_step1_path %>
                  </div>
                </li>
                <li class="black">
                  <div class="">
                    <%= link_to image_tag('sp/account/black.gif'), subscriptions_step1_path %>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="type_alert">
            会員プランの変更、退会はいつでも可能です。
          </div>
          <div class="type_notice">
            <div class="">
              <span>返却期限：なし</span> / <span>クリーニング費用：なし</span>
              <br>※全てのプランで気に入った
              <br>アイテムは買取可能！
              <br>マイページより買取の価格確認頂けます。
            </div>
            <p>
              ※お支払い方法は各種クレジットカードとなります。
              <br>会費は１ヶ月単位の自動継続でのお支払いとなります。
              <br>翌月のお支払い前でしたらいつでも解約可能です。
              <br>ご利用開始日から１ヶ月単位で課金となるので安心です。
              <br>（例 2015年7月15日に利用開始すると8月14日までが初回会費分です。）
            </p>
          </div>
        </div>
      </div>
      <% end %>

    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".favorite-remove").click(function(){
          var $target = $(this).parent().parent();
          $target.hide('slow', function(){ $target.remove(); });
          //$(this).parent().parent().remove();
        });
      });
    </script>
