<section id="user_summary">
  <div class="user_pre_summary">
    <div class="container">
      <div class="pre_title">
        <h1 class="f_fm"></h1>
      </div>
      <div class="wrap_index second">
        <div class="index_filter">
          <div class="">
            <h3>ステータス</h3>
            <ul>
              <li>
                <input type="checkbox" name="name" value="レンタル中のアイテム">
                <label for="">レンタル中のアイテム</label>
              </li>
              <li>
                <input type="checkbox" name="name" value="お気に入りアイテム">
                <label for="">お気に入りアイテム</label>
              </li>
            </ul>
          </div>
          <div class="">
            <h3>過去に借りたアイテム</h3>
            <ul>
              <li>
                <input type="checkbox" name="name" value="ネクタイ">
                <label for="">ネクタイ</label>
              </li>
              <li>
                <input type="checkbox" name="name" value="カフス">
                <label for="">カフス</label>
              </li>
              <li>
                <input type="checkbox" name="name" value="チーフ">
                <label for="">チーフ</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="index_products">
          <h3 class="pre_main_col">あなたがお気に入りに追加したアイテム</h3>
          <div class="panel">
            <div class="fab_item_list">
              <ul class="ul">
                <li>
                  <div class="inner">
                    <div class="fab_head">
                      <div class="head-tag tag-view">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_view_p.png' %></span>
                        <span class="count">1520</span>
                        <span>PV</span>
                      </div>
                      <div class="head-tag tag-like">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_like_p.png' %></span>
                        <span class="count">1102</span>
                        <span>LIKE</span>
                      </div>
                    </div>
                    <div class="fab_body">
                      <%= image_tag 'pc/users/rental_item.png', :class => '' %>
                    </div>
                    <div class="fab_bottom">
                      <div class="tags">
                        <div class="">
                          <span>ブランド名：</span>burberry burberry
                        </div>
                        <div class="">
                          <span>市場価格：</span>¥7,560(税込)
                        </div>
                      </div>
                    </div>
                    <div class="fav_buttons">
                      <%= link_to image_tag('pc/users/btn_buy.gif'), root_path %>
                      <%= link_to image_tag('pc/users/btn_rental.gif'), root_path %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="fab_head">
                      <div class="head-tag tag-view">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_view_p.png' %></span>
                        <span class="count">1520</span>
                        <span>PV</span>
                      </div>
                      <div class="head-tag tag-like">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_like_p.png' %></span>
                        <span class="count">1102</span>
                        <span>LIKE</span>
                      </div>
                    </div>
                    <div class="fab_body">
                      <%= image_tag 'pc/users/rental_item.png', :class => '' %>
                    </div>
                    <div class="fab_bottom">
                      <div class="tags">
                        <div class="">
                          <span>ブランド名：</span>burberry burberry
                        </div>
                        <div class="">
                          <span>市場価格：</span>¥7,560(税込)
                        </div>
                      </div>
                    </div>
                    <div class="fav_buttons">
                      <%= link_to image_tag('pc/users/btn_buy.gif'), root_path %>
                      <%= link_to image_tag('pc/users/btn_rental.gif'), root_path %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="fab_head">
                      <div class="head-tag tag-view">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_view_p.png' %></span>
                        <span class="count">1520</span>
                        <span>PV</span>
                      </div>
                      <div class="head-tag tag-like">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_like_p.png' %></span>
                        <span class="count">1102</span>
                        <span>LIKE</span>
                      </div>
                    </div>
                    <div class="fab_body">
                      <%= image_tag 'pc/users/rental_item.png', :class => '' %>
                    </div>
                    <div class="fab_bottom">
                      <div class="tags">
                        <div class="">
                          <span>ブランド名：</span>burberry burberry
                        </div>
                        <div class="">
                          <span>市場価格：</span>¥7,560(税込)
                        </div>
                      </div>
                    </div>
                    <div class="fav_buttons">
                      <%= link_to image_tag('pc/users/btn_buy.gif'), root_path %>
                      <%= link_to image_tag('pc/users/btn_rental.gif'), root_path %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="fab_head">
                      <div class="head-tag tag-view">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_view_p.png' %></span>
                        <span class="count">1520</span>
                        <span>PV</span>
                      </div>
                      <div class="head-tag tag-like">
                        <span class="tag-image"><%= image_tag 'pc/users/icon_like_p.png' %></span>
                        <span class="count">1102</span>
                        <span>LIKE</span>
                      </div>
                    </div>
                    <div class="fab_body">
                      <%= image_tag 'pc/users/rental_item.png', :class => '' %>
                    </div>
                    <div class="fab_bottom">
                      <div class="tags">
                        <div class="">
                          <span>ブランド名：</span>burberry burberry
                        </div>
                        <div class="">
                          <span>市場価格：</span>¥7,560(税込)
                        </div>
                      </div>
                    </div>
                    <div class="fav_buttons">
                      <%= link_to image_tag('pc/users/btn_buy.gif'), root_path %>
                      <%= link_to image_tag('pc/users/btn_rental.gif'), root_path %>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="view_more_products">
              <%= link_to image_tag('pc/users/btn_view_more.jpg'), root_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reccomend_plan">
    <div class="banner">
      あなたにあった会員はどれ？
    </div>
    <div class="container">
      <div class="select_plan">
        <div class="type_alert">
          利用料金
        </div>
        <div class="type_list">
          <ul class='ul'>
            <li>
              <%= link_to image_tag('home/plans/bronze.jpg'), :class => 'plan' %>
            </li>
            <li>
              <%= link_to image_tag('home/plans/silver.jpg'), :class => 'plan' %>
            </li>
            <li class="recommend">
              <%= link_to image_tag('home/plans/gold.jpg'), :class => 'plan' %>
            </li>
            <li>
              <%= link_to image_tag('home/plans/black.jpg'), :class => 'plan' %>
            </li>
          </ul>
        </div>
        <div class="type_alert">
          会員プランの変更、退会はいつでも可能です。
        </div>
        <div class="ctrl">
          <%= link_to image_tag('home/plans/next.gif'), root_path %>
        </div>
      </div>
    </div>
  </div>
</section>
