<div id="user_summary">
  <div class="user_summary">
    <div class="pre_title">
      <h1 class="f_fm">ゲスト 様の登録情報</h1>
    </div>
    <div class="label-set">
      お気に入りに追加したアイテム
    </div>
    <div class="summary_item_list">
      <ul class="ul">
        <li>
          <div class="image_col">
            <span class="fan <%#gold%>"></span>
            <%# if image exist %>
            <%# else %>
            <%= image_tag 'sp/dev/rental_layer.png', :class => '' %>
          </div>
          <div class="info_col">
            <div class="count">
              1520 <%= image_tag 'sp/account/icon_view_s.png' %>
              1102 <%= image_tag 'sp/account/icon_like_s.gif' %>
            </div>
            <div class="tags">
              <div class="">
                <span>ブランド名：</span>burberry burberry
              </div>
              <div class="">
                <span>市場価格：</span>¥7,560(税込)
              </div>
            </div>
            <div class="buttons">
              <%= link_to image_tag('sp/account/btn_buy.gif'), root_path %>
              <%= link_to image_tag('sp/account/btn_rental.gif'), root_path %>
            </div>
          </div>
        </li>
        <li>
          <div class="image_col">
            <span class="fan <%#gold%>"></span>
            <%= image_tag 'sp/dev/rental_layer.png', :class => '' %>
          </div>
          <div class="info_col">
            <div class="count">
              1520 <%= image_tag 'sp/account/icon_view_s.png' %>
              1102 <%= image_tag 'sp/account/icon_like_s.gif' %>
            </div>
            <div class="tags">
              <div class="">
                <span>ブランド名：</span>burberry burberry
              </div>
              <div class="">
                <span>市場価格：</span>¥7,560(税込)
              </div>
            </div>
            <div class="buttons">
              <%= link_to image_tag('sp/account/btn_buy.gif'), root_path %>
              <%= link_to image_tag('sp/account/btn_rental.gif'), root_path %>
            </div>
          </div>
        </li>
        <li>
          <div class="image_col">
            <span class="fan <%#gold%>"></span>
            <%= image_tag 'sp/dev/rental_layer.png', :class => '' %>
          </div>
          <div class="info_col">
            <div class="count">
              1520 <%= image_tag 'sp/account/icon_view_s.png' %>
              1102 <%= image_tag 'sp/account/icon_like_s.gif' %>
            </div>
            <div class="tags">
              <div class="">
                <span>ブランド名：</span>burberry burberry
              </div>
              <div class="">
                <span>市場価格：</span>¥7,560(税込)
              </div>
            </div>
            <div class="buttons">
              <%= link_to image_tag('sp/account/btn_buy.gif'), root_path %>
              <%= link_to image_tag('sp/account/btn_rental.gif'), root_path %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="type_container">

    <h2>利用料金</h2>
    <p>４つのプランからお選び下さい</p>
    <div class="type_list">
      <ul class='ul'>
        <li>
          <a href="" class="">
            <%= image_tag 'sp/account/bronze.gif', :class => 'plan' %>
            <%= image_tag 'sp/account/btn_bronze.gif', :class => 'button' %>
          </a>
        </li>
      </ul>
    </div>
    <div class="type_alert">
      会員プランの変更、退会はいつでも可能です。
    </div>
    <div class="type_notice">
      <div class="">
        <span>返却期限：なし</span> / <span>クリーニング費用：なし</span>
        <br>※全てのプランで気に入った
        <br>アイテムは買取可能！
        <br>マイページより買取の価格確認頂けます。
      </div>
      <p>
        ※お支払い方法は各種クレジットカードとなります。
        <br>会費は１ヶ月単位の自動継続でのお支払いとなります。
        <br>翌月のお支払い前でしたらいつでも解約可能です。
        <br>ご利用開始日から１ヶ月単位で課金となるので安心です。
        <br>（例 2015年7月15日に利用開始すると8月14日までが初回会費分です。）
      </p>
    </div>
  </div>
</div>
