<% content_for :title, head_title("無料会員登録完了 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("無料会員登録完了,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "無料会員登録完了です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<div class="rgstThanks">
  <div class="container">
    <h1>無料会員のご登録ありがとうございます。</h1>
    <div class="homeLink">
      <%= link_to 'レンタルアイテム一覧へ', products_path %>
    </div>
  </div>
  <div id="select-plan">
    <div class="container">

      <div class="type_container layout">
        <div class="pre_title">
          <h1 class="f_fm">会員プラン選択</h1>
        </div>
        <h2>利用料金</h2>
        <p>４つのプランからお選び下さい</p>
        <%= render :partial => 'spree/shared/plan_selector' %>
        <div class="type_alert">
          会員プランの変更、退会はいつでも可能です。
        </div>
        <div class="type_notice">
          <div class="">
            <span>返却期限：なし</span> / <span>クリーニング費用：なし</span>
            <br>※全てのプランで気に入った
            <br>アイテムは買取可能！
            <br>マイページより買取の価格確認頂けます。
          </div>
          <p>
            ※お支払い方法は各種クレジットカードとなります。
            <br>会費は１ヶ月単位の自動継続でのお支払いとなります。
            <br>翌月のお支払い前でしたらいつでも解約可能です。
            <br>ご利用開始日から１ヶ月単位で課金となるので安心です。
            <br>（例 2015年7月15日に利用開始すると8月14日までが初回会費分です。）
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Update favorite items -->
<script type="text/javascript">
    $(document).ready(function() {
      var product_id = sessionStorage.getItem('product_id');
      if(product_id > 0){
        $.ajax({ 
          url: "/users/add_to_favorite/" + product_id,
          type: 'PUT',
          success: function(result){
            console.log('Insert product to favorite list success');
            sessionStorage.removeItem('product_id');
          },
          error: function(err){
            console.log('Error insert product to favorite list');
          }
        });
      }
    });
</script>
<!-- Remove localStorage -->
<script type="text/javascript">
    localStorage.removeItem('product_id');
</script>
<!-- Yahoo Code for your Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var yahoo_conversion_id = 1000033507;
    var yahoo_conversion_label = "dos4CJq3uF4Ql_qS3wM";
    var yahoo_conversion_value = 0;
    /* ]]> */
</script>
<script type="text/javascript" src="http://i.yimg.jp/images/listing/tool/cv/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://b91.yahoo.co.jp/pagead/conversion/1000033507/?value=0&amp;label=dos4CJq3uF4Ql_qS3wM&amp;guid=ON&amp;script=0&amp;disvt=true"/>
  </div>
</noscript>

<script type="text/javascript" language="javascript">
    /* <![CDATA[ */
    var yahoo_ydn_conv_io = ".B7_VA0OLDUOLNzPCtg6";
    var yahoo_ydn_conv_label = "0PCEN2847E97VJOEMKGU56119";
    var yahoo_ydn_conv_transaction_id = "";
    var yahoo_ydn_conv_amount = "0";
    /* ]]> */
</script>
<script type="text/javascript" language="javascript" charset="UTF-8" src="//b90.yahoo.co.jp/conv.js"></script>

<!-- Google Code for KASHIKARI&#30331;&#37682; Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1004906011;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "ISNhCKm3uF4Qm8yW3wM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1004906011/?label=ISNhCKm3uF4Qm8yW3wM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

<img src="https://px.a8.net/cgi-bin/a8fly/sales?pid=s00000015293001&so=<%= @user.id %>&si=1.1.1.a8" width="1" height="1">