<div class="rgstThanks pay-plan">
  <div class="container">
    <h1><span style="color: #c29720">GOLD</span>プランのご登録ありがとうございます。</h1>
    <h3 style="text-align: center">レンタルアイテム一覧よりレンタル商品をお選びください。</h3>
    <div class="homeLink">
      <%= link_to 'レンタルアイテム一覧へ', products_path %>
    </div>
  </div>
</div>
<!-- Update favorite items -->
<script type="text/javascript">
    $(document).ready(function() {
        var product_id = sessionStorage.getItem('product_id');
        if(product_id > 0){
            $.ajax({
                url: "/users/add_to_favorite/" + product_id,
                type: 'PUT',
                success: function(result){
                    console.log('Insert product to favorite list success');
                    sessionStorage.removeItem('product_id');
                },
                error: function(err){
                    console.log('Error insert product to favorite list');
                }
            });
        }
    });
</script>
<!-- Yahoo Code for your Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var yahoo_conversion_id = 1000033507;
    var yahoo_conversion_label = "dos4CJq3uF4Ql_qS3wM";
    var yahoo_conversion_value = 0;
    /* ]]> */
</script>
<script type="text/javascript" src="http://i.yimg.jp/images/listing/tool/cv/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://b91.yahoo.co.jp/pagead/conversion/1000033507/?value=0&amp;label=dos4CJq3uF4Ql_qS3wM&amp;guid=ON&amp;script=0&amp;disvt=true"/>
  </div>
</noscript>

<script type="text/javascript" language="javascript">
    /* <![CDATA[ */
    var yahoo_ydn_conv_io = ".B7_VA0OLDUOLNzPCtg6";
    var yahoo_ydn_conv_label = "0PCEN2847E97VJOEMKGU56119";
    var yahoo_ydn_conv_transaction_id = "";
    var yahoo_ydn_conv_amount = "0";
    /* ]]> */
</script>
<script type="text/javascript" language="javascript" charset="UTF-8" src="//b90.yahoo.co.jp/conv.js"></script>

<!-- Google Code for KASHIKARI&#30331;&#37682; Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1004906011;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "ISNhCKm3uF4Qm8yW3wM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1004906011/?label=ISNhCKm3uF4Qm8yW3wM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

<img src="https://px.a8.net/cgi-bin/a8fly/sales?pid=s00000015293001&so=<%= spree_current_user.id %>&si=5800.1.5800.a8" width="1" height="1">