<% content_for :title, head_title("退会手続き | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("退会手続き,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "退会手続きです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li><%= link_to "マイページ", account_path %></li>
      <li>退会手続き</li>
    </ul>
  </div>
</nav>
<div id="deactivate_account">
  <div class="container">
    <div class="deactivate_account">
      <div class="pre_title">
        <h1 class="f_fm">退会手続き</h1>
      </div>
      <div class="deactive_notice">
        <h2>※下記の項目を確認の上、おすすみください</h2>
        <div class="panel notice_list">
          <ul>
            <li>個人情報並びにシステム上、退会後の会員情報は確認できなくなります。</li>
            <li>既にご購入いただきました商品は、退会後も発送を行わせていただきます。</li>
            <li>ご利用料金につきましては、日割りの払い戻しは行っておりませんのでご注意ください。</li>
          </ul>
        </div>
      </div>
      <div class="confirm">
        <input type="checkbox" name="name" value="true" class="unSbscConfirmCkb">
        <span>本当に退会しますか？</span>
      </div>
      <div class="submit">
        <%= link_to '解約しない', account_path, :class => 'button button-lg' %>
        <% unless @subscription.is_destroyed? %>
            <%= link_to '解約する', subscription_url(@subscription), method: :delete, :confirm => "本当に月額プランを解約しますか？", :class => 'unSbscConfirmBtn button button-lg button-black' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
