<% success = flash.discard(:success)
if success %>
  show_flash('success', "<%= j success %>")
<% end %>
<% error = flash.discard(:error)
if error %>
<%= j error %>
<% end %>

<%= render :partial => '/spree/admin/shared/update_order_state' if @order %>
