<% content_for :title, head_title("無料会員登録 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("無料会員登録,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "無料会員登録です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<section id="new-customer" class="user_sessions">

  <div class="devise_container layout">
    <div class="pre_title">
      <h1 class="f_fm">無料会員登録</h1>
    </div>

    <div class="devise">
      <div class="container-form" data-hook="signup">
        <%= form_for resource, :as => :spree_user, :html => {:id => 'validateForm'}, :url => spree.registration_path(@user) do |f| %>
          <div data-hook="signup_inside_form">
            <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
            <div class="user_option">
              <%= link_to '既に会員済みの方はログイン', spree.login_path %>
            </div>
            <div class="form-submit">
              <%= f.submit Spree.t(:create), :class => 'button-block primary' %>
            </div>
          </div>
        <% end %>
        <div class="or">
          or
        </div>
        <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
        <div class="form-facebook">
          <%= link_to "Facebookで登録",spree.spree_user_omniauth_authorize_url(provider: method.provider), class: "facebook_login" %>
        </div>
        <% end %>
        <% if (false) %>
        <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:login_as_existing), spree.login_path %>
        <% end %>
      </div>
    </div>

    <div class="form-caption">
      ※個人情報取り扱いをお読みになり、全ての項目にご同意の上、ご登録ください。
      <br>登録を継続する場合、ユーザーは上記の規約等に同意するものとみなします。
      <br><br>
      下記フォームに入力してパスワードを変更いただけます。
      <br>パスワード変更後、変更完了のメールが登録メールアドレスに配送されます。
    </div>
  </div>

</section>
<div data-hook="login_extras"></div>
