<footer id="footer">
	<div class="btt_cont">
		<a href="#" class="btt">backToTop</a>
	</div>
	<div class="container">
		<div class="our_medias">
			<h3 class="f_fm">FOLLOW US</h3>
			<ul class="ul">
				<li class="om-icon icon-b"><a href="/lab" target="_blank"></a></li>
				<li class="om-icon icon-f"><a href="https://www.facebook.com/kashikari.jp" target="_blank"></a></li>
				<li class="om-icon icon-t"><a href="https://twitter.com/kashi_kari" target="_blank"></a></li>
				<li class="om-icon icon-i"><a href="https://instagram.com/kashi.kari/" target="_blank"></a></li>
				<li class="om-icon icon-g"><a href="https://plus.google.com/u/0/110494726486825043655/posts" target="_blank"></a></li>
			</ul>
		</div>
		<div class="footer_links">
			<ul class="ul">
              <li><%= link_to '会社概要', pages_about_path %></li>
              <li><%= link_to 'よくあるご質問', pages_qa_path %></li>
              <li><%= link_to '利用規約', pages_termofuse_path %></li>
              <li><%= link_to 'プライバシーポリシー', pages_policy_path %></li>
              <li><%= link_to '特定商取引に関する表示', pages_asct_path %></li>
			</ul>
			<p class=copyright><small>Copyright 2015(C) TANAQRO. Co.,Ltd. All Rights Reserved.</small></p>
		</div>
	</div>
</footer>
