<header id="header">
  <div class="condition">
    <div class="container">
      <div class="container-inner">
        <div class="left">
        </div>
        <div class="right">
          <div class="">
            <% if spree_current_user %>
                <div class="li signin">
                  <%= link_to 'マイページ', account_path, :class => 'alink' %>
                </div>
                <div class="li signin">
                  <%= link_to 'ログアウト', logout_path, :class => 'alink' %>
                </div>

            <% else %>
                <div class="li signout">
                  <%= link_to '新規登録', signup_path, :class => 'alink' %>
                </div>

                <div class="li signin">
                  <%= link_to 'ログイン', login_path, :class => 'alink' %>
                </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !request.smart_phone? %>
      <div class="curtain">
        <%= link_to image_tag('logo.gif', :alt => 'KASHI KARI'), root_path %>
      </div>
      <nav class="gnav">
        <div class="container">
          <ul class="ul">
            <li><%= link_to "TOP", root_path %></li>
            <li><%= link_to "レンタルアイテム一覧", products_path %></li>
            　<% if spree_current_user && spree_current_user.subscriptions.undeleted.present? %>
                <li><%= link_to "プランを変更する", subscriptions_step1_path %></li>
            <% else %>
                <li><%= link_to "月額会員になる", subscriptions_step1_path %></li>
            <% end %>
            <% if spree_current_user %>
                <li><%= link_to 'マイクローゼット', account_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
  <% end %>
</header>
