<header id="header">
	<div class="condition">
		<div class="container">
			<div class="container-inner">
				<div class="left">
					<div class="open_pushmenu">
						<%= image_tag 'sp/common/btn_menu.gif', :class => 'push_buttoms' %>
					</div>
					<div class="logo">
						<%= link_to image_tag('sp/common/logo.gif', :alt => 'kashikari'), root_path %>
					</div>
				</div>
				<div class="right">
					<div class="">
            <% if spree_current_user %>
                <div class="li signin">
                  <%= link_to 'マイページ', account_path, :class => 'alink' %>
                </div>
                <div class="li signin">
                  <%= link_to 'ログアウト', logout_path, :class => 'alink' %>
                </div>
            <% else %>
                <div class="li signin">
                  <%= link_to 'ログイン', login_path, :class => 'alink' %>
                </div>
                <div class="li signout">
                  <%= link_to '新規登録', signup_path, :class => 'alink' %>
                </div>
            <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% #現在homeコントローラーが無いため、root_pathで分岐 %>
	<% if !current_page?(root_path) %>
		<% if !request.smart_phone? %>
			<div class="curtain">
				<%= link_to image_tag('logo.gif', :alt => 'KASHI KARI'), root_path %>
			</div>
			<nav class="gnav">
				<div class="container">
					<ul class="ul">
						<li><a href="#">TOP</a></li>
                      <li><%= link_to "アイテム一覧", products_path %></li>
						<li><%= link_to "月額会員になる", subscriptions_step1_path %></li>
					</ul>
				</div>
			</nav>
		<% end %>
	<% end %>
</header>
