<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <div class="input-set">
    <%= f.email_field :email, :class => 'title', :tabindex => 1, autofocus: true, :placeholder => 'メールアドレス' %>
  </div>
  <div class="input-set">
    <%= f.password_field :password, :class => 'title', :tabindex => 2, :placeholder => 'パスワード' %>
  </div>

  <div class="form-submit">
    <%= f.submit Spree.t(:login), :class => 'button-block', :tabindex => 4 %>
  </div>
<% end %>
