<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <div class="input-set">
      <%= f.label :email, Spree.t(:email) %><br />
      <%= f.email_field :email, :class => 'title', :tabindex => 1, autofocus: true, :placeholder => 'メールアドレス' %>
    </div>
    <div class="input-set">
      <%= f.label :password, Spree.t(:password) %><br />
      <%= f.password_field :password, :class => 'title', :tabindex => 2, :placeholder => 'パスワード' %>
    </div>
  </div>
  <div class="input-set">
    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, "ログインしたままにする" %>
  </div>

  <p><%= f.submit Spree.t(:login), :class => 'button primary', :tabindex => 4 %></p>
<% end %>
