<div class="type_list">
  <ul class='ul'>
    <li>
      <div class="sbsc sbsc2">
        <div class="plan_title">
          SILVER
        </div>
        <div class="plan_price">
          <span>¥</span>3,600
          <p>もっと選びたい</p>
        </div>
        <div class="max_rental">
          <p class="gray_title">レンタル上限</p>
          <P><span>3</span>item</P>
        </div>
        <div class="plan_brands">
          <p class="gray_title">ブランド</p>
          <ul>
            <li><%= link_to 'ポールスミス', brand_path(params.merge({:id => 'paulsmith'})), :target => '_blank' %></li>
            <li><%= link_to 'タケオキクチ', brand_path(params.merge({:id => 'takeokikuchi'})), :target => '_blank' %></li>
            <li><%= link_to 'カルバンクライン', brand_path(params.merge({:id => 'calvinklein'})), :target => '_blank' %></li>
          </ul>
        </div>
        <div class="type">
          <p class="gray_title">種類</p>
          <P>全て</P>
        </div>
        <span class="select_border"></span>
      </div>
      <%= form_tag subscriptions_step2_path, method: :get, enforce_utf8: false do |f| %>
          <%= hidden_field_tag :plan_id, 2 %>
          <%= submit_tag '', :name => nil, :class => 'next silver' %>
      <% end %>
    </li>
    <li class="recommended selected">
      <div class="sbsc sbsc3">
        <div class="plan_title">
          GOLD
        </div>
        <div class="plan_price">
          <span>¥</span>5,800
          <p>おすすめプラン</p>
        </div>
        <div class="max_rental">
          <p class="gray_title">レンタル上限</p>
          <P><span>3</span>item</P>
        </div>
        <div class="plan_brands">
          <p class="gray_title">ブランド</p>
          <ul>
            <li><%= link_to 'ビームス', brand_path(params.merge({:id => 'beams'})), :target => '_blank' %></li>
            <li><%= link_to 'バーバリーブラックレーベル', brand_path(params.merge({:id => 'burberry-blacklabel'})), :target => '_blank' %></li>
            <li><%= link_to 'アルマーニ コレッツォーニ', brand_path(params.merge({:id => 'armani-collezioni'})), :target => '_blank' %></li>
            <li><%= link_to 'ユナイテッドアローズ', brand_path(params.merge({:id => 'united-arrows'})), :target => '_blank' %></li>
          </ul>
        </div>
        <div class="type">
          <p class="gray_title">種類</p>
          <P>全て</P>
        </div>
        <span class="select_border"></span>
      </div>
      <%= form_tag subscriptions_step2_path, method: :get, enforce_utf8: false do |f| %>
          <%= hidden_field_tag :plan_id, 3 %>
          <%= submit_tag '', :name => nil, :class => 'next gold' %>
      <% end %>
    </li>
    <li>
      <div class="sbsc sbsc4">
        <div class="plan_title">
          BLACK
        </div>
        <div class="plan_price">
          <span>¥</span>12,600
          <p>こだわりたい</p>
        </div>
        <div class="max_rental">
          <p class="gray_title">レンタル上限</p>
          <P><span>3</span>item</P>
        </div>
        <div class="plan_brands">
          <p class="gray_title">ブランド</p>
          <ul>
            <li><%= link_to 'エルメス', brand_path(params.merge({:id => 'hermes'})), :target => '_blank' %></li>
            <li><%= link_to 'ブリオーニ', brand_path(params.merge({:id => 'brioni'})), :target => '_blank' %></li>
            <li><%= link_to 'グッチ', brand_path(params.merge({:id => 'gucci'})), :target => '_blank' %></li>
            <li><%= link_to 'ルイ・ヴィトン', brand_path(params.merge({:id => 'louisvuitton'})), :target => '_blank' %></li>
          </ul>
        </div>
        <div class="type">
          <p class="gray_title">種類</p>
          <P>全て</P>
        </div>
        <span class="select_border"></span>
      </div>
      <%= form_tag subscriptions_step2_path, method: :get, enforce_utf8: false do |f| %>
          <%= hidden_field_tag :plan_id, 4 %>
          <%= submit_tag '', :name => nil, :class => 'next black' %>
      <% end %>
    </li>
  </ul>
</div>

<% #現在homeコントローラーが無いため、root_pathで分岐 %>
<% if !current_page?(root_path) %>
    <section id="plan_desc">
      <div class="plan_desc_box">
        <div class="plan_name silver">
          <h3 class="">SILVER</h3>
        </div>
        <div class="stock_total">
          <p>合計在庫数：<%= stock_of_the_plan(2) %></p>
          <p>在庫総額 : <%= stock_total_jpy(2) %></p>
        </div>
        <div class="desc_text">
          <p>
            SILVERプランはネクタイをはじめ、その他アイテム3つのレンタルが可能です。主な取り扱いブランドはポールスミス、タケオキクチ、カルバンクラインなどです。
          </p>
        </div>
        <div class="desc_plan_brands">
          <p>主な取扱いブランド</p>
          <ul>
            <li><%= link_to 'Paul Smith', brand_path(params.merge({:id => 'paulsmith'})), :target => '_blank' %></li>
            <li><%= link_to 'TAKEO KIKUCHI', brand_path(params.merge({:id => 'takeokikuchi'})), :target => '_blank' %></li>
            <li><%= link_to 'Vivienne Westwood', brand_path(params.merge({:id => 'viviennewestwood'})), :target => '_blank' %></li>
          </ul>
          <ul>
            <li><%= link_to 'URBAN RESEARCH', brand_path(params.merge({:id => 'urban-research'})), :target => '_blank' %></li>
            <li><%= link_to 'Calvin Klein', brand_path(params.merge({:id => 'calvinklein'})), :target => '_blank' %></li>
            <li><%= link_to 'DONNA KARAN', brand_path(params.merge({:id => 'donna-karan'})), :target => '_blank' %></li>
          </ul>
          <%= link_to 'SILVERプランの商品一覧を見る', products_path(params.merge({:plan_id => Spree::Plan::NAME[:silver]})), :class => 'plan_product_link silver', :target => '_blank' %>
        </div>
        <%= form_tag subscriptions_step2_path, method: :get, enforce_utf8: false do |f| %>
            <%= hidden_field_tag :plan_id, 2 %>
            <%= submit_tag '', :name => nil, :class => 'next silver' %>
        <% end %>
      </div>
      <div class="plan_desc_box">
        <div class="plan_name gold">
          <h3 class="">GOLD</h3>
        </div>
        <div class="stock_total">
          <p>合計在庫数：<%= stock_of_the_plan(3) %></p>
          <p>在庫総額 : <%= stock_total_jpy(3) %></p>
        </div>
        <div class="desc_text">
          <p>
            GOLDプランはビームス、アルマーニ、バーバリー・ブラックレーベルなどSILVERプランよりワンランク上のブランドアイテムがレンタルできます。
            デザインだけでなく質にもこだわったアイテムを是非お試し下さい。
          </p>
        </div>
        <div class="desc_plan_brands">
          <p>主な取扱いブランド</p>
          <ul>
            <li><%= link_to 'VERSACE', brand_path(params.merge({:id => 'versace'})), :target => '_blank' %></li>
            <li><%= link_to 'EMPORIO ARMANI', brand_path(params.merge({:id => 'emporio-armani'})), :target => '_blank' %></li>
            <li><%= link_to 'BURBERRY BLACK LABEL', brand_path(params.merge({:id => 'burberry-blacklabel'})), :target => '_blank' %></li>
          </ul>
          <ul>
            <li><%= link_to 'Brooks Brothers', brand_path(params.merge({:id => 'brooksbrothers'})), :target => '_blank' %></li>
            <li><%= link_to 'COACH', brand_path(params.merge({:id => 'coach'})) %></li>
            <li><%= link_to 'Ralph Lauren', brand_path(params.merge({:id => 'ralphlauren'})), :target => '_blank' %></li>
          </ul>
          <%= link_to 'GOLDプランの商品一覧を見る', products_path(params.merge({:plan_id => Spree::Plan::NAME[:gold]})), :class => 'plan_product_link gold', :target => '_blank' %>
        </div>
        <%= form_tag subscriptions_step2_path, method: :get, enforce_utf8: false do |f| %>
            <%= hidden_field_tag :plan_id, 3 %>
            <%= submit_tag '', :name => nil, :class => 'next gold' %>
        <% end %>
      </div>
      <div class="plan_desc_box">
        <div class="plan_name black">
          <h3 class="">BLACK</h3>
        </div>
        <div class="stock_total">
          <p>合計在庫数：<%= stock_of_the_plan(4) %></p>
          <p>在庫総額 : <%= stock_total_jpy(4) %></p>
        </div>
        <div class="desc_text">
          <p>
            GOLDプランは、プラダ、シャネル、エルメスなど最上級のアイテムをご用意しております。
            身につけるだけでコーディネートを数段アップさせます。大切な日、特別な日に是非このようなアイテムをレンタルしてみてはいかがでしょうか。
          </p>
        </div>
        <div class="desc_plan_brands">
          <p>主な取扱いブランド</p>
          <ul>
            <li><%= link_to 'PRADA', brand_path(params.merge({:id => 'prada'})), :target => '_blank' %></li>
            <li><%= link_to 'Gucci', brand_path(params.merge({:id => 'gucci'})), :target => '_blank' %></li>
            <li><%= link_to 'LOUIS VUITTON', brand_path(params.merge({:id => 'louisvuitton'})), :target => '_blank' %></li>
          </ul>
          <ul>
            <li><%= link_to 'CHANEL', brand_path(params.merge({:id => 'chanel'})), :target => '_blank' %></li>
            <li><%= link_to 'HERMES', brand_path(params.merge({:id => 'hermes'})), :target => '_blank' %></li>
            <li><%= link_to 'Salvatore Ferragamo', brand_path(params.merge({:id => 'salvatore-ferragamo'})), :target => '_blank' %></li>
          </ul>
          <%= link_to 'BLACKプランの商品一覧を見る', products_path(params.merge({:plan_id => Spree::Plan::NAME[:black]})), :class => 'plan_product_link', :target => '_blank' %>
        </div>
        <%= form_tag subscriptions_step2_path, method: :get, enforce_utf8: false do |f| %>
            <%= hidden_field_tag :plan_id, 4 %>
            <%= submit_tag '', :name => nil, :class => 'next black' %>
        <% end %>
      </div>

    </section>
<% end  %>
