<nav class="push-menu">
  <ul class="ul master_ul">
    <% if spree_current_user %>
        <li class="login hl_menu">
          <div class="menu-title">
            <%= link_to 'マイページ', account_path %>
          </div>
        </li>
    <% else %>
        <li class="login hl_menu">
          <div class="menu-title">
            <%= link_to 'ログイン', login_path %>
          </div>
        </li>
        <li class="hl_menu">
          <div class="menu-title">
            <%= link_to '会員登録', signup_path %>
          </div>
        </li>
    <% end %>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#all-list-click").click(function(){
                if($("#list-arrow-sp").attr('class') == 'down'){
                    $("#list-arrow-sp").removeClass("down");
                    $("#list-arrow-sp").addClass("up");
                }else{
                    $("#list-arrow-sp").removeClass("up");
                    $("#list-arrow-sp").addClass("down");
                }
            });
        });
    </script>
    <li class="itemlist hl_menu" style="border-bottom: none;">
      <div class="menu-title toggle_accordion">
        <span id="all-list-click">アイテム一覧 <span id="list-arrow-sp" class="down"></span></span>
      </div>


      <ul class="ul" id="panel-list">
        <%#= link_to "全ての商品", products_path %>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#plan_click").click(function(){
                    if($("#plan-arrow-sp").attr('class') == 'sub-down'){
                        $("#plan-arrow-sp").removeClass("sub-down");
                        $("#plan-arrow-sp").addClass("sub-up");
                    }else{
                        $("#plan-arrow-sp").removeClass("sub-up");
                        $("#plan-arrow-sp").addClass("sub-down");
                    }
                });
            });
        </script>
        <li class="sp-sub-menu itemlist">
          <div class="toggle_accordion sub-menus" id="plan_click">
            <label >プラン<span id="plan-arrow-sp" class="sub-down"></span></label>
          </div>
          <ul class="ul ul-sp">
            <% if !@plans.empty?
                 if !params['plan_id'].nil?
                   arr_ids = params['plan_id'].split(',')
                   @plans.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <% if arr_ids.include?("#{i.id}") %>
                                <%= check_box_tag 'plan', i.id, true, class: 'check_sp', id: 'plan_' +"#{i.id}" %>
                            <% else %>
                                <%= check_box_tag 'plan', i.id, false, class: 'check_sp', id: 'plan_' +"#{i.id}" %>
                            <% end %>
                            <label for="plan_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'plan', params['plan_id'], class: 'plan_hiden' %>
                <% else %>
                    <% @plans.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <%= check_box_tag 'plan', i.id, false, class: 'check_sp', id: 'plan_' +"#{i.id}" %>
                            <label for="plan_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'plan', nil, class: 'plan_hiden' %>
                <%
                   end
                   else %>
                <%= hidden_field_tag 'plan', nil, class: 'plan_hiden' %>
            <%
               end %>
          </ul>
        </li>



        <script type="text/javascript">
            $(document).ready(function(){
                $("#brand_click").click(function(){
                    if($("#brand-arrow-sp").attr('class') == 'sub-down'){
                        $("#brand-arrow-sp").removeClass("sub-down");
                        $("#brand-arrow-sp").addClass("sub-up");
                    }else{
                        $("#brand-arrow-sp").removeClass("sub-up");
                        $("#brand-arrow-sp").addClass("sub-down");
                    }
                });
            });
        </script>
        <li class="sp-sub-menu itemlist">
          <div class="toggle_accordion sub-menus" id="brand_click">
            <label>ブランド <span id="brand-arrow-sp" class="sub-down"></span></label>
          </div>
          <ul class="ul ul-sp">
            <% if !@a_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ア', brands: @a_brands, name: 'a', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@i_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'イ', brands: @i_brands, name: 'i', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@u_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ウ', brands: @u_brands, name: 'u', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@e_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'エ', brands: @e_brands, name: 'e', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@o_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'オ', brands: @o_brands, name: 'o', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@ka_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'カ', brands: @ka_brands, name: 'ka', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ki_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'キ', brands: @ki_brands, name: 'ki', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ku_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ク', brands: @ku_brands, name: 'ku', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ke_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ケ', brands: @ke_brands, name: 'ke', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ko_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'コ', brands: @ko_brands, name: 'ko', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@sha_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'サ', brands: @sha_brands, name: 'sha', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@shi_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'シ', brands: @shi_brands, name: 'shi', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@shu_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ス', brands: @shu_brands, name: 'shu', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@she_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'セ', brands: @she_brands, name: 'she', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@sho_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ソ', brands: @sho_brands, name: 'sho', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@ta_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'タ', brands: @ta_brands, name: 'ta', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@tsi_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'チ', brands: @tsi_brands, name: 'tsi', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@tsu_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ツ', brands: @tsu_brands, name: 'tsu', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@te_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'テ', brands: @te_brands, name: 'te', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@to_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ト', brands: @to_brands, name: 'to', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@na_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ナ', brands: @na_brands, name: 'na', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ni_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ニ', brands: @ni_brands, name: 'ni', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@nu_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ヌ', brands: @nu_brands, name: 'nu', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ne_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ネ', brands: @ne_brands, name: 'ne', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@no_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ノ', brands: @no_brands, name: 'no', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@ha_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ハ', brands: @ha_brands, name: 'ha', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@hi_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ヒ', brands: @hi_brands, name: 'hi', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@fu_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'フ', brands: @fu_brands, name: 'fu', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@he_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ヘ', brands: @he_brands, name: 'he', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ho_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ホ', brands: @ho_brands, name: 'ho', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@ma_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'マ', brands: @ma_brands, name: 'ma', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@mi_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ミ', brands: @mi_brands, name: 'mi', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@mu_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ム', brands: @mu_brands, name: 'mu', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@me_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'メ', brands: @me_brands, name: 'me', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@mo_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'モ', brands: @mo_brands, name: 'mo', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>


            <% if !@ya_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ヤ', brands: @ya_brands, name: 'ya', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@yu_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ユ', brands: @yu_brands, name: 'yu', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@yo_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ヨ', brands: @yo_brands, name: 'yo', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@ra_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ラ', brands: @ra_brands, name: 'ra', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ri_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'リ', brands: @ri_brands, name: 'ri', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ru_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ル', brands: @ru_brands, name: 'ru', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@re_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'レ', brands: @re_brands, name: 're', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@ro_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ロ', brands: @ro_brands, name: 'ro', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>


            <% if !@wa_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ワ', brands: @wa_brands, name: 'wa', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@tso_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ヲ', brands: @tso_brands, name: 'tso', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
            <% if !@um_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'ン', brands: @um_brands, name: 'um', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>

            <% if !@other_brands.empty? %>
                <%= render partial: "spree/shared/sub_menu_phone", locals: {label: 'その他', brands: @other_brands, name: 'orther', params_brand: params['brand_name'], h: @h_brands} %>
            <% end %>
          </ul>
        </li>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#category_click").click(function(){
                    if($("#category-arrow-sp").attr('class') == 'sub-down'){
                        $("#category-arrow-sp").removeClass("sub-down");
                        $("#category-arrow-sp").addClass("sub-up");
                    }else{
                        $("#category-arrow-sp").removeClass("sub-up");
                        $("#category-arrow-sp").addClass("sub-down");
                    }
                });
            });
        </script>
        <li class="sp-sub-menu itemlist">
          <div class="toggle_accordion sub-menus" id="category_click">
            <label >アイテム<span id="category-arrow-sp" class="sub-down"></span></label>
          </div>
          <ul class="ul ul-sp">
            <% if !@item_taxons.empty?
                 if !params['item_name'].nil?
                   arr_names = params['item_name'].split(',')
                   @item_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <% if arr_names.include?("#{i.permalink}") %>
                                <%= check_box_tag 'item', i.permalink, true, class: 'check_sp', id: 'item_' +"#{i.id}" %>
                            <% else %>
                                <%= check_box_tag 'item', i.permalink, false, class: 'check_sp', id: 'item_' +"#{i.id}" %>
                            <% end %>
                            <label for="item_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'item', params['item_name'], class: 'item_hiden' %>
                <% else %>
                    <% @item_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <%= check_box_tag 'item', i.permalink, false, class: 'check_sp', id: 'item_' +"#{i.id}" %>
                            <label for="item_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'item', nil, class: 'item_hiden' %>
                <%
                   end
                   else
                %>
                <%= hidden_field_tag 'item', nil, class: 'item_hiden' %>
            <%
               end %>
          </ul>
        </li>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#color_click").click(function(){
                    if($("#color-arrow-sp").attr('class') == 'sub-down'){
                        $("#color-arrow-sp").removeClass("sub-down");
                        $("#color-arrow-sp").addClass("sub-up");
                    }else{
                        $("#color-arrow-sp").removeClass("sub-up");
                        $("#color-arrow-sp").addClass("sub-down");
                    }
                });
            });
        </script>
        <li class="sp-sub-menu itemlist">
          <div class="toggle_accordion sub-menus" id="color_click">
            <label >色<span id="color-arrow-sp" class="sub-down"></span></label>
          </div>
          <ul class="ul_color">
            <% if !@color_taxons.empty?
                 if !params['color_id'].nil?
                   arr_ids = params['color_id'].split(',')
                   @color_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <% if arr_ids.include?("#{i.id}") %>
                                <%= check_box_tag 'color', i.id, true, class: 'check_sp', id: 'color_' +"#{i.id}" %>
                            <% else %>
                                <%= check_box_tag 'color', i.id, false, class: 'check_sp', id: 'color_' +"#{i.id}" %>
                            <% end %>
                            <label for="color_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><span class="color-icon color_<%= i.id %>"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'color', params['color_id'], class: 'color_hiden' %>
                <% else %>
                    <% @color_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <%= check_box_tag 'color', i.id, false, class: 'check_sp', id: 'color_' +"#{i.id}" %>
                            <label for="color_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><span class="color-icon color_<%= i.id %>"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'color', nil, class: 'color_hiden' %>
                <%
                   end
                   else %>
                <%= hidden_field_tag 'color', nil, class: 'color_hiden' %>
            <%
               end %>
          </ul>
        </li>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#design_click").click(function(){
                    if($("#design-arrow-sp").attr('class') == 'sub-down'){
                        $("#design-arrow-sp").removeClass("sub-down");
                        $("#design-arrow-sp").addClass("sub-up");
                    }else{
                        $("#design-arrow-sp").removeClass("sub-up");
                        $("#design-arrow-sp").addClass("sub-down");
                    }
                });
            });
        </script>
        <li class="sp-sub-menu itemlist">
          <div class="toggle_accordion sub-menus" id="design_click">
            <label >柄<span id="design-arrow-sp" class="sub-down"></span></label>
          </div>
          <ul class="ul">
            <% if !@design_taxons.empty?
                 if !params['design_id'].nil?
                   arr_ids = params['design_id'].split(',')
                   @design_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <% if arr_ids.include?("#{i.id}") %>
                                <%= check_box_tag 'design', i.id, true, class: 'check_sp', id: 'design_' +"#{i.id}" %>
                            <% else %>
                                <%= check_box_tag 'design', i.id, false, class: 'check_sp', id: 'design_' +"#{i.id}" %>
                            <% end %>
                            <label for="design_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'design', params['design_id'], class: 'design_hiden' %>
                <% else %>
                    <% @design_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <%= check_box_tag 'design', i.id, false, class: 'check_sp', id: 'design_' +"#{i.id}" %>
                            <label for="design_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'design', nil, class: 'design_hiden' %>
                <%
                   end
                   else %>
                <%= hidden_field_tag 'design', nil, class: 'design_hiden' %>
            <%
               end %>
          </ul>
        </li>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#size_click").click(function(){
                    if($("#size-arrow-sp").attr('class') == 'sub-down'){
                        $("#size-arrow-sp").removeClass("sub-down");
                        $("#size-arrow-sp").addClass("sub-up");
                    }else{
                        $("#size-arrow-sp").removeClass("sub-up");
                        $("#size-arrow-sp").addClass("sub-down");
                    }
                });
            });
        </script>
        <li class="sp-sub-menu itemlist">
          <div class="toggle_accordion sub-menus" id="size_click">
            <label >サイズ<span id="size-arrow-sp" class="sub-down"></span></label>
          </div>
          <ul class="ul">
            <% if !@size_taxons.empty?
                 if !params['size_id'].nil?
                   arr_ids = params['size_id'].split(',')
                   @size_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <% if arr_ids.include?("#{i.id}") %>
                                <%= check_box_tag 'size', i.id, true, class: 'check_sp', id: 'size_' +"#{i.id}" %>
                            <% else %>
                                <%= check_box_tag 'size', i.id, false, class: 'check_sp', id: 'size_' +"#{i.id}" %>
                            <% end %>
                            <label for="size_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'size', params['size_id'], class: 'size_hiden' %>
                <% else %>
                    <% @size_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <%= check_box_tag 'size', i.id, false, class: 'check_sp', id: 'size_' +"#{i.id}" %>
                            <label for="size_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'size', nil, class: 'size_hiden' %>
                <%
                   end
                   else %>
                <%= hidden_field_tag 'size', nil, class: 'size_hiden' %>
            <% end %>
          </ul>
        </li>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#material_click").click(function(){
                    if($("#material-arrow-sp").attr('class') == 'sub-down'){
                        $("#material-arrow-sp").removeClass("sub-down");
                        $("#material-arrow-sp").addClass("sub-up");
                    }else{
                        $("#material-arrow-sp").removeClass("sub-up");
                        $("#material-arrow-sp").addClass("sub-down");
                    }
                });
            });
        </script>
        <li class="sp-sub-menu itemlist">
          <div class="toggle_accordion sub-menus" id="material_click">
            <label >素材<span id="material-arrow-sp" class="sub-down"></span></label>
          </div>
          <ul class="ul">
            <% if !@material_taxons.empty?
                 if !params['material_id'].nil?
                   arr_ids = params['material_id'].split(',')
                   @material_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <% if arr_ids.include?("#{i.id}") %>
                                <%= check_box_tag 'material', i.id, true, class: 'check_sp', id: 'material_' +"#{i.id}" %>
                            <% else %>
                                <%= check_box_tag 'material', i.id, false, class: 'check_sp', id: 'material_' +"#{i.id}" %>
                            <% end %>
                            <label for="material_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'material', params['material_id'], class: 'material_hiden' %>
                <% else %>
                    <% @material_taxons.each { |i| %>
                        <li>
                          <div class="link_menu">
                            <%= check_box_tag 'material', i.id, false, class: 'check_sp', id: 'material_' +"#{i.id}" %>
                            <label for="material_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                          </div>
                        </li>
                    <% } %>
                    <%= hidden_field_tag 'material', nil, class: 'material_hiden' %>
                <%
                   end
                   else %>
                <%= hidden_field_tag 'material', nil, class: 'material_hiden' %>
            <% end %>
          </ul>
        </li>
      </ul>
    </li>
    <li class="hl_menu itemlist" style="border-top: 1px solid;">
      <div class="menu-title">
        <%= link_to 'ブランド一覧', brands_path %>
      </div>
    </li>
    <li class="hl_menu itemlist">
      <div class="menu-title">
        <%= link_to '月額会員申込み', subscriptions_step1_path %>
      </div>
    </li>
    <% if spree_current_user && spree_current_user.subscriptions.undeleted.present? %>
        <li class="hl_menu itemlist">
          <div class="menu-title">
            <%= link_to 'レンタル履歴', user_history_path %>
          </div>
        </li>
    <% end %>
    <% if spree_current_user %>
        <li class="hl_menu itemlist">
          <div class="menu-title">
            <%= link_to 'パスワード変更', edit_account_path %>
          </div>
        </li>
    <% end %>
    <li class="hl_menu itemlist">
      <div class="menu-title">
        <%= link_to 'ブログ', "/lab" %>
      </div>
    </li>
  </ul>
</nav>
<script>
    var one_brand = '';
    var one_item = '';
    $('.check_sp').change(function(){
        var val = $(this).val();
        var name = $(this).attr('name');
        if($(this).is(":checked")){
            if(name == 'brand'){
                update_checked_name(val,true, "brand_hiden");
            }else if( name == 'item' ){
                update_checked_name(val,true, "item_hiden");
            }else if( name == 'color' ){
                update_checked(val,true, "color_hiden");
            }else if( name == 'design' ){
                update_checked(val,true, "design_hiden");
            }else if( name == 'size' ){
                update_checked(val,true, "size_hiden");
            }else if( name == 'material'){
                update_checked(val,true, "material_hiden");
            }else if( name == 'plan'){
                update_checked(val, true, 'plan_hiden');
            }
            var params = update_params();
            params = params.replace('=,', '=');
        }else{
            if(name == 'brand'){
                update_checked_name(val,false, "brand_hiden");
            }else if( name == 'item' ){
                update_checked_name(val,false, "item_hiden");
            }else if( name == 'color' ){
                update_checked(val,false, "color_hiden");
            }else if( name == 'design' ){
                update_checked(val,false, "design_hiden");
            }else if( name == 'size' ){
                update_checked(val,false, "size_hiden");
            }else if( name == 'material'){
                update_checked(val,false, "material_hiden");
            }else if( name == 'plan'){
                update_checked(val, false, 'plan_hiden');
            }
            var params = update_params();
            params = params.replace('=,', '=');
        }
        if(one_item != '' && one_brand == ''){
            if(params != ''){
                window.location.replace(window.location.origin + "/category/" + one_item + "?" + params);
            }else{
                window.location.replace(window.location.origin + "/category/" + one_item);
            }
        }
        else if(one_brand != '' && one_item == ''){
            if(params != ''){
                window.location.replace(window.location.origin + "/brands/" + one_brand + "?" + params);
            }else{
                window.location.replace(window.location.origin + "/brands/" + one_brand);
            }
        }
        else if(one_brand != '' && one_item != ''){
            if(params != ''){
                window.location.replace(window.location.origin + "/brands/" + one_brand + "/" + one_item + "?" + params);
            }else{
                window.location.replace(window.location.origin + "/brands/" + one_brand + "/" + one_item);
            }
        }
        else{
            if(params != ''){
                window.location.replace(window.location.origin + "/products?" + params);
            }else{
                window.location.replace(window.location.origin + "/products");
            }
        }

    });

    function update_checked_name(name, status, class_name) {
        var cid_hidden = $("." + class_name).val();
        var arr = cid_hidden.split(',');
        if (status) {
            if (arr.indexOf(name) == -1) {
                arr.push(name);
            }
        } else {
            var index = arr.indexOf(name);
            if (index > -1) {
                arr.splice(index, 1);
            }
        }
        var str_hiden = arr.join();
        $("." + class_name).val(str_hiden);
        
    }

    function update_checked(id, status, class_name) {
        var cid_hidden = $("." + class_name).val();
        var arr = cid_hidden.split(',');
        if (status) {
            if (arr.indexOf(id) == -1) {
                arr.push(id);
            }
        } else {
            var index = arr.indexOf(id);
            if (index > -1) {
                arr.splice(index, 1);
            }
        }
        var str_hiden = arr.join();
        $("." + class_name).val(str_hiden);
    }

    function update_params(){
        var brand_name = $(".brand_hiden").val();
        var item_name = $(".item_hiden").val();
        var color_id = $(".color_hiden").val();
        var design_id = $(".design_hiden").val();
        var size_id = $(".size_hiden").val();
        var material_id = $(".material_hiden").val();
        var plan_id = $(".plan_hiden").val();
        var sort_sp = $(".sort_hiden_sp").val();
        var params = '';
        if(plan_id != ''){
            params += 'plan_id=' + plan_id;
        }
        if(brand_name != ''){
            var arr_brand = brand_name.split(',');
            if( arr_brand.length == 1 || (arr_brand.length == 2 && arr_brand[0] == '') ){
                one_brand = arr_brand.join().replace(',', '');
            }else{
                if(params == ''){
                    params += 'brand_name=' + brand_name;
                }else{
                    params += '&brand_name=' + brand_name;
                }
            }   

        }
        if(item_name != ''){
            var arr_item = item_name.split(',');
            if( arr_item.length == 1 || (arr_item.length == 2 && arr_item[0] == '') ){
                one_item = arr_item.join().replace(',', '');
            }else{
                if(params == ''){
                    params += 'item_name=' + item_name;
                }else{
                    params += '&item_name=' + item_name;
                }
            }
        }
        if(color_id != ''){
            if(params == ''){
                params += 'color_id=' + color_id;
            }else{
                params += '&color_id=' + color_id;
            }
        }
        if(design_id != ''){
            if(params == ''){
                params += 'design_id=' + design_id;
            }else{
                params += '&design_id=' + design_id;
            }
        }
        if(size_id != ''){
            if(params == ''){
                params += 'size_id=' + size_id;
            }else{
                params += '&size_id=' + size_id;
            }
        }
        if(material_id != ''){
            if(params == ''){
                params += 'material_id=' + material_id;
            }else{
                params += '&material_id=' + material_id;
            }
        }
        if (sort_sp != '' && sort_sp != 'desc_by_created_at'){
            if (params == ''){
                params += 'order=' + sort_sp;
            }else{
                params += '&order=' + sort_sp;
            }
            params = params.replace("&order=desc_by_created_at",'');
        }
        return params;
    }
</script>