<script type="text/javascript">
$(document).ready(function(){

  if($(".panel-<%= name %>").css('display') == 'block'){
    $("#plus-arrow-<%= name %>").removeClass("sp-plus");
    $("#plus-arrow-<%= name %>").addClass("sp-minus");
  }else{
    $("#plus-arrow-<%= name %>").removeClass("sp-minus");
    $("#plus-arrow-<%= name %>").addClass("sp-plus");
  }

  $(".click_<%= name %>").click(function(){
    if($(".panel-<%= name %>").css('display') == 'none'){
      $("#plus-arrow-<%= name %>").removeClass("sp-plus");
      $("#plus-arrow-<%= name %>").addClass("sp-minus");
      $(".panel-<%= name %>").slideDown();
    }else{
      $("#plus-arrow-<%= name %>").removeClass("sp-minus");
      $("#plus-arrow-<%= name %>").addClass("sp-plus");
      $(".panel-<%= name %>").slideUp();
    }
    
    //$(".panel-<%= name %>").slideToggle("slow");
  });
});
</script>
<%
flag = true
if !brands.empty?
  if !params_brand.nil?
    arr_names = params_brand.split(',')
    brands.each { |i|
     if arr_names.include?("#{i.permalink}")
      flag = false
    end
  }
end
end
%>
<li class="sp-brand-prefix">
  <span1 class="click_<%= name %> toggle_accordion_mobile">
    <span1 class="sp-sub-label"><%= label %> <span  id="plus-arrow-<%= name %>"></span></span1>
  </span1>
    <ul class="panel-<%= name %>" style="<% if !flag %><%= 'display: block;' %><% else %> <%= 'display: none;' %> <% end %>">
    <% if !brands.empty? 
          count = 0
          if !params_brand.nil?
            arr_names = params_brand.split(',')
            brands.each { |i| 
              count = count + 1 %>
              <li>
                <div class="sp_brand_link_menu" style="<% if count == 1 %><%= 'border: none;' %><% end %>">
                  <% if arr_names.include?("#{i.permalink}") %>
                  <%= check_box_tag 'brand', i.permalink, true, class: 'check_sp', id: 'brand_' +"#{i.id}" %>
                  <% else %>
                  <%= check_box_tag 'brand', i.permalink, false, class: 'check_sp', id: 'brand_' +"#{i.id}" %>
                  <% end %>
                  <label for="brand_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                </div>
              </li>
              <% } %>
              <%= hidden_field_tag 'brand', params_brand, class: 'brand_hiden' %>
            <% else %>
              <% brands.each { |i| 
                count = count + 1 %>
              <li>
                <div class="sp_brand_link_menu" style="<% if count == 1 %><%= 'border: none;' %><% end %>">
                  <%= check_box_tag 'brand', i.permalink, false, class: 'check_sp', id: 'brand_' +"#{i.id}" %>
                  <label for="brand_<%= i.id %>" class="list_filter_sp"><span class="check_sp"></span><%= i.name %></label>
                </div>
              </li>
              <% } %>
              <%= hidden_field_tag 'brand', nil, class: 'brand_hiden' %>
              <%
          end
      else %>
          <%= hidden_field_tag 'brand', nil, class: 'brand_hiden' %>
      <%end %>
    </ul>
</li>