<div class="input-set">
  <%= f.email_field :email, :class => 'title', :required => true, :placeholder => 'メールアドレス' %>
</div>
<div class="input-set">
  <%= f.password_field :password, :class => 'title', :placeholder => 'パスワード' %>
</div>
<div class="input-set">
  <%= f.password_field :password_confirmation, :class => 'title', :placeholder => 'パスワード確認'  %>
</div>

<div data-hook="signup_below_password_fields"></div>
