<div class="input-set">
  <%= f.label :email, Spree.t(:email) %><br />
  <%= f.email_field :email, :class => 'title', :required => true, :placeholder => 'メールアドレス' %>
</div>
<div id="password-credentials">
  <div class="input-set">
    <%= f.label :password, Spree.t(:password) %><br />
    <%= f.password_field :password, :class => 'title', :placeholder => 'パスワード' %>
  </div>
  <div class="input-set">
    <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br />
    <%= f.password_field :password_confirmation, :class => 'title', :placeholder => 'パスワード確認'%>
  </div>
</div>

<div data-hook="signup_below_password_fields"></div>
