<% content_for :title, head_title("お支払い・配送情報 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("お支払い・配送情報,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "お支払い・配送情報です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<%= form_for @subscription, url: subscriptions_path do |f| %>

    <div id="payment-address">
      <div class="container">
        <div class="payment_address layout">
          <div class="address_title">
            <div class="">
              <%= image_tag 'pc/plans/select_plan.png' %>
              <%= image_tag 'pc/plans/payment.png' %>
            </div>
          </div>

          <% if @user.ship_address.blank? %>

          <div class="pre_title">
            <h1 class="f_fm">配送情報</h1>
          </div>
          <div class="min-conteiner address">
            <div class="input_row">
              <div class="split_2">
                <label for="">氏名（姓）</label>
                <%= text_field_tag "subscription[address_attributes][last_name]", "" %>

              </div>
              <div class="split_2">
                <label for="">氏名（名）</label>
                <%= text_field_tag "subscription[address_attributes][first_name]", "" %>
              </div>
            </div>
            <div class="input_row">
              <div class="split_2">
                <label for="">郵便番号</label>
                <%= text_field_tag "subscription[address_attributes][zipcode]", "", {placeholder: "例）1010001"} %>
              </div>
            </div>
            <div class="input_row">
              <div class="split_2">
                <label for="">都道府県</label>
                <%= text_field_tag "subscription[address_attributes][city]", "" %>
              </div>
              <div class="split_2">
                <label for="">市町村</label>
                <%= text_field_tag "subscription[address_attributes][address1]", "" %>
              </div>
            </div>
            <div class="input_row">
              <div class="">
                <label for="">以降の住所</label>
                <%= text_field_tag "subscription[address_attributes][address2]", "" %>
              </div>
            </div>
            <div class="input_row">
              <div class="">
                <label for="">電話番号</label>
                <%= text_field_tag "subscription[address_attributes][phone]", "" %>
              </div>
            </div>
          </div>

          <% end %>

          <div class="pre_title">
            <h1 class="f_fm">お支払情報</h1>
          </div>

          <% if @payment_sources.present? %>
              <div class="card_options">
                <%= radio_button_tag 'use_existing_card', 'yes', true %>
                <label for="use_existing_card_yes">
                  登録済みのクレジットカードを利用して支払う
                </label>
                <br/>
                <%= radio_button_tag 'use_existing_card', 'no' %>
                <label for="use_existing_card_no">
                  新しくクレジットカードを登録して支払う
                </label>
              </div>

              <div id="existing_cards">
                <p class="field" data-hook="existing_cards">
                <table class="existing-credit-card-list">
                  <tbody>
                  <% @payment_sources.each do |card| %>
                      <tr id="<%= dom_id(card, 'spree') %>" class="<%= cycle('even', 'odd') %>">
                        <td><%= card.name %></td>
                        <td><%= card.display_number %></td>
                        <td><%= card.month %></td>
                        <td><%= card.year %></td>
                        <td>
                          <%= radio_button_tag "subscription[existing_card]", card.id, (card == @payment_sources.first), {class: "existing-cc-radio"} %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
                </p>
              </div>
          <% end %>

          <div class="min-conteiner payment"  id="plan_<%= @plan.id %>_subscribe">
            <div class="pay_label">
              カード情報
            </div>

            <div class="input_row">
              <div class="">
                <label for="">カード名義人 (半角ローマ字)</label>
                <%= text_field_tag "subscription[source_attributes][name]", "", {id: "name_on_card"} %>
              </div>
            </div>
            <div class="input_row">
              <div class="split_2">
                <label for="">カード番号</label>
                <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
                <%= text_field_tag "card_number", '', options_hash.merge(:id => 'card_number', :class => 'required cardNumber', :size => 19, :maxlength => 19, :autocomplete => "off") %>
              </div>
            </div>
            <div class="input_row">
              <div class="split_2">
                <label for="">有効期限</label>
                <%= text_field_tag "card_expiry", '', :id => 'card_expiry', :class => "required cardExpiry", :placeholder => "月(2桁) / 年(2桁)" %>
              </div>
            </div>
            <div class="input_row">
              <div class="split_2">
                <label for="">セキュリティーコード</label>
                <%= text_field_tag "card_code", '', options_hash.merge(:id => 'card_code', :class => 'required cardCode', :size => 5) %>
              </div>
              <%= link_to "セキュリティーコードとは?", spree.content_path('cvv'), :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %>
            </div>
            <input class="ccType" id="cc_type" name="subscription[source_attributes][cc_type]" type="hidden" value=""/>

          </div>

          <div class="submit">
            <div class="min-conteiner">

              <div class="confirm">
                <input type="checkbox" name="name" value="" class="sbscConfirmCkb">
                <span>利用規約に同意する</span>
              </div>

              <div class="submit_buttom">
                <%= hidden_field_tag :plan_id, @plan.id %>
                <%= f.submit "> 会員登録を完了する", class: 'continue sbscConfirmBtn' %>
                <script>Spree.disableSaveOnClick();</script>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

<% end %>

<script type="text/javascript" src="https://js.webpay.jp/v1"></script>
<script type="text/javascript">
    WebPay.setPublishableKey("<%= @plan.provider.preferred_public_key %>");
    Spree.webpayPaymentMethod = $('#plan_' + <%= @plan.id %> +'_subscribe')
</script>
<%= javascript_include_tag "spree/frontend/libs/webpay" %>
