<% content_for :title, head_title("会員プラン選択 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("会員プラン選択,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "会員プラン選択です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li>会員プラン選択</li>
    </ul>
  </div>
</nav>
<div id="select-plan">
  <div class="container">

    <div class="type_container layout">
      <div class="pre_title">
        <h1 class="f_fm">会員プラン選択</h1>
      </div>
      <h2>利用料金</h2>
      <p>４つのプランからお選び下さい</p>
      <%= render :partial => 'spree/shared/plan_selector' %>
      <div class="type_alert">
        会員プランの変更、退会はいつでも可能です。
      </div>
      <div class="type_notice">
        <div class="">
          <span>返却期限：なし</span> / <span>クリーニング費用：なし</span>
          <br>※全てのプランで気に入った
          <br>アイテムは買取可能！
          <br>マイページより買取の価格確認頂けます。
        </div>
        <p>
          ※お支払い方法は各種クレジットカードとなります。
          <br>会費は１ヶ月単位の自動継続でのお支払いとなります。
          <br>翌月のお支払い前でしたらいつでも解約可能です。
          <br>ご利用開始日から１ヶ月単位で課金となるので安心です。
          <br>（例 2015年7月15日に利用開始すると8月14日までが初回会費分です。）
        </p>
      </div>

    </div>
  </div>
</div>
