<% content_for :title, head_title("会員プラン選択 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("会員プラン選択,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "会員プラン選択です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="select-plan">
  <div class="container">
    <div class="select_plan layout">
      <div class="type_title">
        <div class="">
          <%= image_tag 'pc/plans/step1_select_plan.png' %>
          <%= image_tag 'pc/plans/step1_payment.png' %>
        </div>
      </div>

      <%= render :partial => 'spree/shared/plan_selector' %>

      <div class="type_alert">
        会員プランの変更、退会はいつでも可能です。
      </div>
    </div>
  </div>
</div>
