<% content_for :title, head_title("お支払い・配送情報 | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("お支払い・配送情報,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "お支払い・配送情報です。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>


<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<%= form_for @subscription, url: subscriptions_path do |f| %>
<nav class="breadcrumbs">
  <div class="container">
    <ul class="ul">
      <li><%= link_to 'メンズファッションレンタル KASHI KARI TOP', root_path %></li>
      <li>お支払い・配送情報</li>
    </ul>
  </div>
</nav>
<div id="payment-address">
  <div class="payment_address layout">
    <div class="pre_title">
      <h1 class="f_fm">お支払い・配送情報</h1>
    </div>

    <% if @user.ship_address.blank? %>
    <div class="">
      <h2>配送情報</h2>
    </div>
    <div class="input-set">
      <%= text_field_tag "subscription[address_attributes][last_name]", "", :placeholder => '苗字' %>
    </div>
    <div class="input-set">
      <%= text_field_tag "subscription[address_attributes][first_name]", "", :placeholder => '名前' %>
    </div>
    <div class="input-set">
      <%= text_field_tag "subscription[address_attributes][zipcode]", "", {placeholder: "例）1010001", :inputmode => "numeric", :pattern => "[0-9]*"} %>
    </div>
    <div class="input-rowset">
      <div class="input-set">
        <%= text_field_tag "subscription[address_attributes][city]", "", :placeholder => '都道府県' %>
        <%= text_field_tag "subscription[address_attributes][address1]", "", :placeholder => '市町村' %>
      </div>
    </div>
    <div class="input-set">
      <%= text_field_tag "subscription[address_attributes][address2]", "", :placeholder => '以下の住所' %>
    </div>
    <div class="input-set">
      <%= text_field_tag "subscription[address_attributes][phone]", "", :placeholder => '電話番号', :inputmode => "numeric", :pattern => "[0-9]*" %>
    </div>

    <% end %>

    <h2>お支払情報</h2>
    <% if @payment_sources.present? %>
      <div class="card_options">
        <div class="">
          <%= radio_button_tag 'use_existing_card', 'yes', true %>
          <label for="use_existing_card_yes">
            <%= Spree.t(:use_existing_cc) %>
          </label>
        </div>
        <div class="">
          <%= radio_button_tag 'use_existing_card', 'no' %>
          <label for="use_existing_card_no">
            <%= Spree.t(:use_new_cc_or_payment_method) %>
          </label>
        </div>
      </div>

      <div id="existing_cards">
        <p class="field" data-hook="existing_cards">
        <table class="existing-credit-card-list">
          <tbody>
          <% @payment_sources.each do |card| %>
              <tr id="<%= dom_id(card, 'spree') %>" class="<%= cycle('even', 'odd') %>">
                <td><%= card.name %></td>
                <td><%= card.display_number %></td>
                <td><%= card.month %></td>
                <td><%= card.year %></td>
                <td>
                  <%= radio_button_tag "subscription[existing_card]", card.id, (card == @payment_sources.first), {class: "existing-cc-radio"} %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        </p>
      </div>
    <% end %>

    <div class="min-conteiner payment"  id="plan_<%= @plan.id %>_subscribe">
      <div class="label-set">
        カード情報
      </div>
      <div class="input-set">
        <%= text_field_tag "subscription[source_attributes][name]", "", {id: "name_on_card",:placeholder => "カード名義(半角英字)"} %>
      </div>
      <div class="input-set">
        <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
        <%= text_field_tag "card_number", '', options_hash.merge(:id => 'card_number', :class => 'required cardNumber', :size => 19, :maxlength => 19, :autocomplete => "off", :placeholder => "カード番号", :inputmode => "numeric", :pattern => "[0-9]*") %>
      </div>
      <div class="input-set">
        <%= text_field_tag "card_expiry", '', :id => 'card_expiry', :class => "required cardExpiry", :placeholder => "月(2桁) / 年(2桁)", :inputmode => "numeric", :pattern => "[0-9]*" %>
      </div>
      <div class="input-set">
        <%= text_field_tag "card_code", '', options_hash.merge(:id => 'card_code', :class => 'required cardCode', :size => 5, :placeholder => 'セキュリティーコード', :inputmode => "numeric", :pattern => "[0-9]*") %>
      </div>
      <div class="cvv_link">
        <%= link_to "セキュリティーコードとは?", spree.content_path('cvv'), :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %>
      </div>
      <input class="ccType" id="cc_type" name="subscription[source_attributes][cc_type]" type="hidden" value=""/>

    </div>

    <div class="submit_area">
      <div class="confirm">
        <input type="checkbox" name="name" value="" class="sbscConfirmCkb">
        <span>利用規約に同意する</span>
      </div>
      <div class="submit_button">
        <%= hidden_field_tag :plan_id, @plan.id %>
        <%= f.submit "> 会員登録を完了する", class: 'button-block continue sbscConfirmBtn' %>
        <script>Spree.disableSaveOnClick();</script>
      </div>
    </div>
  </div>
</div>

<% end %>

<script type="text/javascript" src="https://js.webpay.jp/v1"></script>
<script type="text/javascript">
    WebPay.setPublishableKey("<%= @plan.provider.preferred_public_key %>");
    Spree.webpayPaymentMethod = $('#plan_' + <%= @plan.id %> +'_subscribe')
</script>
<%= javascript_include_tag "spree/frontend/libs/webpay" %>
