<nav>
  <div class="">
    <h3><%= link_to "全ての商品", products_path %></h3>
  </div>
  <div class="">
    <h3>プラン</h3>
    <ul class="ul">
      <li <%= "class=selected" if params[:plan_id] == Spree::Plan::NAME[:black].to_s %>>
        <%= link_to "BLACK", params.merge({:plan_id => Spree::Plan::NAME[:black]}) %>
      </li>
      <li  <%= "class=selected" if params[:plan_id] == Spree::Plan::NAME[:gold].to_s %>>
        <%= link_to "GOLD", params.merge({:plan_id => Spree::Plan::NAME[:gold]}) %>
      </li>
      <li  <%= "class=selected" if params[:plan_id] == Spree::Plan::NAME[:silver].to_s %>>
        <%= link_to "SILVER", params.merge({:plan_id => Spree::Plan::NAME[:silver]}) %>
      </li>
      <li  <%= "class=selected" if params[:plan_id] == Spree::Plan::NAME[:bronze].to_s %>>
        <%= link_to "BRONZE", params.merge({:plan_id => Spree::Plan::NAME[:bronze]}) %>
      </li>
    </ul>
  </div>

  <div class="filter_brand">
    <h3>ブランド</h3>
    <ul class="ul">
      <% @brands.first.root.children.map.each do |taxon| %>
          <li>
            <%= link_to taxon.name, brand_with_category_path(params.merge({:id => taxon.permalink, :sub_id => params[:id]})) %>
          </li>
      <% end %>
    </ul>
    <div class="acrd_box">
      <span class="brand_accordion">ブランドを選択する</span>
    </div>
  </div>

  <div class="">
    <h3>アイテム</h3>
    <ul class="ul">
      <% @categories.first.root.children.map.each do |taxon| %>
          <li <%= "class=selected" if params[:id] == taxon.permalink %>>
            <%= link_to taxon.name, category_path(params.merge({:id => taxon.permalink})) %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="">
    <h3>素材</h3>
    <ul class="ul">
      <% @materials.first.root.children.map.each do |taxon| %>
          <li  <%= "class=selected" if params[:material_id] == taxon.id.to_s %>>
            <%= link_to taxon.name, params.merge({:material_id => taxon.id}) %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="">
    <h3>柄</h3>
    <ul class="ul">
      <% @designs.first.root.children.map.each do |taxon| %>
          <li <%= "class=selected" if params[:design_id] == taxon.id.to_s %>>
            <%= link_to taxon.name, params.merge({:design_id => taxon.id}) %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="">
    <h3>色</h3>
    <ul class="ul">
      <% @colors.first.root.children.map.each do |taxon| %>
          <li <%= "class=selected" if params[:color_id] == taxon.id.to_s %>>
            <%= link_to taxon.name, params.merge({:color_id => taxon.id}) %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="">
    <h3>サイズ</h3>
    <ul class="ul">
      <% @sizes.first.root.children.map.each do |taxon| %>
          <li <%= "class=selected" if params[:size_id] == taxon.id.to_s %>>
            <%= link_to taxon.name, params.merge({:size_id => taxon.id}) %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="">
    <h3>ソート</h3>
    <ul class="ul">
      <li <%= "class=selected" if params[:order] == "desc_by_created_at" %>>
        <%= link_to '新着順', params.merge({:order => "desc_by_created_at"}) %>
      </li>
      <li <%= "class=selected" if params[:order] == "desc_by_favorite" %>>
        <%= link_to 'お気に入りが多い順', params.merge({:order => "desc_by_favorite"}) %>
      </li>
    </ul>
  </div>
</nav>
