<section class="hero">
  <div class="container">
    <%= image_tag 'home/sp_hero.jpg', :alt => "top-banner" %>
  </div>
</section>

<div class="sp_title">
  <h1>
    <span>月額制メンズファッションレンタルサービス</span>
    <% unless spree_current_user %>
        <span>"KASHI KARI"へようこそ！</span>
        <span>まずは無料会員登録！</span>
    <% end  %>
  </h1>
</div>

<section class="pr pr-overview">
  <div class="container">
    <% unless spree_current_user %>
        <div class="buttons">
          <%= link_to image_tag('sp/home/register.gif', :alt => "会員登録（無料）"), signup_path, :class => 'register' %>
          <div class="pre_title">
            <h2 class="f_fm">または</h2>
          </div>
          <div class="with_fb">
            <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
                <%= link_to "Facebookで登録",spree.spree_user_omniauth_authorize_url(provider: method.provider), class: "facebook_login" %>
            <% end %>
          </div>
        </div>
    <% end %>
    <div class="YoutubeWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/x8u1qYbswms" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="pr pr-flow">
  <div class="sp_title">
    <h2 class="f_fm">Service</h2>
  </div>
  <div class="container">
    <div class="flow_cont">
      <div class="cont-block">
        <span class="num_tag">1</span>
        <div class="block_inner">
          <%= image_tag 'sp/home/s_01.png' %>
          <h3>受け取る</h3>
          <p>選んだアイテムがポストに届きます。（いつでも受け取れます）</p>
        </div>
      </div>
      <div class="cont-block">
        <span class="num_tag">2</span>
        <div class="block_inner">
          <%= image_tag 'sp/home/s_02.png' %>
          <h3>好きなだけ使う</h3>
          <p>返却期限はありません。思う存分コーディネートを楽しんでください！</p>
        </div>
      </div>
      <div class="cont-block">
        <span class="num_tag">3</span>
        <div class="block_inner">
          <%= image_tag 'sp/home/s_03.png' %>
          <h3>返却する</h3>
          <p>使い終わった物からポスト投函するだけ！クリーニング不要、送料無料</p>
        </div>
      </div>
      <div class="cont-block">
        <span class="num_tag">4</span>
        <div class="block_inner">
          <%= image_tag 'sp/home/s_04.png' %>
          <h3>次のアイテムをチョイス</h3>
          <p>2000点のアイテムから次に使いたいアイテムを選んでください！</p>
        </div>
      </div>
    </div>
    <%= link_to '最新アイテムを見る', products_path, :class => 'new_item_link' %>
  </div>
</section>

<section class="pr pr-images">
  <div class="sp_title">
    <h2 class="f_fm">
      <%= image_tag 'logo_w.gif' %>
    </h2>
  </div>
  <div class="container">
    <div class="image_sec">
      <h3><span>期限なし！</span><span>何度でも交換OK！</span></h3>
      <%= image_tag 'sp/home/img_1.jpg' %>
    </div>
    <div class="image_sec">
      <h3>シーンに合ったネクタイが選びやすい。</h3>
      <%= image_tag 'sp/home/img_2.jpg' %>
    </div>
    <div class="image_sec">
      <h3>2000を超えるネクタイ・カフス・チーフがあなたのものに。</h3>
      <%= link_to image_tag('sp/home/img_3.jpg'), products_path %>
    </div>
  </div>
</section>

<section class="pr pr-freeshipping">
  <div class="container">
    <div class="pr_panel">
      <div class="panel_inner">
        <h3>使い終わったらポストに投函するだけ・返送料もクリーニングも不要</h3>
        <div class="merit_container">
          <div class="merit_panel">
            <span>返送料無料</span>のため、返却の料金を気にすることなく何度でもお使い頂けます。
          </div>
          <div class="merit_panel">
            ネクタイなどの<span>クリーニング費用は一切負担なし</span>。好きなだけ楽しんだら好きなタイミングで返却してください。
          </div>
          <div class="merit_panel">
            返送用の袋に入れて<span>ポストに投函するだけ</span>、忙しいビジネスパーソンにぴったりのサービスです。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pr-images">
  <div class="container">
    <div class="image_sec">
      <h2>気に入ったアイテムはもちろん購入可能！</h2>
      <%= image_tag 'sp/home/img_4.jpg' %>
    </div>
  </div>
</section>

<section class="pr pr-plans">
  <div class="container">
    <div class="pr_panel">
      <div class="panel_inner">
        <h3>
          <div>月額プラン</div>
          <div>４つのプランからお選びいただけます。</div>
        </h3>
        <%= render :partial => 'spree/shared/plan_selector' %>
        <div class="plan_notification">
          <div class="merit_panel">
            返却期限：なし　/　クリーニング費用：なし
            <br>※全てのプランで気に入ったアイテムは買取可能！マイページより買取の価格確認頂けます。
          </div>
          <p>
            ※お支払い方法は各種クレジットカードとなります。
            <br>会費は１ヶ月単位の自動継続でのお支払いとなります。翌月のお支払い前でしたらいつでも解約可能です。
            <br>ご利用開始日から１ヶ月単位で課金となるので安心です。（例 2015年7月15日に利用開始すると8月14日までが初回会費分。）
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pr pr-brandlist">
  <div class="container">
    <div class="pr_panel">
      <div class="panel_inner">
        <h2 class="f_fm">Brand List</h2>
        <div class="list_cont">
          <div class="kkr-1-2">
            <ul class="ul f_fm">
              <li>
                <%= link_to 'BURBERRY', category_path(:id => 'burberry') %>
              </li>
              <li>
                <%= link_to 'HERMES', category_path(:id => 'hermes') %>
              </li>
              <li>
                <%= link_to 'LOUIS VUITTON', category_path(:id => 'louisvuitton') %>
              </li>
              <li>
                <%= link_to 'VERSACE', category_path(:id => 'versace') %>
              </li>
              <li>
                <%= link_to 'GUCCI', category_path(:id => 'gucci') %>
              </li>
              <li>
                <%= link_to 'CHANEL', category_path(:id => 'chanel') %>
              </li>
              <li>
                <%= link_to 'LOEWE', category_path(:id => 'loewe') %>
              </li>
              <li>
                <%= link_to 'Givenchy', category_path(:id => 'givenchy') %>
              </li>
            </ul>
          </div>
          <div class="kkr-1-2">
            <ul class="ul">
              <li>
                <%= link_to 'FENDI', category_path(:id => 'fendi') %>
              </li>
              <li>
                <%= link_to 'POLO', category_path(:id => 'polo') %>
              </li>
              <li>
                <%= link_to 'COACH', category_path(:id => 'coach') %>
              </li>
              <li>
                <%= link_to 'Dior', category_path(:id => 'dior') %>
              </li>
              <li>
                <%= link_to 'Yves Saint Laurent', category_path(:id => 'yves-saint-laurent') %>
              </li>
              <li>
                <%= link_to 'PRADA', category_path(:id => 'prada') %>
              </li>
              <li>
                <%= link_to 'Paul Smith', category_path(:id => 'paulsmith') %>
              </li>
            </ul>
          </div>
        </div>
        <div class="view_more">
          <%= link_to ' View More', brands_path %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pr pr-media">
  <div class="container">
    <div class="pr_panel">
      <div class="panel_inner">
        <h2 class="f_fm">Media</h2>
        <div class="image_sec">
          <%= image_tag 'sp/home/media_sp.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section>
