<section class="hero">
  <%= image_tag 'home/hero.jpg', :alt => "top-banner" %>
</section>

<section class="pr pr-overview">
  <div class="container">
    <% if spree_current_user %>
        <h1>月額制メンズファッションレンタルサービス"KASHI KARI"</h1>

    <% else %>
        <h1>月額制メンズファッションレンタルサービス"KASHI KARI"へようこそ！<br>まずは無料会員登録！</h1>

        <div class="panel panel-signin">
          <div class="buttons">
            <%= link_to '会員登録（無料）', signup_path, :class => 'register' %>
            <span>または</span>
            <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
                <%= link_to "Facebookで登録",spree.spree_user_omniauth_authorize_url(provider: method.provider), class: "facebook_login" %>
            <% end %>
          </div>
        </div>
    <% end %>
    <div class="YoutubeWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/x8u1qYbswms" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
<section class="pr pr-flow">
  <div class="container">
    <div class="pre_title">
      <h2 class="f_fm">Service</h2>
    </div>
    <div class="container-inner">
      <ul class="ul row">
        <li class="kkr-1-4">
          <h3>１.受け取る</h3>
          <%= image_tag 'home/service/s_1.jpg' %>
          <p>選んだアイテムがポストに届きます。（いつでも受け取れます）</p>
        </li>
        <li class="kkr-1-4">
          <h3>２.好きなだけ使う</h3>
          <%= image_tag 'home/service/s_2.jpg' %>
          <p>返却期限はありません。思う存分コーディネートを楽しんでください！</p>
        </li>
        <li class="kkr-1-4">
          <h3>３.返却する</h3>
          <%= image_tag 'home/service/s_3.jpg' %>
          <p>使い終わった物からポスト投函するだけ！クリーニング不要、送料無料</p>
        </li>
        <li class="kkr-1-4">
          <h3>４.次のアイテムをチョイス</h3>
          <%= image_tag 'home/service/s_4.jpg' %>
          <p>2000点のアイテムから次に使いたいアイテムを選んでください！</p>
        </li>
      </ul>
      <%= link_to '最新アイテムを見る', products_path, :class => 'new_item_link' %>
    </div>
  </div>
</section>

<section class="pr pr-images">
  <div class="container">
    <div class="image_sec">
      <%= image_tag 'home/img_1.jpg' %>
    </div>
    <div class="image_sec">
      <%= image_tag 'home/img_2.jpg' %>
    </div>
    <div class="image_sec">
      <%= link_to image_tag('home/img_3.jpg'), products_path %>
    </div>
  </div>
</section>

<section class="pr pr-freeshipping">
  <div class="container">
    <div class="pre_title">
      <h2 class="f_fm">Free Shipping</h2>
    </div>
    <div class="pr_panel">
      <h3>使い終わったらポストに投函するだけ・返送料もクリーニングも不要</h3>
      <div class="merit_container">
        <div class="row">
          <div class="kkr-1-3">
            <span>返送料無料</span>のため、返却の料金を気にすることなく何度でもお使い頂けます。
          </div>
          <div class="kkr-1-3">
            ネクタイなどの<span>クリーニング費用は一切負担なし</span>。好きなだけ楽しんだら好きなタイミングで返却してください。
          </div>
          <div class="kkr-1-3">
            返送用の袋に入れて<span>ポストに投函するだけ</span>、忙しいビジネスパーソンにぴったりのサービスです。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pr-images">
  <div class="container">
    <h2>気に入ったアイテムはもちろん購入可能！</h2>
    <div class="image_sec">
      <%= image_tag 'home/img_4.jpg' %>
    </div>
  </div>
</section>

<section class="pr pr-plans">
  <div class="container">
    <div class="pre_title">
      <h2 class="f_fm">Usage Charge</h2>
    </div>
    <div class="pr_panel">
      <h3>月額プラン</h3>
      <div class="select_plan layout" style="padding: 0">
        <%= render :partial => 'spree/shared/plan_selector' %>
      </div>
      <div class="plan_notification">
        <p>
          返却期限：なし　/　クリーニング費用：なし
          <br>※全てのプランで気に入ったアイテムは買取可能！マイページより買取の価格確認頂けます。
        </p>
        <p>
          ※お支払い方法は各種クレジットカードとなります。
          <br>会費は１ヶ月単位の自動継続でのお支払いとなります。翌月のお支払い前でしたらいつでも解約可能です。
          <br>ご利用開始日から１ヶ月単位で課金となるので安心です。（例 2015年7月15日に利用開始すると8月14日までが初回会費分です。）
        </p>
      </div>
      <div class="morePlan">
        <%= link_to image_tag('home/more.gif'), subscriptions_step1_path %>
      </div>
    </div>
  </div>
</section>
<section class="pr pr-brandlist">
  <div class="container">
    <div class="pre_title">
      <h2 class="f_fm">Brand List</h2>
    </div>
    <div class="brandlist_cont">
      <table>
        <tr class="f_fm">
          <td>
            <%= link_to 'BURBERRY', category_path(:id => 'burberry') %>
          </td>
          <td>
            <%= link_to 'HERMES', category_path(:id => 'hermes') %>
          </td>
          <td>
            <%= link_to 'LOUIS VUITTON', category_path(:id => 'louisvuitton') %>
          </td>
          <td>
            <%= link_to 'VERSACE', category_path(:id => 'versace') %>
          </td>
          <td>
            <%= link_to 'GUCCI', category_path(:id => 'gucci') %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'CHANEL', category_path(:id => 'chanel') %>
          </td>
          <td>
            <%= link_to 'LOEWE', category_path(:id => 'loewe') %>
          </td>
          <td>
            <%= link_to 'Givenchy', category_path(:id => 'givenchy') %>
          </td>
          <td>
            <%= link_to 'FENDI', category_path(:id => 'fendi') %>
          </td>
          <td>
            <%= link_to 'POLO', category_path(:id => 'polo') %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'COACH', category_path(:id => 'coach') %>
          </td>
          <td>
            <%= link_to 'Dior', category_path(:id => 'dior') %>
          </td>
          <td>
            <%= link_to 'Yves Saint Laurent', category_path(:id => 'yves-saint-laurent') %>
          </td>
          <td>
            <%= link_to 'PRADA', category_path(:id => 'prada') %>
          </td>
          <td>
            <%= link_to 'Paul Smith', category_path(:id => 'paulsmith') %>
          </td>
        </tr>
      </table>
      <div class="view_more">
        <%= link_to ' View More', brands_path %>
      </div>
    </div>
  </div>
</section>
<section class="pr pr-media">
  <div class="container">
    <div class="pre_title">
      <h2 class="f_fm">Media</h2>
    </div>
    <div class="image_sec">
      <%= image_tag 'pc/home/media_pc.jpg' %>
    </div>
  </div>
</section>
