<div data-hook="admin_taxons_description_form_fields">
	<div data-hook="taxons_description">
    <!-- <div class="alpha four columns"> -->
	    <div class="row">
	    	<div class="alpha four columns">
	    		<div class="field">
		    		<%= f.label :brand_name %>
		    		<span class="required">*</span>
		    		</br>
		    		<%= f.collection_select(:taxon_1st_id, @brand_taxons, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :disabled => @taxons_description.persisted?,class: 'select2 fullwidth' }) %> 
				</div>
			</div>
			<div class="alpha four columns">
				<div class="field">
					<%= f.label :item_name %>
					<span class="required">*</span>
					</br>
					<%= f.collection_select(:taxon_2nd_id, @item_taxons, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :disabled => @taxons_description.persisted?,class: 'select2 fullwidth' }) %> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="alpha eight columns">
				<div class="field">
					<%= f.label :description %>
					</br>
					<%= f.text_area :description,rows: 3, cols: 59, class: "fullwidth" %>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="clear"></div>
