<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t("説明文の編集") %> <i class="icon-arrow-right"></i>
<% end %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @taxons_description } %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t("説明文の一覧に戻る"), admin_taxons_descriptions_path(), :icon => 'icon-arrow-left' %>
  </li>  
<% end %>

<%= form_for @taxons_description, :url => admin_taxons_description_path(@taxons_description) do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="filter-actions actions">
      <%= button Spree.t(:create), 'icon-ok' %>
    </div>
  </fieldset>
<% end %>
<script>
$(document).ready(function() {
  $("ul.fullwidth-menu li:eq(1)").addClass("selected");
});
</script>