<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t("説明文") %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t("新規説明文"), new_admin_taxons_description_path, :icon => 'icon-plus', :id => 'admin_new_taxons_description_link' %>
  </li>
<% end %>

<% if @taxons_descriptions.any? %>
  <table class="index" id='listing_taxons_descriptions'>
    <colgroup>
      <col style="width: 30%">
      <col style="width: 25%">
      <col style="width: 25%">
      <col style="width: 20%">
    </colgroup>
    <thead>
      <tr data-hook="admin_taxons_descriptions_index_headers">
        <th><%= Spree.t(:brand_name) %></th>
        <th><%= Spree.t(:item_name) %></th>
       <!--  <th><%= Spree.t(:description) %></th> -->
        <th data-hook="admin_taxons_descriptions_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @taxons_descriptions.each do |description|%>
        <tr id="<%= spree_dom_id description %>" data-hook="admin_taxons_descriptions_index_rows" class="<%= cycle('odd', 'even')%>">
          <td class="align-center"><%= description.taxon_1st.name %></td>
          <td class="align-center"><%= description.taxon_2nd.name %></td>
          <!-- <td class="align-center"><%= description.description %></td> -->
          <td data-hook="admin_taxons_descriptions_index_row_actions" class="actions">
            <%= link_to_edit_url edit_admin_taxons_description_url(description), :no_text => true %>
            <%= link_to_delete description, url: admin_taxons_description_url(description),:no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
  </div>
<% end %>
<%= paginate @taxons_descriptions %>

<script>
$( document ).ready(function() {
  $("ul.fullwidth-menu li:eq(1)").addClass("selected");
})
</script>