<% content_for :title, head_title("ログイン | 月額制メンズファッションレンタルKASHI KARI") %>
<% content_for :meta, meta_tags("ログイン,レンタル,メンズファッション,ブランド,コーディネート,着こなし,KASHI KARI",
                                "ログインです。| KASHI KARIはメンズファッションアイテムが月額1980円から借り放題になるレンタルサービスです。送料無料＆返却期限なしでコーディネート/着こなしを楽しもう。") %>

<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="existing-customer" class="user_sessions">
  <div class="devise_container layout">
    <div class="pre_title">
      <h1 class="f_fm">ログイン</h1>
    </div>
    <div class="devise">
      <div class="container-form" data-hook="login">
        <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>

        <div class="form-facebook">
          <%= link_to "Facebookでログイン",spree.spree_user_omniauth_authorize_url(provider: method.provider), class: "facebook_login" %>
        </div>
        <div class="or">
          <%= Spree.t(:or) %>
        </div>
        <% end %>

        <%= render :partial => 'spree/shared/login' %>
        <div class="user_option">
          <%= link_to Spree.t(:create_a_new_account), spree.signup_path %>
          <div class="or">
            <%= Spree.t(:or) %>
          </div>
          <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-hook="login_extras"></div>
