<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <div class="input-rowset">
    <div class="input-set" id=<%="#{address_id}lastname" %>>
    <%= form.text_field :lastname, :class => 'required' %>
    </div>
    <div class="input-set" id=<%="#{address_id}firstname" %>>
      <%= form.text_field :firstname, :class => 'required' %>
    </div>
  </div>
  <% if Spree::Config[:company] %>
  <div class="input-set">
    <div class="" id=<%="#{address_id}company" %>>
      <%= form.text_field :company %>
    </div>
  </div>
  <% end %>
  <div class="input-set">
    <div class="" id=<%="#{address_id}zipcode" %>>
      <%= form.text_field :zipcode, :class => "#{'required' if address.require_zipcode?}" %>
    </div>
  </div>
  <div class="input-rowset">
    <div class="input-set">
      <div class="" id=<%="#{address_id}city" %>>
        <%= form.text_field :city, :class => 'required' %>
      </div>
    </div>
    <div class="input-set">
      <div class="" id=<%="#{address_id}address1" %>>
        <%= form.text_field :address1, :class => 'required' %>
      </div>
    </div>
  </div>
  <div class="input-set">
    <div class="" id=<%="#{address_id}address2" %>>
      <%= form.text_field :address2 %>
    </div>
  </div>
  <div class="input-set">
    <div class=""  id=<%="#{address_id}phone" %>>
      <%= form.phone_field :phone, :class => "#{'required' if address.require_phone?}" %>
    </div>
  </div>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <div class="input-set" id=<%="#{address_id}altphone" %>>
      <%= form.phone_field :alternative_phone %>
    </div>
  <% end %>
</div>
