<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <div class="input_row">
    <div class="split_2" id=<%="#{address_id}lastname" %>>
      <%= form.label :lastname, Spree.t(:last_name) %><span class="required">*</span>
      <%= form.text_field :lastname, :class => 'required' %>
    </div>
    <div class="split_2" id=<%="#{address_id}firstname" %>>
      <%= form.label :firstname, Spree.t(:first_name) %><span class="required">*</span>
      <%= form.text_field :firstname, :class => 'required' %>
    </div>
  </div>
  <% if Spree::Config[:company] %>
  <div class="input_row">
    <div class="" id=<%="#{address_id}company" %>>
      <%= form.label :company, Spree.t(:company) %>
      <%= form.text_field :company %>
    </div>
  </div>
  <% end %>
  <div class="input_row">
    <div class="" id=<%="#{address_id}address1" %>>
      <%= form.label :address1, Spree.t(:street_address) %><span class="required">*</span>
      <%= form.text_field :address1, :class => 'required' %>
    </div>
  </div>
  <div class="input_row">
    <div class="" id=<%="#{address_id}address2" %>>
      <%= form.label :address2, Spree.t(:street_address_2) %>
      <%= form.text_field :address2 %>
    </div>
  </div>
  <div class="input_row">
    <div class="" id=<%="#{address_id}city" %>>
      <%= form.label :city, Spree.t(:city) %><span class="required">*</span>
      <%= form.text_field :city, :class => 'required' %>
    </div>
  </div>
  <div class="input_row">
    <div class="" id=<%="#{address_id}zipcode" %>>
      <%= form.label :zipcode, Spree.t(:zip) %><% if address.require_zipcode? %><span class="required">*</span><% end %>
      <%= form.text_field :zipcode, :class => "#{'required' if address.require_zipcode?}" %>
    </div>
  </div>
  <div class="input_row">
    <div class=""  id=<%="#{address_id}phone" %>>
      <%= form.label :phone, Spree.t(:phone) %><% if address.require_phone? %><span class="required">*</span><% end %>
      <%= form.phone_field :phone, :class => "#{'required' if address.require_phone?}" %>
    </div>
  </div>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <div class="input_row" id=<%="#{address_id}altphone" %>>
      <%= form.label :alternative_phone, Spree.t(:alternative_phone) %>
      <%= form.phone_field :alternative_phone %>
    </div>
  <% end %>
</div>
